{% extends 'layinghens/current/views/layouts/layout.html' %}

{% block pageTitle %}
    Will the designated washing and disinfecting area have a drainage system and storage tanks for soiled water?
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form method="post">

                {{ govukRadios ({
                    idPrefix: 'soiled-water-drainage',
                    name: 'soiled-water-drainage',
                    classes: 'govuk-radios--inline',
                    fieldset: {
                        legend: {
                            text: 'Will the designated washing and disinfecting area have a drainage system and storage tanks for soiled water?',
                            isPageHeading: true,
                            classes: 'govuk-fieldset__legend--l'
                        }
                    },
                    hint: {
                        text: 'This is separate from rain water drainage'
                    },
                    items: [
                        {
                            text: 'Yes',
                            value: 'Yes',
                            checked: true if data['soiled-water-drainage'] == 'Yes',
                            attributes: {
                                'data-next': 'external-taps'
                            }
                        },
                         {
                            text: 'No',
                            value: 'No',
                            checked: true if data['soiled-water-drainage'] == 'No',
                            attributes: {
                                'data-next': 'elim-soiled-water-drainage'
                            }
                        }
                    ]
                }) }}

                {{ govukButton ({
                    html: 'Continue'
                }) }}

            </form>

        </div>

</div>

{% endblock %}