{% extends "layout.html" %}

{% extends "addingvalue/current/views/layouts/_BASEFULL-AV.html" %}

{% block service %}

<!--
<span class="govuk-caption-xl">Prototypes</span>
-->
<title> Adding value prototype admin</title>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


<h1 class="govuk-heading-xl">
  Slurry infrastructure prototype admin
</h1>

      <div class="proto-admin">
        <h2 class="govuk-heading-l">User research</h2>

        <p class='govuk-list app-list--definition'>
        <a href='slurrystorage/current/guidance' class="govuk-link--no-visited-state">Guidance: Farming Transformation Fund Slurry Infrastructure Grant</a></p>
          <p class='govuk-list app-list--definition'>
            <a href='slurrystorage/current/start' class="govuk-link--no-visited-state">Start page</a><br>
            Specialist start page, hosted on GOV.UK</p>

        <p class='govuk-list app-list--definition'>
        <a href='#' class="govuk-link--no-visited-state">Confirmation email</a><br>
          User will receive a confirmation email, with their answers. Service is routed by GOV Notify.</p>

          <p class='govuk-list app-list--definition'>
          <a href='slurrystorage/current/standardised-costs' class="govuk-link--no-visited-state">Standardised costs</a><br>
            Mini-journey where we work out the project spec based on standardised costs.</p>
      </div>

      <div class="proto-admin">
        <h2 class="govuk-heading-l">Design history</h2>
                            <p class='govuk-list app-list--definition'>
                              <a href='slurrystorage/current/guidance' class="govuk-link--no-visited-state"><strong>Version 1 (current)</a></strong><br>
                              This version was not tested yet<br>
                                <span class="govuk-body govuk-!-font-size-14">#Last updated on 16 May 2022<br/>
                                </span></p>

      </div>
      <div class="proto-admin">
        <h2 class="govuk-heading-l">Journeys and wireframes</h2>

            <p class='govuk-heading-m'>Wireframes</p>
              <p class='govuk-list app-list--definition'>
                <a href='https://www.sketch.com/s/a46cf24a-95d6-498b-8014-5bf68c7ad9f1/p/1BC1950D-21A6-4824-A1CF-F59BEE523729' class="govuk-link--no-visited-state" target="new" >Sketch wireframes (opens in new tab)</a><br>
                  <img src="/public/images/sketch-icon.png" alt="Sketch icon" width="17" height="17">Sketch (Always up-to date).</p>
      </div>
{% endblock %}
