{% extends "layout.html" %}

{% extends "ahw/current/views/layouts/_BASEFULL-ahw.html" %}

{% block service %}

<!--
<span class="govuk-caption-xl">Prototypes</span>
-->
<title>Calf Housing for Health and Welfare Grant prototype admin</title>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


<h1 class="govuk-heading-xl">
  Calf Housing for Health and Welfare Grant prototype admin
</h1>

<div class="proto-admin">
  <h2 class="govuk-heading-l">User research</h2>

  <p class='govuk-list app-list--definition'>
  <a href='ahw/current/solar' class="govuk-link--no-visited-state" target="new">Solar intervention - user journey</a><br>
    Start your user research here</p>

</div>

      <div class="proto-admin">
        <h2 class="govuk-heading-l">Design history</h2><br>

        <p class='govuk-list app-list--definition'>
          <a href='ahw/current/start' class="govuk-link--no-visited-state"><strong>Version 5.3 (private beta) - current</strong></a><br>
          <span class="govuk-body govuk-!-font-size-14">#Last updated on 21 August 2023
          </span>
          <ul class="govuk-list govuk-list--bullet ">
              <li><strong>21 August 2023</strong>: Iterations (Issues 128 to 160 from <a href="https://eaflood.atlassian.net/l/cp/2NCdjrHv">Confluence</a>) is now taken forward into Private beta. Latest changes around Solar intervention rate needs testing.</li>
              </ul>
              </p>
            <p class='govuk-heading-m'>Previous versions</p>
            <p class='govuk-list app-list--definition'>
              <a href='/ahw/v52t/start' class="govuk-link--no-visited-state"><strong>Version 5.2</strong></a><br>
              <span class="govuk-body govuk-!-font-size-14">#Last updated on 14 June 2023<br/>
              <ul class="govuk-list govuk-list--bullet ">
                <li><strong>14 June 2023</strong>: Iterations (Issues 128 to 138 from <a href="https://eaflood.atlassian.net/l/cp/2NCdjrHv">Confluence</a>) implemented based on Business requirements. This version was tested in Round 4 of user testing. </li>
                </ul>
                {{ govukWarningText({
                  text: "This is not the fully journey",
                  iconFallbackText: "Warning"
                }) }}
            <p class='govuk-list app-list--definition'>
              <a href='/ahw/v51/start' class="govuk-link--no-visited-state"><strong>Version 5.1</strong></a><br>
              <span class="govuk-body govuk-!-font-size-14">#Last updated on 10 May 2023<br/>
              <ul class="govuk-list govuk-list--bullet ">
                <li><strong>10 May 2023</strong>: Iterations (Issues 98 to 127 from <a href="https://eaflood.atlassian.net/l/cp/2NCdjrHv">Confluence</a>) implemented based on Business requirements. This version is planned to be tested during Private beta.</li>
                </ul>
            <p class='govuk-list app-list--definition'>
              <a href='/ahw/v5/start' class="govuk-link--no-visited-state"><strong>Version 5</strong></a><br>
              <span class="govuk-body govuk-!-font-size-14">#Last updated on 4 April 2023<br/>
              <ul class="govuk-list govuk-list--bullet ">
                <li><strong>4 April 2023</strong>: Iterations (Issues 84 to 97 from <a href="https://eaflood.atlassian.net/l/cp/2NCdjrHv">Confluence</a>) implemented after Round 3 of user testing.</li>
                </ul>
            <p class='govuk-list app-list--definition'>
              <a href='/ahw/v4/start' class="govuk-link--no-visited-state"><strong>Version 4</strong></a><br>
              <span class="govuk-body govuk-!-font-size-14">#Last updated on 23 March 2023<br/>
              <ul class="govuk-list govuk-list--bullet ">
                <li><strong>23 March 2023</strong>: Iterations (Issues 49 to 83 from <a href="https://eaflood.atlassian.net/l/cp/2NCdjrHv">Confluence</a>) implemented. This version was tested in Round 3 of user testing.</li>
                </ul>

            <p class='govuk-list app-list--definition'>
              <a href='/ahw/v3/start' class="govuk-link--no-visited-state"><strong>Version 3</strong></a><br>
              <span class="govuk-body govuk-!-font-size-14"># Last updated on 9 February 2023<br/>
              <ul class="govuk-list govuk-list--bullet ">
                <li><strong>6 March 2023</strong>: Iterations (Issues 18 to 48 from <a href="https://eaflood.atlassian.net/l/cp/2NCdjrHv">Confluence</a>) implemented. This version was tested in Round 2 of user testing.</li>
                </ul>

            <p class='govuk-list app-list--definition'>
              <a href='/ahw/v2/start' class="govuk-link--no-visited-state"><strong>Version 2</strong></a><br>
              <span class="govuk-body govuk-!-font-size-14"># Last updated on 9 February 2023<br/>
              <ul class="govuk-list govuk-list--bullet ">
                <li><strong>9 February 2023</strong>: Scoring questions added (issues 9 to 17 from <a href="https://eaflood.atlassian.net/l/cp/2NCdjrHv">Confluence</a>). This part of the journey was not tested.</li>
                </ul>

            <p class='govuk-list app-list--definition'>
              <a href='/ahw/v1/start' class="govuk-link--no-visited-state"><strong>Version 1</strong></a><br>
              <span class="govuk-body govuk-!-font-size-14"># Last updated on 9 February 2023<br/>
              <ul class="govuk-list govuk-list--bullet ">
                <li><strong>15 December 2022</strong>: Baseline design added with Eligibility journey only (issues 1 to 7 from <a href="https://eaflood.atlassian.net/l/cp/2NCdjrHv">Confluence</a>)</li>
                <li><strong>17 January and 03 February 2023</strong>: UR Round 1 completed with Eligibility journey only</li>
                </ul>



      </div>
      <div class="proto-admin">
        <h2 class="govuk-heading-l">Journeys and wireframes</h2>

            <p class='govuk-heading-m'>Wireframes</p>
              <p class='govuk-list app-list--definition'>
                <a href='https://app.mural.co/t/dcx6016/m/dcx6016/1668084944498/10dd1e5c4d7aa7711d771f14bd51614cde4a6af9?sender=uac8e5181797d9857544e5168' class="govuk-link--no-visited-state" target="new" >Mural low-fidelity journey (opens in new tab)</a><br>
                  <img src="/public/images/mural-icon.png" alt="Sketch icon" width="17" height="17">Updated on 9 January 2022.</p>
                  <p class='govuk-list app-list--definition'>
                    <a href='https://www.sketch.com/s/64be7a81-5611-47c6-9210-1408ec4420c1' class="govuk-link--no-visited-state" target="new" >Sketch wireframes (opens in new tab)</a><br>
                      <img src="/public/images/sketch-icon.png" alt="Sketch icon" width="17" height="17">Always up to date.</p>
      </div>
{% endblock %}
