{% extends "layout.html" %}

{% block pageTitle %}
  You may be able to apply for a grant from this scheme
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems  .'
  }) }}
  <a class="govuk-back-link" href="cover-size">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-body govuk-!-font-size-48">
        <h1 class="govuk-heading-l">
          Separator 
        </h1>

        <p>Some detail about the separator item.</p>

            <form class="form" action="project-items" method="post">
              <button class="govuk-button" data-module="govuk-button">Continue</button>
            </form>

      </div>
    </div>
  </div>

{% endblock %}
