{% extends "layout.html" %}

{% block pageTitle %}
  current-irrigating
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems.'
  }) }}
  <a class="govuk-back-link" href="abstraction-licence">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form id="mainForm" class="form" action="change-summerabs" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Are you currently irrigating?
              </h1>
            </legend>
            <br>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios govuk-radios--inline">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="current-irrigating-1" name="current-irrigating" type="radio"  value="Yes" {{ checked("current-irrigating", "Yes") }}>
                  <label class="govuk-label govuk-radios__label" for="current-irrigating-1">
                    Yes
                  </label>
                </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="current-irrigating-2" name="current-irrigating" type="radio" value="No" {{ checked("current-irrigating", "No") }}>
                <label class="govuk-label govuk-radios__label" for="current-irrigating-2">
                  No
                </label>
              </div>
            </div>
          </fieldset>
          <br>
        <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">
          Continue
        </button>


      </form>
    </div>
  </div>

{% endblock %}
