{% extends 'water-r3/layout.html' %}

{% block pageTitle %}
    Applicant's details
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="check-details" method="post">

        <h1 class="govuk-heading-l">Applicant's details</h1>

          <div id="applicant-hint" class="govuk-hint govuk-!-padding-bottom-2">Enter farmer and farm business details</div>
            <h2 class="govuk-heading-m">Name</h2>

            {{ govukInput ({
              id: 'farmer-firstname',
              name: 'farmer-firstname',
              value: data['farmer-firstname'] if data['farmer-firstname'] else '',
              classes: 'govuk-input--width-20',
              type: 'text',
              label: {
                text: 'First name'
              }
            }) }}

            {{ govukInput ({
              id: 'farmer-lastname',
              name: 'farmer-lastname',
              value: data['farmer-lastname'] if data['farmer-lastname'] else '',
              classes: 'govuk-input--width-20',
              type: 'text',
              label: {
                text: 'Last name'
              }
            }) }}

            <h2 class="govuk-heading-m govuk-!-padding-top-6 govuk-!-padding-bottom-2">Contact details</h2>

            {{ govukInput ({
              id: 'farmer-email',
              name: 'farmer-email',
              value: data['farmer-email'] if data['farmer-email'] else '',
              classes: 'govuk-input--width-20',
              type: 'farmer-email',
              hint: {
                text: 'We will only use this to send you confirmation'
              },
              label: {
                text: 'Email address'
              }
            }) }}

            {{ govukInput ({
              id: 'confirm-farmer-email',
              name: 'confirm-farmer-email',
              value: data['confirm-farmer-email'] if data['confirm-farmer-email'] else '',
              classes: 'govuk-input--width-20',
              type: 'confirm-farmer-email',
              label: {
                text: 'Confirm email address'
              }
            }) }}

            {{ govukInput ({
              id: 'farmer-landline',
              name: 'farmer-landline',
              value: data['farmer-landline'] if data['farmer-landline'] else '',
              classes: 'govuk-input--width-10',
              type: 'farmer-landline',
              hint: {
                text: 'We will only use this to contact you about your application'
              },
              label: {
                text: 'Mobile phone number'
              }
            }) }}

            {{ govukInput ({
              id: 'farmer-mobile',
              name: 'farmer-mobile',
              value: data['farmer-mobile'] if data['farmer-mobile'] else '',
              classes: 'govuk-input--width-10',
              type: 'farmer-mobile',
              hint: {
                text: 'We will only use this to contact you about your application'
              },
              label: {
                text: 'Landline number'
              }
            
            }) }}

            <h2 class="govuk-heading-m govuk-!-padding-top-6 govuk-!-padding-bottom-3">Business address</h2>

            {{ govukInput ({
              id: 'farmer-address1',
              name: 'farmer-address1',
              value: data['farmer-address1'] if data['farmer-address1'] else '',
              type: 'farmer-address1',
              label: {
                text: 'Address line 1'
              }
            }) }}

            {{ govukInput ({
              id: 'farmer-address2',
              name: 'farmer-address2',
              value: data['farmer-address2'] if data['farmer-address2'] else '',
              type: 'farmer-address2',
              label: {
                text: 'Address line 2 (optional)'
              }
            }) }}

            {{ govukInput ({
              id: 'farmer-town',
              name: 'farmer-town',
              value: data['farmer-town'] if data['farmer-town'] else '',
              classes: "govuk-!-width-two-thirds",
              type: 'farmer-town',
              label: {
                text: 'Town'
              }
            }) }}

            {{ govukInput ({
              id: 'farmer-county',
              name: 'farmer-county',
              value: data['farmer-county'] if data['farmer-county'] else '',
              classes: "govuk-!-width-two-thirds",
              type: 'farmer-county',
              label: {
                text: 'County'
              }
            }) }}

            {{ govukInput ({
              id: 'business-postcode',
              name: 'business-postcode',
              value: data['business-postcode'] if data['business-postcode'] else '',
              classes: 'govuk-input--width-10',
              type: 'business-postcode',
              label: {
                text: 'Business postcode'
              }
            }) }}  

            {{ govukInput ({
              id: 'project-postcode',
              name: 'project-postcode',
              value: data['project-postcode'] if data['project-postcode'] else '',
              classes: 'govuk-input--width-10',
              type: 'project-postcode',
              hint: {
                text: 'The site postcode where the work will happen'
              },
              label: {
                text: 'Project postcode'
              }
            }) }}  

            {{ govukButton ({
              html: 'Continue'
            }) }}
        
              {# <div class="govuk-form-group">
          <label class="govuk-label" for="farmer-firstname">
            First name
          </label>
          <input class="govuk-input govuk-!-width-one-half" id="farmer-firstname" name="farmer-firstname" type="text" spellcheck="false" autocomplete="name" value="{{ data['farmer-firstname'] }}">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="farmer-lastname">
            Last name
          </label>
          <input class="govuk-input govuk-!-width-one-half" id="farmer-lastname" name="farmer-lastname" type="text" spellcheck="false" autocomplete="name" value="{{ data['farmer-lastname'] }}">
        </div> #}

        {# <h2 class="govuk-heading-m govuk-!-padding-top-6 govuk-!-padding-bottom-2">Contact details</h2>
        <div class="govuk-form-group">
          <label class="govuk-label" for="farmer-email">
              Email address
              <div id="event-name-hint" class="govuk-hint">
                  We will only use this to send you confirmation
              </div>
          </label>
          <input class="govuk-input  govuk-!-width-two-thirds" id="farmer-email" name="farmer-email" type="farmer-email" spellcheck="false" aria-describedby="farmer-email-hint" autocomplete="farmer-email" value="{{ data['farmer-email'] }}">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="confirm-farmer-email">
              Confirm email address
          </label>
          <input class="govuk-input  govuk-!-width-two-thirds" id="confirm-farmer-email" name="confirm-farmer-email" type="confirm-farmer-email" spellcheck="false"  value="{{ data['confirm-farmer-email'] }}">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="farmer-landline">
              Mobile phone number
          </label>
          <div id="farmer-landline-hint" class="govuk-hint">
              We will only use this to contact you about your application
          </div>
          <input class="govuk-input  govuk-!-width-two-thirds" id="farmer-landline" name="farmer-landline" type="farmer-landline" spellcheck="false" aria-describedby="farmer-landline-hint" autocomplete="farmer-landline" value="{{ data['farmer-landline'] }}">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="farmer-mobile">
              Landline number
          </label>
          <div id="farmer-mobile-hint" class="govuk-hint">
              We will only use this to contact you about your application
          </div>
          <input class="govuk-input  govuk-!-width-two-thirds" id="farmer-mobile" name="farmer-mobile" type="farmer-mobile" spellcheck="false" aria-describedby="farmer-mobile-hint" autocomplete="farmer-mobile" value="{{ data['farmer-mobile'] }}">
        </div>

        <h2 class="govuk-heading-m govuk-!-padding-top-6 govuk-!-padding-bottom-3">Business address</h2>
        <div class="govuk-form-group">
            <label class="govuk-label" for="farmer-address1">
                Address line 1
            </label>
            <input class="govuk-input govuk-!-width-two-thirds" id="farmer-address1" name="farmer-address1" type="farmer-address1" spellcheck="false" aria-describedby="farmer-address1-hint" autocomplete="farmer-address1" value="{{ data['farmer-address1'] }}">
        </div>

        <div class="govuk-form-group">
            <label class="govuk-label" for="farmer-address2">
                Address line 2 (optional)
            </label>
            <input class="govuk-input govuk-!-width-two-thirds" id="farmer-address2" name="farmer-address2" type="farmer-address2" spellcheck="false" aria-describedby="farmer-address2-hint" autocomplete="farmer-address2" value="{{ data['farmer-address2'] }}">
        </div>

        <div class="govuk-form-group">
            <label class="govuk-label" for="farmer-town">
                Town
            </label>
            <input class="govuk-input govuk-!-width-one-half" id="farmer-town" name="farmer-town" type="farmer-town" spellcheck="false" aria-describedby="farmer-town-hint" autocomplete="farmer-town" value="{{ data['farmer-town'] }}">
        </div>

        <div class="govuk-form-group">
            <label class="govuk-label" for="farmer-county">
                County
            </label>
            <input class="govuk-input govuk-!-width-one-half" id="farmer-county" name="farmer-county" type="farmer-county" spellcheck="false" aria-describedby="farmer-county-hint" autocomplete="farmer-county" value="{{ data['farmer-county'] }}">
        </div>

        <div class="govuk-form-group ">
            <label class="govuk-label" for="farmer-postcode">
                Business postcode
            </label>
            <input class="govuk-input govuk-!-width-one-quarter" id="farmer-postcode" name="farmer-postcode" type="farmer-postcode" spellcheck="false" aria-describedby="farmer-postcode-hint" autocomplete="farmer-postcode" value="{{ data['farmer-postcode'] }}">
        </div>

        <div class="govuk-form-group">
            <label class="govuk-label" for="project-postcode">
                Project postcode
            </label>
            <div id="project-postcode-hint" class="govuk-hint">
                The site postcode where the work will happen
            </div>
            <input class="govuk-input govuk-!-width-one-quarter" id="project-postcode" name="project-postcode" type="project-postcode" spellcheck="false" aria-describedby="project-postcode-hint" autocomplete="project-postcode" value="{{ data['project-postcode'] }}">
        </div>

        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button> #}

      </form>

    </div>
  </div>

{% endblock %}
