{% extends 'water-r3/layout.html' %}

{% block pageTitle %}
    Potential grant funding
{% endblock %}

{% set grantAmount = data['cost'] * 0.4 %}
{% set maxProjectGrantAmount = 500000 %}

{# [X if X else 0] makes sure we've always got a number to work with #}
{% set projectCost = data['cost'] | float if data['cost'] else 0 %}

    {% if grantAmount > maxProjectGrantAmount %}
        {% set grantAmount = maxProjectGrantAmount %}
        {% set projectGrantIsCapped = true %}
    {% endif %}

{% block content %}

    <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">

                <form action="remaining-cost">

                    <h1 class="govuk-heading-l">Potential grant funding</h1>

                            {% if projectGrantIsCapped %}
                                <p>
                                    You can apply for a maximum of {{ maxProjectGrantAmount | inPounds }} for project costs.
                                </p>
                            {% else %}

                                <p class="govuk-body">You may be able to apply for a grant of up to £{{ grantAmount | toFixed(0) | commafy }}, based on the estimated cost of £{{ data['cost'] | toFixed(2) | commafy }}.</p>

                            {% endif %}

                        {{ govukWarningText({
                        text: "There's no guarantee the project will receive a grant.",
                        iconFallbackText: "Warning"
                        }) }}

                    {{ govukButton ({
                        html: 'Continue'
                    }) }}

                </form>

            </div>

    </div>

{% endblock %}