{% extends "layout.html" %}

{% block pageTitle %}
  Do you need a variation to your current abstraction licence for the project?
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/abstraction-variation-answer" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Do you need a variation to your current abstraction licence for the project?
              </h1>
            </legend>
            <div class="govuk-radios govuk-radios--inline">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="abstraction-variation" name="abstraction-variation" type="radio" value="yes" {{ checked("abstraction-variation", "yes") }}>
                <label class="govuk-label govuk-radios__label" for="abstraction-variation">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="abstraction-variation-2" name="abstraction-variation" type="radio" value="no" {{ checked("abstraction-variation", "no") }}>
                <label class="govuk-label govuk-radios__label" for="abstraction-variation-2">
                  No
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Help deciding if you need a variation to your abstraction licence
            </span>
          </summary>
          <div class="govuk-details__text">
            ...
          </div>
        </details>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
