{% extends "layout.html" %}

{% set thisPageTitle = 'Check your answers for section 1' %}

{% block pageTitle %}
  {{ thisPageTitle }} - {{ serviceName }} - GOV.UK
{% endblock %}


{% block beforeContent %}
  <a class="govuk-back-link" href="{{ backUrl }}">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">{{ thisPageTitle }}</h1>

    <h2 class="govuk-heading-m">Project eligibility</h2>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-third">
          Type of business
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['farming-type'] | capitalize }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="farming-type">
            Change<span class="govuk-visually-hidden"> type of business</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-third">
          Legal status
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['legal-status'] | capitalize }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="legal-status">
            Change<span class="govuk-visually-hidden"> legal status of business</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-third">
          Location
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['country'] | capitalize }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="country">
            Change<span class="govuk-visually-hidden"> location</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-third">
          Rented, leased or tenanted
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['tenancy'] | capitalize }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="tenancy">
            Change<span class="govuk-visually-hidden"> tenancy</span>
          </a>
        </dd>
      </div>
      {% if data['tenancy'] == "yes" %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-third">
          Tenancy extends beyond six years
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">{{ data['tenancy-length'] | capitalize }}</p>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="tenancy-length">
            Change<span class="govuk-visually-hidden"> tenancy length</span>
          </a>
        </dd>
      </div>

      {% endif %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-third">
          Estimated project costs
        </dt>
        <dd class="govuk-summary-list__value">
          £{{ data['project-cost'] | toFixed(2) | commafy }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="project-cost">
            Change<span class="govuk-visually-hidden"> project costs</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-third">
          Able to pay remaining costs
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['remaining-costs'] | capitalize }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="remaining-costs">
            Change<span class="govuk-visually-hidden"> remaining costs</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-third">
          Will pay with public money
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['public-money'] | capitalize }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="remaining-costs">
            Change<span class="govuk-visually-hidden"> public money</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-third">
          Project started
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['project-start'] | capitalize }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="project-start">
            Change<span class="govuk-visually-hidden"> project started</span>
          </a>
        </dd>
      </div>
    </dl>

    {% if (data['tenancy'] == "yes") and (data['tenancy-length'] == "no") %}
    <div class="govuk-inset-text">
        To make a full application, you will need to extend your tenancy beyond 2026.
    </div>
    {% endif %}

    <form action="task-list" method="post" novalidate>

      <input type="hidden" name="answers-checked" value="true">

      <button class="govuk-button govuk-!-margin-top-4" data-module="govuk-button">
        Save and continue
      </button>

    </form>

  </div>
</div>

{% endblock %}
