{% extends "layout.html" %}

{% block pageTitle %}
  You cannot apply for a large countryside productivity grant
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="country">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        You cannot apply for a large countryside productivity grant
      </h1>

      <p>This grant is only open to businesses located in England.</p>

      <p>Farming businesses in other Scotland, Wales and Northern Ireland may be eligible for similar grants through their respective domestic schemes.</p>

      <!--See the <a href="">large countryside productivity grant guidance</a> for further information.</p>-->

    </div>
  </div>

{% endblock %}
