{% extends "layout.html" %}

{% block pageTitle %}
  Is your {{ data['farming-type'] }} business located in England?
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="legal-status">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/country-answer" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Where is the {{ data['farming-type'] }} business located?
              </h1>
            </legend>
            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="country" name="country" type="radio" value="england" {{ checked("country", "england") }}>
                <label class="govuk-label govuk-radios__label" for="country">
                  England
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="country-2" name="country" type="radio" value="scotland" {{ checked("country", "scotland") }}>
                <label class="govuk-label govuk-radios__label" for="country-2">
                  Scotland
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="country-3" name="country" type="radio" value="wales" {{ checked("country", "wales") }}>
                <label class="govuk-label govuk-radios__label" for="country-3">
                  Wales
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="country-4" name="country" type="radio" value="northern-ireland" {{ checked("country", "northern-ireland") }}>
                <label class="govuk-label govuk-radios__label" for="country-4">
                  Northern Ireland
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="country-5" name="country" type="radio" value="other" {{ checked("country", "other") }}>
                <label class="govuk-label govuk-radios__label" for="country-5">
                  Other
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
