{% extends "layout.html" %}

{% block pageTitle %}
  You're not eligible for a large countryside productivity grant
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="country">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        You're not eligible for a large countryside productivity grant
      </h1>

      <p>The large countryside productivity grant scheme is only open to businesses located in England.</p>

      <p>Farming businesses in other UK countries may be eligible for a similar grant through their equivalent domestic schemes. See the <a href="">large countryside productivity grant guidance</a> for further information.</p>

    </div>
  </div>

{% endblock %}
