
{% extends "./layouts/GUIDANCE.html" %}

{% block guidance %}

<div id="toc" class="toc"></div>

<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">

<div class="call-to-action">
<h2 id="latest-news">Latest news</h2>

<p>The Countryside Productivity Small Grants scheme Round 2 is now available for all farm types including livestock, horticulture and arable businesses, with a total of £15 million available.</p>

<p>For Round 2 funding:</p>

<ul>
  <li>26 new items have been added to the list of equipment available</li>
  <li>applicants for Round 1 funding can also submit a new application to receive funding in Round 2. The total value of both applications must not be more than £12,000</li>
  <li>successful applicants will need to provide photos of the items working on their farm</li>
</ul>
</div>

<h2 id="countryside-productivity-scheme">Countryside Productivity Scheme</h2>

<p>The RDPE Countryside Productivity Scheme provides funding for projects in England which improve productivity in the farming and forestry sectors and help create jobs and growth in the rural economy.</p>

<p>It is administered by the Rural Payments Agency (RPA).</p>

<p>Under the RDPE Countryside Productivity Scheme, there are grants for:</p>

<ul>
  <li>small grants</li>
  <li>water resource management and reservoirs</li>
  <li>improving forestry productivity</li>
  <li>adding value to Agri-food</li>
  <li>improving farm productivity</li>
</ul>

<p>The grants are funded by the European Agricultural Fund for Rural Development (EAFRD).</p>

<h3 id="government-guarantees-about-funding-after-the-uk-leaves-the-eu">Government guarantees about funding after the UK leaves the EU</h3>

<p>The government has guaranteed funding for the RDPE Countryside Productivity Small Grants if projects are:</p>

<ul>
  <li>agreed and signed before 31 December 2020</li>
  <li>good value for money and</li>
  <li>in line with domestic strategic priorities</li>
</ul>

<h2 id="countryside-productivity-small-grant-scheme">Countryside Productivity Small Grant scheme</h2>

<p>The RDPE Countryside Productivity Small Grant (CPSG) scheme provides funding for farmers to purchase equipment to improve the productivity of their farm. The scheme is different to other parts of the Countryside Productivity scheme as it uses an online application process and is targeted at supporting investment for specific pieces of agricultural equipment.</p>

<h2 id="round-2">Round 2</h2>

<p>The Countryside Productivity Small Grant scheme Round 2 is now open.</p>

<p>Farmers can apply for funding towards specific items of equipment listed at Annex 3 of the Countryside Productivity Small Grants scheme Round 2 handbook.</p>

<p>All the items have been identified following consultation with industry groups and suppliers as helping achieve improvements in either:</p>

<ul>
  <li>technical efficiency</li>
  <li>animal health and welfare</li>
  <li>resource efficiency, or</li>
  <li>nutrient management</li>
</ul>

<h3 id="who-can-apply">Who can apply</h3>

<p>Farmers (including livestock, dairy, arable and horticultural sectors) can apply for this grant. Please read the Round 2 handbook below to find out more. This scheme is only open to farmers based in England.</p>

<p><a rel="external" href="../../public/CPSG_Scheme_Handbook_Round_2_V3.0.pdf">Countryside Productivity Small Grant Scheme (CPSG) Round 2 Handbook</a> (PDF, 854KB, 83 pages)</p>

<h3 id="when-you-can-apply">When you can apply</h3>

<p>The Countryside Productivity Small Grant scheme Round 2 is open between 9 July 2019 and midday on 3 September 2019.</p>

<p>Please remember to check your details on the Rural Payments service before you apply for this grant. You must make sure they exactly match with the details in your application form, or your application will be rejected.</p>

<h3 id="how-to-apply">How to apply</h3>

<p>Access the <a rel="external" href="http://cpsmall.geodata.co.uk/">online portal</a> and start your application now.</p>

<p>Fill in your application online and sign up to the terms and conditions of the scheme.</p>

<h3 id="what-happens-next">What happens next</h3>

<p>We will email you after the date that the funding round closes to let you know if your application has been approved. When you receive this email you can purchase your items.</p>

<p>After you have purchased all your items, you can claim your money.</p>

<h3 id="help-with-the-cpsgs-online">Help with the CPSGS Online</h3>

<p>We have videos on our YouTube account that can help you apply:</p>

<p><a rel="external" href="https://www.youtube.com/watch?v=WYU0JobUMjk">Advocate video</a></p>

<p><a rel="external" href="https://www.youtube.com/watch?v=53VcS61Lgtk&amp;t=54s">How to… video</a></p>

<h3 id="if-you-have-any-questions">If you have any questions</h3>

<p>Once you have read the handbook, if you have any questions please email <a rel="external" href="mailto:CPSGEnquiries@rpa.gov.uk">CPSGEnquiries@rpa.gov.uk</a> or call 03000 200301 and follow the options for the Countryside Productivity Small Grant scheme.</p>

<h3 id="round-1">Round 1</h3>

<p>The Countryside Productivity Small Grant Scheme Round 1 is now closed for applications.</p>

<p><a rel="external" href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/690772/Countryside_Productivity_Small_Grant_Scheme_Handbook_v1.0_online.pdf">Small Grant Scheme Round 1 handbook</a> (PDF, 1.94MB, 49 pages)</p>

<p><a rel="external" href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/690773/CP_Small_Hints_and_Tips_V1.0_online.pdf">Countryside Productivity Small Grant - Hints and tips</a> (PDF, 850KB, 4 pages)</p>

<h2 id="improving-forestry-productivity">Improving Forestry Productivity</h2>

<h3 id="the-improving-forestry-productivity-scheme-is-now-closed-to-new-applications">The Improving Forestry Productivity scheme is now closed to new applications.</h3>

<p>Applications received by the closing date are being processed.</p>

<p><a rel="external" href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/698847/Improving_Forestry_Productivity_handbook_v1.2_archived.pdf">Improving forestry productivity handbook</a> (PDF, 3.59MB, 34 pages)</p>

<h2 id="water-resource-management">Water Resource Management</h2>

<h3 id="the-water-resource-management-scheme-is-now-closed-to-new-applications">The Water Resource Management scheme is now closed to new applications.</h3>

<p>Applications received by the closing date are being processed.</p>

<p><a rel="external" href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/719285/Water_Resource_Management_handbook_v2_nowclosed.pdf">Water Resource Management handbook</a> (PDF, 2.85MB, 31 pages)</p>

<h2 id="adding-value-to-agri-food">Adding Value to Agri-food</h2>

<h3 id="the-adding-value-to-agri-food-scheme-is-now-closed-to-new-applications">The Adding Value to Agri-food scheme is now closed to new applications.</h3>

<p>Expressions of Interest received by the closing date are being processed.</p>

<p><a rel="external" href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/719288/Adding_Value_to_Agri-food_Handbook_v3_nowclosed.pdf">Adding Value to Agri-food Handbook</a> (PDF, 1.84MB, 32 pages)</p>

<h2 id="improving-farm-productivity">Improving Farm Productivity</h2>

<h3 id="the-improving-farm-productivity-scheme-is-now-closed-to-new-applications">The Improving Farm Productivity scheme is now closed to new applications.</h3>

<p>Applications received by the closing date are being processed.</p>

<p><a rel="external" href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/761059/Improving_Farm_Productivity_handbook_v2.pdf">Improving Farm Productivity Handbook</a> (PDF, 5.7MB, 30 pages)</p>

<h3 id="what-happens-next-1">What happens next</h3>

<p>For the following schemes:</p>

<ul>
  <li>Water Resource Management</li>
  <li>Improving Farm Productivity</li>
</ul>

<p>If you have submitted an application by the deadline and it is successful, you’ll get a funding agreement to sign.</p>

<p>With your grant funding agreement signed, you can start work on your project.</p>

<p>After you’ve paid for the work, you can claim your money.</p>

<p>For Adding Value to Agri-food, fill in your Expression of Interest form and send it to us. If this is successful, you’ll get a full application form to complete.</p>

<p>Countryside Productivity Grant schemes are competitive, so please note that not all eligible applications will be successful.</p>


</div>

{% endblock %}
