{% extends "layout.html" %}

{% extends "./layouts/_BASEFULL.html" %}

{% block service %}

<span class="govuk-caption-xl">Prototypes</span>
<h1 class="govuk-heading-l">
  Grants prototypes
</h1>
<p>
  The following were built using GOV.UK Prototype Kit v9.8.0.
</p>

<h2 class="govuk-heading-m">
  Prototypes
</h2>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Prototype</th>
      <th class="govuk-table__header" scope="col">Description</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="welcome">
          Water resource management EoI
        </a></td>
      <td class="govuk-table__cell">Eligibilty and expression of interest</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="#">
          Slurry management EoI
        </a></td>
      <td class="govuk-table__cell">Eligibilty and expression of interest</td>
    </tr>
  </tbody>
</table>

<h2 class="govuk-heading-m govuk-!-margin-top-9">
  Pages
</h2>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Page</th>
      <th class="govuk-table__header" scope="col">Description</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="guidance/all-grants">
          Rural grants
        </a></td>
      <td class="govuk-table__cell">Guidance page for rural grants</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="guidance/small-grants">
          Small grants
        </a></td>
      <td class="govuk-table__cell">Guidance page for small grants</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="guidance/large-water">
          Water guidance
        </a></td>
      <td class="govuk-table__cell">Guidance page for large water grants</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="guidance/large-slurry">
          Slurry guidance
        </a></td>
      <td class="govuk-table__cell">Guidance page for large slurry grants</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="views/water/sign-in">
          Sign in
        </a></td>
      <td class="govuk-table__cell">Sign in page for the '{{serviceName}}' service</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="water/task-list">
          Task list
        </a></td>
      <td class="govuk-table__cell">Task list page for the water service</td>
    </tr>

  </tbody>
</table>

{% endblock %}
