{% extends "layout.html" %}

{% block pageTitle %}
  You're not eligible for a large countryside productivity grant
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="legal-status">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        You're not eligible for a large countryside productivity grant
      </h1>

      <p class="govuk-body">The large countryside productivity grant scheme is only open to businesses which have one of the following legal statuses:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>Sole Trader</li>
          <li>Partnership</li>
          <li>Limited Company</li>
          <li>Trust</li>
          <li>Limited Liability Partnership</li>
          <li>Charity</li>
          <li>Community Interest Organisation</li>
          <li>Public Organisation</li>
        </ul>

      <p>Other types of business may be supported in future schemes. See the <a href="">large countryside productivity grant guidance</a> for further information.</p>

    </div>
  </div>

{% endblock %}
