{% extends "layout.html" %}

{% block pageTitle %}
  Your current irrigation
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="check-answers-theme-eligibility">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/business-answer" method="post">

        <h1 class="govuk-heading-l">
          Changes to your irrigation resulting from the project
        </h1>

        <div class="govuk-form-group">
          <label class="govuk-label" for="improved-land-irrigated">
              Will you irrigate more land if the project goes ahead?
            </label>
          <textarea class="govuk-textarea" id="improved-land-irrigated" name="improved-land-irrigated" rows="2" aria-describedby="improved-land-irrigated-hint">{{ data['improved-land-irrigated'] }}</textarea>
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="improved-crops-irrigated">
              Will you change what crops you irrigate if the project goes ahead?
            </label>
          <textarea class="govuk-textarea" id="improved-crops-irrigated" name="improved-crops-irrigated" rows="2" aria-describedby="improved-crops-irrigated-hint">{{ data['improved-crops-irrigated'] }}</textarea>
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="improved-water-source">
              Where will the water to irrigate come from if the project goes ahead?
            </label>
          <textarea class="govuk-textarea" id="improved-water-source" name="improved-water-source" rows="4" aria-describedby="improved-water-source-hint">{{ data['improved-water-source'] }}</textarea>
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="improved-irrigation-systems">
              Will you change the systems you use to irrigate if the project goes ahead?
            </label>
          <textarea class="govuk-textarea" id="improved-irrigation-systems" name="improved-irrigation-systems" rows="4" aria-describedby="improved-irrigation-systems-hint">{{ data['improved-irrigation-systems'] }}</textarea>
        </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>



      </form>

    </div>
  </div>

{% endblock %}
