{% extends "layout.html" %}

{% block pageTitle %}
  Meeting the remaining project costs
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="project-cost">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Meeting the remaining project costs
      </h1>

      {% set grantAmount = data['project-cost'] * 0.4 %}
      {% set remainingCosts = data['project-cost'] * 0.6 %}

      <p>Based on your estimate total project costs of £{{ data['project-cost'] | toFixed(2) | commafy }} you would be eligible for £{{ grantAmount | toFixed(2) | commafy }} of grant funding.</p>

      <form class="form" action="/remaining-costs-answer" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h1 class="govuk-fieldset__heading">
                Are you able to meet the remaining costs?
              </h1>
            </legend>
            <div id="remaining-costs-hint" class="govuk-hint">
              The total you would need to meet is £{{ remainingCosts | toFixed(2) | commafy }}
            </div>
            <div class="govuk-radios govuk-radios--inline">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="remaining-costs" name="remaining-costs" type="radio" value="yes" {{ checked("remaining-costs", "yes") }}>
                <label class="govuk-label govuk-radios__label" for="remaining-costs">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="remaining-costs-2" name="remaining-costs" type="radio" value="no" {{ checked("remaining-costs", "no") }}>
                <label class="govuk-label govuk-radios__label" for="remaining-costs-2">
                  No
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h1 class="govuk-fieldset__heading">
                Will any of the remaining costs come from public money?
              </h1>
            </legend>
            <div class="govuk-radios govuk-radios--inline">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="public-money" name="public-money" type="radio" value="yes" {{ checked("public-money", "yes") }}>
                <label class="govuk-label govuk-radios__label" for="public-money">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="public-money-2" name="public-money" type="radio" value="no" {{ checked("public-money", "no") }}>
                <label class="govuk-label govuk-radios__label" for="public-money-2">
                  No
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>


    </div>
  </div>

{% endblock %}
