{% extends "layout.html" %}

{% block pageTitle %}
  Task list - {{serviceName}} - GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        {{serviceName}}
      </h1>

      <h2 class="govuk-heading-s govuk-!-margin-bottom-2">{{ application_status }}</h2>
      <p class="govuk-body govuk-!-margin-bottom-7">{{ completed_sections }}</p>

      <ul class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            Expression of interest
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                {% if project_eligibility_status == 'completed' %}
                <a href="check-answers-project-eligibility" aria-describedby="project-eligibility-status">
                  Project eligiblity
                </a>
                {% else %}
                <a href="farming-type" aria-describedby="project-eligibility-status">
                  Project eligiblity
                </a>
                {% endif %}
              </span>
              <strong class="govuk-tag {{ project_eligibility_status_class }} app-task-list__tag" id="project-eligibility-status">{{ project_eligibility_status }}</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                {% if project_eligibility_status == 'completed' %}
                  {% if theme_eligibility_status == 'completed' %}
                <a href="check-answers-theme-eligibility" aria-describedby="theme-eligibility-status">
                  Theme eligiblity
                </a>
                  {% else %}
                <a href="project-items" aria-describedby="theme-eligibility-status">
                  Theme eligiblity
                </a>
                  {% endif %}
                {% else %}
                  Theme eligiblity x
                {% endif %}
              </span>
              <strong class="govuk-tag {{ theme_eligibility_status_class }} app-task-list__tag" id="theme-eligibility-status">{{ theme_eligibility_status }}</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                {% if theme_eligibility_status == 'completed' %}
                  {% if contact_details_status == 'completed' %}
                  <a href="check-answers-contact-details" aria-describedby="contact-details-status">
                    Contact details
                  </a>
                  {% else %}
                <a href="business" aria-describedby="contact-details-status">
                  Contact details
                </a>
                  {% endif %}
                {% else %}
                  Contact details
                {% endif %}
              </span>
              <strong class="govuk-tag {{ contact_details_status_class }} app-task-list__tag" id="contact-details-status">{{ contact_details_status }}</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                {% if contact_details_status == 'completed' %}
                  {% if project_benefits_status == 'completed' %}
                  <a href="check-answers-project-benefits" aria-describedby="project-benefits-status">
                    Project benefits
                  </a>
                  {% else %}
                <a href="irrigation" aria-describedby="project-benefits-status">
                  Project benefits
                </a>
                  {% endif %}
                {% else %}
                  Project benefits
                {% endif %}
              </span>
              <strong class="govuk-tag {{ project_benefits_status_class }} app-task-list__tag" id="project-benefits-status">{{ project_benefits_status }}</strong>
            </li>
          </ul>
        </li>

        {% if data['completed_sections'] == '4' %}
        <form action="check-answers-all" method="post" novalidate>

          <input type="hidden" name="answers-checked" value="true">

          <button class="govuk-button" data-module="govuk-button">
            Check all your answers
          </button>

        </form>
        {% endif %}

        <!-- <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">2. </span> Full application
          </h2>

          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                {% if final_project_details_available %}
                <a href="#" aria-describedby="final-project-details">
                  Final project details
                </a>
                {% else %}
                  Final project details
                {% endif %}
              </span>
              <strong class="govuk-tag {{ final_project_details_status_class }} app-task-list__tag" id="final-project-details">{{ final_project_details_status }}</strong>
            </li>

          </ul>

        </li> -->

      </ul>
    </div>
  </div>

{% endblock %}
