{% extends "layout.html" %}

{% block pageTitle %}
  Task list - {{serviceName}} - GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{serviceName}}
      </h1>

      <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Application in progress</h2>
      <p class="govuk-body govuk-!-margin-bottom-7">You have completed 1 of 4 sections.</p>

      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">1. </span> Expression of interest
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="scheme-check-your-answers" aria-describedby="scheme-eligibility-status">
                  Scheme eligiblity
                </a>
              </span>
              <strong class="govuk-tag {{ scheme_eligibility_status_class }} app-task-list__tag" id="scheme-eligibility-status">{{ scheme_eligibility_status }}</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="theme-q1" aria-describedby="theme-eligibility-status">
                  Theme eligiblity
                </a>
              </span>
              <strong class="govuk-tag {{ theme_eligibility_status_class }} app-task-list__tag" id="theme-eligibility-status">{{ theme_eligibility_status }}</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                {% if contact_details_available %}
                <a href="#" aria-describedby="contact-details-status">
                  Contact details
                </a>
                {% else %}
                  Contact details
                {% endif %}
              </span>
              <strong class="govuk-tag {{ contact_details_status_class }} app-task-list__tag" id="contact-details-status">{{ contact_details_status }}</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                {% if project_benefits_available %}
                <a href="#" aria-describedby="project-benefits-status">
                  Project benefits
                </a>
                {% else %}
                  Project benefits
                {% endif %}
              </span>
              <strong class="govuk-tag {{ project_benefits_status_class }} app-task-list__tag" id="project-benefits-status">{{ project_benefits_status }}</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">2. </span> Full application
          </h2>

          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                {% if final_project_details_available %}
                <a href="#" aria-describedby="final-project-details">
                  Final project details
                </a>
                {% else %}
                  Final project details
                {% endif %}
              </span>
              <strong class="govuk-tag {{ final_project_details_status_class }} app-task-list__tag" id="final-project-details">{{ final_project_details_status }}</strong>
            </li>
          </ul>



        </li>

      </ol>
    </div>
  </div>

{% endblock %}
