
{% extends "../layouts/GUIDANCESMALL.html" %}

{% block guidance %}

<div id="toc" class="toc govuk-!-margin-bottom-9"></div>

<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">

<div class="call-to-action">
<h2 id="latest-news">Latest news</h2>

<p>Small grants available from DD MONTH YYYY to DD MONTH YYYY.</p>
</div>

<h2 id="who-can-apply">Who can apply</h2>

<p>These grants are for:</p>

<ul>
  <li>livestock, dairy, arable and horticultural farmers</li>
  <li>agents on behalf of farmers</li>
  <li>farmers who also do some contracting work
</li>
  <li>solely contracting businesses (including contractors without a farm)</li>
  <li>new agricultural businesses</li>
</ul>

<h2 id="how-to-apply-for-a-small-grant">How to apply for a small grant</h2>

<ol>
  <li>Register for the Rural Payments Service.</li>
</ol>

<p>If you are already registered, sign in and check that the details held are up-to-date and correct</p>

<ol>
  <li>Choose the items you need to improve productivity.</li>
  <li><a href="http://cpsmall.geodata.co.uk/">Apply for a countryside productivity grant (opens in a new window or tab)</a>
</li>
</ol>

<p>The Rural payments agency will assess the application against others, consider how well it fits the priorities for funding and if it provides the best value for taxpayers’ money.</p>

<ol>
  <li>If the application is successful, you will be emailed a Grant Funding Agreement.</li>
  <li>Accept the grant offer using the acceptance portal by midnight DD MMMM YYYY</li>
  <li>Buy all the capital items as detailed in your agreement.</li>
  <li>Email <a href="mailto:cpsgclaims@rpa.gov.uk">CPSGClaims@rpa.gov.uk</a> to claim your grant payment before midnight DD MMMM YYYY.</li>
  <li>If your claim is successful, we will pay the grant money into the bank account registered with the Rural Payments service.</li>
</ol>

<h2 id="what-you-can-buy-with-a-small-grant">What you can buy with a small grant</h2>

<h3 id="cattle-equipment">Cattle equipment</h3>

<p>Additional feed station for calves</p>

<p>Auto calf feeder with washing facility</p>

<p>Badger proof feed troughs and lick holders</p>

<p>Calving detectors</p>

<p>Calving gate</p>

<p>Calf milk pasteuriser and dispenser</p>

<p>Cattle auto Id shedding gate</p>

<p>Cattle crush (manual or automatic)</p>

<p>Cattle handling systems (mobile or fixed)</p>

<p>Cluster flush</p>

<p>EID panel reader for cattle</p>

<p>Foot bath (automated)</p>

<p>Foot trimming add on for crush</p>

<p>Foot trimming specialist crush</p>

<p>Head scoop</p>

<p>Hand-held automatic teat washing system</p>

<p>Heat detection system (base unit, collar or ankle band)</p>

<p>Heat and service detector</p>

<p>Milk sensors for real time milk analysis</p>

<p>Rotating cow brush</p>

<p>Swing brushes for goats and calves</p>

<p>Visual image analysis of cow body condition score</p>

<h3 id="sheep-equipment">Sheep equipment</h3>

<p>Automatic weighing and drafting crate</p>

<p>EID panel reader</p>

<p>Electronic weigh crate</p>

<p>Handling crate or clamp style</p>

<p>Sheep conveyor</p>

<p>Sheep handling systems (mobile and fixed)</p>

<h3 id="pig-equipment">Pig equipment</h3>

<p>Electronic pig weighing and sorting facility (used with an Electronic Data Management System)</p>

<p>Enclosed piglet creep with heat pads</p>

<p>Pig handling system (fixed)</p>

<h3 id="all-livestock">All livestock</h3>

<p>Auto EID drench gun</p>

<p>Electronic weigh system</p>

<p>Cameras for monitoring livestock</p>

<p>EID hand held recorder device</p>

<p>EID hand held stick readerWeigh bars</p>

<p>Electric fence energiser</p>

<p>Grassland sward lifters</p>

<p>Pasture plate meter (handheld or trailed)</p>

<p>Positive pressure tube ventilation systems</p>

<p>Robotic silage pusher</p>

<p>Robotic slurry pusher/collector</p>

<p>UV water treatment system</p>

<p>Vaccination gun with RFID reader</p>

<h3 id="precision-farming-equipment">Precision farming equipment</h3>

<p>Chlorophyll meter</p>

<p>Cover crop roller (3m or 6m)</p>

<p>Direct drill 3m</p>

<p>Flow rate monitor for slurry</p>

<p>Fruit ripeness spectrometers</p>

<p>GPS auto steer</p>

<p>GPS light bar</p>

<p>GPS linked to auto steer and implement control</p>

<p>Mobile vertical frost fans for vineyards and horticulture</p>

<p>Sensor to measure nitrogen levels in crops using light reflectance (tractor mounted or hand held)</p>

<p>Variable rate controller for sprayers and fertiliser</p>

<p>Yield monitor</p>

<h3 id="resource-management-and-efficiency-equipment">Resource management and efficiency equipment</h3>

<p>Dribble bar</p>

<p>Heat recovery unit to preheat water for existing hot water system</p>

<p>Hose reel umbilical</p>

<p>Hydraulic ram pump (water)</p>

<p>Improving efficiency of plate heat exchanger (PHE) include solenoid valve</p>

<p>Plate heat exchanger (PHE) for cooling milk (plate cooler)</p>

<p>Shallow injection systems</p>

<p>Trailed compartmented reel</p>

<p>Trailing shoe slurry system including macerators</p>

<p>Variable speed drive on vacuum pump for use in dairies</p>

<h3 id="general-equipment">General equipment</h3>

<p>Digital weather station</p>

<p>Fibre optic network equipment</p>

<p>Grain stirrers</p>

<p>Humidity controls for grain drying and dehumidifiers</p>

<p>Portable ammonia analyser</p>

<p>Portable carbon dioxide analyser</p>

<p>Thermal image camera</p>

<p>Wide area network equipment to connect devices on farm</p>

<h2 id="large-grants-for-projects-over-87500">Large grants for projects over £87,500</h2>

<p><a href="guidance-large-grants">Large grants for productivity projects</a></p>

<h2 id="grant-schemes-from-previous-years">Grant schemes from previous years</h2>

<p><a href="guidance-2019">Countryside Productivity Scheme</a></p>

</div>

{% endblock %}
