//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here

.css-index-link-block {
    background: #F8F8F8;
    border: 0px solid #DEE0E2;
    padding: 10px;
    box-sizing: border-box;
    margin-right: 60px;
}

.proto-admin {
  background: #f5f5f5;
  padding: 1.5em;
  margin-bottom: 1.5em;
}

.proto-admin p.govuk-body {
  margin-bottom: 0;
}

.proto-admin .govuk-heading-m {
  margin-bottom: 10px;
}
@import "grants";
