// global styles for <a> and <p> tags
$govuk-global-styles: true;
$govuk-new-link-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import ".tmp/sass/extensions";

// Patterns that aren't in Frontend
@import "patterns/contents-list";
@import "patterns/mainstream-guide";
@import "patterns/pagination";
@import "patterns/related-items";
@import "patterns/task-list";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you
.css-index-link-block {
    background: #F8F8F8;
    border: 0px solid #DEE0E2;
    padding: 10px;
    box-sizing: border-box;
    margin-right: 60px;
}

.proto-admin {
  background: #f5f5f5;
  padding: 1.5em;
  margin-bottom: 1.5em;
}

.proto-admin p.govuk-body {
  margin-bottom: 0;
}

.proto-admin .govuk-heading-m {
  margin-bottom: 10px;
}
@import "grants";
