{% extends "layout.html" %}

{% extends "addingvalue/current/views/layouts/_BASEFULL-AV.html" %}

{% block service %}

<!--
<span class="govuk-caption-xl">Prototypes</span>
-->
<title> Slurry prototype admin</title>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


<h1 class="govuk-heading-xl">
  Adding value prototype admin
</h1>

      <div class="proto-admin">
        <h2 class="govuk-heading-l">User research</h2>

        <p class='govuk-list app-list--definition'>
        <a href='addingvalue/current/guidance' class="govuk-link--no-visited-state">Guidance: Farming Transformation Fund Adding Value grant</a></p>
          <p class='govuk-list app-list--definition'>
            <a href='addingvalue/current/start' class="govuk-link--no-visited-state">Start page</a><br>
            Specialist start page, hosted on GOV.UK</p>

        <p class='govuk-list app-list--definition'>
        <a href='addingvalue/current/email' class="govuk-link--no-visited-state">Confirmation email</a><br>
          User will receive a confirmation email, with their answers. Service is routed by GOV Notify.</p>
      </div>

      <div class="proto-admin">
        <h2 class="govuk-heading-l">Design history</h2>
                            <p class='govuk-list app-list--definition'>
                              <a href='addingvalue/current/guidance' class="govuk-link--no-visited-state">Version 1 (current)</a><br>
                              <p class='govuk-list app-list--definition'>The version shown in this prototype is currently in testing for the first round of UR between 18 and 29 October 2021.<br>
                                <span class="govuk-body govuk-!-font-size-14"># Last updated on 1 November 2021<br/>
                                </span></p>
      </div>
      <div class="proto-admin">
        <h2 class="govuk-heading-l">Journeys and wireframes</h2>
            <p class='govuk-heading-m'>Workflows, screenflows and user journeys</p>
              <p class='govuk-list app-list--definition'>
                <a href='#' target="new">High fidelity screenflow on Mural (opens in new tab)</a><br>
                    <img src="/public/images/mural-icon.png" alt="Mural icon" width="17" height="17"> Mural (TBC).<br></p>

            <p class='govuk-heading-m'>Wireframes</p>
              <p class='govuk-list app-list--definition'>
                <a href='https://www.sketch.com/s/0a6bfc13-ff58-4bf9-8485-2ae85ad93edd' class="govuk-link--no-visited-state" target="new" >Sketch wireframes (opens in new tab)</a><br>
                  <img src="/public/images/sketch-icon.png" alt="Sketch icon" width="17" height="17">Sketch (up-to date).</p>
      </div>
{% endblock %}
