{% set hideBackButton = true %}

{% if nosignin == 'true' %}

    {% extends 'end-to-end/layout2.html' %}  

{% else %}     

    {% extends 'end-to-end/layout-account-2.html' %}

{% endif %}

{% block pageTitle %}
    Water Management Grant - Round 3
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

           <span class="govuk-caption-xl">Browns Hill Farm reservoir (WM-VMA-1234)</span>
            <h1 class="govuk-heading-xl">Apply for a Water Management grant</h1>

            <ol class="govuk-prototype-kit-task-list">
            <li>

                <!-- EOI Scenario 3b -->
                <h2 class="govuk-prototype-kit-task-list__section">
                    <span class="govuk-prototype-kit-task-list__section-number">1. </span> Tell us about your project
                </h2>
                <p>You must complete this stage by 11.59pm on <strong>3 February 2025</strong></p>

                <ul class="govuk-task-list">
                <li class="govuk-task-list__item govuk-task-list__item--with-link">
                    <div class="govuk-task-list__name-and-hint">
                    <a class="govuk-link govuk-task-list__link" href="/end-to-end/post-mvp/eligibility/funding/check-details" aria-describedby="expression-of-interest-1-status">Enter your organisation's details</a>
                    </div>
                    <div class="govuk-task-list__status" id="expression-of-interest-1-status">
                        <strong class="govuk-tag govuk-tag--blue">
                            Not yet started
                        </strong>
                    </div>
                </li>
                <li class="govuk-task-list__item">
                    <div class="govuk-task-list__name-and-hint">
                        Check your project meets our funding priorities
                    </div>
                    <div class="govuk-task-list__status" id="expression-of-interest-2-status">
                        Cannot start yet
                    </div>
                </li>
                <li class="govuk-task-list__item">
                    <div class="govuk-task-list__name-and-hint">
                        Submit your project details for us to review
                    </div>
                    <div class="govuk-task-list__status" id="expression-of-interest-3-status">
                        Cannot start yet
                    </div>
                </li>
                {# <li class="govuk-task-list__item">
                    <div class="govuk-task-list__name-and-hint">
                        Expression of interest outcome
                    </div>
                    <div class="govuk-task-list__status" id="expression-of-interest-4-status">
                        Cannot start yet
                    </div>
                </li> #}
                </ul>
            </li>
            <p class="govuk-body" style="margin-top: 0em; margin-bottom: 2em;">We’ll let you know the outcome of our review by <strong>19 May 2025</strong></p>
    
                <li>
                    <!-- Application Scenario 2a -->
                <h2 class="govuk-prototype-kit-task-list__section">
                    <span class="govuk-prototype-kit-task-list__section-number">2. </span> Prepare your application
                </h2>

                <ul class="govuk-task-list">

                    <li class="govuk-task-list__item">
                        <div class="govuk-task-list__name-and-hint">
                            Download your application forms
                        </div>
                        <div class="govuk-task-list__status" id="application-1-status">
                            Cannot start yet
                        </div>
                    </li>

                <li class="govuk-task-list__item">
                    <div class="govuk-task-list__name-and-hint">
                    <div>Upload application forms and evidence</div>
                    </div>
                    <div class="govuk-task-list__status govuk-task-list__status--cannot-start-yet" id="application-2-status">
                    Cannot start yet
                    </div>
                </li>

                {# <li class="govuk-task-list__item">
                    <div class="govuk-task-list__name-and-hint">
                    <div>Check your details</div>
                    </div>
                    <div class="govuk-task-list__status govuk-task-list__status--cannot-start-yet" id="application-3-status">
                    Cannot start yet
                    </div>
                </li>

                <li class="govuk-task-list__item">
                    <div class="govuk-task-list__name-and-hint">
                    <div>Submit application</div>
                    </div>
                    <div class="govuk-task-list__status govuk-task-list__status--cannot-start-yet" id="application-4-status">
                    Cannot start yet
                    </div>
                </li> #}
                
                </ul>
            </li>
            <li>

            <!-- Agreement Scenario 1 -->
            <h2 class="govuk-prototype-kit-task-list__section">
            <span class="govuk-prototype-kit-task-list__section-number">3. </span> Submit your application
            </h2>
            <p>You must submit your full application by 11.59pm on <strong>3 January 2026</strong></p>

            <ul class="govuk-task-list">
            <li class="govuk-task-list__item">
                <div class="govuk-task-list__name-and-hint">
                <div>Submit your application</div>
                </div>
                <div class="govuk-task-list__status govuk-task-list__status--cannot-start-yet" id="agreement-1-status">
                Cannot start yet
                </div>
            </li>

            {# <li class="govuk-task-list__item">
                <div class="govuk-task-list__name-and-hint">
                <div>Read terms and conditions</div>
                </div>
                <div class="govuk-task-list__status govuk-task-list__status--cannot-start-yet" id="agreement-2-status">
                Cannot start yet
                </div>
            </li>

            <li class="govuk-task-list__item">
                <div class="govuk-task-list__name-and-hint">
                <div>Sign and accept agreement</div>
                </div>
                <div class="govuk-task-list__status govuk-task-list__status--cannot-start-yet" id="agreement-3-status">
                Cannot start yet
                </div>
            </li> #}

            </ul>
        </li>
        <li>

   </li>
</ol>
    
    
    <br>
        <p class="govuk-body withdraw-link"><a href="../../../_common/not-testing">Withdraw grant application</a></p>
    <br>
    <hr>
          
          
           <div class="app-contact-panel">
                <h2 class="govuk-heading-m app-contact-panel__heading">Need help?</h2>

                <p class="govuk-body app-contact-panel__body">
                    <a class="govuk-link" href="../../change-request/help-triage">Contact the team</a> if you need help, want to report a problem or want to make a change to your Grant Funding Agreement.
                </p>
            </div>
        </div>

</div>

{% endblock %}