{% extends "layout.html" %}

{% block pageTitle %}
  Score results
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems  .'
  }) }}

  <a class="govuk-back-link" href="{{ backUrl }}">Back</a>
{% endblock %}
{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

<h1 class="govuk-heading-l">Your results</h1>
<p class="govuk-!-font-size-19">Based on your answers, your project is:</p>

    <div class="govuk-inset-text">
      <h2 class="govuk-heading-m">Eligible to apply</h2>
    </div>
    <p class="govuk-body">RPA wants to fund projects that have a higher environmental impact.<br><br>
      We will do this by inviting applicants with projects near protected sites to submit a full application.<br><br>
      Depending on the number of applications received, we may invite projects outside protected sites to submit a full application.</p>
    
  <div class="govuk-warning-text">
<span class="govuk-warning-text__icon" aria-hidden="true">!</span>
<strong class="govuk-warning-text__text">
<span class="govuk-warning-text__assistive">Warning</span>
The likelihood of a full application being successful will also depend on the number and value of applications we receive.
</strong>
</div>
<h2 class="govuk-heading-m">Next steps</h2>
<p class="govuk-body">Next, add your business and contact details and submit them to the RPA (you should only do this once).</p>
<p>You’ll get an email with your score and answers, and a reference number.</p>
<br/><br/>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form class="form" action="{{ nextUrl }}" method="post">
          <button class="govuk-button govuk-!-margin-right-1 govuk-!-padding-left-4 govuk-!-padding-right-4" data-module="govuk-button">
            Continue
          </button>
        </form>

       </div>
    </div>

{% endblock %}
