{% extends "layout.html" %}

{% block pageTitle %}
What type of cover will you have?
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems  .'
  }) }}

  <a class="govuk-back-link" href="{{ backUrl }}">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <form id="mainForm" class="form" action="{{ nextUrl }}" method="post">

              {{ govukRadios({
                  idPrefix: 'covertype',
                  name: 'covertype',
                  fieldset: {
                      legend: {
                          text: 'What type of cover will you have?',
                          isPageHeading: yes,
                          classes: 'govuk-fieldset__legend--l'
                      }
                  },
                  hint: {
                    text: "Select one option"
                  },

                  items: [
                {
                  value: "Fixed cover or lid",
                  text: "Fixed cover or lid",
                  checked: checked("covertype", "Fixed cover or lid"),
                  hint: {
                    text: "Item cost: £1,000"
                  }
                },
                {
                  value: "Fixed-floating plastic membrane",
                  text: "Fixed-floating plastic membrane",
                  checked: checked("covertype", "Fixed-floating plastic membrane"),
                  hint: {
                    text: "Item cost: £2,100"
                  }
                },
                {
                  value: "Free-floating plastic cover",
                  text: "Free-floating plastic cover",
                  checked: checked("covertype", "Free-floating plastic cover"),
                  hint: {
                    text: "Item cost: £3,250"
                  }
                }


              ]
              }) }}

          <p>  <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">Continue</button></p>


      </form>
    </div>
    <div class="govuk-grid-column-one-third">

      <div class="app-step-nav-related app-step-nav-related--singular">
        <h2 class="app-step-nav-related__heading">
          <span class="app-step-nav-related__pretitle">Storage selected</span>
          </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16 govuk-list--bullet">
            <li>
              Current storage: {{ data['current-capacity'] }}m<sup>3</sup>
            </li>
            <li>
              Future storage: {{ data['future-capacity'] }}m<sup>3</sup>
            </li>
          </ul>
        </nav>
        </div>
        <div>
          <h2 class="app-step-nav-related__heading">
            <span class="app-step-nav-related__pretitle">Type of store selected</span>
            </h2>
          <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="govuk-list govuk-!-font-size-16 govuk-list--bullet">
              <li>
                {{ data['storetype'] }}
              </li>

            </ul>

          </nav>
          </div>
          

      </div>

{% endblock %}
