{% extends "layout.html" %}

{% block pageTitle %}
What type of cover will you have?
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems  .'
  }) }}

  <a class="govuk-back-link" href="{{ backUrl }}">Back</a>
{% endblock %}

{% block content %}

    {% if (data['coverexistingstores'] == "No") %}
      {% if (data['covers'] == "Yes") %}




      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <form id="mainForm" class="form" action="{{ nextUrl }}" method="post">



              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="covertype-hint">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">

                    <h1 class="govuk-fieldset__heading">
                      What type of cover will you have on your grant-funded store?
                    </h1>


                  </legend>
                  <div id="covertype-hint" class="govuk-hint">
                    Select one option
                  </div>
                  <div class="govuk-radios" data-module="govuk-radios">

                    {% for item, properties in coverTypeCost %}
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input"
                          name="covertype" type="radio" value="{{item}}"
                          aria-describedby="covertype-item-hint"
                          {{ checked("covertype", item) }}
                        >
                        <label class="govuk-label govuk-radios__label">
                        {{properties.text}}
                        </label>
                        <div class="govuk-hint govuk-radios__hint">
                          {{properties.hint | safe}}
                          <br>({{properties.hint2 | safe}})
                        </div>

                      </div>
                    {% endfor %}


                  </div>

                </fieldset>
              </div>
              <p>  <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">Continue</button></p>


            </form>
          </div>
          <div class="govuk-grid-column-one-third">

            <div class="app-step-nav-related app-step-nav-related--singular">
              <h1 class="app-step-nav-related__heading">
                <span class="govuk-heading-m">Your project items</span>
                </h1>

              {% if data['storetype'] %}
              <div>
                <h2 class="app-step-nav-related__heading">
                  <span class="app-step-nav-related__pretitle">Grant-funded store</span>
                  </h2>
                <nav role="navigation" aria-labelledby="subsection-title">
                  <ul class="govuk-list govuk-!-font-size-16 govuk-list--bullet">
                    <li>
                      {% set storeType = data['storetype'] %}
                      {{ storeTypeCost[storeType].text }}
                    </li>
                    <li>
                      Increase:  {{ data['current-capacity2'] | toFixed(2) | commafy }}m<sup>3</sup>
                    </li>

                  </ul>
                </nav>
                </div>
                {% endif %}




                {% else %}


                <div class="govuk-grid-row">
                  <div class="govuk-grid-column-two-thirds">
                    <div class="govuk-body govuk-!-font-size-48">
                      <h1 class="govuk-heading-l">
                          Separator
                        </h1>

                        <p>Some detail about the separator item.</p>

                        <form class="form" action="project-items" method="post">
                          <button class="govuk-button" data-module="govuk-button">Continue</button>
                        </form>

                      </div>
                    </div>
                  </div>
                  {% endif %}

    {% else %}




<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if (data['covers'] != "Yes")  %}
      <form id="mainForm" class="form" action="cover-size" method="post">

        {% elseif (data['existingfitpurpose'] == "No") %}
        <form id="mainForm" class="form" action="cover-size" method="post">
          {% else %}
    <form id="mainForm" class="form" action="{{ nextUrl }}" method="post">
      {% endif %}
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="covertype-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                {% if (data['covers'] == "Yes") %}
              <h1 class="govuk-fieldset__heading">
                What type of cover will you have on your grant-funded store?
              </h1>
              {% else %}
            <h1 class="govuk-fieldset__heading">
              What type of cover will you have on your existing store?
            </h1>
              {% endif %}


            </legend>
            <div id="covertype-hint" class="govuk-hint">
              Select one option
            </div>
            <div class="govuk-radios" data-module="govuk-radios">

              {% for item, properties in coverTypeCost %}
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input"
                    name="covertype" type="radio" value="{{item}}"
                    aria-describedby="covertype-item-hint"
                    {{ checked("covertype", item) }}
                  >
                  <label class="govuk-label govuk-radios__label">
                  {{properties.text}}
                  </label>
                  <div class="govuk-hint govuk-radios__hint">
                    {{properties.hint | safe}}
                    <br>({{properties.hint2 | safe}})
                  </div>

                </div>
              {% endfor %}


            </div>

          </fieldset>
        </div>
        <p>  <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">Continue</button></p>


      </form>
    </div>
    <div class="govuk-grid-column-one-third">

      <div class="app-step-nav-related app-step-nav-related--singular">
        <h1 class="app-step-nav-related__heading">
          <span class="govuk-heading-m">Your project items</span>
          </h1>

        {% if data['storetype'] %}
        <div>


          <h2 class="app-step-nav-related__heading">
            <span class="app-step-nav-related__pretitle">Grant-funded store</span>
            </h2>
          <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="govuk-list govuk-!-font-size-16 govuk-list--bullet">
              <li>
                {% set storeType = data['storetype'] %}
                {{ storeTypeCost[storeType].text }}
              </li>
              <li>
                Increase:  {{ data['current-capacity2'] | toFixed(2) | commafy }}m<sup>3</sup>
              </li>

            </ul>
          </nav>
          </div>
          {% endif %}


  {% endif %}

      </div>

{% endblock %}
