{% extends "layout.html" %}

{% block pageTitle %}
  Score results
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems.'
  }) }}

  <a class="govuk-back-link" href="{{ backUrl }}">Back</a>
{% endblock %}
{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

<h1 class="govuk-heading-l">Evidence summary</h1>

      <h1 class="govuk-heading-l">Your answers</h1>
      <table class="govuk-table govuk-body govuk-!-font-size-16">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Answers</th>
            <th scope="col" class="govuk-table__header">Score</th>

            <th scope="col" class="govuk-table__header">Change</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">


          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Within 1km of air quality protected site
            <br/><br/><ul class="govuk-!-font-size-16 govuk-list govuk-list--bullet govuk-!-margin-right-9">
              {% for item in data['airquality'] %}
              <li>{{ item | capitalize }}</li>
              {% endfor %}
              </ul>
            </th>
            <td class="govuk-table__cell">Average</td>

            <td class="govuk-table__cell"><a href="air-quality">Change</td>
          </tr>

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Within 1km of water quality protected site
              <br/><br/><ul class="govuk-!-font-size-16 govuk-list govuk-list--bullet govuk-!-margin-right-9">
              {% for item in data['waterquality'] %}
              <li>{{ item | capitalize }}</li>
              {% endfor %}
              </ul>
            </th>
            <td class="govuk-table__cell">Average</td>

            <td class="govuk-table__cell"><a href="water-quality">Change</td>
          </tr>

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Planning permission
              <br/><br/><ul class="govuk-!-font-size-16 govuk-list govuk-list--bullet govuk-!-margin-right-9">
              <li>  {{data['planning-permission'] | capitalize}}</li>
               </ul>
            </th>
            <td class="govuk-table__cell">Strong</td>

            <td class="govuk-table__cell"><a href="planning-permission">Change</td>
          </tr>

        </tbody>
      </table>



<br/><br/>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form class="form" action="{{ nextUrl }}" method="post">
          <button class="govuk-button govuk-!-margin-right-1 govuk-!-padding-left-4 govuk-!-padding-right-4" data-module="govuk-button">
            Continue
          </button>
        </form>

       </div>
    </div>

{% endblock %}
