{% extends "layout.html" %}

{% block pageTitle %}
  Score results
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems  .'
  }) }}

  <a class="govuk-back-link" href="os-grid">Back</a>
{% endblock %}
{% block content %}



    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">

        <h1 class="govuk-heading-l">Check your answers before getting your results</h1>

        <h2 class="govuk-heading-m">Your evidence details</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Planning permission
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['planning-permission'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="planning-permission">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>

          {# Do not add extra rows about planning permission authority and reference - if not applied yet  #}
           {%if data ['planning-permission'] == 'Not yet applied' %}

           <div class="govuk-summary-list__row">
             <dt class="govuk-summary-list__key">
               OS grid reference
             </dt>
             <dd class="govuk-summary-list__value">
               {{ data['os-grid'] }}
             </dd>
             <dd class="govuk-summary-list__actions">
               <a class="govuk-link" href="os-grid">
                 Change<span class="govuk-visually-hidden"> address</span>
               </a>
             </dd>
           </div>
           {% else %}

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Planning authority
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['planning-authority'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="planning-list">
                Change<span class="govuk-visually-hidden"> date of birth</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Planning reference
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['planning-refnumber'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="planning-list">
                Change<span class="govuk-visually-hidden"></span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              OS grid reference
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['os-grid'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="os-grid">
                Change<span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
          </div>
{% endif %}

        </div>
       </div>




       <div class="govuk-grid-row">
         <div class="govuk-grid-column-two-thirds-from-desktop">

        <form class="form" action="answers" method="post">
          <button class="govuk-button govuk-!-margin-right-1 govuk-!-padding-left-4 govuk-!-padding-right-4" data-module="govuk-button">
            Get your results
          </button>
        </form>

       </div>
    </div>

{% endblock %}
