{% extends "layout.html" %}

{% block pageTitle %}
Cover for existing stores (Cow and Dairy)
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems  .'
  }) }}

  <a class="govuk-back-link" href="cover-existing-stores">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">



      <form id="mainForm" class="form" action="{{ nextUrl }}" method="post">

              {{ govukRadios({
                  classes: "govuk-radios--inline",
                  idPrefix: 'existingfitpurpose',
                  name: 'existingfitpurpose',
                  fieldset: {
                      legend: {
                          text: 'Is your existing store fit for purpose?',
                          isPageHeading: true,
                          classes: 'govuk-fieldset__legend--l'
                      }
                  },

                  hint: {
                    text: "Your existing store must be signed off by a structural engineer by full application. The cost of hiring an engineer will be included in grant funding."
                    },

                  items: [
                {
                  value: "Yes",
                  text: "Yes",
                  checked: checked("existingfitpurpose", "Yes")
                },
                {
                  value: "No",
                  text: "No",
                  checked: checked("existingfitpurpose", "No")
                }
              ]
              }) }}

          <p>  <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">Continue</button></p>



      </form>
    </div>


      <div class="govuk-grid-column-one-third">

        <div class="app-step-nav-related app-step-nav-related--singular">
          <h2 class="app-step-nav-related__heading">
            <span class="app-step-nav-related__pretitle">Eligibility</span>
            </h2>
            <p>A store is no longer fit for purpose if it has reached the end of its design life and may be sat risk of leaks or failure.


        </div>
      </div>

{% endblock %}
