{% extends "layout.html" %}

{% block pageTitle %}
Existing size storage
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems  .'
  }) }}

  <a class="govuk-back-link" href="{{ backUrl }}">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <form id="mainForm" class="form" action="{{ nextUrl }}" method="post">

        {% set numberMonths %}
        {{ govukInput({
          id: "number-months",
          name: "number-months",
          type: "months",
          autocomplete: "months",
          spellcheck: false,
          classes: "govuk-input--width-2",
          suffix: {
            text: "month(s)"
            },
          label: {
            text: "Enter number of months"
          }
        }) }}
        {% endset -%}

              {{ govukRadios({
                  idPrefix: 'existing-size-storage',
                  name: 'existing-size-storage',
                  fieldset: {
                      legend: {
                          text: 'How many months’ slurry storage capacity do you have?',
                          isPageHeading: yes,
                          classes: 'govuk-fieldset__legend--l'
                      }
                  },

                  hint: {
                    text: "Based on your current animal numbers"
                  },

                  items: [
                {
                  value: "Less than 6 months",
                  text: "Less than 6 months",
                  conditional: {
                  html:numberMonths
                },
                checked: checked("existing-size-storage", "Less than 6 months")
                },
                {
                  value: "Up to 6 months but it is no longer serviceable",
                  text: "Up to 6 months but it is no longer serviceable",
                  conditional: {
                  html:numberMonths
                },
                  checked: checked("existing-size-storage", "Up to 6 months but it is no longer serviceable")
                },
                {
                  value: "At least 6 months",
                  text: "6 months or more",
                  checked: checked("existing-size-storage", "At least 6 months")
                }
              ]
              }) }}

          <p>  <br/><button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">Continue</button></p>


      </form>
    </div>
    <div class="govuk-grid-column-one-third">

      <div class="app-step-nav-related app-step-nav-related--singular">
        <h2 class="app-step-nav-related__heading">
          <span class="app-step-nav-related__pretitle">Eligibility</span>
          </h2>
          <p class="govuk-body">This grant is to: <br>
            <ul class="govuk-body">
              <li>expand current storage levels	to 	6 months</li>
              <li>make your storage serviceable if capacity is already 6 months or more</li>
            </ul>
            </p>
            <p class=govuk-body">A store may be non-serviceable because it was built before 1991 and was exempt from the Silage, Slurry and Agricultural Fuel Oil Regulations (SSAFO) requirements or because it has reached the end of its design life (for example, it may be susceptible to leaks or failure).
          </p>
     </div>
   </div>

{% endblock %}
