{% extends "layout.html" %}

{% block pageTitle %}
Item sizes and quantities
{% endblock %}



{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems.'
  }) }}
<a class="govuk-back-link" href="project-items">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <form id="mainForm" class="form" action="{{ nextUrl }}" method="post">
        <h2 class="govuk-heading-l">Item sizes and quantities</h2>
        <div id="item-sizes" class="govuk-body">
          Enter the approximate size and quantities your project needs
        </div>

        {% for item in data['projectitems'] %}
          {% if item in projectItemsCost %}
            {% set properties = projectItemsCost[item] %}

            {% set quantity %}quantity-{{item}}{% endset %}

            {% set measuring_unit %}

              {% if properties['measuringUnit'] == 'cubic' %}
                m<sup>3</sup>
              {% elif properties['measuringUnit'] == 'unit' %}
                items(s)
              {% else %}
                metre(s)
              {% endif %}

            {% endset %}

            <br>
            <div class="govuk-form-group">
              <h1 class="govuk-label-wrapper">
                <label class="govuk-label govuk-label--m">
                  {{properties.text}}
                </label>
              </h1>
              <div id="event-name-hint" class="govuk-hint">
                  {{properties.hint}}
              </div>
              <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" name="{{quantity}}" type="text" spellcheck="false"
                value="{{data[quantity]}}" {{ checked(quantity, quantity) }}>
                <div class="govuk-input__suffix" aria-hidden="true">{{measuring_unit | safe}}</div>
              </div>
            </div><br><br>

          {% endif %}
        {% endfor %}

        <br><br>
        <p> <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">Continue</button></p>
      </form>

  </div>


  <div class="govuk-grid-column-one-third">

    <div class="app-step-nav-related app-step-nav-related--singular">
      <h1 class="app-step-nav-related__heading">
        <span class="govuk-heading-m">Your project items</span>
        </h1>
        </div>

        {% if data['storetype'] %}
        <div>
          <h2 class="app-step-nav-related__heading">
            <span class="app-step-nav-related__pretitle">Store</span>
            </h2>
          <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="govuk-list govuk-!-font-size-16 govuk-list--bullet">
              <li>
                {% set storeType = data['storetype'] %}
                {{ storeTypeCost[storeType].text }}
              </li>
              <li>
                Increase:  {{ data['current-capacity'] | toFixed(2) | commafy}}m<sup>3</sup>
              </li>

            </ul>
          </nav>
          </div>
          {% endif %}


          {% if data['covertype'] %}
        <div>
          <h2 class="app-step-nav-related__heading">
            <span class="app-step-nav-related__pretitle">Cover</span>
            </h2>
          <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="govuk-list govuk-!-font-size-16 govuk-list--bullet">
              <li>
                {% set coverType = data['covertype'] %}
                {{ coverTypeCost[coverType].text }}
              </li>
              <li>
                Size: {{ data['cover-size'] | toFixed(2) | commafy}}m<sup>2</sup>
              </li>

            </ul>

          </nav>
          </div>
      {% endif %}


  </div>
</div>

{% endblock %}
