{% extends "layout.html" %}

{% block pageTitle %}
  Livestock numbers
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems  .'
  }) }}

  <a class="govuk-back-link" href="{{ backUrl }}">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form id="mainForm" class="form" action="{{ nextUrl }}" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Is the storage to accommodate an increase in livestock numbers? 
              </h1>
            </legend>

            <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="livestock-numbers" name="livestock-numbers" type="radio" value="yes" {{ checked("livestock-numbers", "yes") }}>
                <label class="govuk-label govuk-radios__label" for="livestock-numbers">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="livestock-numbers-2" name="livestock-numbers" type="radio" value="no" {{ checked("livestock-numbers", "no") }}>
                <label class="govuk-label govuk-radios__label" for="livestock-numbers-2">
                  No
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>


      </form>
    </div>
    <div class="govuk-grid-column-one-third">

      <div class="app-step-nav-related app-step-nav-related--singular">
        <h2 class="app-step-nav-related__heading">
          <span class="app-step-nav-related__pretitle">Eligibility</span>
          </h2>
          <p>Grants cannot be used to increase slurry storage capacity to accommodate an increase in livestock numbers.</p>
          <a href="#">
          </a>

      </div>



{% endblock %}
