{% extends "layout.html" %}

{% block pageTitle %}
Os grid
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems  .'
  }) }}

  <a class="govuk-back-link" href="/slurrystorage">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <form id="mainForm" class="form" action="{{ nextUrl }}" method="post">
        <h2 class="govuk-heading-l">What is the OS grid reference for your slurry store?</h2>
        <div id="os-grid-hint" class="govuk-hint">You can find your slurry store's OS grid reference using the <a href="https://gridreferencefinder.com/" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank">UK grid reference finder (opens in new tab)</a></div>
        <div id="os-grid-hint" >
          <p class="govuk-hint">On the OS grid reference finder page:</p>
          <ol class="govuk-list govuk-list--number govuk-hint ">
            <li>Enter the postcode of your location into the postcode box.</li>
            <li>Select 'Go'.</li>
            <li>Find the location of your slurry store on the map. You can select and drag the map to move the location.</li>
            <li>Right-click on the location of your slurry store. This will bring up a list of information. The grid reference is shown at the top.</li>
            <li>Select the grid reference (2 letters and 10 numbers) to highlight it, right-click on the grid reference and select 'Copy'.</li>
            <li>Return to the Slurry Infrastructure Grant checker screen.</li>
            <li>Right-click on the OS grid reference box.</li>
            <li>Paste it in the format of 2 letters and 10 numbers, for example SP9620733594</li>
          </ol>
          <p class="govuk-hint"></p>
        </div>

        {{ govukInput({

          label: {
            text: "OS grid reference"
          },
            classes: "govuk-input--width-10",
            id: "os-grid",
            name: "os-grid",
            value: data['os-grid']
          }) }}



        {{ govukWarningText({
          text: "You must provide the correct location of your slurry store to avoid delays at full application.",
          iconFallbackText: "Warning"
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

        {% if data['COMPLETED'] == true %}
          <button onclick="document.getElementById('mainForm').action='{{ completedUrl }}'"
            class="govuk-button govuk-button--secondary govuk-!-margin-right-1" data-module="govuk-button">Back to evidence summary
          </button>
        {% endif %}
      </form>

    </div>
   </div>

{% endblock %}
