{% extends "layout.html" %}

{% block pageTitle %}
Planning list
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems  .'
  }) }}

  <a class="govuk-back-link" href="{{backUrl}}">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <form id="mainForm" class="form" action="{{ nextUrl }}" method="post">
        <h2 class="govuk-heading-l">Your planning permission</h2>
        <p class="govuk-hint"> Enter the name of your planning authority and your planning reference number</p>

        {{ govukInput({
          label: {
            text: "Planning authority"
          },
          classes: "govuk-input--width-20",
          id: "planning-authority",
          name: "planning-authority",
          value: data['planning-authority']
        }) }}

        {{ govukInput({
          label: {
            text: "Planning reference number"
          },
          classes: "govuk-input--width-20",
          id: "planning-refnumber",
          name: "planning-refnumber",
          value: data['planning-refnumber']
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
        {% if data['COMPLETED'] == true %}
          <button onclick="document.getElementById('mainForm').action='{{ completedUrl }}'"
            class="govuk-button govuk-button--secondary govuk-!-margin-right-1" data-module="govuk-button">Back to evidence summary
          </button>
        {% endif %}
      </form>
    </div>
   </div>

{% endblock %}
