{% extends "layout.html" %}


{% block pageTitle %}
Potential grant funding
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems  .'
  }) }}
<a class="govuk-back-link" href="{{ backUrl }}">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Potential grant funding
    </h1>

    <p class="govuk-body">Based on the standardised costs for each item and the approximate size and quantities you entered, we estimate you could be eligible for a grant of  £{{ 1250000| toFixed(2) | commafy  }}.</p>




    {{ govukWarningText({
        text: 'There’s no guarantee the project will receive a grant.',
        iconFallbackText: 'Warning'
    }) }}

    <form id="mainForm" class="form" action="{{ nextUrl }}" method="post">

      <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">Continue</button>



    </form>


  </div>
</div>

{% endblock %}
