{% extends "layout.html" %}

{% block pageTitle %}
Project summary
{% endblock %}



{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems.'
  }) }}
<a class="govuk-back-link" href="item-sizes-quantities">Back</a>
{% endblock %}

{% block content %}

{% set grantsTotal = 0 %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <form id="mainForm" class="form" action="{{ nextUrl }}" method="post">
        <h2 class="govuk-heading-l">Your project items</h2>
        <p class="govuk-body">We have calculated the estimated total grant amount based on the standardised costs for each item and the approximate size and quantities you entered.
</p>



<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">Breakdown of funding</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Item</th>
      <th scope="col" class="govuk-table__header">Grant amount per unit</th>
      <th scope="col" class="govuk-table__header">Quantity</th>
      <th scope="col" class="govuk-table__header">Total</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    {% if data['storetype'] %}
    {% set storeType = data['storetype'] %}

    {% set grantsTotal = grantsTotal + (storeTypeCost[storeType].value | int) %}
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">{{ storeTypeCost[storeType].text }}</th>
        <td class="govuk-table__cell">{{storeTypeCost[storeType].formattedValue}}</td>
        <td class="govuk-table__cell">1</td>
        <td class="govuk-table__cell">{{storeTypeCost[storeType].formattedValue}}</td>
      </tr>
    {% endif %}

    {% if data['covertype'] %}
    {% set coverType = data['covertype'] %}

    {% set grantsTotal = grantsTotal + (coverTypeCost[coverType].value | int) %}
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">{{ coverTypeCost[coverType].text }} </th>
      <td class="govuk-table__cell">{{coverTypeCost[coverType].formattedValue}}</td>
      <td class="govuk-table__cell">1</td>
      <td class="govuk-table__cell">{{coverTypeCost[coverType].formattedValue}}</td>
    </tr>
    {% endif %}

    {% for item in data['projectitems'] %}
      {% if item in projectItemsCost %}

      {% set quantity %}quantity-{{item}}{% endset %}

      {% set thisItemCost = projectItemsCost[item] %}

      {% set thisTotal = thisItemCost.value * (data[quantity] | int)  %}

      {% set grantsTotal = grantsTotal + thisTotal %}
      
      <tr class="govuk-table__row"></tr>
        <th scope="row" class="govuk-table__header">{{thisItemCost.text}}</th>
        <td class="govuk-table__cell">{{thisItemCost.formattedValue}}</td>
        <td class="govuk-table__cell">{{data[quantity] | int}}</td>
        <td class="govuk-table__cell">{{thisTotal}}</td>
      </tr>
      {% endif %}
    {% endfor %}


    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__footer"> Total grant amount</th>


      <td></td>
      <td></td>
      <td class="govuk-table__cell"><strong>{{grantsTotal}}</strong></td>
    </tr>
  </tbody>
</table>


<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    This grant is to get your serviceable storage levels to 6 months.<br>
  For example, if you have 4 months' storage, we will fund another 2 months.<br><br>
  Any capacity above 6 months is not covered by the grant.
  </strong>
</div>




      <br>  <p> <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">Continue</button>
        <button onclick="document.getElementById('mainForm').action='{{ completedUrl }}'"
         class="govuk-button govuk-button--secondary" data-module="govuk-button">Change your items
       </button></p>

      </form>
  </div>





      </div>


{% endblock %}
