{% extends "layout.html" %}

{% block pageTitle %}

{% endblock %}

{% block header %}
<!-- Blank header with no service name for the start page -->

{{ govukHeader() }}

{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems  .'
  }) }}
<a class="govuk-back-link" href="project-items">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <form id="mainForm" class="form" action="{{ nextUrl }}" method="post">
        <h2 class="govuk-heading-l">Your project items</h2>
        <p class="govuk-body">We have calculated your total grant amount based on your answers provided <br>
</p>



<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">Breakdown of funding</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Item description</th>
      <th scope="col" class="govuk-table__header">Grant amount (£)</th>
      <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Quantity</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">{{ data['storetype'] }}
      <td class="govuk-table__cell">£9,000</td>
      <td class="govuk-table__cell">1</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">{{ data['covertype'] }} </th>
      <td class="govuk-table__cell">£1,000</td>
      <td class="govuk-table__cell">1</td>
    </tr>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"> Agitator</th>
      <td class="govuk-table__cell">£1,000</td>
      <td class="govuk-table__cell">
        <select class="govuk-select" id="sort" name="sort">
            <option value="published">0</option>
            <option value="updated" selected>1</option>
            <option value="views">2</option>
            <option value="comments">3</option>
          </select>
        </td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"> Reception tanks and pits</th>
      <td class="govuk-table__cell">£3,250</td>
      <td class="govuk-table__cell">
        <select class="govuk-select" id="sort" name="sort">
            <option value="published">0</option>
            <option value="updated" selected>1</option>
            <option value="views">2</option>
            <option value="comments">3</option>
          </select>

      </td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__footer"> Total requested grant amount</th>
      <td class="govuk-table__cell"><strong>£14,250</strong></td>
      <td class="govuk-table__cell"></td>
    </tr>
  </tbody>
</table>


<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
  Items may cost more than the standardised cost. At full application stage, you can choose between a grant of 50% of the standardised cost of an item or submitting three quotes.
  </strong>
</div>




      <br>  <p> <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">Continue</button>
        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
    Change your items
  </button></p>

      </form>
  </div>





      </div>


{% endblock %}
