{% extends "layout.html" %}

{% block pageTitle %}
  Project responsibility
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems  .'
  }) }}
  <a class="govuk-back-link" href="tenancy">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form id="mainForm" class="form" action="system-type" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Will you take full responsibility for the 5-year project agreement?              </h1>
            </legend>
            <div id="tenancy-length-hint" class="govuk-hint">
              To receive grant funding, you will need to fulfil a 5-year agreement.<br><br>

              If you are unable to fulfil the agreement, you can agree with your landlord to underwrite it and take responsibility. For example, you could choose this option if you are on a short tenancy agreement.    </div>
            <div class="govuk-radios govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="tenancy-length" name="tenancy-length" type="radio" value="Yes" {{ checked("tenancy-length", "Yes, I intend to take full responsibility for the project") }}>
                <label class="govuk-label govuk-radios__label" for="tenancy-length">
                  Yes, I intend to take full responsibility for the project
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="tenancy-length-2" name="tenancy-length" type="radio" value="No" {{ checked("tenancy-length", "No, I have confirmed with my landlord that they will underwrite my agreement") }}>
                <label class="govuk-label govuk-radios__label" for="tenancy-length-2">
                  No, I have confirmed with my landlord that they will underwrite my agreement
                </label>
              </div>
            </div>
          </fieldset>
        </div>
        <br>
        <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">Continue</button>


      </form>
    </div>
    <div class="govuk-grid-column-one-third">



      </div>
    </div>
{% endblock %}
