{% extends "layout.html" %}

{% block pageTitle %}
What type of cover will you have?
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems  .'
  }) }}

  <a class="govuk-back-link" href="{{ backUrl }}">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <form id="mainForm" class="form" action="{{ nextUrl }}" method="post">

              {{ govukCheckboxes({
                  idPrefix: 'projectitems',
                  name: 'projectitems',
                  fieldset: {
                      legend: {
                          text: 'What other items do you need?',
                          isPageHeading: yes,
                          classes: 'govuk-fieldset__legend--l'
                      }
                  },
                  hint: {
                    text: "Select all the items your project needs"
                  },

                  items: [
                {
                  value: "Agitator",
                  text: "Agitator",
                  checked: checked("projectitems", "Agitator"),
                  hint: {
                    text: "Item cost: £1,000"
                  }
                },
                {
                  value: "Under-floor storage and transfer channels",
                  text: "Under-floor storage and transfer channels",
                  checked: checked("projectitems", "Under-floor storage and transfer channels"),
                  hint: {
                    text: "Item cost: £2,100"
                  }
                },
                {
                  value: "Reception tanks/pits",
                  text: "Reception tanks/pits",
                  checked: checked("projectitems", "Reception tanks/pits"),
                  hint: {
                    text: "Item cost: £3,250"
                  }
                },
                {
                  value: "Ladders and platforms",
                  text: "Ladders and platforms",
                  checked: checked("projectitems", "Ladders and platforms"),
                  hint: {
                    text: "Item cost: £4,550"
                  }
                },
                {
                  value: "Agitator platform",
                  text: "Agitator platform",
                  checked: checked("projectitems", "Agitator platform"),
                  hint: {
                    text: "Item cost: £3,190"
                  }
                },
                {
                  value: "Health and safety features",
                  text: "Health and safety features",
                  checked: checked("projectitems", "Health and safety features"),
                  hint: {
                    html: "For example, gas monitor, tyre ladders<br>Item cost: £2,440"
                  }
                },
                {
                  divider: "or"
                },

                {
                  value: "None of the above",
                  text: "None of the above",
                  checked: checked("projectitems", "None of the above"),
                  behaviour: "exclusive"
                }
              ]
              }) }}

          <p>  <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">Continue</button></p>


      </form>
    </div>
    <div class="govuk-grid-column-one-third">

      <div class="app-step-nav-related app-step-nav-related--singular">
        <h1 class="app-step-nav-related__heading">
          <span class="govuk-heading-m">Your project items</span>
          </h1>
        <h2 class="app-step-nav-related__heading">
          <span class="app-step-nav-related__pretitle">Storage</span>
          </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16 govuk-list--bullet">
            <li>
              Current storage: {{ data['current-capacity'] }}m<sup>3</sup>
            </li>
            <li>
              Future storage: {{ data['future-capacity'] }}m<sup>3</sup>
            </li>
          </ul>
        </nav>
        </div>
        <div>
          <h2 class="app-step-nav-related__heading">
            <span class="app-step-nav-related__pretitle">Store type</span>
            </h2>
          <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="govuk-list govuk-!-font-size-16 govuk-list--bullet">
              <li>
                {{ data['storetype'] }}
              </li>

            </ul>

          </nav>
          </div>
          <div>
            <h2 class="app-step-nav-related__heading">
              <span class="app-step-nav-related__pretitle">Cover type</span>
              </h2>
            <nav role="navigation" aria-labelledby="subsection-title">
              <ul class="govuk-list govuk-!-font-size-16 govuk-list--bullet">
                <li>
                  {{ data['covertype'] }}
                </li>

              </ul>

            </nav>
            </div>
            <div>
              <h2 class="app-step-nav-related__heading">
                <span class="app-step-nav-related__pretitle">Cover size</span>
                </h2>
              <nav role="navigation" aria-labelledby="subsection-title">
                <ul class="govuk-list govuk-!-font-size-16 govuk-list--bullet">
                  <li>
                    {{ data['cover-size'] }} m<sup>2</sup>
                  </li>

                </ul>

              </nav>
              </div>

      </div>

{% endblock %}
