{% extends "layout.html" %}

{% block pageTitle %}
Separator options
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems  .'
  }) }}

  <a class="govuk-back-link" href="separator">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <form id="mainForm" class="form" action="gantry" method="post">

              {{ govukRadios({
                  idPrefix: 'separatorOpt',
                  name: 'separatorOpt',
                  fieldset: {
                      legend: {
                          text: 'What type of slurry separator will you have?',
                          isPageHeading: yes,
                          classes: 'govuk-fieldset__legend--l'
                      }
                  },

                  hint: {
                    html: "Capable of processing at least 3m<sup>3</sup> of slurry per hour and producing at least 25% dry matter."
                  },

                  items: [
                {
                  value: "Screen press 3",
                  html: "Screen press",
                  hint: {
                  text: "(Grant amount: £21,234 per unit)"
                },
                  checked: checked("separatorOpt", "Screen press 3")
                },

                {
                  value: "Screw press 3",
                  html: "Screw press",
                  hint: {
                  text: "(Grant amount: £22,350 per unit)"
                },


                  checked: checked("separatorOpt", "Screw press 10")
                }


              ]
              }) }}



          <p>  <br/><button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">Continue</button></p>


      </form>
    </div>
    <div class="govuk-grid-column-one-third">

      <div class="app-step-nav-related app-step-nav-related--singular">
        <h1 class="app-step-nav-related__heading">
          <span class="govuk-heading-m">Your project items</span>
          </h1>


          {% if data['storetype'] %}
          <div>
            <h2 class="app-step-nav-related__heading">
              <span class="app-step-nav-related__pretitle">Grant-funded store</span>
              </h2>
            <nav role="navigation" aria-labelledby="subsection-title">
              <ul class="govuk-list govuk-!-font-size-16 govuk-list--bullet">
                <li>
                  {% set storeType = data['storetype'] %}
                  {{ storeTypeCost[storeType].text }}
                </li>
                <li>
                  Increase:  {{ data['current-capacity2'] | toFixed(2) | commafy }}m<sup>3</sup>
                </li>

              </ul>
            </nav>
            </div>
            {% endif %}


            {% if data['covertype'] %}
          <div>
              {% if (data['applyingfor'] == "Cover") %}
            <h2 class="app-step-nav-related__heading">
              <span class="app-step-nav-related__pretitle">Existing store cover</span>
              </h2>
              {% else %}
              <h2 class="app-step-nav-related__heading">
                <span class="app-step-nav-related__pretitle">Grant-funded cover</span>
                </h2>
{% endif %}
            <nav role="navigation" aria-labelledby="subsection-title">
              <ul class="govuk-list govuk-!-font-size-16 govuk-list--bullet">
                <li>
                  {% set coverType = data['covertype'] %}
                  {{ coverTypeCost[coverType].text }}
                </li>

              </ul>

            </nav>
            </div>
 {% endif %}

      </div>
   </div>

{% endblock %}
