{% extends 'layinghens/current/views/layouts/layout.html' %}

{% set poultryType = 'hen' %}
{% if data['poultry-type'] %}
    {% set poultryType = data['poultry-type'] %}
{% endif %}

{% block pageTitle %}
    Will the {{ poultryType }} housing have a continuous concrete apron around its perimeter?
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form method="post">

            {{ govukRadios ({
                idPrefix: 'concrete-apron',
                name: 'concrete-apron',
                classes: 'govuk-radios--inline',
                fieldset: {
                    legend: {
                        text: 'Will the ' + poultryType + ' housing have a continuous concrete apron around its perimeter?',
                        isPageHeading: true,
                        classes: 'govuk-fieldset__legend--l'
                    }
                },
                hint: {
                    text: 'This must include any veranda areas if there is no adjacent range, for example barn systems'
                },
                items: [
                    {
                        text: 'Yes',
                        value: 'Yes',
                        checked: true if data['concrete-apron'] == 'Yes',
                        attributes: {
                                'data-next': 'vehicle-washing-area'
                            }
                    },
                     {
                        text: 'No',
                        value: 'No',
                        checked: true if data['concrete-apron'] == 'No',
                        attributes: {
                                'data-next': 'elim-concrete-apron'
                            }
                    }
                ]
            }) }}

                {{ govukButton ({
                    html: 'Continue'
                }) }}

            </form>

        </div>

        <div class="govuk-grid-column-one-third">

            <div class="app-step-nav-related app-step-nav-related--singular">
                <h2 class="app-step-nav-related__heading">
                <span class="app-step-nav-related__pretitle">Eligibility</span>
                </h2>
                <p>The {{ poultryType }} housing and any barn system veranda areas must be surrounded by a continuous concrete apron (a hardstanding concrete area).</p>
            </div>

        </div>

</div>

{% endblock %}