#footer .footer-categories:after,.grid-row:after,#global-header .header-wrapper .header-global .site-search:after,#global-header form#search .content:after {
    content: "";
    display: block;
    clear: both
}

#user-satisfaction-survey .survey-wrapper,.global-bar .global-bar-message-container,.govuk-emergency-banner div,#wrapper {
    max-width: 960px;
    margin: 0 15px
}

@media (min-width: 641px) {
    #user-satisfaction-survey .survey-wrapper,.global-bar .global-bar-message-container,.govuk-emergency-banner div,#wrapper {
        margin:0 30px
    }
}

@media (min-width: 1020px) {
    #user-satisfaction-survey .survey-wrapper,.global-bar .global-bar-message-container,.govuk-emergency-banner div,#wrapper {
        margin:0 auto
    }
}

#footer .footer-categories,.grid-row {
    margin: 0 -15px
}

#footer .footer-categories:after,.grid-row:after,#global-header .header-wrapper .header-global .site-search:after,#global-header form#search .content:after {
    content: "";
    display: block;
    clear: both
}

#user-satisfaction-survey .survey-wrapper,.global-bar .global-bar-message-container,.govuk-emergency-banner div,#wrapper {
    max-width: 960px;
    margin: 0 15px
}

@media (min-width: 641px) {
    #user-satisfaction-survey .survey-wrapper,.global-bar .global-bar-message-container,.govuk-emergency-banner div,#wrapper {
        margin:0 30px
    }
}

@media (min-width: 1020px) {
    #user-satisfaction-survey .survey-wrapper,.global-bar .global-bar-message-container,.govuk-emergency-banner div,#wrapper {
        margin:0 auto
    }
}

#footer .footer-categories,.grid-row {
    margin: 0 -15px
}

#footer .footer-categories:after,.grid-row:after,#global-header .header-wrapper .header-global .site-search:after,#global-header form#search .content:after {
    content: "";
    display: block;
    clear: both
}

.draft main {
    background-image: url(https://assets.publishing.service.gov.uk/static/draft-watermark-f027bf00c2ae13948a2cf89eebfbdae4074dac9994d4d6471349c86aad049603.png);
    background-repeat: repeat-y;
    background-position: 50% 0;
    background-size: contain
}

#footer {
    border-top: 10px solid #005ea5
}

@media (min-width: 641px) {
    #footer .footer-categories {
        padding-bottom:30px
    }
}

@media (min-width: 641px) {
    #footer .footer-categories .footer-explore,#footer .footer-categories .footer-inside-government {
        float:left;
        width: 66.66%;
        padding-bottom: 60px
    }
}

#footer .footer-categories .footer-explore h2,#footer .footer-categories .footer-inside-government h2 {
    margin: 0 15px;
    padding: 10px 0 0
}

@media (min-width: 641px) {
    #footer .footer-categories .footer-explore h2,#footer .footer-categories .footer-inside-government h2 {
        padding:0 0 20px;
        border-bottom: 1px solid #bfc1c3
    }
}

#footer .footer-categories hr {
    clear: both;
    margin: 0 15px 30px;
    border: 1px solid #bfc1c3;
    border-width: 1px 0 0 0
}

@media (min-width: 641px) {
    #footer .footer-categories hr {
        margin-bottom:0
    }
}

#footer .footer-categories ul {
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 14px;
    line-height: 1.1428571429;
    list-style: none;
    padding: 0;
    margin: 0
}

@media (min-width: 641px) {
    #footer .footer-categories ul {
        font-size:16px;
        line-height: 1.25
    }
}

@media (min-width: 641px) {
    #footer .footer-categories ul {
        float:left;
        margin: 15px 0 0 0;
        width: 50%
    }
}

#footer .footer-categories ul li {
    display: block;
    margin-bottom: 5px;
    padding: 10px 0 0;
    margin: 0 15px 5px
}

@media (min-width: 641px) {
    #footer .footer-categories ul li {
        padding:20px 0 0;
        margin: 0 15px
    }
}

@media (min-width: 641px) {
    #footer .footer-categories .footer-inside-government {
        float:left;
        width: 33.33%
    }

    #footer .footer-categories .footer-inside-government ul li {
        width: 100%
    }
}

#footer .footer-categories:after,.grid-row:after,#global-header .header-wrapper .header-global .site-search:after,#global-header form#search .content:after {
    content: "";
    display: block;
    clear: both
}

#global-header .header-wrapper .header-global .site-search {
    width: 49%;
    float: right
}

@media (min-width: 769px) {
    #global-header .header-wrapper .header-global .site-search {
        width:33.33%
    }
}

@media screen and (max-width: 379px) {
    #global-header .header-wrapper .header-global .site-search {
        width:auto;
        float: none
    }
}

#global-header .header-wrapper .header-global .site-search .content {
    margin: 0 15px
}

#global-header.with-proposition #search {
    margin-top: 4px
}

#global-header .search-toggle {
    display: none
}

@media screen and (max-width: 379px) {
    #global-header .search-toggle {
        display:block;
        float: right;
        height: 30px;
        width: 36px;
        padding: 0;
        margin: -32px 15px;
        overflow: hidden;
        text-indent: -5000px;
        background-color: #005ea5;
        background-image: url(https://assets.publishing.service.gov.uk/static/search-button-ca89b2a79f944909ceb7370d3f0b78811d32b96e883348fcd8886f63dd619585.png);
        background-repeat: no-repeat;
        background-position: 0 50%
    }

    body.search #global-header .search-toggle {
        display: none
    }
}

@media only screen and (max-width: 379px) and (-webkit-min-device-pixel-ratio: 2), only screen and (max-width: 379px) and (min--moz-device-pixel-ratio: 2), only screen and (max-width: 379px) and (-o-min-device-pixel-ratio: 20 / 10), only screen and (max-width: 379px) and (min-device-pixel-ratio: 2), only screen and (max-width: 379px) and (min-resolution: 192dpi), only screen and (max-width: 379px) and (min-resolution: 2dppx) {
    #global-header .search-toggle {
        background-size:52.5px 35px;
        background-position: 100% 50%
    }
}

#global-header .search-toggle:hover {
    background-color: #004f8c
}

#global-header .search-toggle.js-hidden {
    display: none
}

#global-header form#search .content {
    position: relative;
    background: #fff
}

#global-header form#search label {
    float: left;
    min-height: 36px;
    line-height: 35px;
    text-indent: 15px;
    overflow: hidden;
    display: block;
    margin-right: 10px
}

.js-enabled #global-header form#search label {
    float: none;
    position: absolute;
    left: 0;
    top: 1px;
    z-index: 1;
    width: 100%;
    margin-right: 0
}

#global-header form#search input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    width: 50%;
    min-width: 0;
    display: block;
    margin: 0;
    border: 0;
    min-height: 36px;
    padding: 6px 0;
    -webkit-appearance: none;
    -moz-appearance: none
}

#global-header form#search input::-moz-focus-inner {
    border: 0
}

#global-header form#search input#site-search-text {
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 14px;
    line-height: 1.7692307692;
    position: relative;
    padding: 6px;
    z-index: 3;
    background: transparent
}

@media (min-width: 641px) {
    #global-header form#search input#site-search-text {
        font-size:16px;
        line-height: 1.4375
    }
}

#global-header form#search input#site-search-text.focus,#global-header form#search input#site-search-text:focus {
    background: #fff;
    outline-offset: -3px
}

.js-enabled #global-header form#search input#site-search-text {
    width: 86%;
    width: -webkit-calc(100% - 35.1px);
    width: calc(100% - 35.1px)
}

#global-header form#search input.submit {
    position: absolute;
    z-index: 4;
    right: 0;
    top: 0;
    width: 36px;
    height: 36px;
    border: 1px solid #005ea5;
    border-width: 0 0 0 1px;
    border-left-color: #222;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    overflow: hidden;
    text-indent: -5000px;
    color: #fff;
    background-color: #005ea5;
    background-image: url(https://assets.publishing.service.gov.uk/static/search-button-ca89b2a79f944909ceb7370d3f0b78811d32b96e883348fcd8886f63dd619585.png);
    background-repeat: no-repeat;
    background-position: 0 50%
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    #global-header form#search input.submit {
        background-size:52.5px 35px;
        background-position: 100% 50%
    }
}

#global-header form#search input.submit:hover {
    background-color: #004f8c
}

#global-header form#search input.submit.focus,#global-header form#search input.submit:focus {
    outline-offset: -3px
}

@media screen and (max-width: 379px) {
    #global-header form#search {
        display:none;
        width: 100%
    }

    #global-header form#search #site-search-text {
        width: 80%
    }
}

#global-header form#search.js-visible {
    display: block
}

#global-browser-prompt {
    display: none
}

#global-browser-prompt {
    padding: 0.5em 2em
}

#global-browser-prompt p {
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 16px;
    line-height: 1.25;
    margin: 0 auto;
    max-width: 960px
}

@media (min-width: 641px) {
    #global-browser-prompt p {
        font-size:19px;
        line-height: 1.3157894737
    }
}

@media (max-width: 640px) {
    #global-browser-prompt {
        padding:0.5em 1em
    }
}

#global-browser-prompt {
    background-color: #d5e8f3
}

#global-browser-prompt p {
    position: relative;
    padding-right: 20px;
    max-width: 940px
}

#global-browser-prompt .dismiss {
    background-image: url(https://assets.publishing.service.gov.uk/static/close-70bb989d72ea39bbfeb855ff3a3b9005b3fbd5702c68084e6ddea740c124ea3b.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center right;
    text-decoration: none;
    height: 22px;
    width: 10px;
    text-indent: -9999px;
    display: inline-block;
    position: absolute;
    right: 0
}

#user-satisfaction-survey {
    display: none;
    background-color: #005ea5;
    margin-bottom: 1px;
    color: #fff;
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 14px;
    line-height: 1.1428571429
}

@media (min-width: 641px) {
    #user-satisfaction-survey {
        font-size:16px;
        line-height: 1.25
    }
}

#user-satisfaction-survey.visible {
    display: block
}

@media (max-width: 640px) {
    #user-satisfaction-survey.visible .survey-close-button {
        font-size:16px
    }

    #user-satisfaction-survey.visible .survey-title {
        display: inline-block;
        font-size: 18px;
        width: 75%
    }

    #user-satisfaction-survey.visible .survey-primary-link,#user-satisfaction-survey.visible .postscript-cta {
        font-size: 18px
    }
}

#user-satisfaction-survey [tabindex="-1"]:focus {
    outline: none
}

#user-satisfaction-survey a:link,#user-satisfaction-survey a:active,#user-satisfaction-survey a:hover,#user-satisfaction-survey a:visited {
    color: inherit
}

#user-satisfaction-survey a:focus {
    color: #0b0c0c
}

#user-satisfaction-survey .survey-wrapper {
    padding-top: 15px;
    padding-bottom: 20px;
    clear: both
}

#user-satisfaction-survey .survey-inner-wrapper {
    max-width: 30em
}

#user-satisfaction-survey .survey-title {
    font-family: "nta", Arial, sans-serif;
    font-weight: 700;
    text-transform: none;
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: .5em
}

@media (min-width: 641px) {
    #user-satisfaction-survey .survey-title {
        font-size:19px;
        line-height: 1.3157894737
    }
}

#user-satisfaction-survey .survey-close-button {
    float: right;
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 16px;
    line-height: 1.25
}

@media (min-width: 641px) {
    #user-satisfaction-survey .survey-close-button {
        font-size:19px;
        line-height: 1.3157894737
    }
}

#user-satisfaction-survey .survey-primary-link {
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 16px;
    line-height: 1.25;
    margin-right: .5em
}

@media (min-width: 641px) {
    #user-satisfaction-survey .survey-primary-link {
        font-size:19px;
        line-height: 1.3157894737
    }
}

#user-satisfaction-survey .survey-form-label {
    display: block;
    margin-bottom: .25em
}

#user-satisfaction-survey .survey-form-input {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 5px 4px 4px;
    border: 2px solid #fff;
    margin: 0;
    margin-bottom: 1em
}

#user-satisfaction-survey .survey-form-description {
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 12px;
    line-height: 1.25;
    margin-bottom: .5em
}

@media (min-width: 641px) {
    #user-satisfaction-survey .survey-form-description {
        font-size:14px;
        line-height: 1.4285714286
    }
}

#user-satisfaction-survey .survey-form-button {
    background-color: #fff;
    position: relative;
    display: -moz-inline-stack;
    display: inline-block;
    padding: .526315em .789473em .263157em;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    outline: 1px solid transparent;
    outline-offset: -1px;
    -webkit-appearance: none;
    -webkit-box-shadow: 0 2px 0 #d9d9d9;
    -moz-box-shadow: 0 2px 0 #d9d9d9;
    box-shadow: 0 2px 0 #d9d9d9;
    font-size: 1em;
    line-height: 1.25;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    color: #0b0c0c;
    font-family: "nta", Arial, sans-serif;
    font-weight: 700;
    text-transform: none;
    font-size: 16px;
    line-height: 1.25;
    color: #005ea5;
    margin-right: .5em
}

#user-satisfaction-survey .survey-form-button:visited {
    background-color: #fff
}

#user-satisfaction-survey .survey-form-button:hover,#user-satisfaction-survey .survey-form-button:focus {
    background-color: #f2f2f2
}

#user-satisfaction-survey .survey-form-button:active {
    top: 2px;
    -webkit-box-shadow: 0 0 0 #fff;
    -moz-box-shadow: 0 0 0 #fff;
    box-shadow: 0 0 0 #fff
}

#user-satisfaction-survey .survey-form-button.disabled,#user-satisfaction-survey .survey-form-button[disabled="disabled"],#user-satisfaction-survey .survey-form-button[disabled] {
    zoom:1;filter: alpha(opacity=50);
    opacity: 0.5
}

#user-satisfaction-survey .survey-form-button.disabled:hover,#user-satisfaction-survey .survey-form-button[disabled="disabled"]:hover,#user-satisfaction-survey .survey-form-button[disabled]:hover {
    cursor: default;
    background-color: #fff
}

#user-satisfaction-survey .survey-form-button.disabled:active,#user-satisfaction-survey .survey-form-button[disabled="disabled"]:active,#user-satisfaction-survey .survey-form-button[disabled]:active {
    top: 0;
    -webkit-box-shadow: 0 2px 0 #d9d9d9;
    -moz-box-shadow: 0 2px 0 #d9d9d9;
    box-shadow: 0 2px 0 #d9d9d9
}

#user-satisfaction-survey .survey-form-button:link,#user-satisfaction-survey .survey-form-button:link:focus,#user-satisfaction-survey .survey-form-button:hover,#user-satisfaction-survey .survey-form-button:focus,#user-satisfaction-survey .survey-form-button:visited {
    color: #0b0c0c
}

#user-satisfaction-survey .survey-form-button:before {
    content: "";
    height: 110%;
    width: 100%;
    display: block;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0
}

#user-satisfaction-survey .survey-form-button:active:before {
    top: -10%;
    height: 120%
}

@media (min-width: 641px) {
    #user-satisfaction-survey .survey-form-button {
        font-size:19px;
        line-height: 1.1
    }
}

#user-satisfaction-survey .survey-form-button:hover,#user-satisfaction-survey .survey-form-button:focus {
    color: #004f8c
}

#user-satisfaction-survey .survey-form-button:focus {
    outline: 3px solid #ffbf47
}

.show-global-bar #global-header-bar {
    display: none
}

.global-bar {
    background-color: #BFE3E0;
    display: none;
    padding: 15px 0
}

.show-global-bar .global-bar {
    display: block
}

.global-bar .global-bar-message-container {
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 16px;
    line-height: 1.25;
    position: relative
}

@media (min-width: 641px) {
    .global-bar .global-bar-message-container {
        font-size:19px;
        line-height: 1.3157894737
    }
}

@media (min-width: 641px) {
    .global-bar .global-bar-message-container .dismiss {
        position:absolute;
        right: 0;
        top: 0
    }
}

.global-bar .global-bar-message {
    margin-bottom: 0;
    margin-top: 0
}

@media (min-width: 641px) {
    .global-bar .global-bar-message {
        max-width:66.67%
    }
}

.global-bar .global-bar-message .global-bar-title {
    display: block;
    font-weight: 700;
    margin-right: 10px
}

.govuk-emergency-banner {
    background-color: #dee0e2;
    color: #fff;
    margin-top: 2px;
    padding: 15px 0
}

@media (min-width: 641px) {
    .govuk-emergency-banner {
        padding:30px 0
    }
}

.govuk-emergency-banner h2 {
    font-family: "nta", Arial, sans-serif;
    font-weight: 700;
    text-transform: none;
    font-size: 18px;
    line-height: 1.2;
    margin: 0
}

@media (min-width: 641px) {
    .govuk-emergency-banner h2 {
        font-size:24px;
        line-height: 1.25
    }
}

.homepage .govuk-emergency-banner h2 {
    font-family: "nta", Arial, sans-serif;
    font-weight: 700;
    text-transform: none;
    font-size: 32px;
    line-height: 1.09375
}

@media (min-width: 641px) {
    .homepage .govuk-emergency-banner h2 {
        font-size:48px;
        line-height: 1.0416666667
    }
}

@media (min-width: 641px) {
    .homepage .govuk-emergency-banner h2 {
        margin-bottom:20px
    }
}

.govuk-emergency-banner p {
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 16px;
    line-height: 1.25;
    color: #fff;
    margin-top: 0;
    margin-bottom: 20px
}

@media (min-width: 641px) {
    .govuk-emergency-banner p {
        font-size:19px;
        line-height: 1.3157894737
    }
}

@media (min-width: 641px) {
    .govuk-emergency-banner p {
        width:66.6666666667%
    }
}

.govuk-emergency-banner p:last-child {
    margin-bottom: 0
}

.homepage .govuk-emergency-banner p {
    margin: 20px 0
}

.govuk-emergency-banner a:link,.govuk-emergency-banner a:visited {
    color: #fff
}

.govuk-emergency-banner a:active,.govuk-emergency-banner a:hover {
    color: #cccccc
}

.govuk-emergency-banner a:focus {
    color: #0b0c0c
}

.homepage .govuk-emergency-banner {
    margin-top: 5px;
    margin-bottom: 5px
}

.govuk-emergency-banner.notable-death {
    background-color: #0b0c0c
}

.govuk-emergency-banner.national-emergency {
    background-color: #b10e1e
}

.govuk-emergency-banner.local-emergency {
    background-color: #28a197
}

.js-enabled .govuk-sticky-element {
    position: absolute;
    bottom: 0
}

.js-enabled .govuk-sticky-element--stuck-to-window {
    bottom: 0;
    position: fixed
}

.js-enabled .govuk-sticky-element--enabled {
    -webkit-transition: opacity 0.3s ease 0s;
    -moz-transition: opacity 0.3s ease 0s;
    -o-transition: opacity 0.3s ease 0s;
    transition: opacity 0.3s ease 0s;
    opacity: 1
}

@media (max-width: 640px) {
    .js-enabled .govuk-sticky-element--enabled {
        position:static
    }
}

.js-enabled .govuk-sticky-element--hidden {
    opacity: 0;
    pointer-events: none
}

label.selectable {
    display: block;
    float: none;
    clear: left;
    position: relative;
    background: #dee0e2;
    border: 1px solid #dee0e2;
    padding: 18px 30px 15px 45px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer
}

@media (min-width: 641px) {
    label.selectable {
        float:left;
        margin-top: 5px;
        margin-bottom: 5px
    }
}

label.selectable:hover {
    border-color: #0b0c0c
}

label.selectable input {
    position: absolute;
    top: 18px;
    left: 15px;
    cursor: pointer
}

.inline label.selectable {
    clear: none;
    margin-right: 15px
}

.js-enabled label.selectable input:focus {
    outline: none
}

.js-enabled label.selectable.selected {
    background: #fff;
    border-color: #0b0c0c
}

.js-enabled label.selectable.focused {
    outline: 3px solid #ffbf47
}

.grid-row .column-quarter {
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

@media (min-width: 641px) {
    .grid-row .column-quarter {
        float:left;
        width: 25%
    }
}

.direction-rtl .grid-row .column-quarter {
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

@media (min-width: 641px) {
    .direction-rtl .grid-row .column-quarter {
        float:right;
        width: 25%
    }
}

.grid-row .column-half {
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

@media (min-width: 641px) {
    .grid-row .column-half {
        float:left;
        width: 50%
    }
}

.direction-rtl .grid-row .column-half {
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

@media (min-width: 641px) {
    .direction-rtl .grid-row .column-half {
        float:right;
        width: 50%
    }
}

.grid-row .column-three-quarters {
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

@media (min-width: 641px) {
    .grid-row .column-three-quarters {
        float:left;
        width: 75%
    }
}

.direction-rtl .grid-row .column-three-quarters {
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

@media (min-width: 641px) {
    .direction-rtl .grid-row .column-three-quarters {
        float:right;
        width: 75%
    }
}

.grid-row .column-one-third,.grid-row .column-third {
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

@media (min-width: 641px) {
    .grid-row .column-one-third,.grid-row .column-third {
        float:left;
        width: 33.3333333333%
    }
}

.direction-rtl .grid-row .column-one-third,.direction-rtl .grid-row .column-third {
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

@media (min-width: 641px) {
    .direction-rtl .grid-row .column-one-third,.direction-rtl .grid-row .column-third {
        float:right;
        width: 33.3333333333%
    }
}

.grid-row .column-two-thirds {
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

@media (min-width: 641px) {
    .grid-row .column-two-thirds {
        float:left;
        width: 66.6666666667%
    }
}

.direction-rtl .grid-row .column-two-thirds {
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

@media (min-width: 641px) {
    .direction-rtl .grid-row .column-two-thirds {
        float:right;
        width: 66.6666666667%
    }
}

div,span,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark {
    border: none;
    margin: 0;
    padding: 0
}

h1,h2,h3,h4,h5,h6,p,blockquote,pre,small,strike,strong,sub,sup,tt,var,b,u,i,center,input,textarea,table,caption,tbody,tfoot,thead,tr,th,td {
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    font-weight: normal
}

strong {
    font-weight: bold
}

abbr[title],acronym[title] {
    text-decoration: none
}
