{% set hideBackButton = true %}

{% extends 'end-to-end/layout-account.html' %}

{% block pageTitle %}
    Water Management Grant - Round 3
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

           <span class="govuk-caption-xl">Browns Hill Farm reservoir (WM-VMA-1234)</span>
            <h1 class="govuk-heading-xl">Water Management Grant - Round 3</h1>

            <span class="content-section">
                <!-- EOI approved, application ready to start -->
                <h3 class="govuk-heading-m">Your expression of interest is being reviewed by the Rural Payments Agency</h3>
                <div class="govuk-inset-text">
                    The review process will be completed by <strong>7 Jan 2025</strong>.
                </div>
            </span>


            <ol class="govuk-prototype-kit-task-list">
            <li>

                <!-- EOI Scenario 3b -->
                <h2 class="govuk-prototype-kit-task-list__section">
                    <span class="govuk-prototype-kit-task-list__section-number">1. </span> Expression of interest
                </h2>
                
                <ul class="govuk-task-list">
                <li class="govuk-task-list__item govuk-task-list__item--with-link">
                    <div class="govuk-task-list__name-and-hint">
                    <a class="govuk-link govuk-task-list__link" href="../eligibility/common/farming-type" aria-describedby="expression-of-interest-1-status">Check eligibility and scoring</a>
                    </div>
                    <div class="govuk-task-list__status" id="expression-of-interest-1-status">
                           Completed
                    </div>
                </li>
                <li class="govuk-task-list__item govuk-task-list__item--with-link">
                    <div class="govuk-task-list__name-and-hint">
                        <a class="govuk-link govuk-task-list__link" href="../eligibility/funding/business" aria-describedby="expression-of-interest-2-status">Check your details</a>
                    </div>
                    <div class="govuk-task-list__status" id="expression-of-interest-2-status">
                           Completed
                    </div>
                </li>
                    <li class="govuk-task-list__item govuk-task-list__item--with-link">
                        <div class="govuk-task-list__name-and-hint">
                            <a class="govuk-link govuk-task-list__link" href="../eligibility/funding/consent" aria-describedby="expression-of-interest-3-status">Register your interest</a>
                        </div>
                            <div class="govuk-task-list__status" id="expression-of-interest-3-status">
                                Completed
                        </div>
                    </li>
                <li class="govuk-task-list__item">
                    <div class="govuk-task-list__name-and-hint">
                        Expression of interest outcome
                    </div>
                    <div class="govuk-task-list__status" id="expression-of-interest-4-status">
                        Cannot start yet
                    </div>
                </li>
                </ul>
            </li>
    
                <li>
                    <!-- Application Scenario 2a -->
                <h2 class="govuk-prototype-kit-task-list__section">
                    <span class="govuk-prototype-kit-task-list__section-number">2. </span> Apply
                </h2>

                <ul class="govuk-task-list">

                    <li class="govuk-task-list__item">
                        <div class="govuk-task-list__name-and-hint">
                            Download application forms
                        </div>
                        <div class="govuk-task-list__status" id="application-1-status">
                            Cannot start yet
                        </div>
                    </li>

                <li class="govuk-task-list__item">
                    <div class="govuk-task-list__name-and-hint">
                    <div>Upload application forms and evidence</div>
                    </div>
                    <div class="govuk-task-list__status govuk-task-list__status--cannot-start-yet" id="application-2-status">
                    Cannot start yet
                    </div>
                </li>

                <li class="govuk-task-list__item">
                    <div class="govuk-task-list__name-and-hint">
                    <div>Check your details</div>
                    </div>
                    <div class="govuk-task-list__status govuk-task-list__status--cannot-start-yet" id="application-3-status">
                    Cannot start yet
                    </div>
                </li>

                <li class="govuk-task-list__item">
                    <div class="govuk-task-list__name-and-hint">
                    <div>Submit application</div>
                    </div>
                    <div class="govuk-task-list__status govuk-task-list__status--cannot-start-yet" id="application-4-status">
                    Cannot start yet
                    </div>
                </li>
                
                </ul>
            </li>
            <li>

            <!-- Agreement Scenario 1 -->
            <h2 class="govuk-prototype-kit-task-list__section">
            <span class="govuk-prototype-kit-task-list__section-number">3. </span> Sign agreement
            </h2>

            <ul class="govuk-task-list">
            <li class="govuk-task-list__item">
                <div class="govuk-task-list__name-and-hint">
                <div>Read agreement</div>
                </div>
                <div class="govuk-task-list__status govuk-task-list__status--cannot-start-yet" id="agreement-1-status">
                Cannot start yet
                </div>
            </li>

            <li class="govuk-task-list__item">
                <div class="govuk-task-list__name-and-hint">
                <div>Read terms and conditions</div>
                </div>
                <div class="govuk-task-list__status govuk-task-list__status--cannot-start-yet" id="agreement-2-status">
                Cannot start yet
                </div>
            </li>

            <li class="govuk-task-list__item">
                <div class="govuk-task-list__name-and-hint">
                <div>Sign and accept agreement</div>
                </div>
                <div class="govuk-task-list__status govuk-task-list__status--cannot-start-yet" id="agreement-3-status">
                Cannot start yet
                </div>
            </li>
            </ul>
        </li>
        <li>

            <!-- Claim 01 Scenario 1 -->
            <h2 class="govuk-prototype-kit-task-list__section">
            <span class="govuk-prototype-kit-task-list__section-number">4. </span> Submit first claim
            </h2>
            
            <ul class="govuk-task-list">
            <li class="govuk-task-list__item">
                <div class="govuk-task-list__name-and-hint">
                <div>Download claim form</div>
                </div>
                <div class="govuk-task-list__status govuk-task-list__status--cannot-start-yet" id="claim-01-1-status">
                Cannot start yet
                </div>
            </li>

            <li class="govuk-task-list__item">
                <div class="govuk-task-list__name-and-hint">
                <div>Upload claim form and evidence</div>
                </div>
                <div class="govuk-task-list__status govuk-task-list__status--cannot-start-yet" id="claim-01-2-status">
                Cannot start yet
                </div>
            </li>

            <li class="govuk-task-list__item">
                <div class="govuk-task-list__name-and-hint">
                <div>Submit claim</div>
                </div>
                <div class="govuk-task-list__status govuk-task-list__status--cannot-start-yet" id="claim-01-3-status">
                Cannot start yet
                </div>
            </li>
        </ul>

    </li>
</ol>
    
    
    <br>
        <p class="govuk-body withdraw-link"><a href="../../../_common/not-testing">Withdraw grant application</a></p>
    <br>
    <hr>
          
          
           <div class="app-contact-panel">
                <h2 class="govuk-heading-m app-contact-panel__heading">Need help?</h2>

                <p class="govuk-body app-contact-panel__body">
                    <a class="govuk-link" href="../../change-request/help-triage">Contact the team</a> if you need help, want to report a problem or want to make a change to your Grant Funding Agreement.
                </p>
            </div>
        </div>

</div>

{% endblock %}