{% extends 'layinghens/current/views/layouts/layout.html' %}

{% set poultryType = 'hen' %}
{% if data['poultry-type'] %}
    {% set poultryType = data['poultry-type'] %}
{% endif %}

{% block pageTitle %}
    Will the ventilation maintain the required air quality parameters?
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form method="post">

                {% set hintHtml %}

                    <p class="govuk-hint">
                        The ventilation must maintain air quality (at bird head height of less than 50cm) at a:
                    </p>

                    <ul class="govuk-hint govuk-list govuk-list--bullet">
                        <li>
                            carbon dioxide level of less than 3,000 parts per million (ppm)
                        </li>
                        <li>
                            percentage relative humidity (%rH) level of 40% to 70%
                        </li>
                    </ul>

                {% endset %}

                {{ govukRadios ({
                    idPrefix: 'ventilation-air-quality',
                    name: 'ventilation-air-quality',
                    classes: 'govuk-radios--inline',
                    fieldset: {
                        legend: {
                            text: 'Will the ventilation maintain the required air quality parameters?',
                            isPageHeading: true,
                            classes: 'govuk-fieldset__legend--l'
                        }
                    },
                    hint: {
                        html: hintHtml
                    },
                    items: [
                        {
                            text: 'Yes',
                            value: 'Yes',
                            checked: true if data['ventilation-air-quality'] == 'Yes',
                            attributes: {
                                    'data-next': '../housing/lighting'
                                }
                        },
                        {
                            text: 'No',
                            value: 'No',
                            checked: true if data['ventilation-air-quality'] == 'No',
                            attributes: {
                                    'data-next': '../elimination'
                                }
                        }
                    ]
                }) }}

                {{ govukButton ({
                    html: 'Continue'
                }) }}

            </form>

        </div>

</div>

{% endblock %}