{% extends 'layinghens/current/views/layouts/layout.html' %}

{% block pageTitle %}
    You cannot apply for a grant from this scheme - Ventilation air quality
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form method="post">

                <h1 class="govuk-heading-l">You cannot apply for a grant from this scheme</h1>

                <p>
                    The ventilation must maintain air quality (at bird head height of less than 50cm) at a:
                </p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>
                        carbon dioxide level of less than 3,000 parts per million (ppm)
                    </li>
                    <li>
                        percentage relative humidity (%rH) level of 40% to 70%
                    </li>
                </ul>

                <p>
                    <a href="https://www.gov.uk/topic/farming-food-grants-payments/rural-grants-payments">
                        See other grants you may be eligible for.
                    </a>
                </p>

            </form>

        </div>

</div>

{% endblock %}