{% extends 'layinghens/current/views/layouts/layout.html' %}

{% block pageTitle %}
    You cannot apply for a grant from this scheme - Ventilation features
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form method="post">

                <h1 class="govuk-heading-l">You cannot apply for a grant from this scheme</h1>

                <p>
                    The ventilation must have:
                </p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>
                        a control system to automatically measure and record the daily temperature, humidity, and CO<sub>2</sub> levels
                    </li>
                    <li>
                        an alarm system (that detects excessive high or low temperatures and system failures) with a power supply independent of mains electricity
                    </li>
                    <li>
                        an emergency power supply, for example a high-capacity generator, in case of electrical or other failures
                    </li>
                </ul>

                <p>
                    <a href="https://www.gov.uk/topic/farming-food-grants-payments/rural-grants-payments">
                        See other grants you may be eligible for.
                    </a>
                </p>

            </form>

        </div>

</div>

{% endblock %}