{% extends 'layinghens/current/views/layouts/layout.html' %}

{% block pageTitle %}
    You cannot apply for a grant from this scheme
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form method="post">

                <h1 class="govuk-heading-l">You cannot apply for a grant from this scheme</h1>

                {% if poultryType == 'hen' %}
                    <p>
                        The housing ventilation must have a ventilation rate of 10,800m3 per hour per 1000 hens.
                    </p>
                {% else %}
                    <p>
                        The housing ventilation must have a ventilation rate of 9,000m3 per hour per 1000 pullets.
                    </p>
                {% endif %}
               
                <p>
                    <a href="https://www.gov.uk/topic/farming-food-grants-payments/rural-grants-payments">
                        See other grants you may be eligible for.
                    </a>
                </p>

            </form>

        </div>

</div>

{% endblock %}