{% extends 'layinghens/current/views/layouts/layout.html' %}

{% set poultryType = 'hen' %}
{% if data['poultry-type'] %}
    {% set poultryType = data['poultry-type'] %}
{% endif %}

{% block pageTitle %}
    Will the {{ poultryType }} housing have a mechanical ventilation system with these features? 
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form method="post">

                {% set hintHtml %}

                    <p class="govuk-hint">
                        The ventilation must have:
                    </p>

                    <ul class="govuk-hint govuk-list govuk-list--bullet">
                        <li>
                            a control system to automatically measure and record the daily temperature, humidity, and CO2 levels
                        </li>
                        <li>
                            an alarm system (that detects excessive high or low temperatures and system failures) with a power supply independent of mains electricity
                        </li>
                        <li>
                            an emergency power supply, for example a high-capacity generator, in case of electrical or other failures
                        </li>
                    </ul>

                {% endset %}

                {{ govukRadios ({
                    idPrefix: 'ventilation-features',
                    name: 'ventilation-features',
                    classes: 'govuk-radios--inline',
                    fieldset: {
                        legend: {
                            text: 'Will the ' + poultryType + ' housing have a mechanical ventilation system with these features?',
                            isPageHeading: true,
                            classes: 'govuk-fieldset__legend--l'
                        }
                    },
                    hint: {
                        html: hintHtml
                    },
                    items: [
                        {
                            text: 'Yes',
                            value: 'Yes',
                            checked: true if data['ventilation-features'] == 'Yes',
                            attributes: {
                                    'data-next': 'air-speed'
                                }
                        },
                        {
                            text: 'No',
                            value: 'No',
                            checked: true if data['ventilation-features'] == 'No',
                            attributes: {
                                    'data-next': '../elimination'
                                }
                        }
                    ]
                }) }}

                {{ govukButton ({
                    html: 'Continue'
                }) }}

            </form>

        </div>

</div>

{% endblock %}