{% extends 'layinghens/current/views/layouts/layout.html' %}

{% set poultryType = 'hen' %}
{% if data['poultry-type'] %}
    {% set poultryType = data['poultry-type'] %}
{% endif %}

{% set question = 'Will the ventilation system be able to provide a ventilation rate (MXVR) of 10,800m3 per hour per 1000 hens?' %}
{% if poultryType != 'hen' %}
    {% set question = 'Will the ventilation system be able to provide a ventilation rate (MXVR) of 9,000m3 per hour per 1000 pullets?' %}
{% endif %}

{% block pageTitle %}
    {{ question }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form method="post">

                {{ govukRadios ({
                    idPrefix: 'ventilation-rate',
                    name: 'ventilation-rate',
                    classes: 'govuk-radios--inline',
                    fieldset: {
                        legend: {
                            text: question,
                            isPageHeading: true,
                            classes: 'govuk-fieldset__legend--l'
                        }
                    },
                    hint: {
                        text: 'For birds up to 2.5kg in body mass' if poultryType == 'hen' else 'For birds up to 2kg in body mass'
                    },
                    items: [
                        {
                            text: 'Yes',
                            value: 'Yes',
                            checked: true if data['ventilation-rate'] == 'Yes',
                            attributes: {
                                    'data-next': 'air-quality'
                                }
                        },
                        {
                            text: 'No',
                            value: 'No',
                            checked: true if data['ventilation-rate'] == 'No',
                            attributes: {
                                    'data-next': 'elim-rate'
                                }
                        }
                    ]
                }) }}

                {{ govukButton ({
                    html: 'Continue'
                }) }}

            </form>

        </div>

        <div class="govuk-grid-column-one-third">

            <div class="app-step-nav-related app-step-nav-related--singular">
                <h2 class="app-step-nav-related__heading">
                <span class="app-step-nav-related__pretitle">Eligibility</span>
                </h2>
                {% if poultryType == 'hen' %}
                    <p>
                        The ventilation system must be able to provide a ventilation rate (MXVR) of 10,800m3 per hour per 1000 {{ poultryType }}s in the case of high heat scenarios.
                    </p>
                {% else %}
                    <p>
                        The ventilation system must be able to provide a ventilation rate (MXVR) of 9,000m3 per hour per 1000 pullets in the case of high heat scenarios.
                    </p>
                {% endif %}
            </div>

        </div>

</div>

{% endblock %}