{% extends "layout.html" %}

{% block pageTitle %}
Calf weight
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems.'
  }) }}

  <a class="govuk-back-link" href="{{ backUrl }}">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <form id="mainForm" class="form" action="{{ nextUrl }}" method="post">

              {{ govukRadios({
                  idPrefix: 'calfweight',
                  name: 'calfweight',
                  fieldset: {
                      legend: {
                          text: 'What will be the weight of the largest calf?',
                          isPageHeading: yes,
                          classes: 'govuk-fieldset__legend--l'
                      }
                  },

                  hint: {
                    text:"A calf is up to 6 months of age"
                  },

                  items: [
                {
                  value: "99",
                  text: "100kg or under",
                  checked: checked("calfweight", "99")
                },

                {
                  value: "100 to 150",
                  text: "Between 100kg and 150kg",
                  checked: checked("calfweight", "100 to 150")
                },

                {
                  value: "151",
                  text: "Over 150kg",
                  checked: checked("calfweight", "151")
                }
              ]
              }) }}

          <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">Continue</button>


      </form>
    </div>
    <div class="govuk-grid-column-one-third">

      <div class="app-step-nav-related app-step-nav-related--singular">
        <h2 class="app-step-nav-related__heading">
          <span class="app-step-nav-related__pretitle">Eligibility</span>
          </h2>

          <p class="govuk-body">There must be a minimum floor area of:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>3m<sup>2</sup> per calf when largest calf is 100kg or under</li>
              <li>4m<sup>2</sup> per calf when largest calf is between 100kg and 150kg</li>
              <li>5m<sup>2</sup> per calf when largest calf is over 150kg</li>
            </ul>
            </div>
   </div>

{% endblock %}
