{% extends "layouts/main.html" %}

{% block pageTitle %}
  Solar Costs – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<!-- Pink banner -->
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems .'
  }) }}
  
  <!-- Back button -->
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!-- Path for next page -->
      <form class="form" action="hen-solar-cost-answer" method="post">

        <!-- Page heading -->
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Estimated solar PV cost and size
              </h1>
            </legend>

            <!-- Hint text -->
            <p class="govuk-hint">There is no minimum funding amount for buying and installing a  solar PV system. </p>
            <p class="govuk-hint">Funding for a solar PV system will be capped at the lowest of these 2 amounts, either:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li class="govuk-hint">the cost of 75m2 of the bird floorspace</li>
              <li class="govuk-hint">25% of the invoice price for purchase and installation of the solar PV system that you will need to submit at full application</li>
             </ul>

            
            <p class="govuk-hint">Do not include VAT</p>

            <p class="govuk-hint">Enter amount, for example 95,000</p>
            <br>

            <!-- Enter amount box: Solar -->
            <div class="govuk-form-group">
              <label class="govuk-label" for="weight">
                <b>Solar PV system costs</b>
              </label>
              <div class="govuk-input__wrapper">
                <div class="govuk-input__prefix" aria-hidden="true">£</div>
                <input class="govuk-input govuk-input--width-5" id="solar-project-cost" name="hen-solar-cost" type="text" spellcheck="false" value="{{ data['hen-solar-cost'] }}">
              </div>
            </div>

         

            <!-- Enter amount box: Bird floorspace -->
            <div class="govuk-form-group">
              <label class="govuk-label" for="weight">
                <b>Size of the bird floorspace footprint</b>
              </label>
              <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="weight" name="hen-weight" type="text" spellcheck="false" value="{{ data['hen-solar-cost'] }}">
                <div class="govuk-input__suffix" aria-hidden="true">m2</div>
              </div>
            </div>
          
            </div>
          </fieldset>

          <!-- Continue button -->
          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
          </form>


        </div>

      
    </div>

       

{% endblock %}
