{% extends "layouts/main.html" %}

{% block pageTitle %}
  Height of Highest Tier – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<!-- Pink banner -->
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems .'
  }) }}
  
  <!-- Back button -->
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!-- Path for next page -->
      <form class="form" action="hen-highest-tier-answer" method="post">

        <!-- Page heading -->
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Will the maximum height of the highest tier to the floor of the housing be less than or equal to 2 metres?
              </h1>
            </legend>

            <!-- Hint text -->
            <p class="govuk-hint">The height from the litter floor area to the underside of the manure belt of the highest tier</p>
            
            <!-- Option: Yes -->
            <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="highest-tier" name="hen-highest-tier" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="highest-tier">
                  Yes
                </label>
              </div>

              <!-- Option: No -->
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="highest-tier-2" name="hen-highest-tier" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="highest-tier-2">
                  No
                </label>
              </div>

            </div>
          </fieldset>
        </div>

        <!-- Continue button -->
        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>

      </form>
    </div>

       <!-- Eligibility sidebar -->
       <div class="govuk-grid-column-one-third">

        <div class="app-step-nav-related app-step-nav-related--singular">
          <h2 class="app-step-nav-related__heading">
            <span class="app-step-nav-related__pretitle">Funding priorities</span>
            </h2>
  
            <p>RPA want to fund projects that prevent birds falling from heights of more than 2 meters. This height should be measured from the solid floor (with litter) to the underside of the highest tier or manure belt.</p>
    
            <a href="#">
            </a>
  
        </div>

  </div>

{% endblock %}