{% extends "layouts/main.html" %}

{% block pageTitle %}
  Level Ramp Connection – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<!-- Pink banner -->
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems .'
  }) }}
  
  <!-- Back button -->
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!-- Path for next page -->
      <form class="form" action="hen-level-ramp-answer" method="post">

        <!-- Page heading -->
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Will every level of the multi-tier system be connected to another level by a ramp?
              </h1>
            </legend>
            
            <!-- Option: Yes -->
            <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="has-level-ramp" name="hen-level-ramp" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="has-level-ramp">
                  Yes
                </label>
              </div>

              <!-- Option: No -->
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="has-level-ramp-2" name="hen-level-ramp" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="has-level-ramp-2">
                  No
                </label>
              </div>

            </div>
          </fieldset>
        </div>

        <!-- Continue button -->
        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>

      </form>
    </div>

       <!-- Eligibility sidebar -->
       <div class="govuk-grid-column-one-third">

        <div class="app-step-nav-related app-step-nav-related--singular">
          <h2 class="app-step-nav-related__heading">
            <span class="app-step-nav-related__pretitle">Funding priorities</span>
            </h2>
  
            <p>RPA want to fund multi-tier systems that incorporate ramps to reduce the risk of keel bone fractures.</p>
    
            <a href="#">
            </a>
  
        </div>

  </div>

{% endblock %}
