{% extends 'layinghens/current/views/layouts/layout-old.html' %}

{% block pageTitle %}
  Veranda Specification – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<!-- Pink banner -->
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "Prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems .'
  }) }}
  
  <!-- Back button -->
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!-- Path for next page -->
      <form class="form" action="hen-veranda-specification-answer" method="post">

        <!-- Page heading -->
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Will the veranda have these features?
              </h1>
            </legend>

            <p class="govuk-hint">The veranda of the housing must have:</p>
            
            <ul class="govuk-list govuk-list--bullet">
              <li class="govuk-hint">a solid concrete floor</li>
              <li class="govuk-hint">a waterproof insulated roof</li>
              <li class="govuk-hint">guttering and a down-pipe to feed into the drainage system of the main building</li>
              <li class="govuk-hint">a perimeter wall at least 1 metre high with lockable pop holes, unless the veranda forms part of an indoor barn system</li>
              <li class="govuk-hint">mesh roller-screen system running underneath the length of the roof, that fits securely against the wall when extended</li>
              <li class="govuk-hint">a dimmable LED lighting system between 0 lux and 60 lux</li>
             </ul>
          
            <!-- Option: Yes -->
            <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="has-spec" name="hen-veranda-specification" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="has-spec">
                  Yes
                </label>
              </div>

              <!-- Option: No -->
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="has-spec-2" name="hen-veranda-specification" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="has-spec-2">
                  No
                </label>
              </div>

            </div>
          </fieldset>
        </div>

        <!-- Continue button -->
        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>

      </form>
    </div>

     <!-- Eligibility sidebar -->
     <div class="govuk-grid-column-one-third">

      

  </div>

{% endblock %}
