{% extends 'layinghens/current/views/layouts/layout-old.html' %}

{% block pageTitle %}
  You cannot apply for a grant from this scheme
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "Prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems  .'
  }) }}
  {{ govukBackLink ({
    text: 'Back',
    href: 'javascript:history.back()'
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        You cannot apply for a grant from this scheme
      </h1>


     <p class="govuk-hint">The veranda of the housing must have:</p>
            
            <ul class="govuk-list govuk-list--bullet">
              <li class="govuk-hint">a solid concrete floor</li>
              <li class="govuk-hint">a waterproof insulated roof</li>
              <li class="govuk-hint">guttering and a down-pipe to feed into the drainage system of the main building</li>
              <li class="govuk-hint">a perimeter wall at least 1 metre high with lockable pop holes, unless the veranda forms part of an indoor barn system</li>
              <li class="govuk-hint">mesh roller-screen system running underneath the length of the roof, that fits securely against the wall when extended</li>
              <li class="govuk-hint">a dimmable LED lighting system between 0 lux and 60 lux</li>
             </ul>

      <p><a href="https://www.gov.uk/topic/farming-food-grants-payments/rural-grants-payments"  class="govuk-link--no-visited-state govuk-!-font-size-19">
         See other grants you may be eligible for.
      </a>
      </p>

    </div>
  </div>

{% endblock %}
