{% extends "layouts/main.html" %}

{% block pageTitle %}
  Poultry Type – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<!-- Pink banner -->
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems .'
  }) }}
  
  <!-- Back button -->
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!-- Path for next page -->
      <form class="form" action="poultry-type-answer" method="post">

        <!-- Page heading -->
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                What type of poultry housing is the project for?
              </h1>
            </legend>

            <!-- Hint text -->
            <p class="govuk-hint">Select the size of your solar PV system</p>

            <!-- Option: Laying Hens -->
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="poultry-type" name="poultry-type" type="checkbox" value="hens">
                  <label class="govuk-label govuk-checkboxes__label" for="poultry-type">
                    Laying hens (over 15 weeks old)
                  </label>
                </div>

                <!-- Option: Pullets -->
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="poultry-type-2" name="poultry-type" type="checkbox" value="pullets">
                  <label class="govuk-label govuk-checkboxes__label" for="poultry-type-2">
                    Pullets (up to and including 15 weeks old)
                  </label>
                </div>

              <!-- 'or' divider-->
              <div class="govuk-radios__divider">or</div>

              <!-- Option: None of the above -->
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="poultry-type-3" name="poultry-type" type="checkbox" value="none">
                  <label class="govuk-label govuk-checkboxes__label" for="poultry-type-3">
                    None of the above
                  </label>
                </div>

            </div>
          </fieldset>
        </div>
        
        <!-- Continue button -->
        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>

      </form>
    </div>
    
    <!-- Eligibility sidebar -->
    <div class="govuk-grid-column-one-third">

      <div class="app-step-nav-related app-step-nav-related--singular">
        <h2 class="app-step-nav-related__heading">
          <span class="app-step-nav-related__pretitle">Eligibility</span>
          </h2>
          <p>This grant is for:</p>

            <ul class="govuk-list govuk-list--bullet">
              <li>building new housing for laying hens or pullets</li>
              <li>refurbishing or extending existing laying hens or pullet housing</li>
              <li>adding a veranda to existing housing</li>
            </ul>
  
          <a href="#">
          </a>

      </div>

  </div>

{% endblock %}