{% extends "layouts/main.html" %}

{% block pageTitle %}
  Current System – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<!-- Pink banner -->
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems .'
  }) }}
  
  <!-- Back button -->
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!-- Path for next page -->
      <form class="form" action="pullet-current-system-answer" method="post">

        <!-- Page heading -->
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                What type of pullet housing system do you currently use?
              </h1>
            </legend>

            <p class="govuk-hint">The housing system you are replacing, refurbishing or extending for this project</p>

              <!-- Option: Colony cage -->
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="current-system" name="pullet-current-system" type="radio" value="colony cage">
                  <label class="govuk-label govuk-radios__label" for="current-system">
                    Colony cage
                  </label>
                </div>

              <!-- Option: Indoor -->
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="current-system-2" name="pullet-current-system" type="radio" value="indoor">
                  <label class="govuk-label govuk-radios__label" for="current-system-2">
                    Indoor (floor or flat-deck)
                  </label>
                </div>

              <!-- Option: Outdoor -->
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="current-system-3" name="pullet-current-system" type="radio" value="outdoor">
                  <label class="govuk-label govuk-radios__label" for="current-system-3">
                    Outdoor (floor or flat-deck)
                  </label>
                </div>

              <!-- Option: Indoor aviary -->
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="current-system-4" name="pullet-current-system" type="radio" value="indoor aviary">
                  <label class="govuk-label govuk-radios__label" for="current-system-4">
                    Indoor (aviary)
                  </label>
                </div>

              <!-- Option: Outdoor aviary -->
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="current-system-5" name="pullet-current-system" type="radio" value="outdoor aviary">
                  <label class="govuk-label govuk-radios__label" for="current-system-5">
                    Outdoor (aviary)
                  </label>
                </div>

              <!-- 'or' divider-->
              <div class="govuk-radios__divider">or</div>


              <!-- Option: Outdoor aviary -->
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="current-system-6" name="pullet-current-system" type="radio" value="none">
                  <label class="govuk-label govuk-radios__label" for="current-system-6">
                    None of the above
                  </label>
                </div>

            </div>
          </fieldset>
        </div>
        
        <!-- Continue button -->
        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>

      </form>
    </div>
    
    <!-- Eligibility sidebar -->
    <div class="govuk-grid-column-one-third">

      <div class="app-step-nav-related app-step-nav-related--singular">
        <h2 class="app-step-nav-related__heading">
          <span class="app-step-nav-related__pretitle">Funding priorities</span>
          </h2>

          <p>RPA want to prioritise supporting farmers that are transitioning out of using cages, or to high-welfare multi-tier avairy systems.</p>
  
          <a href="#">
          </a>

      </div>

  </div>

{% endblock %}
