{% extends "layouts/main.html" %}

{% block pageTitle %}
  pullet Ventilation Air Quality – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<!-- Pink banner -->
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "Prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems .'
  }) }}
  
  <!-- Back button -->
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!-- Path for next page -->
      <form class="form" action="pullet-ventilation-quality-answer" method="post">

        <!-- Page heading -->
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Will the ventilation maintain the required air quality parameters?
              </h1>
            </legend>

            <p class="govuk-hint">The ventilation must maintain air quality (at bird head height of less than 50cm) at a:</p>
            
            <ul class="govuk-list govuk-list--bullet">
              <li class="govuk-hint">carbon dioxide level of less than 3,000 parts per million (ppm)</li>
              <li class="govuk-hint">percentage relative humidity (%rH) level of 40% to 70%</li>
             </ul>
          
            <!-- Option: Yes -->
            <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="has-air-quality-pullet" name="pullet-ventilation-quality" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="has-air-quality-pullet">
                  Yes
                </label>
              </div>

              <!-- Option: No -->
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="has-air-quality-pullet-2" name="pullet-ventilation-quality" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="has-air-quality-pullet-2">
                  No
                </label>
              </div>

            </div>
          </fieldset>
        </div>

        <!-- Continue button -->
        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>

      </form>
    </div>

  </div>

{% endblock %}
