{% extends 'layinghens/current/views/layouts/layout-old.html' %}

{% block pageTitle %}
  pullet Project Cost – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<!-- Pink banner -->
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "Prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems .'
  }) }}
  
  <!-- Back button -->
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!-- Path for next page -->
      <form class="form" action="pullet-project-cost-answer" method="post">

        <!-- Page heading -->
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                What is the total estimated cost of the pullet housing?
              </h1>
            </legend>

            <!-- Hint text -->
            <p class="govuk-hint">You can only apply for a grant of up to 40% of the estimated costs. The minimum grant you can apply for this project is £15,000 (40% of £37,500). The maximum grant is £500,000.</p>
            
            <p class="govuk-hint">Do not include VAT</p>
            <p class="govuk-hint">Enter amount, for example 95,000</p>

            <!-- Enter amount box -->
              <div class="govuk-input__wrapper">
                <div class="govuk-input__prefix" aria-hidden="true">£</div>
                <input class="govuk-input govuk-input--width-5" id="pullet-project-cost" name="pullet-project-cost" type="text" spellcheck="false" value="{{ data['pullet-project-cost'] }}">
              </div>
            </div>

            <button class="govuk-button" data-module="govuk-button">
              Continue
            </button>
    
          </form>



            </div>
          </fieldset>
        </div>

        <!-- Continue button -->
       
    </div>

{% endblock %}
