{% extends 'layinghens/current/views/layouts/layout.html' %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {{ serviceName }}
      </h1>

      <p>
        Use this service to check:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          if you are eligible to apply for a grant for your project (takes about 15 minutes)
        </li>
        <li>
          how your project scores against the grant funding priorities (takes about 15 minutes if you have all the project details)
        </li>
      </ul>

      <h2 class="govuk-heading-m">
        Who can apply
      </h2>

      <p>
        You can apply if you:
      </p>
        
      <ul class="govuk-list govuk-list--bullet">
        <li>
          are the registered keeper of 1,000 or more laying hens or pullets
        </li>
        <li>
          will do the grant-funded work in England
        </li>
      </ul>

      <h2 class="govuk-heading-m">
        What you can apply for
      </h2>

      <p>
        You can apply for up to 40% of the estimated project costs of either: 
      </p>

       <ul class="govuk-list govuk-list--bullet">
        <li>
          refurbishing or replacing existing laying hen or pullet housing
        <li>
          adding a veranda to existing laying hen or pullet housing
        </li>
      </ul>

      <p>
        If you are replacing or refurbishing a laying hen building, you must add a veranda if you enough outside space. This must be at least either:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          4 metres wide along the length of the hen housing area
        </li>
        <li>
          30% of the indoor hen housing area footprint
        </li>
      </ul>

      <p>
        If you are applying for building project grant funding, you can apply for up to 25% of the estimated costs of buying and installing a solar PV system which produces up to 5 kilowatts (kW) of power capacity per 1,000 birds. 
      </p>

      <p>
        You can apply for grant funding for multiple projects. You must submit an application for each project. You cannot apply for grant funding for both building and veranda-only projects. 
      </p>
      
      <p>
        The maximum total grant amount each business can apply for is £500,000 for building projects (including solar PV system costs) or £100,000 for veranda-only projects. The Rural Payments Agency (RPA) will award the veranda-only grant funding on a first come, first served basis.
      </p>

      <p>
        For building projects, the minimum grant is £15,000 (40% of £37,500). For veranda-only projects, the minimum grant is £5,000 (40% of £12,500).
      </p>

      {{ govukInsetText ({
        text: 'If your project is eligible, you will be able to submit your online application to the RPA.'
      }) }}

      {{ govukButton({
        text: "Start now",
        href: "eligibility/common/project-type",
        isStartButton: true
      }) }}

      <h2 class="govuk-heading-m">
        Before you start
      </h2>

      <p>
        To  use the checker, you need:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          information about the project (for example, planning permission requirements, insulation type, ventilation system capacity, multi-tier system information, veranda specifications)
        </li>
        <li>
          an estimate of the total cost of the project
        </li>
        <li>
          information about your business (for example, county parish holding (CPH) number, number of employees, turnover)
        </li>
      </ul>

      <p>
        If you do not enter any information for more than 20 minutes, your application will time out and you  will have to start again. 
      </p>

      <h2 class="govuk-heading-m">
        Problems  using  the  online  service
      </h2>

      <p>
        If you have any problems  using the online  service, call the RPA and follow the options for the Farming Transformation Fund scheme.
      </p>

      <h3 class="govuk-heading-s">
        Telelephone
      </h3>

      <p>
        Telephone: 03000 200 301
      </p>

      <p>
        Monday to Friday, 9am to 5pm (except public holidays)
      </p>

      <p>
        <a href="#">
          Find out about call charges
        </a>
      </p>

      <h3 class="govuk-heading-s">
        Email
      </h3>

      <p>
        <a href="mailto:FTF@rpa.gov.uk">
          FTF@rpa.gov.uk
        </a>
      </p>

    </div>

  </div>
{% endblock %}
