{% extends "layout.html" %}

{% block pageTitle %}
  You cannot apply for a large grant from this scheme
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="../water/remaining-costs">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        You cannot apply for a large grant from this scheme
      </h1>

      <p>Only businesses that can pay 60% of the total project cost can apply for this grant.</p>

    </div>
  </div>

{% endblock %}
