{% extends 'new/layout.html' %}

{% block pageTitle %}
    Will you work in partnership or collaborate with other farmers or producers?
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form method="post" action="environment">

                {{ govukRadios ({
                    idPrefix: 'scoring-collaboration',
                    name: 'scoring-collaboration',
                    classes: 'govuk-radios--inline',
                    fieldset: {
                        legend: {
                            text: 'Will you work in partnership or collaborate with other farmers or producers?',
                            isPageHeading: true,
                            classes: 'govuk-fieldset__legend--l'
                        }
                    },
                    hint: {
                        text: 'For example, in a formal partnership or contract supply arrangement for raw materials'
                    },
                    items: [
                        {
                            text: 'Yes',
                            value: 'Yes',
                            checked: true if data['scoring-collaboration'] == 'Yes'
                        },
                        {
                            text: 'No',
                            value: 'No',
                            checked: true if data['scoring-collaboration'] == 'No'
                        }
                    ]
                }) }}

                {{ govukButton ({
                    html: 'Continue'
                }) }}

            </form>

        </div>


        <div class="govuk-grid-column-one-third">

            <div class="app-step-nav-related app-step-nav-related--singular">
                <h2 class="app-step-nav-related__heading">
                <span class="app-step-nav-related__pretitle">Eligibility</span>
                </h2>
                <p>
                    RPA wants to fund projects that:
                </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>
                        improve processing and supply chains
                    </li>
                    <li>
                        encourage collaboration and partnerships
                    </li>
                </ul>
            </div>

        </div>

</div>

{% endblock %}