<header role="banner" id="global-header" class=" with-proposition">
  <div class="header-wrapper">
    <div class="header-global">
      <div class="header-logo">
        <a href="https://www.gov.uk" title="Go to the GOV.UK homepage" id="logo" class="content" data-module="track-click" data-track-category="homeLinkClicked" data-track-action="homeHeader">
          <img src="https://assets.publishing.service.gov.uk/static/gov.uk_logotype_crown_invert_trans-203e1db49d3eff430d7dc450ce723c1002542fe1d2bce661b6d8571f14c1043c.png" width="36" height="32" alt=""> GOV.UK
        </a>
      </div>
      <a href="#search" class="search-toggle js-header-toggle">Search</a>
      <form id="search" class="site-search" action="/search" method="get" role="search">
        <div class="content">
          <label for="site-search-text">Search</label>
          <input type="search" name="q" id="site-search-text" title="Search" class="js-search-focus">
          <input class="submit" type="submit" value="Search">
        </div>
      </form>

    </div>

    <div class="header-proposition">
      <div class="content">
        <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
        <nav id="proposition-menu" class="no-proposition-name gem-c-government-navigation">
          <ul id="proposition-links">
            <li>
              <a class="" href="/government/organisations">
                Departments
              </a>
            </li>
            <li>
              <a class="" href="/government/world">
                Worldwide
              </a>
            </li>
            <li>
              <a class="" href="/government/how-government-works">
                How government works
              </a>
            </li>
            <li>
              <a class="" href="/government/get-involved">
                Get involved
              </a>
            </li>
            <li class="clear-child">
              <a class="" href="/search/policy-papers-and-consultations?content_store_document_type%5B%5D=open_consultations&amp;amp;content_store_document_type%5B%5D=closed_consultations">
                Consultations
              </a>
            </li>
            <li>
              <a class="" href="/search/research-and-statistics">
                Statistics
              </a>
            </li>
            <li>
              <a class="" href="/news-and-communications">
                News and communications
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
