{% set tocPage = true %}

{% extends "layout.html" %}

{% block head %}

<link href="/public/stylesheets/govuk-template.css" media="screen" rel="stylesheet" type="text/css">
<link href="/public/stylesheets/core-layout.css" media="screen" rel="stylesheet" type="text/css">
<link href="/public/stylesheets/publisher.css" media="screen" rel="stylesheet" type="text/css">

{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "Prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems.'
  }) }}

  {% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Environment",
        href: "https://www.gov.uk/environment"
      },
      {
        text: "Food and farming",
        href: "https://www.gov.uk/environment/food-and-farming"
      },
      {
        text: "Farming and food grants and payments",
        href: "https://www.gov.uk/environment/farming-food-grants-payments"
      },
      {
        text: "Rural grants and payments",
        href: "https://www.gov.uk/environment/farming-food-grants-payments-rural-grants-payments"
      }
    ]
  }) }}
{% endblock %}

{% block pageTitle %}
Farming Transformation Fund Slurry Infrastructure Grant
{% endblock %}

{% block header %}
{% include "../includes/header-publisher.html" %}

{% endblock %}






<div class="gem-c-contextual-breadcrumbs">

  <div class="gem-c-breadcrumbs govuk-breadcrumbs " data-module="track-click">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item" aria-current="false">
        <a data-track-category="homeLinkClicked" data-track-action="homeBreadcrumb" data-track-label="" data-track-options="{}" class="govuk-breadcrumbs__link" aria-current="false" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="false">
        <a data-track-category="breadcrumbClicked" data-track-action="2" data-track-label="#" data-track-options="{}" class="govuk-breadcrumbs__link" aria-current="false"
          href="#">Rural grants and payments </a>
      </li>
    </ol>
  </div>

</div>



{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="gem-c-title govuk-x!-margin-top-8 govuk-!-margin-bottom-8">
      <p class="govuk-caption-xl">
        Guidance
      </p>
      <h1 class="gem-c-title__text gem-c-title__text--long">
        Farming Transformation Fund Slurry Infrastructure Grant
      </h1>
    </div>

    <p class="gem-c-lead-paragraph">Get a grant to help reduce pollution from slurry and increase your storage capacity.  </p>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="metadata-logo-wrapper">
    <div class="govuk-grid-column-two-thirds metadata-column">
      <div class="app-c-publisher-metadata" lang="en">
        <div class="app-c-published-dates " lang="en">
          From: <a href="#"><span class="govuk-!-font-weight-bold govuk-link govuk-link--no-visited-state">Rural Payments Agency</span></a>
          <br>Published 1 April 2022

        </div>



    </div>
  </div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- start of guidance specific block -->
    {% block guidance %}Guidance content goes here, override this by overriding the block{% endblock %}
    <!-- end guidance specific block-->




    <div data-sticky-element="" class="app-c-contents-list-with-body__link-wrapper govuk-sticky-element--enabled">
      <div class="app-c-contents-list-with-body__link-container">
        <a class="govuk-link app-c-back-to-top dont-print" href="#toc">
          <svg class="app-c-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
            <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
          </svg>
          Contents
        </a>
      </div>
    </div>

  </div>

  <div class="govuk-grid-column-one-third">

    <div class="gem-c-contextual-sidebar">

      <div class="gem-c-related-navigation">

        <h2 class="gem-c-related-navigation__main-heading" data-track-count="sidebarRelatedItemSection">
          Related content
        </h2>

        <nav role="navigation" class="gem-c-related-navigation__nav-section" aria-labelledby="related-nav-related_items-2dae1b11" data-module="gem-toggle">

          <ul class="gem-c-related-navigation__link-list" data-module="track-click">

            <li class="gem-c-related-navigation__link"><a class="govuk-link govuk-link--no-visited-state" href="https://www.gov.uk/guidance/farming-transformation-fund-how-to-fill-in-an-improving-farm-productivity-grant-full-application">Farming Transformation Fund: How to apply for an Improving Farm Productivity grant</a></li>
            <li class="gem-c-related-navigation__link"><a class="govuk-link govuk-link--no-visited-state" href="https://www.gov.uk/guidance/farming-transformation-fund-water-management-grant-manual">Farming Transformation Fund Water Management grant manual</a></li>
            <li class="gem-c-related-navigation__link"><a class="govuk-link govuk-link--no-visited-state" href="https://www.gov.uk/guidance/farming-transformation-fund-how-to-fill-in-a-water-management-grant-full-application">Farming Transformation Fund: How to fill in a Water Management grant Full Application</a></li>
            <li class="gem-c-related-navigation__link"><a class="govuk-link govuk-link--no-visited-state" href="https://www.gov.uk/guidance/farming-investment-fund">Farming Investment Fund</a></li>

          </ul>
        </nav>



      </div>

    </div>

  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="gem-c-contextual-footer">

        <div class="gem-c-related-navigation">

          <nav role="navigation" class="gem-c-related-navigation__nav-section govuk-!-padding-top-4" aria-labelledby="related-nav-topics-0e73d175" data-module="gem-toggle">

            <span id="related-nav-topics-0e73d175" class="gem-c-related-navigation__sub-heading gem-c-related-navigation__sub-heading--footer" data-track-count="footerRelatedItemSection">Explore the topic</span>

            <ul class="gem-c-related-navigation__link-list" data-module="track-click">

              <li class="gem-c-related-navigation__link"><a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--footer govuk-link--no-visited-state" data-track-category="relatedLinkClicked" data-track-action="1.1 Explore the topic"
                  data-track-label="#" data-track-options="{&quot;dimension28&quot;:&quot;1&quot;,&quot;dimension29&quot;:&quot;Rural grants and payments&quot;}"
                  href="#">Rural grants and payments</a></li>

            </ul>
          </nav>

        </div>

      </div>

    </div>
  </div>

</div>

{% endblock %}
