{% extends 'layinghens/current/views/layouts/layout.html' %}

{% set poultryType = 'hen' %}
{% if data['poultry-type'] %}
    {% set poultryType = data['poultry-type'] %}
{% endif %}

{% block pageTitle %}
    Will all roof and wall inlets and outlets be capped with mesh that has a spacing of 6 millimetres (mm) or less?
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form method="post">

                {{ govukRadios ({
                    idPrefix: 'biosecurity',
                    name: 'biosecurity',
                    classes: 'govuk-radios--inline',
                    fieldset: {
                        legend: {
                            text: 'Will all roof and wall inlets and outlets be capped with mesh that has a spacing of 6 millimetres (mm) or less?',
                            isPageHeading: true,
                            classes: 'govuk-fieldset__legend--l'
                        }
                    },
                    items: [
                        {
                            text: 'Yes',
                            value: 'Yes',
                            checked: true if data['biosecurity'] == 'Yes',
                            attributes: {
                                    'data-next': 'insulation'
                                }
                        },
                        {
                            text: 'No',
                            value: 'No',
                            checked: true if data['biosecurity'] == 'No',
                            attributes: {
                                    'data-next': 'elim-biosecurity'
                                }
                        }
                    ]
                }) }}

                {{ govukButton ({
                    html: 'Continue'
                }) }}

            </form>

        </div>


        <div class="govuk-grid-column-one-third">

            <div class="app-step-nav-related app-step-nav-related--singular">
                <h2 class="app-step-nav-related__heading">
                <span class="app-step-nav-related__pretitle">Eligibility</span>
                </h2>
                <p>
                    The housing must have roof and wall inlets and outlets that are capped with mesh that has a spacing (aperture) of 6mm or less.
                </p>
            </div>

        </div>

</div>

{% endblock %}