{% extends 'layinghens/current/views/layouts/layout.html' %}

{% block pageTitle %}
    You cannot apply for a grant from this scheme - Building items
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form method="post">

                <h1 class="govuk-heading-l">You cannot apply for a grant from this scheme</h1>

                <p>
                    The building must have:
                </p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>
                        a fixed structure with a solid concrete floor
                    </li>
                    <li>
                        water-tight roof and walls
                    </li>
                    <li>
                        capped roof and wall inlets and outlets
                    </li>
                    <li>
                        catch trays under all chimneys and roof-mounted vents
                    </li>
                </ul>

                <p>
                    <a href="https://www.gov.uk/topic/farming-food-grants-payments/rural-grants-payments">
                        See other grants you may be eligible for.
                    </a>
                </p>

            </form>

        </div>

</div>

{% endblock %}