{% extends 'layinghens/current/views/layouts/layout.html' %}

{% set poultryType = 'hen' %}
{% if data['poultry-type'] %}
    {% set poultryType = data['poultry-type'] %}
{% endif %} 

{% block pageTitle %}
    Will the building have full wall and roof insulation?
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form method="post">

                {% set nextPage = 'lighting' %}
                {% if data['poultry-type'] == 'pullet' %}
                    {% set nextPage = 'pullet-requirements' %}
                {% endif %}

                {{ govukRadios ({
                    idPrefix: 'insulation',
                    name: 'insulation',
                    classes: 'govuk-radios--inline',
                    fieldset: {
                        legend: {
                            text: 'Will the building have full wall and roof insulation?',
                            isPageHeading: true,
                            classes: 'govuk-fieldset__legend--l'
                        }
                    },
                    items: [
                        {
                            text: 'Yes',
                            value: 'Yes',
                            checked: true if data['insulation'] == 'Yes',
                            attributes: {
                                    'data-next': nextPage
                                }
                        },
                        {
                            text: 'No',
                            value: 'No',
                            checked: true if data['insulation'] == 'No',
                            attributes: {
                                    'data-next': 'elim-insulation'
                                }
                        }
                    ]
                }) }}

                {{ govukButton ({
                    html: 'Continue'
                }) }}

            </form>

        </div>


        <div class="govuk-grid-column-one-third">

            <div class="app-step-nav-related app-step-nav-related--singular">
                <h2 class="app-step-nav-related__heading">
                <span class="app-step-nav-related__pretitle">Eligibility</span>
                </h2>
                {% if data['project-type'] == 'refurb' %}
                    <p>
                        When the project is complete, the building must have full wall and roof insulation.
                    </p>
                {% else %}
                    <p>
                        The new building must have wall and roof insulation with a U-Value of less than 0.3 watts per square metre, per degree Kelvin (0.3W/m²K).
                    </p>
                {% endif %}
            </div>

        </div>

</div>

{% endblock %}