{% extends 'layinghens/current/views/layouts/layout.html' %}

{% set poultryType = 'hen' %}
{% if data['poultry-type'] %}
    {% set poultryType = data['poultry-type'] %}
{% endif %}

{% block pageTitle %}
    Will the inside of the building have these features?
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form method="post">

                {% set hintHtml %}

                    <p class="govuk-hint">
                        The pullet housing must have:
                    </p>

                    <ul class="govuk-hint govuk-list govuk-list--bullet">
                        <li>
                            a useable area provided over a range of bird-accessible heights from 10 days of age
                        </li>
                        <li>
                            height adjustable perches at equal to or more than 8cm per pullet
                        </li>
                        <li>
                            a minimum of 50% of the floor area covered in litter
                        </li>
                    </ul>

                {% endset %}

                {{ govukRadios ({
                    idPrefix: 'pullet-requirements',
                    name: 'pullet-requirements',
                    classes: 'govuk-radios--inline',
                    fieldset: {
                        legend: {
                            text: 'Will the inside of the building have these features?',
                            isPageHeading: true,
                            classes: 'govuk-fieldset__legend--l'
                        }
                    },
                    hint: {
                        html: hintHtml
                    },
                    items: [
                        {
                            text: 'Yes',
                            value: 'Yes',
                            checked: true if data['pullet-requirements'] == 'Yes',
                            attributes: {
                                    'data-next': 'insulation'
                                }
                        },
                        {
                            text: 'No',
                            value: 'No',
                            checked: true if data['pullet-requirements'] == 'No',
                            attributes: {
                                    'data-next': 'elim-pullet-requirements'
                                }
                        }
                    ]
                }) }}

                {{ govukButton ({
                    html: 'Continue'
                }) }}

            </form>

        </div>

</div>

{% endblock %}