{% extends 'layinghens/current/views/layouts/layout.html' %}

{% set poultryType = 'hen' %}
{% if data['poultry-type'] %}
    {% set poultryType = data['poultry-type'] %}
{% endif %}

{% set question = 'Will the structure be surrounded by a concrete apron?' %}
{% block pageTitle %}
    {{ question }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form method="post">

            {{ govukRadios ({
                idPrefix: 'concrete-apron',
                name: 'concrete-apron',
                classes: 'govuk-radios--inline',
                fieldset: {
                    legend: {
                        text: question,
                        isPageHeading: true,
                        classes: 'govuk-fieldset__legend--l'
                    }
                },
                hint: {
                    text: 'This should be continuous, unless there needs to be a gap where birds have direct access to a range'
                },
                items: [
                    {
                        text: 'Yes',
                        value: 'Yes',
                        checked: true if data['concrete-apron'] == 'Yes',
                        attributes: {
                                'data-next': 'egg-store'
                            }
                    },
                     {
                        text: 'No',
                        value: 'No',
                        checked: true if data['concrete-apron'] == 'No',
                        attributes: {
                                'data-next': 'elim-concrete-apron'
                            }
                    }
                ]
            }) }}

                {{ govukButton ({
                    html: 'Continue'
                }) }}

            </form>

        </div>

        <div class="govuk-grid-column-one-third">

            <div class="app-step-nav-related app-step-nav-related--singular">
                <h2 class="app-step-nav-related__heading">
                <span class="app-step-nav-related__pretitle">Eligibility</span>
                </h2>
                <p>
                    The building (and veranda if there is one) must have a concrete apron to help keep the area around the building clean and discourage nesting wildlife.
                </p>
            </div>

        </div>

</div>

{% endblock %}