{% extends 'layinghens/current/views/layouts/layout.html' %}

{% set poultryType = 'hen' %}
{% if data['poultry-type'] %}
    {% set poultryType = data['poultry-type'] %}
{% endif %}

{% block pageTitle %}
    Will there be direct external access to the building’s egg store?
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form method="post">

                {{ govukRadios ({
                    idPrefix: 'egg-store',
                    name: 'egg-store',
                    classes: 'govuk-radios--inline',
                    fieldset: {
                        legend: {
                            text: 'Will there be direct external access to the building’s egg store?',
                            isPageHeading: true,
                            classes: 'govuk-fieldset__legend--l'
                        }
                    },
                    hint: {
                        text: 'This must be separate from the main entrance lobby and connected changing area'
                    },
                    items: [
                        {
                            text: 'Yes',
                            value: 'Yes',
                            checked: true if data['egg-store'] == 'Yes',
                            attributes: {
                                    'data-next': 'changing-area'
                                }
                        },
                        {
                            text: 'No',
                            value: 'No',
                            checked: true if data['egg-store'] == 'No',
                            attributes: {
                                    'data-next': 'elim-egg-store'
                                }
                        }
                    ]
                }) }}

                {{ govukButton ({
                    html: 'Continue'
                }) }}

            </form>

        </div>

        <div class="govuk-grid-column-one-third">

            <div class="app-step-nav-related app-step-nav-related--singular">
                <h2 class="app-step-nav-related__heading">
                <span class="app-step-nav-related__pretitle">Eligibility</span>
                </h2>
                <p>
                    You must be able to remove eggs and deliver empty egg trays to and from the building’s egg store without going into the building’s main entrance lobby or connected changing area.
                </p>
            </div>

        </div>

</div>

{% endblock %}