{% extends 'layinghens/current/views/layouts/layout.html' %}

{% set poultryType = 'hen' %}
{% if data['poultry-type'] %}
    {% set poultryType = data['poultry-type'] %}
{% endif %}

{% block pageTitle %}
    Will the building have an external tap at the main pedestrian access point?
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form method="post">

                {{ govukRadios ({
                    idPrefix: 'external-taps',
                    name: 'external-taps',
                    classes: 'govuk-radios--inline',
                    fieldset: {
                        legend: {
                            text: 'Will the building have an external tap at the main pedestrian access point?',
                            isPageHeading: true,
                            classes: 'govuk-fieldset__legend--l'
                        }
                    },
                    
                    items: [
                        {
                            text: 'Yes',
                            value: 'Yes',
                            checked: true if data['external-taps'] == 'Yes',
                            attributes: {
                                'data-next': '../solar/solar-pv-system'
                            }
                        },
                        {
                            text: 'No',
                            value: 'No',
                            checked: true if data['external-taps'] == 'No',
                            attributes: {
                                'data-next': 'elim-external-taps'
                            }
                        }
                    ]
                }) }}

                {{ govukButton ({
                    html: 'Continue'
                }) }}

            </form>

        </div>

        <div class="govuk-grid-column-one-third">

            <div class="app-step-nav-related app-step-nav-related--singular">
                <h2 class="app-step-nav-related__heading">
                <span class="app-step-nav-related__pretitle">Eligibility</span>
                </h2>
                <p>
                    There must be an external tap at the main pedestrian access point to manage external footbaths. 
                </p>
            </div>
        </div>

</div>

{% endblock %}