{% extends 'layinghens/current/views/layouts/layout.html' %}

{% set poultryType = 'hen' %}
{% if data['poultry-type'] %}
    {% set poultryType = data['poultry-type'] %}
{% endif %}

{% block pageTitle %}
    Will there be a designated area for washing and disinfecting vehicles?
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form method="post">

            {% set hintHtml %}

                <p class="govuk-hint">
                    This must be an area on site that includes:
                </p>

                <ul class="govuk-list govuk-list--bullet govuk-hint">
                    <li>   
                        a concrete surface that is appropriate to the size of the vehicles entering the facility (minimum width of 3 metres)
                    </li>
                    <li>
                        a drainage system and storage tanks for soiled water
                    </li>
                </ul>

            {% endset %}

            {{ govukRadios ({
                idPrefix: 'vehicle-washing-area',
                name: 'vehicle-washing-area',
                classes: 'govuk-radios--inline',
                fieldset: {
                    legend: {
                        text: 'Will there be a designated area for washing and disinfecting vehicles?',
                        isPageHeading: true,
                        classes: 'govuk-fieldset__legend--l'
                    }
                },
                hint: {
                    html: hintHtml
                },
                items: [
                {
                    text: 'Yes',
                    value: 'Yes',
                    checked: true if data['vehicle-washing-area'] == 'Yes',
                    attributes: {
                                'data-next': '../solar/solar-pv-system'
                            }
                },
                 {
                    text: 'No',
                    value: 'No',
                    checked: true if data['vehicle-washing-area'] == 'No',
                    attributes: {
                                'data-next': 'elim-vehicle-washing-area'
                            }
                }
                ]
            }) }}

                {{ govukButton ({
                    html: 'Continue'
                }) }}

            </form>

        </div>

</div>

{% endblock %}