{% extends 'end-to-end/layout-account-2.html' %}

{% block pageTitle %}
   You cannot apply for a grant from this scheme
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        You cannot apply for a grant from this scheme
      </h1>
      <p>Your project cannot increase water use from summer abstraction or mains.</p>

      {{ govukInsetText({
        html: '<p>RPA wants to fund projects that use more sustainable water sources, such as:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>winter peak-flow abstraction</li>
          <li>rain water harvesting</li>
          <li>bore hole/aquifer</li>
        </ul>
      '
      }) }}

      <a href="https://www.gov.uk/topic/farming-food-grants-payments/rural-grants-payments" target="_blank" class="govuk-!-font-size-19">
         See other grants you may be eligible for.
      </a>

    </div>
  </div>

{% endblock %}
