
{% extends "../layouts/GUIDANCEALL.html" %}

{% block guidance %}

<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">

<h2 id="payments">Rural grants and payments claims</h2>
<p><a href="https://www.gov.uk/claim-rural-payments">Make or update a rural payments claim in England</a><br>
Apply for a rural grant or payment, including the Basic Payment Scheme (BPS), or update your claim details.</p>

<h2 id="available-schemes">Open for applications</h2>
<p><a href="https://www.gov.uk/government/collections/basic-payment-scheme">Basic Payment Scheme</a><br>
For farmers with at least 5 hectares of land.</p>

<p><a href="https://www.gov.uk/government/collections/countryside-stewardship-get-paid-for-environmental-land-management">Countryside Stewardship</a><br>
Funding for farmers, woodland owners, foresters and land managers to help them look after and improve the environment.</p>

<p><a href="https://www.gov.uk/government/collections/environmental-stewardship-guidance-and-forms-for-existing-agreement-holders">Environmental Stewardship</a><br>
Funding for farmers and land managers who manage their land in a way that protects and helps the environment and wildlife.</p>

<p><a href="small-grants">Grants for equipment to improve productivity</a><br>
Up to £12,000 to help farmers buy specific equipment.</p>

<p><a href="large-water">Grants for water resource management projects</a><br>
Up to £1 million towards reservoirs and irrigation projects.</p>

<p><a href="large-slurry">Grants for slurry equipment</a><br>
Up to £1 million towards specific equipment that makes more efficient use of slurry, manure and digestate.</p>

<p><a href="https://www.gov.uk/government/publications/rdpe-growth-programme">RDPE Growth Programme</a><br>
Grants for projects that create jobs and growth in the rural economy.</p>

<h2 id="closed-for-applications">Closed for applications</h2>

<p><a href="https://www.gov.uk/guidance/england-coast-path-establishment-fund-ecpef">England Coast Path Establishment Fund (ECPEF)</a><br>
Grants to prepare areas for public use for land owners, managers, and access authorities</p>

<p><a href="https://www.gov.uk/government/publications/farming-ammonia-reduction-grant-scheme-claim-form-and-offer-terms">Farming Ammonia Reduction Grant Scheme</a><br>
To help farmers install slurry store and lagoon covers.</p>

<p><a href="https://www.gov.uk/guidance/rural-development-programme-for-england-leader-funding">RDPE LEADER funding</a><br>
Localised funding for projects that create jobs and benefit the rural economy</p>

<p><a href="https://www.gov.uk/government/publications/water-environment-grant-weg-handbooks-guidance-and-forms">Water Environment Grant (WEG)</a><br>
To help organisations and land managers improve the water environment</p>

</div>
{% endblock %}

