{% extends 'layinghens/current/views/layouts/layout.html' %}

{% set poultryType = 'hen' %}
{% if data['poultry-type'] %}
    {% set poultryType = data['poultry-type'] %}
{% endif %}

{% block pageTitle %}
    Will the veranda be biosecure?
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form method="post">

                {% set hintHtml %}

                    <p class="govuk-hint">
                        The veranda must have:
                    </p>

                    <ul class="govuk-hint govuk-list govuk-list--bullet">
                        <li>
                            a mesh roller screen with a mesh hole size of 6mm or less running underneath the length of the roof, that fits securely against the wall when extended
                        </li>
                        <li>
                            closable pop holes along the length of the building which are at least 35cm high and 40cm wide, unless the veranda is part of an indoor barn system
                        </li>
                    </ul>

                {% endset %}

                {% set nextPage = 'pasture' %}
                {% if data['project-type'] == 'veranda' %}
                    {% set nextPage = 'project-cost-total' %}
                {% endif %}

                {{ govukRadios ({
                    idPrefix: 'veranda-biosecurity',
                    name: 'veranda-biosecurity',
                    classes: 'govuk-radios--inline',
                    fieldset: {
                        legend: {
                            text: 'Will the veranda be biosecure?',
                            isPageHeading: true,
                            classes: 'govuk-fieldset__legend--l'
                        }
                    },
                    hint: {
                        html: hintHtml
                    },
                    items: [
                        {
                            text: 'Yes',
                            value: 'Yes',
                            checked: true if data['veranda-biosecurity'] == 'Yes',
                            attributes: {
                                    'data-next': nextPage
                                }
                        },
                        {
                            text: 'No',
                            value: 'No',
                            checked: true if data['veranda-biosecurity'] == 'No',
                            attributes: {
                                    'data-next': 'elim-biosecurity'
                                }
                        }
                    ]
                }) }}

                {{ govukButton ({
                    html: 'Continue'
                }) }}

            </form>

        </div>


        <div class="govuk-grid-column-one-third">

            <div class="app-step-nav-related app-step-nav-related--singular">
                <h2 class="app-step-nav-related__heading">
                <span class="app-step-nav-related__pretitle">Eligibility</span>
                </h2>
                <p>
                    You must be able to make the veranda biosecure with mesh during housing orders.
                </p>
                <p>
                    The pop hole openings must add up to a total of 2 metres for every 1,000 hens.
                </p>
                <p>
                    The base of all pop holes must either:
                </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>
                        be less than 30cm from floor level
                    </li>
                    <li>
                        have access ramps that are as wide as the pop holes
                    </li>
                </ul>
            </div>

        </div>

</div>

{% endblock %}