{% extends 'layinghens/current/views/layouts/layout.html' %}

{% block pageTitle %}
    You cannot apply for a grant from this scheme - Project cost
{% endblock %}

{% block content %}

{% if data['cost'] | float > 12500 %}
    
    {{ 'potential-funding' | redirect | safe }} 

{% endif %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form method="post">

                <h1 class="govuk-heading-l">You cannot apply for a grant from this scheme</h1>

                <p>
                    The minimum grant you can apply for housing project costs is £5,000 (40% of £12,500).
                </p>

                <p>
                    <a href="https://www.gov.uk/topic/farming-food-grants-payments/rural-grants-payments">
                        See other grants you may be eligible for.
                    </a>
                </p>

            </form>

        </div>

</div>

{% endblock %}