{% extends "layout.html" %}

{% block pageTitle %}
  Farmer details
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="../water/applying">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="../water/consent" method="post">

        <h1 class="govuk-heading-l"> Farmer details </h1>

        <div class="govuk-form-group">
          <label class="govuk-label" for="farmer-full-name">
            Full name
          </label>
          <input class="govuk-input" id="farmer-full-name" name="farmer-full-name" type="text" spellcheck="false" autocomplete="name" value="{{ data['farmer-full-name'] }}">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="farmer-email">
            Email address
          </label>
          <input class="govuk-input" id="farmer-email" name="farmer-email" type="farmer-email" spellcheck="false" aria-describedby="farmer-email-hint" autocomplete="farmer-email" value="{{ data['farmer-email'] }}">
        </div>
		
        <div class="govuk-form-group">
          <label class="govuk-label" for="farmer-phone">
            UK telephone number
          </label>
          <input class="govuk-input" id="farmer-phone" name="farmer-phone" type="farmer-phone" spellcheck="false" aria-describedby="farmer-phone-hint" autocomplete="farmer-phone" value="{{ data['farmer-phone'] }}">
        </div>


		  <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">
			  Continue
		  </button>

      </form>

    </div>
  </div>

{% endblock %}
