{% extends "layout.html" %}

{% block pageTitle %}
Meeting the remaining project costs
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="{{ backUrl }}">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form id="mainForm" class="form" action="{{ nextUrl }}" method="post">

      {% set remainingCosts = data['project-cost'] * 0.6 %}

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Can you pay the remaining costs of £{{ remainingCosts | toFixed(2) | commafy }}?
            </h1>
          </legend>
          <div id="public-money-hint" class="govuk-hint">
            You cannot use any grant funding from government or local authorities. You can use money from the Basic Payment Scheme or agri-environment schemes such as Countryside Stewardship Scheme.
          </div>
          <div class="govuk-radios govuk-radios--inline">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="remaining-costs" name="remaining-costs" type="radio" value="yes" {{ checked("remaining-costs", "yes") }}>
              <label class="govuk-label govuk-radios__label" for="remaining-costs">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="remaining-costs-2" name="remaining-costs" type="radio" value="no" {{ checked("remaining-costs", "no") }}>
              <label class="govuk-label govuk-radios__label" for="remaining-costs-2">
                No
              </label>
            </div>
          </div>
      </div>

      <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">Continue</button>

      {% if data['COMPLETED'] == true %}
        <button onclick="document.getElementById('mainForm').action='{{ completedUrl }}'"
          class="govuk-button govuk-!-margin-right-1" data-module="govuk-button"
        >
          Back to summary page
        </button>
      {% endif %}


    </form>


  </div>
</div>

{% endblock %}
