{% extends "layout.html" %}

{% block pageTitle %}
Agricultural sector
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems  .'
  }) }}

<a class="govuk-back-link" href="{{ backUrl }}">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form id="mainForm" class="form" action="{{ nextUrl }}" method="post">
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            Which  agricultural  sector is your project in?  
          </h1>
        </legend>
        <div class="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="agricultural-sector" name="agricultural-sector" type="radio" value="horticulture" {{ checked("agricultural-sector", "horticulture") }}>
            <label class="govuk-label govuk-radios__label" for="agricultural-sector">
              Horticulture
            </label>
          </div>
          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="agricultural-sector-1" name="agricultural-sector" type="radio" value="arable" {{ checked("agricultural-sector", "arable") }}>
              <label class="govuk-label govuk-radios__label" for="agricultural-sector-1">
              Arable
              </label>
            </div>
            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="agricultural-sector-2" name="agricultural-sector" type="radio" value="dairy livestock" {{ checked("agricultural-sector", "dairy livestock") }}>
                <label class="govuk-label govuk-radios__label" for="agricultural-sector-2">
                  Dairy livestock
                </label>
              </div>
              <div class="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="agricultural-sector-3" name="agricultural-sector" type="radio" value="non-dairy livestock" {{ checked("agricultural-sector", "non-dairy livestock") }}>
                  <label class="govuk-label govuk-radios__label" for="agricultural-sector-3">
                    Non-dairy livestock
                  </label>
                </div>
            </div>
            </fieldset>
          </div>
          <button class="govuk-button govuk-!-margin-right-1 govuk-!-margin-top-6" data-module="govuk-button">
            Continue
          </button>
          


          </form>
          </div>

  </div>

{% endblock %}
