{% extends "layout.html" %}

{% block pageTitle %}
  Which items eligible for grant funding are included in the project?
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems.'
  }) }}

  <a class="govuk-back-link" href="{{ backUrl }}">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form id="mainForm" class="form" action="{{ nextUrl }}" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="associated-works-hint">



            <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="associated-works-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
          What eligible items does your project need?
        </h1>
      </legend>
      <div id="project-items-hint" class="govuk-hint">

 The minimum grant you can apply for is £35,000 (40% of £87,500). The maximum grant is £500,000.
    </div>

<p class="govuk-hint">Select all the items your project needs</p>

<div class="govuk-checkboxes">
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="robotic-equipment-1" name="robotic-equipment" type="checkbox" value="Robotic or autonomous harvesting equipment" {{ checked("robotic-equipment", "Robotic or autonomous harvesting equipment") }}>
    <label class="govuk-label govuk-checkboxes__label" for="robotic-equipment-1">
      Robotic or autonomous harvesting equipment
    </label>
  </div>
  <div class="govuk-checkboxes">
    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="robotic-equipment-2" name="robotic-equipment" type="checkbox" value="Advanced ventilation control units" {{ checked("robotic-equipment", "Advanced ventilation control units") }}>
      <label class="govuk-label govuk-checkboxes__label" for="robotic-equipment-2">
        Advanced ventilation control units
      </label>
    </div>
    <div class="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="robotic-equipment-3" name="robotic-equipment" type="checkbox" value="Robotic weeding equipment" {{ checked("robotic-equipment", "Robotic weeding equipment") }}>
        <label class="govuk-label govuk-checkboxes__label" for="robotic-equipment-3">
          Robotic weeding equipment
        </label>
      </div>
      <div class="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="robotic-equipment-4" name="robotic-equipment" type="checkbox" value="Voluntary robotic milking equipment" {{ checked("robotic-equipment", "Voluntary robotic milking equipment") }}>
          <label class="govuk-label govuk-checkboxes__label" for="robotic-equipment-4">
            Voluntary robotic milking equipment
          </label>
        </div>
        <div class="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="robotic-equipment-5" name="robotic-equipment" type="checkbox" value="Robotic spraying equipment" {{ checked("robotic-equipment", "Robotic spraying equipment") }}>
            <label class="govuk-label govuk-checkboxes__label" for="robotic-equipment-5">
              Robotic spraying equipment
            </label>
          </div>
          <div class="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="robotic-equipment-6" name="robotic-equipment" type="checkbox" value="Robotic transplanting" {{ checked("robotic-equipment", "Robotic transplanting") }}>
              <label class="govuk-label govuk-checkboxes__label" for="robotic-equipment-6">
                Robotic transplanting
              </label>
            </div>
            <div class="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="robotic-equipment-7" name="robotic-equipment" type="checkbox" value="Robotic feeding systems" {{ checked("robotic-equipment", "Robotic feeding systems") }}>
                <label class="govuk-label govuk-checkboxes__label" for="robotic-equipment-7">
                  Robotic feeding systems
                </label>
              </div>
              <div class="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="robotic-equipment-8" name="robotic-equipment" type="checkbox" value="Wavelength-specific LED lighting" {{ checked("robotic-equipment", "Wavelength-specific LED lighting") }}>
                  <label class="govuk-label govuk-checkboxes__label" for="robotic-equipment-8">
                    Wavelength-specific LED lighting
                  </label>
                </div>
                <div class="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="robotic-equipment-9" name="robotic-equipment" type="checkbox" value="Robotic tractor" {{ checked("robotic-equipment", "Robotic tractor") }}>
                    <label class="govuk-label govuk-checkboxes__label" for="robotic-equipment-9">
                      Robotic tractor
                    </label>
                  </div>
                  <div class="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="robotic-equipment-10" name="robotic-equipment" type="checkbox" value="Other robotic equipment" {{ checked("robotic-equipment", "Other robotic equipment") }}>
                      <label class="govuk-label govuk-checkboxes__label" for="robotic-equipment-10">
                        Other robotic equipment
                      </label>
                    </div>

            </div>
  </fieldset>
</div>

    </fieldset>
  </div>

<button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">Continue</button>

      </form>
    </div>
  </div>


{% endblock %}
