{% extends "layout.html" %}

{% block pageTitle %}
  Your details
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems  .'
  }) }}

  <a class="govuk-back-link" href="{{ backUrl }}">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" id="mainForm" action="{{ nextUrl }}" method="post">
        <h1 class="govuk-heading-l"> Farmer or contractor's details</h1>
        <h2 class="govuk-heading-m govuk-!-padding-top-6 govuk-!-padding-bottom-2">Name</h2>
        <div class="govuk-form-group">
          <label class="govuk-label" for="farmer-firstname">
            First name
          </label>
          <input class="govuk-input govuk-!-width-one-half" id="farmer-firstname" name="farmer-firstname" type="text" spellcheck="false" autocomplete="name" value="{{ data['farmer-firstname'] }}">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="farmer-lastname">
            Last name
          </label>
          <input class="govuk-input govuk-!-width-one-half" id="farmer-lastname" name="farmer-lastname" type="text" spellcheck="false" autocomplete="name" value="{{ data['farmer-lastname'] }}">
        </div>


        <h2 class="govuk-heading-m govuk-!-padding-top-6 govuk-!-padding-bottom-2">Contact details</h2>
        <div class="govuk-form-group">
          <label class="govuk-label" for="farmer-email">
              Email address
              <div id="event-name-hint" class="govuk-hint">
              {% if data['applicant'] === "Agent" %} We'll only use this to send them confirmation
                         {% else %}
                         We'll only use this to send you confirmation
                         {% endif %}
              </div>

          </label>
          <input class="govuk-input  govuk-!-width-two-thirds" id="farmer-email" name="farmer-email" type="farmer-email" spellcheck="false" aria-describedby="farmer-email-hint" autocomplete="farmer-email" value="{{ data['farmer-email'] }}">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="farmer-landline">
              Mobile number
          </label>
          <div id="mobile-name-hint" class="govuk-hint">
            {% if data['applicant'] === "Agent" %} We will only use this to contact them about their application
                       {% else %}
                       We will only use this to contact you about your application
                       {% endif %}
            </div>
          <input class="govuk-input  govuk-!-width-two-thirds" id="farmer-landline" name="farmer-landline" type="farmer-landline" spellcheck="false" aria-describedby="farmer-landline-hint" autocomplete="farmer-landline" value="{{ data['farmer-landline'] }}">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="farmer-mobile">
              Landline number
          </label>
          <div id="landline-name-hint" class="govuk-hint">
            {% if data['applicant'] === "Agent" %} We will only use this to contact them about their application
                       {% else %}
                       We will only use this to contact you about your application
                       {% endif %}
          </div>
          <input class="govuk-input  govuk-!-width-two-thirds" id="farmer-mobile" name="farmer-mobile" type="farmer-mobile" spellcheck="false" aria-describedby="farmer-mobile-hint" autocomplete="farmer-mobile" value="{{ data['farmer-mobile'] }}">
        </div>

        <h2 class="govuk-heading-m govuk-!-padding-top-6 govuk-!-padding-bottom-3">Address</h2>
        <div class="govuk-form-group">
            <label class="govuk-label" for="farmer-address1">
                Building and street
            </label>
            <input class="govuk-input govuk-!-width-two-thirds" id="farmer-address1" name="farmer-address1" type="farmer-address1" spellcheck="false" aria-describedby="farmer-address1-hint" autocomplete="farmer-address1" value="{{ data['farmer-address1'] }}">
        </div>

        <div class="govuk-form-group">
            <label class="govuk-label" for="farmer-address2">

            </label>
            <input class="govuk-input govuk-!-width-two-thirds" id="farmer-address2" name="farmer-address2" type="farmer-address2" spellcheck="false" aria-describedby="farmer-address2-hint" autocomplete="farmer-address2" value="{{ data['farmer-address2'] }}">
        </div>

        <div class="govuk-form-group">
            <label class="govuk-label" for="farmer-town">
                Town (optional)
            </label>
            <input class="govuk-input govuk-!-width-one-half" id="farmer-town" name="farmer-town" type="farmer-town" spellcheck="false" aria-describedby="farmer-town-hint" autocomplete="farmer-town" value="{{ data['farmer-town'] }}">
        </div>

        <div class="govuk-form-group">
            <label class="govuk-label" for="farmer-county">
                County
            </label>
            <input class="govuk-input govuk-!-width-one-half" id="farmer-county" name="farmer-county" type="farmer-county" spellcheck="false" aria-describedby="farmer-county-hint" autocomplete="farmer-county" value="{{ data['farmer-county'] }}">
        </div>

        <div class="govuk-form-group govuk-!-padding-bottom-8">
            <label class="govuk-label" for="farmer-postcode">
                Postcode
            </label>
            <input class="govuk-input govuk-!-width-one-quarter" id="farmer-postcode" name="farmer-postcode" type="farmer-postcode" spellcheck="false" aria-describedby="farmer-postcode-hint" autocomplete="farmer-postcode" value="{{ data['farmer-postcode'] }}">
        </div>

        <button class="govuk-button govuk-!-margin-top-6 govuk-!-margin-right-1" data-module="govuk-button">
          Continue
        </button>


      </form>
    </div>
  </div>

{% endblock %}
