{% extends "layout.html" %}

{% block pageTitle %}
  You may be able to apply for a grant from this scheme
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems  .'
  }) }}
  <a class="govuk-back-link" href="other-robotic-equipment">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-body govuk-!-font-size-48">
        <h1 class="govuk-heading-l">
          You may be able to apply for this grant from this scheme
        </h1>

        <p>RPA will assess your item and whether they will fund it.  </p>

        <div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    There’s no guarantee your item will be funded. 
  </strong>
</div>

            <form class="form" action="{{ nextUrl }}" method="post">
              <button class="govuk-button govuk-!-margin-top-6" data-module="govuk-button">Continue</button>
            </form>

      </div>
    </div>
  </div>

{% endblock %}
