{% extends "layout.html" %}

{% block pageTitle %}
Potential grant funding
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems  .'
  }) }}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Potential grant funding
    </h1>

    {% set grantAmount = data['solar-cost'] *0.25 %}
    {% set projectCost = data['solar-cost'] %}

      {% if projectCost >=4000001 %}
      <p class="govuk-body">You may be able to apply for a grant of up to £100,000, based on the estimated cost of £{{ data['solar-cost'] | toFixed(2) | commafy }}.</p>

      {% else %}
    <p class="govuk-body">You may be able to apply for a grant of up to £{{ grantAmount | toFixed(2) | commafy }}, based on the estimated cost of £{{ data['solar-cost'] | toFixed(2) | commafy }}.</p>
          {% endif %}

    {{ govukWarningText({
        text: 'There’s no guarantee the project will receive a grant.',
        iconFallbackText: 'Warning'
    }) }}

    <form id="mainForm" class="form" action="solar-remaining-costs" method="post">

      <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">Continue</button>



    </form>


  </div>
</div>

{% endblock %}
