{% extends "layout.html" %}

{% block pageTitle %}
Will your project use data analytics to improve productivity? 
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems  .'
  }) }}

  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form id="mainForm" class="form" action="{{ nextUrl }}" method="post">

        <div class="govuk-form-group">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Will your project use data analytics to improve productivity? 
              </h1>
            </legend>
            <p class="govuk-hint">Software that automates the analysis of the data it collects to improve efficiency (for example, analysing white blood cell counts in dairy)</p>
            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="project-impact" name="project-impact" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="project-impact">
                  Yes, we have the technology already 
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="project-impact-2" name="project-impact" type="radio" value="willdo">
                <label class="govuk-label govuk-radios__label" for="project-impact-2">
                  Yes, we’ll buy the technology as part of the project
                </label>
                <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">Software licences cannot be paid for by the grant</div>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="project-impact-2" name="project-impact" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="project-impact-2">
                  No, we will not use any data analytics 
                </label>
              </div>
            </div>
        </div>


<button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">Continue</button>

      </form>

    </div>
    <div class="govuk-grid-column-one-third">

      <div class="app-step-nav-related app-step-nav-related--singular">
        <h2 class="app-step-nav-related__heading">
          <span class="app-step-nav-related__pretitle">Funding priorities</span>
          </h2>
         <p>RPA wants to fund projects that:</p>
         <ul class="govuk-list govuk-list--bullet">
          <li>improve productivity</li>
          <li>introduce innovation</li>

         </ul>


      </div>

      </div>
  </div>


{% endblock %}
