{% extends "layout.html" %}

{% block pageTitle %}
  You cannot apply for this scheme  
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems  .'
  }) }}

  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
     
      <h1 class="govuk-heading-l">
        You cannot apply for grant funding for this technology
      </h1>

      <p class="govuk-body">RPA will only fund robotic technology that: </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>have a sensing system and can understand their environment</li>
        <li>make decisions and plan</li>
        <li>can control its actuators (the devices that move robot joints)</li>
        <li>work in a continuous loop</li>
      </ul>
      <br>

      {% if (data['add-item'] == "Yes") %}

      <div class="govuk-button-group">

        <form id="mainForm" class="form" action="project-items-summary" method="post">
        <button class="govuk-button" data-module="govuk-button">          
          Continue with eligible technology
        </button>
        </form>

        <form id="mainForm" class="form" action="robotic-items" method="post">
        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Add another technology
        </button>
        </form>

      </div>

      {% else %}

      <form id="mainForm" class="form" action="robotic-items" method="post">
        <button class="govuk-button" data-module="govuk-button">Add another technology</button>
       </form>

      {% endif %}



       <p><a href="https://www.gov.uk/topic/farming-food-grants-payments/rural-grants-payments"  class="govuk-!-font-size-19">
          See other grants you may be eligible for
        </a></p>



    </div>
  </div>

{% endblock %}
