{% extends "layout.html" %}

{% block pageTitle %}
  How much energy will your solar PV system output 
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems  .'
  }) }}
 
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>

{% endblock %}

{% block content %}


  <div class="govuk-grid-row">



    <div class="govuk-grid-column-two-thirds">
      <form id="mainForm" class="form" action="answers" method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              How much energy will your solar PV system output?
            </h1>
          </legend>
          <p class="govuk-hint">Select the size of your solar PV system</p>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="system-size" name="system-size" type="radio" value="100">
              <label class="govuk-label govuk-radios__label" for="system-size">
                Up to 100kW
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="system-size-2" name="system-size" type="radio" value="350">
              <label class="govuk-label govuk-radios__label" for="system-size-2">
                100kW to 350kW
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="system-size-3" name="system-size" type="radio" value="350plus">
              <label class="govuk-label govuk-radios__label" for="system-size-3">
                More than 350kW
              </label>
            </div>
                      
          </div>
        </fieldset>
      </div>

      <button class="govuk-button" data-module="govuk-button">Get your score</button>

      </form>
    </div>



    <div class="govuk-grid-column-one-third">

      <div class="app-step-nav-related app-step-nav-related--singular">
        <h2 class="app-step-nav-related__heading">
          <span class="app-step-nav-related__pretitle">Funding priorities</span>
          </h2>

          <p>RPA wants to fund projects that need smaller solar PV systems.</p>

        </div>

    </div>

  </div>


{% endblock %}
