{% extends "layout.html" %}

{% block pageTitle %}
  What is the total estimated cost of the solar PV system?
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems  .'
  }) }}

  <a class="govuk-back-link" href="{{ backUrl }}">Back</a>

{% endblock %}



{% block content %}





  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <form id="mainForm" class="form" action="solar-cost-answer" method="post">

        <div class="govuk-form-group">
          <h1 class="govuk-heading-l">What is the total estimated cost of the solar PV system?</h1>
          <div class="govuk-hint">
            You can only apply for a grant of up to 25% of the estimated costs. The minimum grant you can apply for this project is £15,000 (25% of £60,000), The maximum grant is £100,000 (25% of £400,000).
            <br/><br/>
            Do not include VAT.
          </div>

          <span class="govuk-caption-m">Enter amount, for example 95,000</span>
          <div class="govuk-input__wrapper govuk-!-margin-top-4">
          <span  class="govuk-input__prefix" aria-hidden="true">£</span>
          <input class="govuk-input govuk-input--width-10" id="project-cost" name="solar-cost" type="text" spellcheck="false" aria-describedby="project-cost-hint" pattern="[0-9]*" inputmode="numeric" value="{{ data['solar-cost'] }}">

          </div>
        </div>


        <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">Continue</button>
      
      </form>

    </div>


    <div class="govuk-grid-column-one-third">      
    </div>


  </div>



{% endblock %}
