{% extends "layout.html" %}

{% block pageTitle %}
  Other robotic equipment
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems  .'
  }) }}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

     <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form id="mainForm" class="form" action="technology-description-answer" method="post">
          <div class="govuk-form-group">
     <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
       <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
         <h1 class="govuk-fieldset__heading">

          {% if (data['robotic-equipment'] == "Other technology") %}

              Describe the {{ data['equipment-type'] | lower }} technology

              {% elseif (data['robotic-equipment'] == "Driverless robotic tractor or platform") %}

              Describe the driverless robotic tractor or platform

              {% elseif (data['robotic-equipment'] == "Voluntary robotic milking system") %}

              Describe the voluntary robotic milking system

              {% elseif (data['robotic-equipment'] == "Slurry robots") %}

              Describe the slurry robots

              {% else %}

              Describe the {{ data['robotic-equipment'] | lower }}

              {% endif %}
          
          


         </h1>
       </legend>       
                
        <p class="govuk-hint">Technology powered by fossil fuels will only be funded where there is no commercially available electric or renewable energy alternative </p>
      
        <br>
        
        <div class="govuk-form-group">
          <label class="govuk-label" for="width-10">
            Item name
          </label>
          <input class="govuk-input govuk-input--width-20" id="width-10" name="name-of-item" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-10">
            Brand (optional)
          </label>
          <input class="govuk-input govuk-input--width-20" id="width-10" name="width10" type="text">
        </div>


        <div class="govuk-form-group">
          <label class="govuk-label" for="width-10">
            Model (optional)
          </label>
          <input class="govuk-input govuk-input--width-20" id="width-10" name="width10" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-10">
            Number of items, if you need funding for multiple (optional)
          </label>
          <input class="govuk-input govuk-input--width-2" id="width-10" name="width10" type="text">
        </div>      
        
     </fieldset>
   </div>
   <br>
   
     <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">Continue</button>
     </form>
   </div>
  <div class="govuk-grid-column-one-third">
  



{%endblock%}
