{% extends "layout.html" %}

{% block pageTitle %}
Have you already started work on the project?
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a prototype. It is not a real service.'
}) }}

<a class="govuk-back-link" href="{{ backUrl }}">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form id="mainForm" class="form" action="{{ nextUrl }}" method="post">

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            Will this project fit within your wider farming operations?
          </h1>
        </legend>

        <div class="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="wider-farming-1" name="wider-farming" type="radio" value="yes project fits" {{ checked("wider-farming", "yes project fits") }}>
            <label class="govuk-label govuk-radios__label" for="wider-farming-1">
              Yes, this project will fit into the existing farming operations
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="wider-farming-2" name="wider-farming" type="radio" value="yes buying tech that fits" {{ checked("wider-farming", "yes buying tech that fits") }}>
            <label class="govuk-label govuk-radios__label" for="wider-farming-2">
            Yes, project costs will include the technology required to ensure that it fits in into the wider farming operations
            </label>
          </div>


          <div class="govuk-radios__divider">or</div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="lwider-farming-3" name="wider-farming" type="radio" value="no" {{ checked("wider-farming", "no") }}>
            <label class="govuk-label govuk-radios__label" for="wider-farming-3">
              No, this project will not fit into my wider farming operations
            </label>
          </div>
        </div>

      </fieldset>
    </div>



    <p>  <br/><button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">Continue</button></p>
  </form>

  </div>

  <!--top right column 'Funding priorities'-->
  <div class="govuk-grid-column-one-third">
    <div class="app-step-nav-related app-step-nav-related--singular">
      <h2 class="app-step-nav-related__heading">
        <span class="app-step-nav-related__pretitle">Funding priorities</span>
        </h2>
        <p class="govuk-body">RPA wants to fund projects that:</p>
        <ul class="govuk-list govuk-list--bullet">
        <li>improve productivity</li>
        <li>improve the environment</li>
        <li>introduce innovation</li>
        </ul>

    </div>
    </div>
  </div>







{% endblock %}
