{% extends "layout.html" %}

{% block pageTitle %}
Have you already started work on the project?
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a prototype. It is not a real service.'
}) }}

<a class="govuk-back-link" href="{{ backUrl }}">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form id="mainForm" class="form" action="{{ nextUrl }}" method="post">
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            Will your project use data analytics to improve productivity on the farm?  
          </h1>
        </legend>
        <div class="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="wider-farming-1" name="wider-farming" type="radio" value="yes project fits" {{ checked("wider-farming", "yes project fits") }}>
            <label class="govuk-label govuk-radios__label" for="wider-farming-1">
              Yes, we have the technology already
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="wider-farming-2" name="wider-farming" type="radio" value="yes buying tech that fits" {{ checked("wider-farming", "yes buying tech that fits") }}>
            <label class="govuk-label govuk-radios__label" for="wider-farming-2">
            Yes, we’ll buy the technology as part of the project
            </label>
          </div>

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="lwider-farming-3" name="wider-farming" type="radio" value="No" {{ checked("wider-farming", "No") }}>
            <label class="govuk-label govuk-radios__label" for="wider-farming-3">
              No, we will not use any data analytics
            </label>
          </div>
        </div>
      </fieldset>
    </div>
  <p>  <br/><button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">Continue</button></p>
  </form>
  </div>

  <!--top right column 'Funding priorities'-->
  <div class="govuk-grid-column-one-third">
    <div class="app-step-nav-related app-step-nav-related--singular">
      <h2 class="app-step-nav-related__heading">
        <span class="app-step-nav-related__pretitle">Eligibility</span>
        </h2>
        <p class="govuk-body">Your project must use data analytics.</p>

    </div>
    </div>
  </div>

{% endblock %}
