{% extends "layout.html" %}

{% block pageTitle %}
  Who is applying for this grant?
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems  .'
  }) }}

  <a class="govuk-back-link" href="{{ backUrl }}">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="{{ nextUrl }}" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Who is applying for this grant?
              </h1>
            </legend>
            <br><br>
            <div class="govuk-radios--inline">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="applicant" name="applicant" type="radio" value="Applicant" {{ checked("applicant", "Applicant") }}>
                <label class="govuk-label govuk-radios__label" for="applicant">
            Applicant
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="applicant-2" name="applicant" type="radio" value="Agent" {{ checked("applicant", "Agent") }}>
                <label class="govuk-label govuk-radios__label" for="applicant-2">
                  Agent
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">
          Continue
        </button>

      </form>

    </div>
  </div>

{% endblock %}
