{% extends 'layinghens/current/views/layouts/layout.html' %}

{% block pageTitle %}
    Which type of poultry is the project for?
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form method="post">

            {% set nextPage = 'one-thousand-birds' %}

                {{ govukRadios ({
                    idPrefix: 'poultry-type',
                    name: 'poultry-type',
                    fieldset: {
                        legend: {
                            text: 'Which type of poultry is the project for?',
                            isPageHeading: true,
                            classes: 'govuk-fieldset__legend--l'
                        }
                    },
                    items: [
                        {
                            text: 'Laying hens (over 15 weeks old)',
                            value: 'hen',
                            checked: true if data['poultry-type'] == 'hen',
                            attributes: {
                                'data-next': nextPage
                            }
                        },
                        {
                            text: 'Pullets (up to and including 15 weeks old)',
                            value: 'pullet',
                            checked: true if data['poultry-type'] == 'pullet',
                            attributes: {
                                'data-next': nextPage
                            }
                        },
                        {
                          divider: 'or'
                        },
                        {
                            text: 'None of the above',
                            value: 'None of the above',
                            checked: true if data['poultry-type'] == 'none',
                            attributes: {
                                'data-next': 'elim-poultry-type'
                            }
                        }
                    ]
                }) }}

                {{ govukButton ({
                    html: 'Continue'
                }) }}

            </form>

        </div>

        <div class="govuk-grid-column-one-third">

            <div class="app-step-nav-related app-step-nav-related--singular">
                <h2 class="app-step-nav-related__heading">
                <span class="app-step-nav-related__pretitle">Eligibility</span>
                </h2>
                <p>
                    This grant is for replacing or refurbishing existing housing for laying hens or pullets.
                </p>
            </div>

        </div>

</div>

{% endblock %}