{% extends "layout.html" %}

{% block pageTitle %}
Straw bedding
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems.'
  }) }}

  <a class="govuk-back-link" href="{{ backUrl }}">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <form id="mainForm" class="form" action="{{ nextUrl }}" method="post">

              {{ govukRadios({
                  classes: "govuk-radios--inline",
                  idPrefix: 'draught',
                  name: 'draught',
                  fieldset: {
                      legend: {
                          text: 'Will calves be protected from draughts?',
                          isPageHeading: yes,
                          classes: 'govuk-fieldset__legend--l'
                      }
                  },

                  items: [
                {
                  value: "yes",
                  text: "Yes",
                  checked: checked("draught", "yes")
                },

                {
                  value: "no",
                  text: "No",
                  checked: checked("draught", "no")
                }

              ]
              }) }}

          <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">Continue</button>


      </form>
    </div>
    <div class="govuk-grid-column-one-third">

      <div class="app-step-nav-related app-step-nav-related--singular">
        <h2 class="app-step-nav-related__heading">
          <span class="app-step-nav-related__pretitle">Eligibility</span>
          </h2>
          <p class="govuk-body">All projects must have external calf-height solid walls/barriers to keep out drafts.<br><br>
            For igloos/hutches adjacent to a permanent open-sided structure, this may mean adding solid sides to the outside pens.
          </p>
            </div>
   </div>

{% endblock %}
