{% extends "layout.html" %}

{% extends "./layouts/_BASEFULL.html" %}

{% block service %}

<span class="govuk-caption-xl">Prototypes</span>
<h1 class="govuk-heading-l">
  Grants prototypes
</h1>
<p>
  The following were built using GOV.UK Prototype Kit v9.8.0.
</p>

<h2 class="govuk-heading-m">
  Prototypes
</h2>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Prototype</th>
      <th class="govuk-table__header" scope="col">Description</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="welcome">
          Expression of interest
        </a></td>
      <td class="govuk-table__cell">Water resource management</td>
    </tr>
  </tbody>
</table>

<h2 class="govuk-heading-m govuk-!-margin-top-9">
  Pages
</h2>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Page</th>
      <th class="govuk-table__header" scope="col">Description</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="start">
          Start page
        </a></td>
      <td class="govuk-table__cell">Expression of Interest start page</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="farming-type">
          Project eligibility
        </a></td>
      <td class="govuk-table__cell">Expression of Interest project eligibility</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="project-items">
          Theme eligibility
        </a></td>
      <td class="govuk-table__cell">Expression of Interest theme eligibility</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="business">
          Contact details
        </a></td>
      <td class="govuk-table__cell">Expression of Interest contact details</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="irrigation">
          Project benefits
        </a></td>
      <td class="govuk-table__cell">Expression of Interest project benefits</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="task-list">
          Task list
        </a></td>
      <td class="govuk-table__cell">Task list page for the '{{serviceName}}' service</td>
    </tr>

  </tbody>
</table>

{% endblock %}
