{% set tocPage = true %}

{% extends "layout.html" %}

{% block head %}

<link href="/public/stylesheets/govuk-template.css" media="screen" rel="stylesheet" type="text/css">
<link href="/public/stylesheets/core-layout.css" media="screen" rel="stylesheet" type="text/css">
<link href="/public/stylesheets/publisher.css" media="screen" rel="stylesheet" type="text/css">

{% endblock %}

{% block pageTitle %}
Rural grants and payments - GOV.UK
{% endblock %}

{% block header %}
{% include "../includes/header-publisher.html" %}
{% endblock %}

{% block beforeContent %}

<div id="global-header-bar"></div>

<div class="gem-c-contextual-breadcrumbs">

  <div class="gem-c-breadcrumbs govuk-breadcrumbs " data-module="track-click">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item" aria-current="false">
        <a data-track-category="homeLinkClicked" data-track-action="homeBreadcrumb" data-track-label="" data-track-options="{}" class="govuk-breadcrumbs__link" aria-current="false" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="false">
        <a data-track-category="breadcrumbClicked" data-track-action="2" data-track-label="#" data-track-options="{}" class="govuk-breadcrumbs__link" aria-current="false"
          href="#">Rural grants and payments</a>
      </li>
    </ol>
  </div>

</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="gem-c-title govuk-x!-margin-top-8 govuk-!-margin-bottom-8">
      <p class="gem-c-title__context">
        Farming and food grants and payments
      </p>
      <h1 class="gem-c-title__text">
        Rural grants and payments
      </h1>
    </div>

  </div>
</div>

    <div class="govuk-grid-column-two-thirds metadata-column">

<div class="gem-c-metadata" data-module="gem-toggle">
  <dl data-module="track-click">
      <dt class="gem-c-metadata__term">From:</dt>
      <dd class="gem-c-metadata__definition">
          <a href="/government/organisations/rural-payments-agency">Rural Payments Agency</a>, <a href="/government/organisations/department-for-environment-food-rural-affairs">Department for Environment, Food &amp; Rural Affairs</a>, <a href="/government/organisations/natural-england">Natural England</a>, <a href="/government/organisations/environment-agency">Environment Agency</a>, <a href="/government/organisations/forestry-commission">Forestry Commission</a>, <a href="/government/organisations/rural-development-programme-for-england-network">Rural Development Programme for England Network</a>, and <a href="/government/organisations/animal-and-plant-health-agency">Animal and Plant Health Agency</a>

      </dd>
  </dl>
</div>
</div>

<!--<div class="govuk-grid-row">
  <div class="metadata-logo-wrapper">
    <div class="govuk-grid-column-two-thirds metadata-column">
      <div class="app-c-publisher-metadata" lang="en">
        <div class="app-c-published-dates " lang="en">
          Published 31 July 2017
          <br>Last updated 9 July 2019
          — <a href="#history">see all updates</a>
        </div>

        <div class="app-c-publisher-metadata__other">
          <dl data-module="track-click">
            <dt class="app-c-publisher-metadata__term">
              From:
            </dt>
            <dd class="app-c-publisher-metadata__definition" data-module="gem-toggle">
              <span class="app-c-publisher-metadata__definition-sentence">
                <a class="govuk-link" href="#">Department for Environment, Food &amp; Rural Affairs</a>, <a class="govuk-link"
                  href="#">Rural Payments Agency</a>, and <a class="govuk-link" href="#">Rural Development Programme for England
                  Network</a>
              </span>
            </dd>
          </dl>
        </div>
      </div>

    </div>
  </div>
</div>-->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- start of guidance specific block -->
    {% block guidance %}Guidance content goes here, override this by overriding the block{% endblock %}
    <!-- end guidance specific block-->

    <div class="responsive-bottom-margin">
      <div class="app-c-published-dates app-c-published-dates--history" id="history" data-module="toggle" lang="en">
        Published 31 July 2017
        <br>Last updated 9 July 2019
        <a href="#full-history" class="app-c-published-dates__toggle" data-controls="full-history" data-expanded="false" data-toggled-text="-&nbsp;hide all updates" role="button" aria-controls="full-history" aria-expanded="false">+&nbsp;show all
          updates</a>
      </div>
    </div>
    <div data-sticky-element="" class="app-c-contents-list-with-body__link-wrapper govuk-sticky-element--enabled">
      <div class="app-c-contents-list-with-body__link-container">
        <a class="govuk-link app-c-back-to-top dont-print" href="#toc">
          <svg class="app-c-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
            <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
          </svg>
          Contents
        </a>
      </div>
    </div>

  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="gem-c-contextual-footer">

        <div class="gem-c-related-navigation">

          <nav role="navigation" class="gem-c-related-navigation__nav-section govuk-!-padding-top-4" aria-labelledby="related-nav-topics-0e73d175" data-module="gem-toggle">

            <span id="related-nav-topics-0e73d175" class="gem-c-related-navigation__sub-heading gem-c-related-navigation__sub-heading--footer" data-track-count="footerRelatedItemSection">Explore the topic</span>

            <ul class="gem-c-related-navigation__link-list" data-module="track-click">

              <li class="gem-c-related-navigation__link"><a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--footer" data-track-category="relatedLinkClicked" data-track-action="1.1 Explore the topic"
                  data-track-label="#" data-track-options="{&quot;dimension28&quot;:&quot;1&quot;,&quot;dimension29&quot;:&quot;Rural grants and payments&quot;}"
                  href="#">Rural grants and payments</a></li>

            </ul>
          </nav>

        </div>

      </div>

    </div>
  </div>

</div>

{% endblock %}
