{% extends "layout.html" %}

{% block pageTitle %}
Check your answers
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="{{ backUrl }}">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">Check your answers</h1>

    <h2 class="govuk-heading-m">Project details and benefits</h2>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-third">
          Project name
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['project-name'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="project">
            Change<span class="govuk-visually-hidden"> project name</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-third">
          Project summary
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['project-summary'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="project">
            Change<span class="govuk-visually-hidden"> project summary</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-third">
          New processes, techniques, or equipment
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['new-slurry'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="collaboration">
            Change<span class="govuk-visually-hidden"> other processes, techniques, or equipment</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-third">
          Other farms supplied with water
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['collaboration'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="collaboration">
            Change<span class="govuk-visually-hidden"> other farms supplied with water</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-third">
          Productivity
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['productivity'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="productivity">
            Change<span class="govuk-visually-hidden"> productivity</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-third">
          Environment
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['environment'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="environment">
            Change<span class="govuk-visually-hidden"> environment</span>
          </a>
        </dd>
      </div>
    </dl>

    <form action="task-list" method="post" novalidate>

      <input type="hidden" name="answers-checked" value="true">

      <button class="govuk-button govuk-!-margin-top-4" data-module="govuk-button">
        Continue
      </button>

    </form>

  </div>
</div>

{% endblock %}
