{% extends 'layinghens/current/views/layouts/layout.html' %}

{% block pageTitle %}
    You cannot apply for a grant from this scheme - Concrete apron
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form method="post">

                <h1 class="govuk-heading-l">You cannot apply for a grant from this scheme</h1>

                <p>
                    Your business does not have an eligible legal status.
                </p>

                {% set detailsContentHTML %}
                    <ul class="govuk-list govuk-list--bullet">
                        <li>
                            Sole trader
                        </li>
                        <li>
                            Partnership
                        </li>
                        <li>
                            Limited company
                        </li>
                        <li>
                            Charity
                        </li>
                        <li>
                            Trust
                        </li>
                        <li>
                            Limited liability partnership
                        </li>
                        <li>
                            Community interest company
                        </li>
                        <li>
                            Limited partnership
                        </li>
                        <li>
                            Industrial and provident society
                        </li>
                        <li>
                            Co-operative society (Co-Op)
                        </li>
                        <li>
                            Community benefit society (BenCom)
                        </li>
                    </ul>
                {% endset %}
                
                {{ govukDetails({
                    summaryText: 'Who is eligible',
                    html: detailsContentHTML
                }) }}

                {{ govukWarningText ({
                    text: 'Other types of business may be supported in future schemes.',
                    iconFallbackText: 'Warning'
                }) }}

                <p>
                    <a href="https://www.gov.uk/topic/farming-food-grants-payments/rural-grants-payments">
                        See other grants you may be eligible for.
                    </a>
                </p>

            </form>

        </div>

</div>

{% endblock %}