{% extends "layout.html" %}

{% block pageTitle %}
  You cannot apply for a large grant from this scheme
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="abstraction-progress">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        You cannot apply for a large grant from this scheme
      </h1>

      <p>Due to the time needed to obtain an abstraction licence, only projects that have already been granted an abstraction licence or are likely to get one in the next six months are eligible to apply.</p>

    </div>
  </div>

{% endblock %}
