
{% extends "./views/layouts/GUIDANCEWATER.html" %}

{% block guidance %}

<div id="toc" class="toc govuk-!-margin-bottom-9"></div>

<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">

<h2 id="who-can-apply">Who can apply</h2>

<p>You can apply if:</p>
<ul>
  <li>your farm is in England</li>
  <li>you grow, or intend to grow, irrigated crops for the food industry</li>
  <li>you own the land the project will be on or have a lease for at least 5 years</li>
  <li>the estimated project costs are over £87,500</li>
</ul>

<h2 id="what-the-grant-is-for">What the grant is for</h2>

<p>The Farming Transformation Fund water grant is to make more efficient use of water for irrigation and secure water supplies for crops.</p>
<p>Grants can cover up to 40% of the eligible costs of a project.</p>
<p>The minimum grant you can claim is £35,000 (40% of £87,500). The maximum grant is £1 million.</p>
<p>The grant can pay up to 40% of the costs for:</p>

<ul>
  <li>constructing water storage reservoirs</li>
  <li>abstraction points, pumps and pipework to fill a reservoir</li>
  <li>irrigation pumps, controls, underground water distribution systems</li>
  <li>water meters</li>
  <li>best practice application equipment such as boom or trickle irrigators</li>
  <li>software and sensors to optimise water application</li>
</ul>

<p>The business must have a water meter or plan to install one as part of the project.</p>

<h2 id="how-to-apply-for-a-grant">How to apply for a grant</h2>
<h3>Check if your project can apply for a grant</h3>
<p>You need to check if you’re eligible and how well your project fits the funding priorities.</p>
<p>You need:</p>

<ul>
  <li>information about your business (number of employees, turnover etc)</li>
  <li>information about the project (irrigated land in hectares etc)</li>
  <li>a list of the items you’d like to buy for the project</li>
  <li>an estimate of the total cost of the items</li>
  <li>to either have or be confident you will have any planning permission and abstraction licences before 21 October 2021</li>
</ul>

<p>After you have gone through the checking service/checker, you’ll get a score showing how well your project fits the funding priorities.</p>
<p>Depending on how well your project scores, you may want to submit your details to RPA to get the full application.</p>

<h3>Submit a full application</h3>
<p>Once you submit a full application, RPA will assess how well it is.</p>
<p>You will not automatically get a grant. The grant is highly competitive and you are competing against other projects.</p>
<p>If your full application is successful, you’ll be sent a funding agreement and can begin work on the project.</p>

<h2 id="when-to-apply">When to apply</h2>

<p>You can check if you’re eligible and how well your project fits the funding priorities from 21 May 2021 to 20 July 2021.</p>
<p>You can submit a full application from 21July 2021 to 21 October 2021.</p>
<p>Your project must be completed before you can claim the funding. All claims for funding must be made before 21 March 2022.</p>
<p>If your project needs planning permission or an abstraction licence, you may want to have these already.</p>
<p>Starting the project or committing to any costs (such as placing orders) before you receive a funding agreement will invalidate your application.</p>
<p>Before you start the project, you can:</p>

<ul>
  <li>get quotes from suppliers</li>
  <li>apply for planning permission or an abstraction licence</li>
</ul>

<p>
<a href="start">Check if you can apply and how well your project fits the funding priorities.</a>
</p>


</div>

<br/>

{% endblock %}
