{% extends "layout.html" %}

{% block pageTitle %}
  {{ data['applicant'] }} details
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="applying">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="final-page" method="post">
	  
	    <h1 class="govuk-heading-l"> {{ data['applicant'] }} details </h1>

        <div class="govuk-form-group">
          <label class="govuk-label" for="other-applicant-full-name">
            Full name
          </label>
          <input class="govuk-input" id="other-applicant-full-name" name="other-applicant-full-name" type="text" spellcheck="false" autocomplete="name" value="{{ data['other-applicant-full-name'] }}">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="other-applicant-email">
            Email address
          </label>
          <input class="govuk-input" id="other-applicant-email" name="other-applicant-email" type="other-applicant-email" spellcheck="false" aria-describedby="other-applicant-email-hint" autocomplete="other-applicant-email" value="{{ data['other-applicant-email'] }}">
        </div>
		
        <div class="govuk-form-group">
          <label class="govuk-label" for="other-applicant-phone">
            UK telephone number
          </label>
          <input class="govuk-input" id="other-applicant-phone" name="other-applicant-phone" type="other-applicant-phone" spellcheck="false" aria-describedby="other-applicant-phone-hint" autocomplete="other-applicant-phone" value="{{ data['other-applicant-phone'] }}">
        </div>

        <h1 class="govuk-heading-l"> Farmer details </h1>

        <div class="govuk-form-group">
          <label class="govuk-label" for="farmer-full-name">
            Full name
          </label>
          <input class="govuk-input" id="farmer-full-name" name="farmer-full-name" type="text" spellcheck="false" autocomplete="name" value="{{ data['farmer-full-name'] }}">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="farmer-email">
            Email address
          </label>
          <input class="govuk-input" id="farmer-email" name="farmer-email" type="farmer-email" spellcheck="false" aria-describedby="farmer-email-hint" autocomplete="farmer-email" value="{{ data['farmer-email'] }}">
        </div>
		
        <div class="govuk-form-group">
          <label class="govuk-label" for="farmer-phone">
            UK telephone number
          </label>
          <input class="govuk-input" id="farmer-phone" name="farmer-phone" type="farmer-phone" spellcheck="false" aria-describedby="farmer-phone-hint" autocomplete="farmer-phone" value="{{ data['farmer-phone'] }}">
        </div>


		  <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">
			  Continue
		  </button>

      </form>

    </div>
  </div>

{% endblock %}
