{% extends "layout.html" %}

{% block pageTitle %}
  Agent-Farmer-Address
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="agent-farmer-contact-details">Back</a>
{% endblock %}

{% block content %}
     <div class="govuk-grid-row">
         <div class="govuk-grid-column-two-thirds">
             <form class="form" action="check-details" method="post">
                <h1 class="govuk-heading-l">Farmer's address details</h1>
                <div class="govuk-form-group">
                    <label class="govuk-label" for="farmer-address1">
                        Address 1
                    </label>
                    <input class="govuk-input govuk-!-width-two-thirds" id="farmer-address1" name="farmer-address1" type="farmer-address1" spellcheck="false" aria-describedby="farmer-address1-hint" autocomplete="farmer-address1" value="{{ data['farmer-address1'] }}">
                </div>

                <div class="govuk-form-group">
                    <label class="govuk-label" for="farmer-address2">
                        Address 2 (optional)
                    </label>
                    <input class="govuk-input govuk-!-width-two-thirds" id="farmer-address2" name="farmer-address2" type="farmer-address2" spellcheck="false" aria-describedby="farmer-address2-hint" autocomplete="farmer-address2" value="{{ data['farmer-address2'] }}">
                </div>

                <div class="govuk-form-group">
                    <label class="govuk-label" for="farmer-town">
                        Town
                    </label>
                    <input class="govuk-input govuk-!-width-one-half" id="farmer-town" name="farmer-town" type="farmer-town" spellcheck="false" aria-describedby="farmer-town-hint" autocomplete="farmer-town" value="{{ data['farmer-town'] }}">
                </div>

                <div class="govuk-form-group">
                    <label class="govuk-label" for="farmer-county">
                        County
                    </label>
                    <input class="govuk-input govuk-!-width-one-half" id="farmer-county" name="farmer-county" type="farmer-county" spellcheck="false" aria-describedby="farmer-county-hint" autocomplete="farmer-county" value="{{ data['farmer-county'] }}">
                </div>

                <div class="govuk-form-group">
                    <label class="govuk-label" for="farmer-postcode">
                        Postcode
                    </label>
                    <input class="govuk-input govuk-!-width-one-quarter" id="farmer-postcode" name="farmer-postcode" type="farmer-postcode" spellcheck="false" aria-describedby="farmer-postcode-hint" autocomplete="farmer-postcode" value="{{ data['farmer-postcode'] }}">
                </div>                

                <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">
                    Continue
                </button>
            </form>
          </div>   
     </div>
{% endblock %}     