{% extends "layout.html" %}

{% block pageTitle %}
  Agent-Farmer-Details
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="your-details">Back</a>
{% endblock %}

{% block content %}
     <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
        <form class="form" action="check-details" method="post">
            <h1 class="govuk-heading-l"> Farmer's details</h1>
        <div class="govuk-form-group">
          <label class="govuk-label" for="agent-farmer-firstname">
            First name
          </label>
          <input class="govuk-input govuk-!-width-one-half" id="agent-farmer-firstname" name="agent-farmer-firstname" type="text" spellcheck="false" autocomplete="name" value="{{ data['agent-farmer-firstname'] }}">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="agent-farmer-lastname">
            Last name
          </label>
          <input class="govuk-input govuk-!-width-one-half" id="agent-farmer-lastname" name="agent-farmer-lastname" type="text" spellcheck="false" autocomplete="name" value="{{ data['agent-farmer-lastname'] }}">
        </div>
         <h2 class="govuk-heading-m govuk-!-padding-top-6 govuk-!-padding-bottom-2">Contact details</h2>
                <div class="govuk-form-group">
                    <label class="govuk-label" for="agent-farmer-email">
                        Email address
                        <div id="event-name-hint" class="govuk-hint">
                            We'll only use this to send you confirmation
                        </div>
                    </label>
                    <input class="govuk-input  govuk-!-width-two-thirds" id="agent-farmer-email" name="agent-farmer-email" type="agent-farmer-email" spellcheck="false" aria-describedby="agent-farmer-email-hint" autocomplete="agent-farmer-email" value="{{ data['agent-farmer-email'] }}">
                </div>
		
                <div class="govuk-form-group">
                    <label class="govuk-label" for="agent-farmer-landline">
                        Mobile number  
                    </label>
                    <input class="govuk-input  govuk-!-width-two-thirds" id="agent-farmer-landline" name="agent-farmer-landline" type="agent-farmer-landline" spellcheck="false" aria-describedby="agent-farmer-landline-hint" autocomplete="agent-farmer-landline" value="{{ data['agent-farmer-landline'] }}">
                </div>

                <div class="govuk-form-group">
                    <label class="govuk-label" for="agent-farmer-mobile">
                        Landline number
                    </label>
                    <input class="govuk-input  govuk-!-width-two-thirds" id="agent-farmer-mobile" name="agent-farmer-mobile" type="agent-farmer-mobile" spellcheck="false" aria-describedby="agent-farmer-mobile-hint" autocomplete="agent-farmer-mobile" value="{{ data['agent-farmer-mobile'] }}">
                 </div>
                <h2 class="govuk-heading-m govuk-!-padding-top-6 govuk-!-padding-bottom-3">Address details</h2>
                <div class="govuk-form-group">
                    <label class="govuk-label" for="agent-farmer-address1">
                        Address 1
                    </label>
                    <input class="govuk-input govuk-!-width-two-thirds" id="agent-farmer-address1" name="agent-farmer-address1" type="agent-farmer-address1" spellcheck="false" aria-describedby="agent-farmer-address1-hint" autocomplete="agent-farmer-address1" value="{{ data['agent-farmer-address1'] }}">
                </div>

                <div class="govuk-form-group">
                    <label class="govuk-label" for="agent-farmer-address2">
                        Address 2 (optional)
                    </label>
                    <input class="govuk-input govuk-!-width-two-thirds" id="agent-farmer-address2" name="agent-farmer-address2" type="agent-farmer-address2" spellcheck="false" aria-describedby="agent-farmer-address2-hint" autocomplete="agent-farmer-address2" value="{{ data['agent-farmer-address2'] }}">
                </div>

                <div class="govuk-form-group">
                    <label class="govuk-label" for="agent-farmer-town">
                        Town (optional)
                    </label>
                    <input class="govuk-input govuk-!-width-one-half" id="agent-farmer-town" name="agent-farmer-town" type="agent-farmer-town" spellcheck="false" aria-describedby="agent-farmer-town-hint" autocomplete="agent-farmer-town" value="{{ data['agent-farmer-town'] }}">
                </div>

                <div class="govuk-form-group">
                    <label class="govuk-label" for="agent-farmer-county">
                        County
                    </label>
                    <input class="govuk-input govuk-!-width-one-half" id="agent-farmer-county" name="agent-farmer-county" type="agent-farmer-county" spellcheck="false" aria-describedby="agent-farmer-county-hint" autocomplete="agent-farmer-county" value="{{ data['agent-farmer-county'] }}">
                </div>

                <div class="govuk-form-group govuk-!-padding-bottom-8">
                    <label class="govuk-label" for="agent-farmer-postcode">
                        Postcode
                    </label>
                    <input class="govuk-input govuk-!-width-one-quarter" id="agent-farmer-postcode" name="agent-farmer-postcode" type="agent-farmer-postcode" spellcheck="false" aria-describedby="agent-farmer-postcode-hint" autocomplete="agent-farmer-postcode" value="{{ data['agent-farmer-postcode'] }}">
                </div>                

		  <button class="govuk-button govuk-!-margin-top-6 govuk-!-margin-right-1" data-module="govuk-button">
			  Continue
		  </button>         
         </form> 
         </div>    
     </div>
{% endblock %}     