{% extends "layout.html" %}

{% block pageTitle %}
   Check Your Details
{% endblock %}

{% block beforeContent %}
    {% if (data['applicant'] == "Agent")%}
        <a class="govuk-back-link" href="agent-farmer-details">Back</a>
    {%else%}
        <a class="govuk-back-link" href="your-details">Back</a>
    {%endif%} 
{% endblock %}

{% block content %}
    
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l govuk-!-margin-top-9 govuk-!-margin-bottom-9">Check your details </h1>
                {#business details #}

                <table class="govuk-table">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <div class="govuk-summary-list__row--no-border">
                                <dt class="govuk-summary-list__key">
                                    <p class="govuk-body govuk-!-font-size-24"><strong>Business details</strong></p>
                                </dt>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="business">
                                            Change<span class="govuk-visually-hidden">business details</span>
                                    </a>
                                </dd>
                            </div>
                        </tr>
                        <hr>
                    </thead>
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <th  scope="row" class="govuk-table__header">
                                <strong>Project name</strong>
                            </th>
                            <td class="govuk-table__cell">
                                {{ data['project-name'] }}
                            </td>
                            <!--
                            <td class="govuk-table__cell">
                                <a class="govuk-link" href="your-details">
                                    Change<span class="govuk-visually-hidden">business details</span>
                                </a>
                            </td>
                            -->
                        </tr>
                        <tr class="govuk-table__row">
                            <th  scope="row" class="govuk-table__header">
                                <strong>Business name</strong>
                            </th>
                            <td class="govuk-table__cell">
                                {{ data['business-name'] }}
                            </td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th  scope="row" class="govuk-table__header">
                                <strong>Number of employees</strong>
                            </th>
                            <td class="govuk-table__cell">
                                {{ data['employees'] }}
                            </td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th  scope="row" class="govuk-table__header">
                                <strong>Business turnover</strong>
                            </th>
                            <td class="govuk-table__cell">
                                {{ data['turnover'] }}
                            </td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th  scope="row" class="govuk-table__header">
                                <strong>Single Business Identifier (SBI)</strong>
                            </th>
                            <td class="govuk-table__cell">
                                {{ data['sbi'] }}
                            </td>
                        </tr>
                       
                    </tbody>
                </table>



<!--
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row--no-border">
                        <dt class="govuk-summary-list__key">
                            <p class="govuk-body govuk-!-font-size-24"><strong>Business details</strong></p>
                        </dt>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="business">
                                    Change<span class="govuk-visually-hidden">business details</span>
                            </a>
                        </dd>
                    </div>
                    <hr>
                    <div class="govuk-summary-list__row--no-border">
                        <dt class="govuk-summary-list__key">
                            <p class="govuk-body govuk-!-font-size-19"><strong>Project name</strong></p>
                        </dt>
                        <dd class="govuk-summary-list__actions">
                            <span class="govuk-!-padding-left-9">{{ data['project-name'] }}</span>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row--no-border">
                        <dt class="govuk-summary-list__key">
                            <p class="govuk-body govuk-!-font-size-19"><strong>Business name</strong></p>
                        </dt>
                        <dd class="govuk-summary-list__actions">
                            <span class="govuk-!-padding-left-9">{{ data['business-name'] }}</span>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row--no-border">
                        <dt class="govuk-summary-list__key">
                            <p class="govuk-body govuk-!-font-size-19"><strong>Number of employees</strong></p>
                        </dt>
                        <dd class="govuk-summary-list__actions">
                            <span class="govuk-!-padding-left-9">{{ data['employees'] }}</span>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row--no-border">
                        <dt class="govuk-summary-list__key govuk-!-padding-right-9">
                            <p class="govuk-body govuk-!-font-size-19"><strong>Business turnover</strong></p>
                        </dt>
                        <dd class="govuk-summary-list__actions">
                             <span class="govuk-!-padding-left-9">{{ data['turnover'] }}</span>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row--no-border">
                        <dt class="govuk-summary-list__key">
                            <p class="govuk-body govuk-!-font-size-19"><strong>Single Business Identifier (SBI)</strong></p>
                        </dt>
                        <dd class="govuk-summary-list__actions">
                             {{ data['sbi'] }}
                        </dd>
                    </div>
                </dl>
-->
                <br><br><br>
                {%if (data['applicant'] == "Farmer")%}
                {# Farmer details #}
                <table class="govuk-table">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <div class="govuk-summary-list__row--no-border">
                                <dt class="govuk-summary-list__key">
                                    <p class="govuk-body govuk-!-font-size-24"><strong>Farmer's details</strong></p>
                                </dt>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="your-details">
                                            Change<span class="govuk-visually-hidden">farmer's details</span>
                                    </a>
                                </dd>
                            </div>
                        </tr>
                        <!--
                            <p class="govuk-body govuk-!-font-size-24"><strong>Farmer's details</strong></p>
                        -->
                        <hr>
                    </thead>
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row--no-border">
                            <th  scope="row" class="govuk-table__header">
                                <strong>Name</strong>
                            </th>
                            <td class="govuk-table__cell">
                               {{data['farmer-firstname']}}
                            </td>
                            <!--

                                <td class="govuk-table__cell">
                                    <a class="govuk-link" href="your-details">
                                        Change<span class="govuk-visually-hidden">business details</span>
                                    </a>
                                </td>
                            -->
                        </tr>
                        <tr class="govuk-table__row">
                            <th  scope="row" class="govuk-table__header">
                                <strong>Home address</strong>
                            </th>
                            <td class="govuk-table__cell">
                                {{ data['farmer-address1'] }}<br>
                                {{ data['farmer-address2'] }}<br>
                                {{ data['farmer-postcode'] }}
                            </td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th  scope="row" class="govuk-table__header">
                                <strong> Contact details</strong>
                            </th>
                            <td class="govuk-table__cell">
                                {{ data['farmer-email'] }}<br>
                                {{ data['farmer-landline'] }}
                            </td>
                        </tr>
                       
                    </tbody>
                </table>
                <div class="govuk-grid-row govuk-!-padding-top-8">
                    <div class="govuk-grid-column-two-thirds">
                        <form class="form" action="consent" method="post">  
                            <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">
                                Continue
                            </button>
                        </form>
                    </div>
                </div>
            {%else%}    
                {#Agent details #}
                <table class="govuk-table">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <div class="govuk-summary-list__row--no-border">
                                <dt class="govuk-summary-list__key">
                                    <p class="govuk-body govuk-!-font-size-24"><strong>Agent's details</strong></p>
                                </dt>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="your-details">
                                            Change<span class="govuk-visually-hidden">agent's details</span>
                                    </a>
                                </dd>
                            </div>
                        </tr>
                        <hr>
                    </thead>
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <th  scope="row" class="govuk-table__header">
                                <strong>Name</strong>
                            </th>
                            <td class="govuk-table__cell">
                                <p>{{ data['other-applicant-firstname'] }}</p>
                            </td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th  scope="row" class="govuk-table__header">
                                <strong>Home address</strong>
                            </th>
                            <td class="govuk-table__cell">
                                {{ data['agent-address1'] }}<br>
                                {{ data['agent-address2'] }}<br>
                                {{ data['agent-postcode'] }}
                            </td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th  scope="row" class="govuk-table__header">
                                <strong> Contact details</strong>
                            </th>
                            <td class="govuk-table__cell">
                                <p>{{ data['agent-email'] }}</p>
                                <p>{{ data['agent-landline'] }}</p>
                            </td>
                        </tr>
                       
                    </tbody>
                </table>
                <br><br>
                {# agent farmer details #}
                <table class="govuk-table">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <div class="govuk-summary-list__row--no-border">
                                <dt class="govuk-summary-list__key">
                                    <p class="govuk-body govuk-!-font-size-24"><strong>Farmer's details</strong></p>
                                </dt>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="agent-farmer-details">
                                            Change<span class="govuk-visually-hidden">farmer's details</span>
                                    </a>
                                </dd>
                            </div>
                        </tr>
                        <hr>
                    </thead>
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row--no-border">
                            <th  scope="row" class="govuk-table__header">
                                <strong>Name</strong>
                            </th>
                            <td class="govuk-table__cell">
                                {{data['agent-farmer-firstname']}}<br>
                            </td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th  scope="row" class="govuk-table__header">
                                <strong>Home address</strong>
                            </th>
                            <td class="govuk-table__cell">
                                {{ data['agent-farmer-address1'] }}<br>
                                {{ data['agent-farmer-address2'] }}<br>
                                {{ data['agent-farmer-postcode'] }}<br>
                            </td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th  scope="row" class="govuk-table__header">
                                <strong> Contact details</strong>
                            </th>
                            <td class="govuk-table__cell">
                                {{ data['agent-farmer-email'] }}<br>
                                {{ data['agent-farmer-landline'] }}
                            </td>
                        </tr>
                       
                    </tbody>
                </table>
        </div>        
     </div>    
        <div class="govuk-grid-row govuk-!-padding-top-8">
            <div class="govuk-grid-column-two-thirds">
                <form class="form" action="consent" method="post">  
                    <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">
                        Continue
                    </button>
                </form>
            </div>
         </div>
        {% endif %}

{% endblock %}
