{% extends "layout.html" %}

{% block pageTitle %}
  current-irrigating
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="{{ backUrl }}">Back</a>
{% endblock %}

{% block content %}
<main class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form id="mainForm" class="form" action="{{ nextUrl }}" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Are you currently irrigating?
              </h1>
            </legend>
            <br>
            <div class="govuk-radios govuk-!-margin-top-4" data-module="govuk-radios">
              <div class="govuk-radios govuk-radios--inline">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="current-irrigating-1" name="current-irrigating" type="radio"  value="Yes" {{ checked("current-irrigating", "Yes") }}>
                  <label class="govuk-label govuk-radios__label" for="current-irrigating-1">
                    Yes
                  </label>
                </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="current-irrigating-2" name="current-irrigating" type="radio" value="No" {{ checked("current-irrigating", "No") }}>
                <label class="govuk-label govuk-radios__label" for="current-irrigating-2">
                  No
                </label>
              </div>
            </div>
          </fieldset>
        <button class="govuk-button govuk-!-margin-right-1 govuk-!-margin-top-9" data-module="govuk-button">
          Continue
        </button>

        {% if data['COMPLETED'] == true %}
          <button onclick="document.getElementById('mainForm').action='{{ completedUrl }}'"
            class="govuk-button govuk-!-margin-right-1" data-module="govuk-button"
          >
            Back to summary page
          </button>
        {% endif %}
      </form>
    </div>
  </div>
</main>
{% endblock %}
