
{% extends "./views/layouts/GUIDANCEWATER.html" %}

{% block guidance %}

<div id="toc" class="toc govuk-!-margin-bottom-9"></div>

<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">

<h2 id="who-can-apply">Who can apply</h2>

<p>You can apply if:</p>
<ul>
  <li>you’re in England</li>
  <li>you grow crops for the food industry</li>
  <li>you’re a nursery growing flowers</li>
  <li>you’re a forestry nursery</li>
  <li>you own the land the project will be on or have a lease for at least 5 years</li>
  <li>the estimated project costs are over £87,500</li>
</ul>

<h2 id="what-the-grant-is-for">What the grant is for</h2>

<p>The Farming Transformation Fund water management grant  is to make more efficient use of water for irrigation and to secure water supplies for crops.</p>
<p>The grant can pay up to 40% of the costs for:</p>

<ul>
  <li>constructing water storage reservoirs</li>
  <li>abstraction points, pumps and pipework to fill a reservoir</li>
  <li>irrigation pumps, controls, underground water distribution systems</li>
  <li>water meters</li>
  <li>best practice application equipment such as boom or trickle irrigators</li>
  <li>software and sensors to optimise water application</li>
</ul>

<p>The minimum grant you can claim is £35,000 (40% of £87,500). The maximum grant is £1 million.</p>

<h2 id="when-to-apply">When to apply</h2>
<table class="govuk-table govuk-body">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header govuk-!-width-one-half">Grant stage</th>
      <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Opens</th>
      <th scope="col" class="govuk-table__header govuk-!-width-one-third">Closes</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Check if you’re eligible</th>
      <td class="govuk-table__cell govuk-!-padding-right-1">1 July 2021</td>
      <td class="govuk-table__cell">31 August 2021</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Full application</th>
      <td class="govuk-table__cell">1 September 2021</td>
      <td class="govuk-table__cell">30 November 2021</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Project completed and claims made</th>
      <td class="govuk-table__cell"></td>
      <td class="govuk-table__cell">21 March 2022</td>
    </tr>
  </tbody>
</table>
<p>Any planning permission or abstraction licences must be in place to submit a full application.</p>
<p>You will invalidate your application if you start the project or commit to any costs (such as placing orders) before you receive a funding agreement.</p>
<p>Before you start the project, you can:</p>

<ul>
  <li>get quotes from suppliers</li>
  <li>apply for planning permission or an abstraction licence (these can take a long time)</li>
</ul>
<p>
</p>

<h2 id="how-to-apply-for-a-grant">How to apply for a grant</h2>
<h3>Check if your project can apply for a grant</h3>
<p class="govuk-!-padding-top-3">You need to <a href="start">check if you’re eligible and how well your project fits the funding priorities.</a></p>
<p>You’ll need:</p>
<ul>
  <li>information about your business (for example number of employees, turnover)</li>
  <li>information about the project (for example irrigated land in hectares)</li>
  <li>a list of the items you’d like to buy for the project</li>
  <li>an estimate of the total cost of the items</li>
</ul>

<p>After you have gone through the checker, you’ll get a score showing how well your project fits the funding priorities.</p>
<p>RPA wants to fund projects that: </p>
<ul>
  <li>improve productivity</li>
  <li>improve the environment</li>
  <li>improve water sustainability</li>
</ul>
<p>When you are happy with your score, you can submit your details to the RPA.</p>
<p>You can go back through the checker as many times as you like but you can only submit your details once.</p>

<h3>Submit a full application</h3>
<p>The RPA will be in touch once the application period opens.</p>
<p>They will tell you if your project scored well enough to get the full application form.</p>
<p>If you submit a full application and it is successful, you’ll be sent a funding agreement and can begin work on the project.</p>
</div>
<br/>

{% endblock %}
