{% extends "layout.html" %}

{% block pageTitle %}
  Irrigated crops
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems.'
  }) }}
  <a class="govuk-back-link" href="{{ backUrl }}">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form id="mainForm" class="form" action="{{ nextUrl }}" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                What main crops will be irrigated?
              </h1>
            </legend>
            <br>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="irrigated-crops-1" name="irrigated-crops" type="radio" value="field-scale crops" {{ checked("irrigated-crops", "field-scale crops") }}>
                <label class="govuk-label govuk-radios__label" for="irrigated-crops-1">
                  Field-scale crops (for example potatoes, onions, carrots)
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="irrigated-crops-2" name="irrigated-crops" type="radio" value="protected cropping" {{ checked("irrigated-crops", "protected cropping") }}>
                <label class="govuk-label govuk-radios__label" for="irrigated-crops-2">
                  Protected cropping (for example glasshouse or poly tunnel)
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="irrigated-crops-3" name="irrigated-crops" type="radio" value="Fruit" {{ checked("irrigated-crops", "Fruit") }}>
                <label class="govuk-label govuk-radios__label" for="irrigated-crops-3">
                  Fruit (for example fruit, bush fruit)
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">
          Continue
        </button>

        {% if data['COMPLETED'] == true %}
          <button onclick="document.getElementById('mainForm').action='{{ completedUrl }}'"
            class="govuk-button govuk-button--secondary govuk-!-margin-right-1" data-module="govuk-button"
          >
            Back to score
          </button>
        {% endif %}
      </form>
    </div>
     <div class="govuk-grid-column-one-third">
      <aside class="app-related-items">
          <h3 class="govuk-heading-s"> Funding  priorities </h3>
          <div class="govuk-body">
             RPA wants to fund projects that:
                   <ul>
                    <li>improve productivity</li>
                   </ul>
          </div>
      </aside>
    </div>
  </div>

{% endblock %}
