{% extends "layout.html" %}

{% block pageTitle %}
  What are your estimate total project costs?
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems.'
  }) }}
  <a class="govuk-back-link" href="{{ backUrl }}">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form id="mainForm" class="form" action="{{ nextUrl }}" method="post">

        <div class="govuk-form-group">
          <h1 class="govuk-heading-l">What is the estimated cost of the items?</h1>
          <div class="govuk-hint">
            You can only apply for a grant of up to 40% of the estimated costs. The minimum grant you can apply for this project is £35,000 (40% of £87,500).
The maximum grant is £500,000.
          </div>

          <span class="govuk-caption-m">Enter amount, for example 95,000</span>
          <div class="govuk-input__wrapper govuk-!-margin-top-4">
          <span  class="govuk-input__prefix" aria-hidden="true">£</span>
          <input class="govuk-input govuk-input--width-10" id="project-cost" name="project-cost" type="text" spellcheck="false" aria-describedby="project-cost-hint" pattern="[0-9]*" inputmode="numeric" value="{{ data['project-cost'] }}">

          </div>
        </div>
        <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">Continue</button>

        {% if data['COMPLETED'] == true %}
          <button onclick="document.getElementById('mainForm').action='{{ completedUrl }}'"
            class="govuk-button govuk-!-margin-right-1" data-module="govuk-button"
          >
            Back to summary page
          </button>
        {% endif %}


      </form>

    </div>
    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-s" id="subsection-title">
          Items selected
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16 govuk-list--bullet">
            {% for item in data['project-items'] %}
            <li>
                {{ item | capitalize }}
            </li>
            {% endfor %}
          </ul>
        </nav>
      </aside>

    </div>
  </div>

{% endblock %}
