{% extends "layout.html" %}

{% block pageTitle %}
  Water source 2
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems.'
  }) }}
  <a class="govuk-back-link" href="change-summerabs">Back</a>
{% endblock %}

{% block content %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{{ govukErrorSummary({
  titleText: "There is a problem",
  errorList: [
    {
      text: "You cannot increase use of an unsustainable water source",
      href: "#water-source-2-target-4"
    }

  ]
}) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form id="mainForm" class="form" action="{{ nextUrl }}" method="post">
          <h1 class="govuk-heading-l">Water source</h1>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h2 class="govuk-fieldset__heading">
                What is your main water source?
              </h2>
            </legend>

            <div id="water-source" class="govuk-hint">
            Select all that apply</div>

            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="water-source-2-current-4" name="water-source-2-current" type="checkbox" value="Summer abstraction" {{ checked("water-source-2-current", "Summer abstraction") }}>
                <label class="govuk-label govuk-checkboxes__label" for="water-source-2-current-4">
                  Summer water surface abstraction
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="water-source-2-current-5" name="water-source-2-current" type="checkbox" value="Mains" {{ checked("water-source-2-current", "Mains") }}>
                <label class="govuk-label govuk-checkboxes__label" for="water-source-2-current-5">
                  Mains
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="water-source-2-current-1" name="water-source-2-current" type="checkbox" value="Peak flow" {{ checked("water-source-2-current", "Peak flow") }}>
                <label class="govuk-label govuk-checkboxes__label" for="water-source-2-current-1">
                  Winter peak-flow abstraction
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="water-source-2-current-3" name="water-source-2-current" type="checkbox" value="Rain water" {{ checked("water-source-2-current", "Rain water") }}>
                <label class="govuk-label govuk-checkboxes__label" for="water-source-2-current-3">
                  Rain water harvesting
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="water-source-2-current-2" name="water-source-2-current" type="checkbox" value="Bore hole" {{ checked("water-source-2-current", "Bore hole") }}>
                <label class="govuk-label govuk-checkboxes__label" for="water-source-2-current-2">
                  Bore hole/aquifer
                </label>
              </div>



            </div>
          </fieldset>
        </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h2 class="govuk-fieldset__heading">
                  Where will the irrigation water come from?
                </h2>
              </legend>
              <div class="govuk-form-group govuk-form-group--error">
              <div id="water-source" class="govuk-hint">
              Select all that apply</div>

              <p id="nationality-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span> You cannot increase use of an unsustainable water source
                  </p>
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="water-source-2-target-4" name="water-source-2-target" type="checkbox" value="Summer abstraction" {{ checked("water-source-2-target", "Summer abstraction") }}>
                  <label class="govuk-label govuk-checkboxes__label" for="water-source-2-target-4">
                    Summer water surface abstraction
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="water-source-2-target-5" name="water-source-2-target" type="checkbox" value="Mains" {{ checked("water-source-2-target", "Mains") }}>
                  <label class="govuk-label govuk-checkboxes__label" for="water-source-2-target-5">
                    Mains
                  </label>
                </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="water-source-2-target-1" name="water-source-2-target" type="checkbox" value="Peak flow" {{ checked("water-source-2-target", "Peak flow") }}>
                <label class="govuk-label govuk-checkboxes__label" for="water-source-2-target-1">
                  Winter peak-flow abstraction
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="water-source-2-target-3" name="water-source-2-target" type="checkbox" value="Rain water harvesting" {{ checked("water-source-2-target", "Rain water harvesting") }}>
                <label class="govuk-label govuk-checkboxes__label" for="water-source-2-target-3">
                  Rain water harvesting
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="water-source-2-target-2" name="water-source-2-target" type="checkbox" value="Bore hole" {{ checked("water-source-2-target", "Bore hole") }}>
                <label class="govuk-label govuk-checkboxes__label" for="water-source-2-target-2">
                  Bore hole/aquifer
                </label>
              </div>
              </div>


            </div>
          </fieldset>
        </div>

        <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">
          Continue
        </button>

        {% if data['COMPLETED'] == true %}
          <button onclick="document.getElementById('mainForm').action='{{ completedUrl }}'"
            class="govuk-button govuk-button--secondary" data-module="govuk-button"
          >
            Back to score
          </button>
        {% endif %}


      </form>
  </div>
  <div class="govuk-grid-column-one-third">
      <aside class="app-related-items">
        <h3 class="govuk-heading-s"> Funding  priorities</h3>
        <div class="govuk-body govuk-!-font-size-19">
          <p>RPA wants to fund projects that use more sustainable water sources, such as:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>winter peak-flow abstraction</li>
            <li>rain water harvesting</li>
            <li>bore hole/aquifer</li>
            </ul>
            <p>RPA will not fund projects that increase water usage from:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>summer water surface abstraction</li>
              <li>mains</li>
              </ul>
        </div>
      </aside>
  </div>
  </div>


{% endblock %}
