{% extends "layout.html" %}

{% block pageTitle %}
  Water SSSI
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems.'
  }) }}
  <a class="govuk-back-link" href="{{ backUrl }}"> Back</a>
{% endblock %}

{% block content %}
 <form id="mainForm" class="form" action="{{ nextUrl }}" method="post">
    <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
                Does the project directly impact a Site <br> of Special Scientific Interest?
            </h1>
          </legend>

          <div class="govuk-radios govuk-radios--inline">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="water-SSSI" name="water-SSSI" type="radio" value="Yes" {{ checked("water-SSSI", "Yes") }}>
              <label class="govuk-label govuk-radios__label" for="water-SSSI">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="water-SSSI-2" name="water-SSSI" type="radio" value="No" {{ checked("water-SSSI", "No") }}>
              <label class="govuk-label govuk-radios__label" for="water-SSSI-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
<br>
        <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">Continue</button>
    </form>

{%endblock%}
