{% extends 'end-to-end/layout.html' %}

{% block pageTitle %}
    Sign in
{% endblock %}

{% block content %}

{% if data['legal-status'] == 'None' %}
    {{ 'elim-legal-status' | redirect | safe }}
{% endif %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form method="post" action="../../task-list/list-1-0">

                <h1 class="govuk-heading-l">
                    Sign in
                </h1>

                        {{ govukInput({
                        label: {
                            text: "Customer reference number (CRN)"
                        },
                        hint: {
                            text: "The 10 digit number emailed to you when you registered with the Rural Payments service"
                        },
                        classes: "govuk-input--width-20",
                        id: "width-20",
                        name: "width20"
                        }) }}

                     {{ govukInput({
                        label: {
                            text: "Password"
                        },
                        hint: {
                            text: "Your Rural Payments service password"
                        },
                        classes: "govuk-input--width-20",
                        id: "width-20",
                        name: "width20"
                        }) }}

                        {{ govukButton ({
                            html: 'Sign in'
                        }) }}

                        <p><a href="#">I have forgotten my password</a></p>

                        <br>
                        <details class="govuk-details">
                            <summary class="govuk-details__summary">
                                <span class="govuk-details__summary-text">
                                Help signing in
                                </span>
                            </summary>
                               <div class="govuk-details__text">
                                Contact the Rural Payments Agency by email or phone if:<br><br>
                                <li>you have forgotten your CRN</li>
                                <li>you have lost your CRN</li>
                                <li>your CRN is not recognised</li>
                                <br>
                                Email: <a href="#">ruralpayments@defra.gov.uk</a><br>
                                <br>
                                Telephone: 03000 200 301<br>
                                Monday to Friday, 8:30am to 5pm, except bank holidays<br>
                                <a href="#">Find out about call charges (opens in new tab)</a><br>
                                <br>
                                <a href="https://www.gov.uk/guidance/rural-payments-service-registering-and-updating-your-details" target="_blank" rel="noreferrer">Register for the Rural Payments service (opens in new tab)</a> if you do not have an account.
                            </div>
                        </details>

            </form>

        </div>


        <div class="govuk-grid-column-one-third">

            <div class="app-step-nav-related app-step-nav-related--singular">
                <h2 class="app-step-nav-related__heading">
                <span class="app-step-nav-related__pretitle">Eligibility</span>
                </h2>
                <p>
                    This grant is only for projects in England.
                </p>
                <p>
                    Scotland, Wales and Northern Ireland have other grants available.
                </p>
            </div>

        </div>

</div>

{% endblock %}