{% extends 'water-r3/layout.html' %}

{% block pageTitle %}
    Sign in
{% endblock %}

{% block content %}

{% if data['legal-status'] == 'None' %}
    {{ 'elim-legal-status' | redirect | safe }}
{% endif %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form method="post" action="farming-type">

                <h1 class="govuk-heading-l">
                    Sign in
                </h1>

                <p>
                    You need to sign in to apply for a Water Management Grant.
                </p>

                        {{ govukInput({
                        label: {
                            text: "Email address"
                        },
                        classes: "govuk-input--width-20",
                        id: "width-20",
                        name: "width20"
                        }) }}

                     {{ govukInput({
                        label: {
                            text: "Password"
                        },
                        classes: "govuk-input--width-20",
                        id: "width-20",
                        name: "width20"
                        }) }}

                        <p><a href="forgotten-password">Forgotten your password?</a></p>



                {{ govukButton ({
                    html: 'Sign in'
                }) }}

            </form>

        </div>


        <div class="govuk-grid-column-one-third">

            <div class="app-step-nav-related app-step-nav-related--singular">
                <h2 class="app-step-nav-related__heading">
                <span class="app-step-nav-related__pretitle">Eligibility</span>
                </h2>
                <p>
                    This grant is only for projects in England.
                </p>
                <p>
                    Scotland, Wales and Northern Ireland have other grants available.
                </p>
            </div>

        </div>

</div>

{% endblock %}