{% extends 'layinghens/current/views/layouts/layout.html' %}

{% block pageTitle %}
    You cannot apply for a grant from this scheme - Veranda specification
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form method="post">

                <h1 class="govuk-heading-l">You cannot apply for a grant from this scheme</h1>

                <p>
                    The veranda must have:
                </p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>
                        a solid concrete floor
                    </li>
                    <li>
                        a waterproof insulated roof
                    </li>
                    <li>
                        a dimmable LED lighting system between 0 lux and 60 lux
                    </li>
                    <li>
                        a perimeter wall, at least one metre high, that includes a biosecure entrance for cleaning access
                    </li>
                    <li>
                        closable pop holes in the perimeter wall, unless the veranda is part of an indoor barn system
                    </li>
                    <li>
                        internal access along the length of the wall of the hen house through closable pop holes that are at least 35cm high and 40cm wide
                    </li>
                    <li>
                        a mesh roller screen running underneath the length of the roof, that fits securely against the wall when you roll it down
                    </li>
                </ul>

                <p>
                    <a href="https://www.gov.uk/topic/farming-food-grants-payments/rural-grants-payments">
                        See other grants you may be eligible for.
                    </a>
                </p>

            </form>

        </div>

</div>

{% endblock %}