{% extends 'layinghens/current/views/layouts/layout.html' %}

{% set poultryType = 'hen' %}
{% if data['poultry-type'] %}
    {% set poultryType = data['poultry-type'] %}
{% endif %}

{% block pageTitle %}
    Are you exempt from adding a veranda to this building?
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form method="post">

                {% set nextPageOnNo = '../biosecurity/egg-store' %}
                {% if poultryType != 'hen' %}
                    {% set nextPageOnNo = '../biosecurity/vaccination-lobby' %}
                {% endif %}

                {% set hintHtml %}

                    <p class="govuk-hint">
                        You are exempt if you do not have space to add a veranda that is either:
                    </p>

                    <ul class="govuk-list govuk-list--bullet govuk-hint">
                        <li>
                            4 metres wide along the length of the bird housing area
                        </li>
                        <li>
                            30% or more of the indoor bird housing area footprint
                        </li>
                    </ul>

                {% endset %}

                {{ govukRadios ({
                    idPrefix: 'veranda-exempt',
                    name: 'veranda-exempt',
                    classes: 'govuk-radios--inline',
                    fieldset: {
                        legend: {
                            text: 'Are you exempt from adding a veranda to this building?',
                            isPageHeading: true,
                            classes: 'govuk-fieldset__legend--l'
                        }
                    },
                    hint: {
                        html: hintHtml
                    },
                    items: [
                        {
                            text: 'Yes',
                            value: 'Yes',
                            checked: true if data['veranda-exempt'] == 'Yes',
                            attributes: {
                                'data-next': nextPageOnNo
                            }
                        },
                        {
                            text: 'No',
                            value: 'No',
                            checked: true if data['veranda-exempt'] == 'No',
                             attributes: {
                                'data-next': 'elim-exempt'
                            }
                        } 
                    ]
                }) }}

                {{ govukButton ({
                    html: 'Continue'
                }) }}

            </form>

        </div>

        <div class="govuk-grid-column-one-third">

            <div class="app-step-nav-related app-step-nav-related--singular">
                <h2 class="app-step-nav-related__heading">
                <span class="app-step-nav-related__pretitle">Eligibility</span>
                </h2>

                <p>
                    You must add a veranda to the building if you have the required space
                </p>    
            </div>

         </div>

</div>

{% endblock %}