{% extends 'layinghens/current/views/layouts/layout.html' %}

{% set poultryType = 'hen' %}
{% if data['poultry-type'] %}
    {% set poultryType = data['poultry-type'] %}
{% endif %}

{% block pageTitle %}
    Will the building have a veranda?
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form method="post">

                {% set nextPageOnYes = 'size' %}
                {% set nextPageOnNo = 'exempt' %}
                {% if poultryType != 'hen' %}
                    {% set nextPageOnYes = '../biosecurity/concrete-apron' %}
                    {% set nextPageOnNo = '../biosecurity/concrete-apron' %}
                {% endif %}

                {{ govukRadios ({
                    idPrefix: 'veranda-present',
                    name: 'veranda-present',
                    fieldset: {
                        legend: {
                            text: 'Will the building have a veranda?',
                            isPageHeading: true,
                            classes: 'govuk-fieldset__legend--l'
                        }
                    },
                    hint : {
                        text: 'You do not have to add a veranda to the building for pullets'
                    } if poultryType != 'hen',
                    items: [
                        {
                            text: 'Yes, on pasture',
                            value: 'Yes, on pasture',
                            checked: true if data['veranda-present'] == 'Yes, on pasture',
                            attributes: {
                                'data-next': nextPageOnYes
                            }
                        },
                        {
                            text: 'Yes, on a hardstanding surface',
                            value: 'Yes, on a hardstanding surface',
                            checked: true if data['veranda-present'] == 'Yes, on a hardstanding surface',
                            attributes: {
                                'data-next': nextPageOnYes
                            }
                        },
                        {
                            divider: 'or'
                        },
                        {
                            text: 'No',
                            value: 'No',
                            checked: true if data['veranda-present'] == 'No',
                             attributes: {
                                'data-next': nextPageOnNo
                            }
                        } 
                    ]
                }) }}

                {{ govukButton ({
                    html: 'Continue'
                }) }}

            </form>

        </div>

        {% if poultryType == 'hen' %}

            <div class="govuk-grid-column-one-third">

                <div class="app-step-nav-related app-step-nav-related--singular">
                    <h2 class="app-step-nav-related__heading">
                    <span class="app-step-nav-related__pretitle">Eligibility</span>
                    </h2>

                    <p>
                        The building must have a veranda.
                    </p>

                    <p>
                        There are exemptions to adding a veranda if you do not have the required space.
                    </p>
        
                </div>

            </div>

         {% endif %}

</div>

{% endblock %}