{% extends 'layinghens/current/views/layouts/layout.html' %}

{% set poultryType = 'hen' %}
{% if data['poultry-type'] %}
    {% set poultryType = data['poultry-type'] %}
{% endif %}

{% block pageTitle %}
    Will the building have a veranda?
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form method="post">

                {{ govukRadios ({
                    idPrefix: 'veranda-present',
                    name: 'veranda-present',
                    classes: 'govuk-radios--inline',
                    fieldset: {
                        legend: {
                            text: 'Will the building have a veranda?',
                            isPageHeading: true,
                            classes: 'govuk-fieldset__legend--l'
                        }
                    },
                    hint: {
                        text: 'You do not have to add a veranda to the building for pullets'
                    },
                    items: [
                        {
                            text: 'Yes',
                            value: 'Yes',
                            checked: true if data['veranda-present'] == 'Yes',
                            attributes: {
                                'data-next': 'pasture'
                            }
                        },
                        {
                            text: 'No',
                            value: 'No',
                            checked: true if data['veranda-present'] == 'No',
                            attributes: {
                                'data-next': '../biosecurity/concrete-apron'
                            }
                        }
                    ]
                }) }}

                {{ govukButton ({
                    html: 'Continue'
                }) }}

            </form>

        </div>

        <div class="govuk-grid-column-one-third">

            <div class="app-step-nav-related app-step-nav-related--singular">
                <h2 class="app-step-nav-related__heading">
                <span class="app-step-nav-related__pretitle">Eligibility</span>
                </h2>

                <p>
                    The building must have a veranda.
                </p>
    
            </div>

        </div>

</div>

{% endblock %}