{% extends 'layinghens/current/views/layouts/layout.html' %}

{% set poultryType = 'hen' %}
{% if data['poultry-type'] %}
    {% set poultryType = data['poultry-type'] %}
{% endif %}

{% block pageTitle %}
    Will the building have a veranda that is the required size?
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form method="post">

                {{ govukRadios ({
                    idPrefix: 'veranda-size',
                    name: 'veranda-size',
                    classes: 'govuk-radios--inline',
                    fieldset: {
                        legend: {
                            text: 'Will the building have a veranda that is the required size?',
                            isPageHeading: true,
                            classes: 'govuk-fieldset__legend--l'
                        }
                    },
                    items: [
                        {
                            text: '4 metres wide or more along the length of the bird housing area',
                            value: '4 metres wide or more along the length of the bird housing area',
                            checked: true if data['veranda-size'] == '4 metres wide or more along the length of the bird housing area',
                            attributes: {
                                'data-next': 'specification'
                            }
                        },
                        {
                            text: '30% or more of the size of the indoor bird housing area footprint',
                            value: '30% or more of the size of the indoor bird housing area footprint',
                            checked: true if data['veranda-size'] == '30% or more of the size of the indoor bird housing area footprint',
                             attributes: {
                                'data-next': 'specification'
                            }
                        },
                        {
                            divider: 'or'
                        },
                        {
                            text: 'I do not have the outside space to add a veranda of this size',
                            value: 'I do not have the outside space to add a veranda of this size',
                            checked: true if data['veranda-size'] == 'I do not have the outside space to add a veranda of this size',
                             attributes: {
                                'data-next': 'elim-size'
                            }
                        }
                    ]
                }) }}

                {{ govukButton ({
                    html: 'Continue'
                }) }}

            </form>

        </div>

        <div class="govuk-grid-column-one-third">

            <div class="app-step-nav-related app-step-nav-related--singular">
                <h2 class="app-step-nav-related__heading">
                <span class="app-step-nav-related__pretitle">Eligibility</span>
                </h2>

                <p>
                    The veranda must be either:
                </p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>
                        4 metres wide or more along the length of the bird housing area
                    </li>
                    <li>
                        30% or more of the size of the indoor bird housing area footprint
                    </li>
                </ul>
    
            </div>

         </div>

</div>

{% endblock %}