{% extends 'layinghens/current/views/layouts/layout.html' %}

{% block pageTitle %}
    We have reached the limit of applications for veranda grant funding
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form method="post">

                <h1 class="govuk-heading-l">
                    We have reached the limit of applications for veranda grant funding
                </h1>

                <p>
                    The veranda grant funding is awarded on a first come, first served basis. We are not currently accepting applications for veranda grant funding.
                </p>

                <p>
                    You can check your eligibility and provide your business details to <a href="../common/farmer-type">register your interest for veranda grant funding. </a> The RPA will contact you if funding becomes available.
                </p>

                <p>
                    Alternatively, you can check if you are eligible for grant funding to refurbish or replace laying hen or pullet housing.
                </p>

                <p>
                    <a href="#">
                        Check if you are eligible for housing grant funding
                    </a>
                </p>

            </form>

        </div>

</div>

{% endblock %}