{% extends "layout.html" %}

{% block pageTitle %}
Cover for existing stores (Cow and Dairy)
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "Prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems  .'
  }) }}

  <a class="govuk-back-link" href="cover-existing-stores">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">



      <form id="mainForm" class="form" action="{{ nextUrl }}" method="post">

              {{ govukRadios({
                  classes: "govuk-radios--inline",
                  idPrefix: 'existingfitpurpose',
                  name: 'existingfitpurpose',
                  fieldset: {
                      legend: {
                          text: 'Is the existing store you want to cover fit for purpose?',
                          isPageHeading: true,
                          classes: 'govuk-fieldset__legend--l'
                      }
                  },

                  hint: {
                    text: "Your existing store must be signed off by a structural engineer at full application."
                    },

                  items: [
                {
                  value: "Yes",
                  text: "Yes",
                  checked: checked("existingfitpurpose", "Yes")
                },
                {
                  value: "No",
                  text: "No",
                  checked: checked("existingfitpurpose", "No")
                }
              ]
              }) }}

          <p>  <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">Continue</button></p>



      </form>
    </div>


      <div class="govuk-grid-column-one-third">

        <div class="app-step-nav-related app-step-nav-related--singular">
          <h2 class="app-step-nav-related__heading">
            <span class="app-step-nav-related__pretitle">Eligibility</span>
            </h2>
            <p>To cover an existing store, you must confirm at full application that the store is structurally suitable to cover and meet regulations and build standards.</p>
            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  When is a store no longer fit for purpose?
                </span>
              </summary>
              <div class="govuk-details__text">
                A store is no longer fit for purpose if it has reached the end of its design life and may be at risk of leaks or failure.
              </div>
            </details>

        </div>
      </div>

{% endblock %}
