{% extends "layout.html" %}

{% block pageTitle %}
  Separator
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "Prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems  .'
  }) }}
  <a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form id="mainForm" class="form" method="post">

              {{ govukRadios({
                  classes: "govuk-radios--inline",
                  idPrefix: 'separator',
                  name: 'separator',
                  fieldset: {
                      legend: {
                          text: 'Do you want to add a slurry separator to your project?',
                          isPageHeading: true,
                          classes: 'govuk-fieldset__legend--l'
                      }
                  },
                  hint: {
                    text: "Slurry separators use a mechanical process to divide slurry into a liquid and stackable material. These fractions can be kept in separate stores and applied at different times to your land. "
                },

                  items: [
                {
                  value: "Yes",
                  text: "Yes",
                  checked: checked("separator", "Yes")
                },
                {
                  value: "No",
                  text: "No",
                  checked: checked("separator", "No")
                }
              ]
              }) }}

          <p>  <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">Continue</button></p>



      </form>

      </div>
      <div class="govuk-grid-column-one-third">

        <div class="app-step-nav-related app-step-nav-related--singular">
          <h1 class="app-step-nav-related__heading">
            <span class="govuk-heading-m">Your project items</span>
            </h1>


            {% if data['storetype'] %}
            <div>
              <h2 class="app-step-nav-related__heading">
                <span class="app-step-nav-related__pretitle">Grant-funded store</span>
                </h2>
              <nav role="navigation" aria-labelledby="subsection-title">
                <ul class="govuk-list govuk-!-font-size-16 govuk-list--bullet">
                  <li>
                    {% set storeType = data['storetype'] %}
                    {{ storeTypeCost[storeType].text }}
                  </li>
                  <li>
                    Increase:  {{ data['current-capacity2'] | toFixed(2) | commafy }}m<sup>3</sup>
                  </li>

                </ul>
              </nav>
              </div>
              {% endif %}


              {% if data['covertype'] %}
            <div>
                {% if (data['applyingfor'] == "Cover") %}
              <h2 class="app-step-nav-related__heading">
                <span class="app-step-nav-related__pretitle">Existing store cover</span>
                </h2>
                {% else %}
                <h2 class="app-step-nav-related__heading">
                  <span class="app-step-nav-related__pretitle">Grant-funded cover</span>
                  </h2>
  {% endif %}
              <nav role="navigation" aria-labelledby="subsection-title">
                <ul class="govuk-list govuk-!-font-size-16 govuk-list--bullet">
                  <li>
                    {% set coverType = data['covertype'] %}
                    {{ coverTypeCost[coverType].text }}
                  </li>

                </ul>

              </nav>
              </div>
   {% endif %}

    </div>


{% endblock %}
