{% extends 'layinghens/current/views/layouts/layout-old.html' %}

{% block pageTitle %}
  Roof Support For Solar PV – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<!-- Pink banner -->
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "Prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems .'
  }) }}
  
  <!-- Back button -->
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!-- Path for next page -->
      <form class="form" action="hen-roof-support-answer" method="post">

        <!-- Page heading -->
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Will the roof of the grant-funded housing be able to support solar PV panels?
              </h1>
            </legend>

            <!-- Hint text -->
            <p class="govuk-hint">You must provide confirmation from a building expert, contractor or structural engineer that your roof can support solar PV panels for your full application. Confirmation is not funded by this grant.</p>
            
            <p class="govuk-hint">Your roof is exempt if:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li class="govuk-hint">the building is listed or on a World Heritage Site</li>
              <li class="govuk-hint">you're upgrading an existing building and would not otherwise make changes to the roof</li>
              <li class="govuk-hint">the roof faces only north or is heavily shaded</li>
              <li class="govuk-hint">the roof does not have 100m2 of clear roof space</li>
             </ul>

            <!-- Option: Laying Hens -->
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="has-roof-support" name="hen-roof-support" type="radio" value="yes">
                  <label class="govuk-label govuk-radios__label" for="has-roof-support">
                    Yes
                  </label>
                </div>

                <!-- Option: Pullets -->
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="has-roof-support-2" name="hen-roof-support" type="radio" value="no">
                  <label class="govuk-label govuk-radios__label" for="has-roof-support-2">
                    No
                  </label>
                </div>

              <!-- Option: None of the above -->
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="has-roof-support-3" name="hen-roof-support" type="radio" value="exempt">
                  <label class="govuk-label govuk-radios__label" for="has-roof-support-3">
                    My roof is exempt
                  </label>
                </div>

            </div>
          </fieldset>
        </div>
        
        <!-- Continue button -->
        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>

      </form>
    </div>
    
    <!-- Eligibility sidebar -->
    <div class="govuk-grid-column-one-third">

      <div class="app-step-nav-related app-step-nav-related--singular">
        <h2 class="app-step-nav-related__heading">
          <span class="app-step-nav-related__pretitle">Eligibility</span>
          </h2>

          <p>The roof must be able to support solar PV panels, allowing for potential use in the future.</p>
  
          <a href="#">
          </a>

      </div>

  </div>

{% endblock %}
