{% extends 'layinghens/current/views/layouts/layout-old.html' %}

{% block pageTitle %}
  pullet Cleaning Area – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<!-- Pink banner -->
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "Prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems .'
  }) }}
  
  <!-- Back button -->
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!-- Path for next page -->
      <form class="form" action="pullet-step-system-answer" method="post">

        <!-- Page heading -->
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Will your step-up system have these features?
              </h1>
            </legend>

            <!-- Hint text -->
            <p class="govuk-hint">The step-up system must have:</p>
            
            <ul class="govuk-list govuk-list--bullet">
              <li class="govuk-hint">height-adjustable tiers that may include food and water at, or before, 10 days</li>
              <li class="govuk-hint">welfare ramps</li>
              
             </ul>
             
             
             



            <!-- Option: Yes -->
            <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="has-cleaning-area-pullet" name="pullet-step-system" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="has-cleaning-area-pullet">
                  Yes
                </label>
              </div>

              <!-- Option: No -->
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="has-cleaning-area-pullet-2" name="pullet-step-system" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="has-cleaning-area-pullet-2">
                  No
                </label>
              </div>

            </div>
          </fieldset>
        </div>

        <!-- Continue button -->
        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>

      </form>
    </div>

    <!-- Eligibility sidebar -->
    <div class="govuk-grid-column-one-third">

    

  </div>

{% endblock %}
