

{% extends "slurrystorage/current/views/layouts/_BASEFULL-SS.html" %}

{% block service %}

<!--
<span class="govuk-caption-xl">Prototypes</span>
-->
<title> Adding value prototype admin</title>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


<h1 class="govuk-heading-xl">
  Slurry infrastructure prototype admin
</h1>

      <div class="proto-admin">
        <h2 class="govuk-heading-l">User research</h2>

        <p class='govuk-list app-list--definition'>
        <a href='/slurrystorage-2024/current/start' class="govuk-link--no-visited-state">Start page</a><br>
          Start your user research here</p>

</div>

{% endblock %}
