{% extends 'end-to-end/layout-account.html' %}

{% block pageTitle %}
    Check your details
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Check your details</h1>

             {# applicant details - data pre-populated from RPS account data if logged in #}

            <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <div class="govuk-summary-list__row--no-border">
                            <dt class="govuk-summary-list__key">
                                <p class="govuk-body govuk-!-font-size-24"><strong>Applicant details</strong></p>
                            </dt>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="farmer-details">
                                    Change<span class="govuk-visually-hidden">applicant details</span>
                                </a>
                            </dd>
                        </div>
                    </tr>
                    <hr>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row--no-border">
                        <th  scope="row" class="govuk-table__header">
                            <strong>Name</strong>
                        </th>
                        <td class="govuk-table__cell">
                            <p>{{ data['farmer-firstname'] }} {{ data['farmer-lastname'] }}</p>
                        </td>
                    </tr>


                    <tr class="govuk-table__row--no-border">
                        <th  scope="row" class="govuk-table__header">
                            <strong> Contact details</strong>
                        </th>
                        <td class="govuk-table__cell">
                           <p> {{ data['farmer-email'] }} </p>
                           <p> {{ data['farmer-mobile'] }} </p>
                           <p> {{ data['farmer-landline'] }} </p>
                        </td>
                    </tr>
                    <tr class="govuk-table__row--no-border">
                        <th  scope="row" class="govuk-table__header">
                            <strong>Business address</strong>
                        </th>
                        <td class="govuk-table__cell">
                           <p> {{ data['farmer-address1'] }}, {{ data['farmer-address2'] }}</p>
                           <p> {{ data['farmer-town'] }}</p>
                           <p> {{ data['farmer-county'] }} </p>
                           <p> {{ data['farmer-postcode'] }} </p>
                        </td>


                    </tr>
                    <tr class="govuk-table__row--no-border">
                        <th  scope="row" class="govuk-table__header">
                            <strong>Project postcode</strong>
                        </th>
                        <td class="govuk-table__cell">
                           <p> {{ data['project-postcode'] }} </p>


                        </td>


                    </tr>
                </tbody>
            </table>

            {# applicant details - data pre-populated from RPS account data if logged in #}

            <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <div class="govuk-summary-list__row--no-border">
                            <dt class="govuk-summary-list__key">
                                <p class="govuk-body govuk-!-font-size-24"><strong>Business details</strong></p>
                            </dt>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="business">
                                    Change<span class="govuk-visually-hidden">business details</span>
                                </a>
                            </dd>
                        </div>
                    </tr>
                    <hr>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <th  scope="row" class="govuk-table__header">
                            <strong>Project name</strong>
                        </th>
                        <td class="govuk-table__cell">
                            <p>{{ data['project-name'] }}</p>
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th  scope="row" class="govuk-table__header">
                            <strong>Business name</strong>
                        </th>
                        <td class="govuk-table__cell">
                            <p>{{ data['business-name'] }}</p>
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th  scope="row" class="govuk-table__header">
                            <strong>Number of employees</strong>
                        </th>
                        <td class="govuk-table__cell">
                            <p>{{ data['employees'] }}</p>
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th  scope="row" class="govuk-table__header">
                            <strong>Business turnover</strong>
                        </th>
                        <td class="govuk-table__cell">
                            <p>{{ data['turnover'] }}</p>
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th  scope="row" class="govuk-table__header">
                            <strong>Single Business Identifier (SBI)</strong>
                        </th>
                        <td class="govuk-table__cell">
                            <p>{{ data['sbi'] }}</p>
                        </td>
                    </tr>

                </tbody>
            </table>
            <br><br>

            {# include agent details only if applicant is Agent  #}

            {% if (data['applicant'] == "Agent") %}
            <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <div class="govuk-summary-list__row--no-border">
                            <dt class="govuk-summary-list__key">
                                <p class="govuk-body govuk-!-font-size-24"><strong>Agent's details</strong></p>
                            </dt>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="agent-details">
                                        Change<span class="govuk-visually-hidden">agent's details</span>
                                </a>
                            </dd>
                        </div>
                    </tr>
                    <hr>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <th  scope="row" class="govuk-table__header">
                            <strong>Name</strong>
                        </th>
                        <td class="govuk-table__cell">
                            <p>{{ data['agent-firstname'] }} {{ data['agent-firstname'] }}</p>
                        </td>
                    </tr>
                    <tr class="govuk-table__row--no-border">
                        <th  scope="row" class="govuk-table__header">
                            <strong>Business name</strong>
                        </th>
                        <td class="govuk-table__cell">
                            <p>{{data['business-name']}}</p>
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">
                            <strong> Contact details</strong>
                        </th>
                        <td class="govuk-table__cell">
                            <p>{{ data['agent-email'] }}</p>
                            <p>{{ data['agent-mobile'] }}</p>
                            <p>{{ data['agent-landline'] }}</p>
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th  scope="row" class="govuk-table__header">
                            <strong>Business address</strong>
                        </th>
                        <td class="govuk-table__cell">
                           <p>{{ data['agent-address1'] }}</p>
                           <p>{{ data['agent-address2'] }}</p>
                           <p>{{ data['agent-postcode'] }}</p>
                        </td>
                    </tr>

                </tbody>
            </table>
            <br><br>
            {% endif %}

        </div>
     </div>
    <div class="govuk-grid-row govuk-!-padding-top-8">
        <div class="govuk-grid-column-two-thirds">
            <form class="form" action="../../task-list/list-1-2" method="post">
                <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">
                    Continue
                </button>
            </form>
        </div>
    </div>

{% endblock %}
