{% extends 'end-to-end/layout-account.html' %}

{% set hideBackButton = true %}

{% block pageTitle %}
     Details submitted
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-panel govuk-panel--confirmation">
       <h1 class="govuk-panel__title">
        Details submitted
       </h1>
    <div class="govuk-panel__body">
      Your reference number<br><strong>WM-VMA-A54</strong>
    </div>
  </div>

      <p class="govuk-body">We have sent you a confirmation email with a record of your answers.</p>
      <p>If you do not get an email within 72 hours, please call the RPA helpline and follow the options for the Farming Transformation Fund scheme:</p>
      <h2 class="govuk-heading-m">RPA helpline</h2>

      <h3 class="govuk-heading-s">Telephone</h3>

      <ul class="govuk-list">
  <li>Telephone: 03000 200 301</li>
  <li>Monday to Friday, 9am to 5pm (except public holidays)</li>
</ul>
<p class="govuk-body">
  <a class="govuk-link" href="#">Find out about call charges</a>
</p>

<h3 class="govuk-heading-s">Email</h3>

<ul class="govuk-list">
  <li><a class="govuk-link" href="#">FTF@rpa.gov.uk</a></li>

</ul>

<p class="govuk-heading-m">What happens next</p>
<ol class="govuk-list govuk-list--number govuk-list--spaced">
  <li>RPA will be in touch when the full application period opens. They will tell you if your project scored well enough to get the full application form. </li>
  <li>If you submit an application, RPA will assess it against other projects and value for money. You will not automatically get a grant. The grant is expected to be highly competitive and you are competing against other projects. </li>
  <li>If your application is successful, you’ll be sent a funding agreement and can begin work on the project.</li>
</ol>

{{ govukWarningText({
    text: 'You must not start the project',
    iconFallbackText: 'Warning'
}) }}

<p>Starting the project or committing to any costs (such as placing orders) before you receive a funding agreement will invalidate your application.</p>
      <p class="govuk-body">Before you start the project, you can:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>get quotes from suppliers</li>
          <li>apply for planning permission or an abstraction licence</li>
        </ul>

          <br>
          <form class="form" action="../../task-list/list-1-3" method="post">
                   <div class="govuk-button-group">
                    {{ govukButton({
                        id: 'Continue',
                        name: 'continue',
                        text: "Continue"
                    }) }}   

                </form>

                <form class="signout" style="display:flex;" action="/end-to-end/post-mvp/eligibility/common/sign-out" method="post">
                    {{ govukButton({
                        id: 'nosignin',
                        name: 'nosignin',
                        text: "Save and come back later",
                        classes: "govuk-button--secondary"
                    }) }}
                </form>
          </form>

      <p><a href="#" class="govuk-link">What do you think of this service?</a></p>

{% endblock %}
