{% extends "layout.html" %}

{% block pageTitle %}
  You cannot apply for a grant from this scheme
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems.'
  }) }}

  <a class="govuk-back-link" href="additional-items">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        You cannot apply for a grant from this scheme
      </h1>

      <p class="govuk-body">The building must have:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>access to a water supply</li>
        <li>at least 2 IP66 sockets in the building</li>
        <li>temperature and humidity data loggers (capable of autonomously recording temperature/humidity over a defined period and storing data to view later)</li>
      </ul>


      <p><a href="https://www.gov.uk/topic/farming-food-grants-payments/rural-grants-payments" class="govuk-link govuk-link--no-visited-state"> See other grants you may be eligible for.</a></p>
      </div>

  </div>

{% endblock %}
