{% extends "layout.html" %}

{% block pageTitle %}
  Check all your answers
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems  .'
  }) }}
<a class="govuk-back-link" href="{{ backUrl }}">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Score results</h1>
    <p class="govuk-!-font-size-24">Based on your answers, your project’s score is:</p>

        <div class="govuk-inset-text">
          <h2 class="govuk-heading-m">Average</h2>
          <p>This means your project might be successful.</p>
        </div>
    </div>
      </div>
      <div class="govuk-grid-column-two-thirds css-index-link-block">
        <dl class="govuk-body">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-font-size-16">
          Strong
          </dt>
          <dd class="govuk-summary-list__value govuk-!-font-size-16">
            Based on your answers, a grant application is likely to be successful.  
          </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-font-size-16">
          Average
            </dt>
            <dd class="govuk-summary-list__value govuk-!-font-size-16">
             Based on your answers, a grant application might be successful. 
            </dd>
            </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-font-size-16">
            Weak
            </dt>
            <dd class="govuk-summary-list__value govuk-!-font-size-16">
                Based on your answers, a grant application is unlikely to be successful. 
            </dd>
            </div>
  </dl>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <br>
        <div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
      <span class="govuk-warning-text__assistive">Warning</span>
      RPA wants to fund projects that provide an excellent ambient environment (ensuring good air quality and temperature in the building through suitable location, ventilation and other features). This will be assessed at full application.
    </strong>
    </div>
    <p class="govuk-body">The likelihood of a full application being successful will also depend on the number and value of applications we receive.</p>
    <p class="govuk-body">Value for money will be assessed alongside the funding priorities at full application stage and this may impact your overall project score.</p>



      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
      <h1 class="govuk-heading-l">Your answers</h1>
      <p class="govuk-!-padding-bottom-4">You can go back to change scoring questions as many times as you like but you can only submit your details once.</p>
      <table class="govuk-table govuk-body govuk-!-font-size-16">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Answers</th>
            <th scope="col" class="govuk-table__header">Score</th>
            <th scope="col" class="govuk-table__header">Funding priorities</th>
            <th scope="col" class="govuk-table__header">Change answers</th>
          </tr>
        </thead>

      <tbody class="govuk-table__body">

            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Housing
              <br/><br/><ul class="govuk-!-font-size-16 govuk-list govuk-list--bullet govuk-!-margin-right-9">
                  <li>{{ data['housing'] }}</li>
                </ul>
            </th>
              <td class="govuk-table__cell">Average</td>
              <td class="govuk-table__cell">
                <p class="govuk-body govuk-!-font-size-16">
                  Improve health/welfare</p>
              </td>
            <td class="govuk-table__cell"><a href="housing">Change</td>
        </tr>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Reduce disease transmission
      <br/><br/><ul class="govuk-!-font-size-16 govuk-list govuk-list--bullet govuk-!-margin-right-9">
        {% for item in data['reduce-disease'] %}
          <li>{{ item | capitalize }}</li>
        {% endfor %}
      </ul></th>
      <td class="govuk-table__cell">Weak</td>
      <td class="govuk-table__cell">
        <p class="govuk-body govuk-!-font-size-16">
          Improve health/welfare</p>
      </td>
      <td class="govuk-table__cell"><a href="reduce-disease">Change</td>
    </tr>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Control building moisture
      <br/><br/><ul class="govuk-!-font-size-16 govuk-list govuk-list--bullet govuk-!-margin-right-9">
        {% for item in data['moisture'] %}
          <li>{{ item | capitalize }}</li>
        {% endfor %}
      </ul></th>
      <td class="govuk-table__cell">Strong</td>
      <td class="govuk-table__cell">
        <p class="govuk-body govuk-!-font-size-16">
          Improve health/welfare</p>
      </td>
      <td class="govuk-table__cell"><a href="moisture">Change</td>
    </tr>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Permanent sick pen
      <br/><br/><ul class="govuk-!-font-size-16 govuk-list govuk-list--bullet govuk-!-margin-right-9">
        {% for item in data['sick-pen'] %}
          <li>{{ item | capitalize }}</li>
        {% endfor %}
      </ul></th>
      <td class="govuk-table__cell">Strong</td>
      <td class="govuk-table__cell">
        <p class="govuk-body govuk-!-font-size-16">
          Improve health/welfare</p>
      </td>
      <td class="govuk-table__cell"><a href="sick-pen">Change</td>
    </tr>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Floor area
      <br/><br/><ul class="govuk-!-font-size-16 govuk-list govuk-list--bullet govuk-!-margin-right-9">
          <li>{{ data['calf-floor-size'] }} m<sup>2</sup></li>
        </ul>
    </th>
      <td class="govuk-table__cell">Average</td>
      <td class="govuk-table__cell">
        <p class="govuk-body govuk-!-font-size-16">
          Improve productivity</p>
      </td>
    <td class="govuk-table__cell"><a href="floor-size">Change</td>
    </tr>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Environmental impact
      <br/><br/><ul class="govuk-!-font-size-16 govuk-list govuk-list--bullet govuk-!-margin-right-9">
        {% for item in data['environmental-impact'] %}
          <li>{{ item | capitalize }}</li>
        {% endfor %}
      </ul></th>
      <td class="govuk-table__cell">Strong</td>
      <td class="govuk-table__cell">
        <p class="govuk-body govuk-!-font-size-16">
          Improve the environment</p>
      </td>
      <td class="govuk-table__cell"><a href="environmental-impact">Change</td>
    </tr>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Sustainable materials
      <br/><br/><ul class="govuk-!-font-size-16 govuk-list govuk-list--bullet govuk-!-margin-right-9">
        {% for item in data['sustainable-materials'] %}
          <li>{{ item | capitalize }}</li>
        {% endfor %}
      </ul></th>
      <td class="govuk-table__cell">Strong</td>
      <td class="govuk-table__cell">
        <p class="govuk-body govuk-!-font-size-16">
          Improve the environment</p>
      </td>
      <td class="govuk-table__cell"><a href="sustainable-materials">Change</td>
    </tr>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Innovation
      <br/><br/><ul class="govuk-!-font-size-16 govuk-list govuk-list--bullet govuk-!-margin-right-9">
        {% for item in data['innovation'] %}
          <li>{{ item | capitalize }}</li>
        {% endfor %}
      </ul></th>
      <td class="govuk-table__cell">Strong</td>
      <td class="govuk-table__cell">
        <p class="govuk-body govuk-!-font-size-16">
          Improve the environment</p>
      </td>
      <td class="govuk-table__cell"><a href="innovation">Change</td>
    </tr>

      </tbody>
    </table>

    <h2 class="govuk-heading-m">Next steps</h2>
    <p class="govuk-body">Next, add your business and contact details and submit them to the RPA (you should only do this once).</p>
    <p>You’ll get an email with your score and answers, and a reference number.</p>



    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form class="form" action="{{ nextUrl }}" method="post">
          <button class="govuk-button govuk-!-margin-right-1 govuk-!-padding-left-4 govuk-!-padding-right-4" data-module="govuk-button">
            Continue
          </button>
        </form>

       </div>
    </div>

{% endblock %}
