{% extends "layout.html" %}

{% block pageTitle %}
Calf weight
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems.'
  }) }}

  <a class="govuk-back-link" href="{{ backUrl }}">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <form id="mainForm" class="form" action="{{ nextUrl }}" method="post">

              {{ govukRadios({
                  idPrefix: 'calfweight',
                  name: 'calfweight',
                  fieldset: {
                      legend: {
                          text: 'What is the average weight of calves that will be housed in the building?',
                          isPageHeading: yes,
                          classes: 'govuk-fieldset__legend--l'
                      }
                  },


                  items: [
                {
                  value: "99",
                  text: "Under 100kg",
                  checked: checked("calfweight", "99")
                },

                {
                  value: "100 to 150",
                  text: "Between 100kg and 150kg",
                  checked: checked("calfweight", "100 to 150")
                },

                {
                  value: "151 to 200",
                  text: "Between 151kg and 200kg",
                  checked: checked("calfweight", "151 to 200")
                },

                {
                  value: "201",
                  text: "More than 200kg",
                  checked: checked("calfweight", "201")

                }
              ]
              }) }}

          <p>  <br/><button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">Continue</button></p>


      </form>
    </div>
    <div class="govuk-grid-column-one-third">

      <div class="app-step-nav-related app-step-nav-related--singular">
        <h2 class="app-step-nav-related__heading">
          <span class="app-step-nav-related__pretitle">Eligibility</span>
          </h2>
          <p class="govuk-body">Calves must weigh no more than 200kg.</p>
            </div>
   </div>

{% endblock %}
