{% extends "layout.html" %}

{% block pageTitle %}
Calf weight
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems.'
  }) }}

  <a class="govuk-back-link" href="{{ backUrl }}">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <form id="mainForm" class="form" action="{{ nextUrl }}" method="post">

              {{ govukRadios({
                  classes: "govuk-radios--inline",
                  idPrefix: 'calfsick',
                  name: 'calfsick',
                  fieldset: {
                      legend: {
                          text: 'Will there be facilities to temporarily isolate sick calves?',
                          isPageHeading: yes,
                          classes: 'govuk-fieldset__legend--l'
                      }
                  },

                  items: [
                {
                  value: "yes",
                  text: "Yes",
                  checked: checked("calfsick", "yes")
                },

                {
                  value: "no",
                  text: "No",
                  checked: checked("calfsick", "no")
                }

              ]
              }) }}

          <p>  <br/><button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">Continue</button></p>


      </form>
    </div>
    <div class="govuk-grid-column-one-third">

      <div class="app-step-nav-related app-step-nav-related--singular">
        <h2 class="app-step-nav-related__heading">
          <span class="app-step-nav-related__pretitle">Eligibility</span>
          </h2>
          <p class="govuk-body">Calves may need to be temporarily isolated when sick to prevent spreading disease.
          </p>
            </div>
   </div>

{% endblock %}
