{% extends "layout.html" %}

{% block pageTitle %}
  You cannot apply for a grant from this scheme
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems.'
  }) }}

  <a class="govuk-back-link" href="draught">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        You cannot apply for a grant from this scheme
      </h1>

      <p class="govuk-body">All projects must have external calf-height solid walls/barriers to keep out drafts.
      </p>

      {{ govukInsetText({
        text: "For igloos/hutches adjacent to a permanent open-sided structure, this may mean adding solid sides to the outside pens."
      }) }}


      <p><a href="https://www.gov.uk/topic/farming-food-grants-payments/rural-grants-payments" class="govuk-link govuk-link--no-visited-state"> See other grants you may be eligible for.</a></p>
      </div>

  </div>

{% endblock %}
