{% extends "layout.html" %}

{% block pageTitle %}
Type of farmer
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems  .'
  }) }}

  <a class="govuk-back-link" href="{{ backUrl }}">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <form id="mainForm" class="form" action="{{ nextUrl }}" method="post">

              {{ govukCheckboxes({
                  idPrefix: 'farmertype',
                  name: 'farmertype',
                  fieldset: {
                      legend: {
                          text: 'What type of farmer are you?',
                          isPageHeading: yes,
                          classes: 'govuk-fieldset__legend--l'
                      }
                  },

                  hint: {
                    text: "Select all that apply"
                  },

                  items: [
                {
                  value: "Beef (including calf rearing) ",
                  text: "Beef (including calf rearing) ",
                  checked: checked("farmertype", "Beef (including calf rearing) ")
                },

                {
                  value: "Dairy (including calf rearing)",
                  text: "Dairy (including calf rearing)",
                  checked: checked("farmertype", "Dairy (including calf rearing)")
                },
                {
                  value: "Pigs",
                  text: "Pigs",
                  checked: checked("farmertype", "Pigs")
                },
                {
                  value: "Sheep",
                  text: "Sheep",
                  checked: checked("farmertype", "Sheep")
                },
                {
                  value: "Laying hens",
                  text: "Laying hens",
                  checked: checked("farmertype", "Laying hens")
                },
                {
                  value: "Meat chickens",
                  text: "Meat chickens",
                  checked: checked("farmertype", "Meat chickens")
                },
                {
                  value: "Aquaculture",
                  text: "Aquaculture",
                  checked: checked("farmertype", "Aquaculture")
                },
                {
                  value: "Arable",
                  text: "Arable",
                  checked: checked("farmertype", "Arable")
                },
                {
                  value: "Horticulture",
                  text: "Horticulture",
                  checked: checked("farmertype", "Horticulture")
                },

                {
                  divider: "or"
                },
                {
                  value: "None of the above",
                  text: "None of the above",
                  behaviour: "exclusive",
                  checked: checked("farmertype", "None of the above")

                }
              ]
              }) }}

          <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">Continue</button>


      </form>
    </div>
    <div class="govuk-grid-column-one-third">

      <div class="app-step-nav-related app-step-nav-related--singular">
        <h2 class="app-step-nav-related__heading">
          <span class="app-step-nav-related__pretitle">Eligibility</span>
          </h2>
          <p class="govuk-body">This grant is only for dairy and beef (including calf rearing) famers.</p>
            
     </div>
   </div>

{% endblock %}
