{% extends "layout.html" %}

{% block pageTitle %}
Calf weight
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems.'
  }) }}

  <a class="govuk-back-link" href="{{ backUrl }}">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <form id="mainForm" class="form" action="{{ nextUrl }}" method="post">

        {% set 100Under %}
        {{ govukInput({
          id: "100Under",
          name: "100Under",
          type: "email",
          autocomplete: "email",
          spellcheck: false,
          classes: "govuk-input--width-5",
          suffix: {
            html: "m<sup>2</sup>"
          },
          label: {
            text: "Floor size"
          }
        }) }}
        {% endset -%}

        {% set 100and150 %}
        {{ govukInput({
          id: "100and150",
          name: "100and150",
          type: "email",
          autocomplete: "email",
          spellcheck: false,
          classes: "govuk-input--width-5",
          suffix: {
            html: "m<sup>2</sup>"
          },
          label: {
            text: "Floor size"
          }
        }) }}
        {% endset -%}

        {% set over150 %}
        {{ govukInput({
          id: "over150",
          name: "over150",
          type: "email",
          autocomplete: "email",
          spellcheck: false,
          classes: "govuk-input--width-5",
          suffix: {
            html: "m<sup>2</sup>"
          },
          label: {
            text: "Floor size"
          }
        }) }}
        {% endset -%}

              {{ govukCheckboxes({
                  idPrefix: 'calfweight',
                  name: 'calfweight',
                  fieldset: {
                      legend: {
                          text: 'Which weight groups will you have?',
                          isPageHeading: yes,
                          classes: 'govuk-fieldset__legend--l'
                      }
                  },

                  hint: {
                    html:"Select all that apply"
                  },

                  items: [
                {
                  value: "99",
                  text: "100kg or under",
                  checked: checked("calfweight", "99")
                },

                {
                  value: "100 to 150",
                  text: "Between 100kg and 150kg",
                  checked: checked("calfweight", "100 to 150")
                },

                {
                  value: "151",
                  text: "Over 150kg",
                  checked: checked("calfweight", "151")

                }

              ]
              }) }}


          <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">Continue</button>


      </form>
    </div>
    <div class="govuk-grid-column-one-third">

      <div class="app-step-nav-related app-step-nav-related--singular">
        <h2 class="app-step-nav-related__heading">
          <span class="app-step-nav-related__pretitle">Funding priority</span>
          </h2>

          <p class="govuk-body">RPA wants to fund projects that go beyond the regulatory baseline and provide more that the minimum area.</p>

            </div>
   </div>

{% endblock %}
