{% extends "layout.html" %}

{% block pageTitle %}
Floor sizes (dynamic)
{% endblock %}



{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems.'
  }) }}
<a class="govuk-back-link" href="floor-size3">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <form id="mainForm" class="form" action="{{ nextUrl }}" method="post">
        <h2 class="govuk-heading-l">How much space will each calf have?
</h2>
        <div id="item-sizes" class="govuk-body">
          Enter floor area in square metres, for example 2.22m<sup>2</sup>
</div>

        {% for item in data['group'] %}
          {% if item in groupType %}
            {% set properties = groupType[item] %}

            {% set quantity %}quantity-{{item}}{% endset %}

            {% set measuring_unit %}
                m<sup>2</sup>
            {% endset %}


            <div class="govuk-form-group">
              <h1 class="govuk-label-wrapper">
                <label class="govuk-label govuk-label--m">
                  {{properties.text}}
                </label>
              </h1>
              <div id="event-name-hint" class="govuk-hint">
                  {{properties.hint}}
              </div>
              <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" name="{{quantity}}" type="text" spellcheck="false"
                value="{{data[quantity]}}" {{ checked(quantity, quantity) }}>
                <div class="govuk-input__suffix" aria-hidden="true">{{measuring_unit | safe}}</div>
              </div>
            </div>

          {% endif %}
        {% endfor %}


        <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">Continue</button>
        {% if data['COMPLETED'] == true %}
          <button onclick="document.getElementById('mainForm').action='{{ completedUrl }}'"
            class="govuk-button govuk-button--secondary govuk-!-margin-right-1" data-module="govuk-button">Back to score
          </button>
          {% endif %}
      </form>
      </div>

      <div class="govuk-grid-column-one-third">

        <div class="app-step-nav-related app-step-nav-related--singular">
          <h2 class="app-step-nav-related__heading">
            <span class="app-step-nav-related__pretitle">Funding priority</span>
            </h2>

            <p class="govuk-body">RPA wants to fund projects that go
    beyond the regulatory baseline and
    provide more that the minimum floor
    area.</p>

              </div>
     </div>


{% endblock %}
