{% extends "layout.html" %}

{% block pageTitle %}
Heritage site
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems.'
  }) }}

  <a class="govuk-back-link" href="{{ backUrl }}">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <form id="mainForm" class="form" action="{{ nextUrl }}" method="post">

              {{ govukRadios({
                  classes: "govuk-radios--inline",
                  idPrefix: 'heritage',
                  name: 'heritage',
                  fieldset: {
                      legend: {
                          text: 'Is your building listed or on a World Heritage Site?',
                          isPageHeading: yes,
                          classes: 'govuk-fieldset__legend--l'
                      }
                  },
                  hint: {
                    html: "You can apply for grant funding to buy and install a solar PV system if your building is listed or on a World Heritage Site."
                  },
                  items: [
                {
                  value: "yes",
                  text: "Yes",
                  checked: checked("heritage", "yes")
                },

                {
                  value: "no",
                  text: "No",
                  checked: checked("heritage", "no")
                }

              ]
              }) }}

          <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">Continue</button>


      </form>
    </div>


{% endblock %}
