{% extends "layout.html" %}


{% block pageTitle %}
Potential grant funding
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems  .'
  }) }}
<a class="govuk-back-link" href="project-cost2">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">






            {% set estimatedCostTotal = 0 %}
            {% set calfhousingCost = data['calfhousing-cost'] %}
            {% set estimatedCostTotal = estimatedCostTotal + calfhousingCost | int %}

            {% set grantAmountTotal = 0 %}
            {% set grantAmount = data['calfhousing-cost'] *0.4 %}
            {% set grantAmountTotal = grantAmountTotal + grantAmount | int %}




            {% set solarpvCost = data['solarpv-cost'] %}
            {% set estimatedCostTotal = estimatedCostTotal + solarpvCost | int %}

            {% set grantAmount2 = data['solarpv-cost'] *0.25 %}
            {% set grantAmountTotal = grantAmountTotal + grantAmount2 | int %}



            {# Current rule is set to min grant amount #}
            {# Need to putting a rule to cap grant amount at 500,000 when the value goes over maximum grant amount of 500K #}












        <form id="mainForm" class="form" action="remaining-costs3" method="post">
        <h1 class="govuk-heading-l">
          Potential grant funding
        </h1>
        <p class="govuk-body">You have requested the maximum grant amount of £500,000 for calf housing.</p>
        {{ govukWarningText({
            text: 'You cannot apply for funding for a solar PV system if you have requested the maximum funding amount for calf housing.',
            iconFallbackText: 'Warning'
        }) }}
        <p class="govuk-body">You can continue to check your eligibility for grant funding to build or upgrade calf housing.</p>

          <button class="govuk-button " data-module="govuk-button">Continue</button>

        </form>



  </div>
</div>

{% endblock %}
