{% extends "layout.html" %}

{% block pageTitle %}
  You may be able to apply for a grant from this scheme
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems  .'
  }) }}
  <a class="govuk-back-link govuk-!-margin-top-6" href="project-cost2">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form id="mainForm" class="form" action="remaining-costs" method="post">
      <h1 class="govuk-heading-l">
        You may be able to apply for a grant from this scheme
      </h1>
<p class="govuk-body">You can only apply for a maximum grant of £500,000.</p>
      {{ govukInsetText({
          text: 'You cannot apply for funding for solar PV panels if you have requested the maximum funding amount for calf housing.',
          iconFallbackText: 'Warning'
      }) }}
      <p class="govuk-body">You can continue to check your eligibility for grant funding to build or upgrade calf housing.</p>

        <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">Continue</button>





      </form>

    </div>
  </div>

{% endblock %}
