{% extends "layout.html" %}

{% block pageTitle %}
  What are your estimate total project costs?
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems.'
  }) }}


  <a class="govuk-back-link" href="{{ backUrl }}">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form id="mainForm" class="form" action="{{ nextUrl }}" method="post">

        <div class="govuk-form-group">
          <h1 class="govuk-heading-l">What is the total estimated cost of the calf housing?</h1>
          <div class="govuk-hint">




            You can only apply for a grant of up to 40% of the estimated costs. The minimum grant you can apply for this project is £15,000 (40% of £37,500). The maximum grant is £500,000.<br><br>

            Do not include VAT
          </div>


          <span class="govuk-caption-m">Enter amount, for example 95,000</span>
          <div class="govuk-input__wrapper govuk-!-margin-top-4">


                                  {{ govukInput({
                        id: "project-cost",
                        name: "project-cost",
                        prefix: {
                        text: "£"
                        },
                        classes: "govuk-input--width-5",
                        value: data['project-cost'],
                        spellcheck: false
                        }) }}





          </div>
        </div>

        <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">Continue</button>



      </form>

    </div>

{% endblock %}
