{% extends "layout.html" %}

{% block pageTitle %}
Solar
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems.'
  }) }}

  <a class="govuk-back-link" href="{{ backUrl }}">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <form id="mainForm" class="form" action="{{ nextUrl }}" method="post">

              {{ govukRadios({
                  classes: "govuk-radios",
                  idPrefix: 'solar',
                  name: 'solar',
                  fieldset: {
                      legend: {
                          text: 'Will the roof be able to support solar PV panels?',
                          isPageHeading: yes,
                          classes: 'govuk-fieldset__legend--l'
                      }
                  },
                  hint: {
                    html: "You must provide confirmation from a building expert, contractor or structural engineer that your roof can support PV panels for your full application. Confirmation is not funded by this grant.<br><br>Your roof is exempt if:<br><br>
                    <li>the building is listed or on a World Heritage Site</li>
                    <li>you're upgrading an existing building and would not otherwise make changes to the roof</li>
                    <li>the roof faces only north or is heavily shaded</li>
                    <li>the roof does not have 20m<sup>2</sup> of clear roof space</li>
                    <li>the roof has a pitch less than 15 degrees or greater than 50 degrees</li>"
                  },

                  items: [
                {
                  value: "yes",
                  text: "Yes",
                  checked: checked("solar", "yes")
                },

                {
                  value: "no",
                  text: "No",
                  checked: checked("solar", "no")
                },
                {
                  value: "exempt",
                  text: "My roof is exempt",
                  checked: checked("solar", "exempt")
                }

              ]
              }) }}


          <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">Continue</button>
      </form>
    </div>
    <div class="govuk-grid-column-one-third">

      <div class="app-step-nav-related app-step-nav-related--singular">
        <h2 class="app-step-nav-related__heading">
          <span class="app-step-nav-related__pretitle">Eligibility</span>
          </h2>
          <p class="govuk-body">The roof must be able to support solar PV panels, allowing for potential use in the future.
          </p>


            </div>
   </div>

{% endblock %}
