{% extends "layout.html" %}

{% block pageTitle %}
Solar PV
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems.'
  }) }}

  <a class="govuk-back-link" href="{{ backUrl }}">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <form id="mainForm" class="form" action="{{ nextUrl }}" method="post">

              {{ govukRadios({
                  classes: "govuk-radios--inline",
                  idPrefix: 'solarpv',
                  name: 'solarpv',
                  fieldset: {
                      legend: {
                          text: 'Will you use the grant for solar PV panels?',
                          isPageHeading: yes,
                          classes: 'govuk-fieldset__legend--l'
                      }
                  },
                  hint: {
                    text: "You can choose to buy and install solar PV panels on the grant-funded calf housing as part of the grant."
                  },
                  items: [
                {
                  value: "yes",
                  text: "Yes",
                  checked: checked("solarpv", "yes")
                },

                {
                  value: "no",
                  text: "No",
                  checked: checked("solarpv", "no")
                }

              ]
              }) }}

          <p> <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">Continue</button></p>


      </form>
    </div>
    <div class="govuk-grid-column-one-third">

      <div class="app-step-nav-related app-step-nav-related--singular">
        <h2 class="app-step-nav-related__heading">
          <span class="app-step-nav-related__pretitle">Eligibility</span>
          </h2>
          <p class="govuk-body">You do not have to install solar PV panels to be eligible for the grant.<br><br>The roof of the grant-funded building must be able to support solar PV panels, allowing for potential use in the future.

          </p>
            </div>
   </div>

{% endblock %}
