{% extends 'end-to-end/layout-account-2.html' %}

{% block pageTitle %}
   Which business are you applying for?
{% endblock %}

{% block content %}

{% if data['legal-status'] == 'None' %}
    {{ 'elim-legal-status' | redirect | safe }}
{% endif %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form method="post" action="name-project">

                {{ govukRadios ({
                    idPrefix: 'business-applying',
                    name: 'business-applying',
                    classes: 'govuk-radios',
                    fieldset: {
                        legend: {
                            text: 'Which business is applying for this grant?',
                            isPageHeading: true,
                            classes: 'govuk-fieldset__legend--l'
                        }
                    },
                       items: [
                        {
                            text: 'Imaginary Farms Ltd',
                            value: 'Your Farm Camping Ltd',
                            checked: true if data['business-applying'] == 'Imaginary Farms Ltd'
                        },
                        {
                            text: 'Imaginary Camping Ltd',
                            value: 'Your Farm Camping Ltd',
                            checked: true if data['business-applying'] == 'Browns Farms'
                        },
                        {
                            text: 'Imaginary Residential Ltd',
                            value: 'Your Farm Residential Ltd',
                            checked: true if data['business-applying'] == 'Robert Harris'
                        }
                    ]
                }) }}

                     <div class="govuk-button-group">
                    {{ govukButton({
                        id: 'Continue',
                        name: 'continue',
                        text: "Continue"
                    }) }}   

                </form>

                

            </div>

        </div>


        

        </div>

</div>

{% endblock %}