{% extends 'end-to-end/layout-account-2.html' %}

{% block pageTitle %}
    You cannot apply for a grant from this scheme - Business type
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form method="post">

                <h1 class="govuk-heading-l">You cannot apply for a grant from this scheme</h1>

                <p>
                    This grant is for businesses who:
                </p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>
                        are agricultural or horticultural growers or producers
                    </li>
                    <li>
                        are a business processing agricultural or horticultural products that is at least 50% owned by agricultural or horticultural producers
                    </li>
                    <li>
                        produce wild venison products as part of woodland management
                    </li>
                </ul>

                <p>
                    <a href="https://www.gov.uk/topic/farming-food-grants-payments/rural-grants-payments">
                        See other grants you may be eligible for
                    </a>
                </p>

            </form>

        </div>

</div>

{% endblock %}