{% extends 'end-to-end/layout.html' %}

{% block pageTitle %}
  Notifications
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
          Notifications
        </h1>  
    </div>
  </div>
  
  <div class="govuk-grid-row">
    <!-- FILTERS -->
      <div class="govuk-grid-column-one-third">
        <p>search</p>
      </div>
      <!-- RESULTS -->
      <div class="govuk-grid-column-two-thirds">
          <p>results</p1>     
      </div>
  </div>

{% endblock %}