
{% extends "../layouts/GUIDANCESLURRY.html" %}

{% block guidance %}

<div id="toc" class="toc govuk-!-margin-bottom-9"></div>

<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">

<div class="call-to-action">
<h2 id="latest-news">Latest news</h2>

<p>Water resource management grants available now. You can apply from DD MONTH YYYY to DD MONTH YYYY. Your project must be completed before you can claim the funding. All claims for funding must be made before DD MONTH YYYY.</p>
</div>

<h2 id="who-can-apply">Who can apply</h2>

<p>Livestock, dairy, arable and horticultural farmers and also new businesses.</p>

<h2 id="what-is-the-grant-for">What is the grant for</h2>

<p>It can pay up to 40% of the costs for:</p>

<ul>
  <li>precision spreading equipment</li>
  <li>best practice application equipment, such as dribble bars and trailing shoe systems</li>
  <li>slurry digestate umbilical systems, tankers and storage bags</li>
  <li>software and sensors to optimise slurry application like inline, real-time nutrient sensors, flow meters</li>
</ul>

<h2 id="how-to-apply-for-a-large-grant">How to apply for a large grant</h2>

<ol>
  <li>Think about what the business needs, develop a rough plan and estimate the project costs.</li>
  <li>Check if you can apply</li>
  <li>Make an expression of interest and wait to hear back. If it is successful, you will be invited to make a full application</li>
  <li>Make a full application. If this is successful, you’ll get a funding agreement</li>
  <li>Sign and return the funding agreement</li>
  <li>Start work on your project</li>
  <li>Pay for all the work</li>
  <li>Claim your grant money</li>
</ol>

</div>

<p><a class="gem-c-button govuk-button govuk-button--start govuk-!-margin-top-4 govuk-!-margin-bottom-9" role="button" href="../slurry/start"> Check if you can apply now</a></p>

{% endblock %}
