
{% extends "../layouts/GUIDANCEWATER.html" %}

{% block guidance %}

<div id="toc" class="toc govuk-!-margin-bottom-9"></div>

<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">

<h2 id="who-can-apply">Who can apply</h2>

<p>You can apply if:</p>
<ul>
  <li>you’re in England</li>
  <li>you grow crops for the food industry</li>
  <li>you’re a nursery growing flowers</li>
  <li>you’re a forestry nursery</li>
  <li>you own the land the project will be on or have a lease for at least 5 years</li>
  <li>the estimated project costs are over £87,500</li>
</ul>

<h2 id="what-the-grant-is-for">What the grant is for</h2>

<p>The Farming Transformation Fund water grant is to make more efficient use of water for irrigation and to secure water supplies for crops.</p>
<p>The grant can pay up to 40% of the costs for:</p>

<ul>
  <li>constructing water storage reservoirs</li>
  <li>abstraction points, pumps and pipework to fill a reservoir</li>
  <li>irrigation pumps, controls, underground water distribution systems</li>
  <li>water meters</li>
  <li>best practice application equipment such as boom or trickle irrigators</li>
  <li>software and sensors to optimise water application</li>
</ul>

<p>The minimum grant you can claim is £35,000 (40% of £87,500). The maximum grant is £1 million.</p>

<h2 id="when-to-apply">When to apply</h2>

<p>You can check if you’re eligible and how well your project fits the funding priorities from 1 July 2021 to 31 August 2021.</p>
<p>Full application  can be submitted from 1 September 2021 to 30 November 2021.</p>
<p>Your project must be completed before you can claim the funding. All claims must be made before 21 March 2022.</p>
<p>Any planning permission or abstraction licence must be in place to submit a full application.</p>
<p>You will invalidate your application if you start the project or commit to any costs (such as placing orders) before you receive a funding agreement.</p>
<p>Before you start the project, you can:</p>

<ul>
  <li>get quotes from suppliers</li>
  <li>apply for planning permission or an abstraction licence(these can take a long time)</li>
</ul>
<br/>
<p>
<a href="../water/start">Check if you can apply and how well your project fits the funding priorities.</a>
</p>

<h2 id="how-to-apply-for-a-grant">How to apply for a grant</h2>
<h3>Check if your project can apply for a grant</h3>
<p>You need to check if you’re eligible and how well your project fits the funding priorities.</p>
<p>You’ll need:</p>

<ul>
  <li>information about your business (for example number of employees, turnover)</li>
  <li>information about the project (for example irrigated land in hectares)</li>
  <li>a list of the items you’d like to buy for the project</li>
  <li>an estimate of the total cost of the items</li>
</ul>

<p>After you have gone through the checker, you’ll get a score showing how well your project fits the funding priorities.</p>
<p>You can go through the checker as many times as you like but you can only submit your details once.</p>
<p>The RPA will be in touch once the application period opens.</p>

<h3>Submit a full application</h3>
<p>If you submit a full application and it is successful, you’ll be sent a funding agreement and can begin work on the project.</p>
</div>
<br/>

{% endblock %}
