{% extends 'layinghens/current/views/layouts/layout.html' %}

{% set poultryType = 'hen' %}
{% if data['poultry-type'] %}
    {% set poultryType = data['poultry-type'] %}
{% endif %}

{% block pageTitle %}
    Will the building have a veranda that is the required size?
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form method="post">

            {% set hintHtml %}

                    <p class="govuk-hint">
                        When the project is complete, the building must have a veranda that is at least either:
                    </p>

                    <ul class="govuk-hint govuk-list govuk-list--bullet">
                        <li>
                            4 metres wide along the length of the hen housing area
                        </li>
                        <li>
                            30% of the indoor hen housing area footprint
                        </li>
                    </ul>

                {% endset %}

                {{ govukRadios ({
                    idPrefix: 'veranda-size',
                    name: 'veranda-size',
                    classes: 'govuk-radios',
                    fieldset: {
                        legend: {
                            text: 'Will the building have a veranda that is the required size?',
                            isPageHeading: true,
                            classes: 'govuk-fieldset__legend--l'
                        }
                    },
                    hint: {
                        html: hintHtml
                    },
                    items: [
                        {
                            text: 'Yes',
                            value: 'Yes',
                            checked: true if data['veranda-size'] == 'Yes',
                            attributes: {
                                'data-next': 'specification'
                            }
                        },
                        {
                            text: 'No',
                            value: 'No',
                            checked: true if data['veranda-size'] == 'No',
                             attributes: {
                                'data-next': 'elim-present'
                            }
                        },
                        {
                            divider: 'or'
                        },
                        {
                            text: 'I do not have the outside space to add a veranda of this size',
                            value: 'I do not have the outside space to add a veranda of this size',
                            checked: true if data['veranda-size'] == 'I do not have the outside space to add a veranda of this size',
                             attributes: {
                                'data-next': '../building/items'
                            }
                        }
                    ]
                }) }}

                {{ govukButton ({
                    html: 'Continue'
                }) }}

            </form>

        </div>

        <div class="govuk-grid-column-one-third">

            <div class="app-step-nav-related app-step-nav-related--singular">
                <h2 class="app-step-nav-related__heading">
                <span class="app-step-nav-related__pretitle">Eligibility</span>
                </h2>

                <p>
                    You must add a veranda if you have the required space.
                </p>
    
            </div>

         </div>

</div>

{% endblock %}