{% extends "layout.html" %}

{% block pageTitle %}
  Does the farm grow arable or horticultural crops?
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="{{ backUrl }}">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form id="mainForm" class="form" action="{{ nextUrl }}" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                What crops are you growing?
              </h1>
            </legend>
            <br><br>
            <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="farming-type-1" name="farming-type" type="radio" value="Crops for the food industry" {{ checked("farming-type", "Crops for the food industry") }}>
                <label class="govuk-label govuk-radios__label" for="farming-type-1">
                  Crops for the food industry
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="farming-type-2" name="farming-type" type="radio" value="Horticulture" {{ checked("farming-type", "Horticulture") }}>
                <label class="govuk-label govuk-radios__label" for="farming-type-2">
                  Horticulture (including ornamentals)
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="farming-type-3" name="farming-type" type="radio" value="Something else" {{ checked("farming-type", "Something else") }}>
                <label class="govuk-label govuk-radios__label" for="farming-type-3">
                  Something else
                </label>
              </div>
              </div>
          </fieldset>
        </div>
        <br><br>
        <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">Continue</button>

        {% if data['COMPLETED'] == true %}
        <button onclick="document.getElementById('mainForm').action='{{ completedUrl }}'"
          class="govuk-button govuk-!-margin-right-1" data-module="govuk-button"
        >
          Back to summary page
        </button>
        {% endif %}


      </form>

    </div>
  </div>

{% endblock %}
