

{% extends "slurry/current/views/layouts/_BASEFULL.html" %}

{% block service %}

<!--
<span class="govuk-caption-xl">Prototypes</span>
-->
<title> Slurry prototype admin</title>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

<span class="govuk-caption-xl">Productivity grant</span>
<h1 class="govuk-heading-xl">
  Robotics prototype admin
</h1>

      <div class="proto-admin">
        <h2 class="govuk-heading-l">User research</h2>

        <p class='govuk-list app-list--definition'>
        <a href='/robotics/current/guidance' class="govuk-link--no-visited-state">Guidance: Farming Transformation Fund productivity grant</a></p>
          <p class='govuk-list app-list--definition'>
            <a href='/robotics/current/start' class="govuk-link--no-visited-state">Start page</a><br>
            Specialist start page, hosted on GOV.UK</p>

        <p class='govuk-list app-list--definition'>
        <a href='/robotics/current/email' class="govuk-link--no-visited-state">Confirmation email</a><br>
          User will receive a confirmation email, with their answers. Service is routed by GOV Notify.</p>
      </div>

      <div class="proto-admin">
        <h2 class="govuk-heading-l">Design history</h2>
        <p class='govuk-heading-m'>Round 2 - Version 2 (current)</p>
          <p class='govuk-list app-list--definition'>This version included changes based on user research sessions conducted between 5th and 10th October 2023<br>
            <span class="govuk-body govuk-!-font-size-14"># Last updated on 19 October 2023<br/>
            </span></p>




                      <p class='govuk-heading-m'>Previous versions</p>

                      <p class='govuk-list app-list--definition'>
                        <a href='/robotics/v6/guidance' class="govuk-link--no-visited-state">Round 2 - Version 1 (Version 6)</a><br>
                        This version was tested, and includes changes to the robotics equipment journey and the addition of the solar journey.</p>

                        <p class='govuk-list app-list--definition'>
                          <a href='/robotics/v5/guidance' class="govuk-link--no-visited-state">Version 5</a><br>
                          This version was tested, and went through Accessibility review, UAT, Private beta phases and currently is live in Public beta phase.</p>
                                    
                      
                      <p class='govuk-list app-list--definition'>
                        <a href='/robotics/v4/guidance' class="govuk-link--no-visited-state">Version 4</a><br>
                        The version shown in this prototype is currently was tested for 'new' contractor changes (including journey modifications like 'Who are you' question page).</p>

                      <p class='govuk-list app-list--definition'>
                        <a href='/robotics/v3/guidance' class="govuk-link--no-visited-state">Version 3</a><br>
                          The version shown in this prototype has got 'old' contractor changes in it, which concluded between 17 September 2021 and 15 October 2021.</p>

                        <p class='govuk-list app-list--definition'>
                          <a href='/robotics/v2/guidance' class="govuk-link--no-visited-state">Version 2.4</a><br>
                            Robotics iterations based on usability testings concluded between 21 August 2021 and 17 September 2021.</p>


                            <p class='govuk-list app-list--definition'>
                              <a href='/robotics/v1/guidance' class="govuk-link--no-visited-state">Version 1</a><br>
                                Robotics baseline design, tested in our 1st round of usability testing between 15 July 2021 and 20 August 2021.</p>
      </div>
      <div class="proto-admin">
        <h2 class="govuk-heading-l">Journeys and wireframes</h2>
            <p class='govuk-heading-m'>Workflows, screenflows and user journeys</p>
              <p class='govuk-list app-list--definition'>
                <a href='https://app.mural.co/t/dcx6016/m/ftfgrants4310/1626122410966/caa4e0e8f5ce5ff44c0e641edd586e81d2d457a4?sender=uac8e5181797d9857544e5168' class='govuk-link--no-visited-state' target="new">High fidelity screenflow on Mural (opens in new tab)</a><br>
                    <img src="/public/images/mural-icon.png" alt="Mural icon" width="17" height="17"> Mural last updated on 14 January 2022.<br></p>

            <p class='govuk-heading-m'>Wireframes</p>
              <p class='govuk-list app-list--definition'>
                <a href='https://www.sketch.com/s/92250393-268a-43ad-a337-ea90036ff4fb' class="govuk-link--no-visited-state" target="new" >Sketch wireframes (opens in new tab)</a><br>
                  <img src="/public/images/sketch-icon.png" alt="Sketch icon" width="17" height="17">Sketch is up to date.</p>
      </div>
{% endblock %}
