{% extends "layout.html" %}

{% block pageTitle %}
  You may be able to apply for a grant from this scheme
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems  .'
  }) }}
  <a class="govuk-back-link" href="evidence">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        You may be able to apply for this scheme
      </h1>

      <form action="answers" method="post" novalidate>
        <p class="govuk-body">
          To submit a full application, you must provide:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>a storage calculation plan, which you will need to submit for review to the Environment Agency</li>
            <li>confirmation that your project will comply with Water Resources (Control  of Pollution) (Silage, Slurry and Agricultural Fuel Oil) regualations (SSAFO) and build standards (signed by you and your engineer) </li>
            <li>a nutrient management plan</li>
            <li>	a declaration that you will comply with monitoring requirements</li>
          </ul>


        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
</div>

{% endblock %}
