{% extends "layout.html" %}

{% block pageTitle %}
Water quality
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems  .'
  }) }}

  <a class="govuk-back-link" href="{{ backUrl }}">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <form id="mainForm" class="form" action="{{ nextUrl }}" method="post">

              {{ govukCheckboxes({
                  idPrefix: 'waterquality',
                  name: 'waterquality',
                  fieldset: {
                      legend: {
                          html: 'Will your slurry store be within 1km<br>of a water quality protected site?',
                          isPageHeading: yes,
                          classes: 'govuk-fieldset__legend--l'
                      }
                  },


                  items: [
                {
                  value: "Groundwater-dependent Site of Special Scientific Interest",
                  text: "Groundwater-dependent Site of Special Scientific Interest",
                  checked: checked("waterquality", "Groundwater-dependent Site of Special Scientific Interest")
                },

                {
                  value: "Designated water catchments",
                  text: "Designated water catchments",
                  checked: checked("waterquality", "Designated water catchments")
                },
                {
                  value: "Ramsar Sites",
                  text: "Ramsar Sites",
                  checked: checked("waterquality", "Ramsar Sites")
                },

                {
                  divider: "or"
                },
                {
                  value: "None of the above",
                  text: "None of the above",
                  behaviour: "exclusive",
                  checked: checked("waterquality", "None of the above")

                }
              ]
              }) }}

              <p>  <br/><button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">Continue</button>

              {% if data['COMPLETED'] == true %}
                <button onclick="document.getElementById('mainForm').action='{{ completedUrl }}'"
                  class="govuk-button govuk-button--secondary govuk-!-margin-right-1" data-module="govuk-button">Back to score
                </button>
              {% endif %}
            </p>


      </form>
    </div>
    <div class="govuk-grid-column-one-third">

      <div class="app-step-nav-related app-step-nav-related--singular">
        <h2 class="app-step-nav-related__heading">
          <span class="app-step-nav-related__pretitle">Funding priorities</span>
          </h2>
          <p class="govuk-body">RPA wants to fund projects that are in protected sites.
          </p>
     </div>
   </div>

{% endblock %}
