{% extends "layout.html" %}

{% extends "./layouts/_BASEFULL.html" %}

{% block service %}

<span class="govuk-caption-xl">Prototypes</span>
<h1 class="govuk-heading-xl">
  Grants prototypes
</h1>
<p>
  The following were built using GOV.UK Prototype Kit v9.8.0.
</p>

<h2 class="govuk-heading-m">
  Prototypes
</h2>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Prototype</th>
      <th class="govuk-table__header" scope="col">Description</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="guidance-2019">
          Countryside Productivity Scheme Guidance
        </a></td>
      <td class="govuk-table__cell">Prototype guidance page for Countryside Productivity Scheme (based on current webpage)</td>
    </tr>
  </tbody>
</table>

<!--<h2 class="govuk-heading-m govuk-!-margin-top-7">
  Experiments
</h2>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Experiment</th>
      <th class="govuk-table__header" scope="col">Description</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="#">
          Experiment 1
        </a></td>
      <td class="govuk-table__cell">Alpha experiment 1</td>
    </tr>
  </tbody>
</table>-->

{% endblock %}
