{% extends 'layinghens/current/views/layouts/layout.html' %}

{% block pageTitle %}
    Check if your project is eligible for a grant
{% endblock %}

{% block content %}

<div class="app-blue-card">

    <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">

                <h1 class="govuk-heading-l">
                    3. Confirm and submit
                </h1>

                <p>
                    This section will ask specific details about your project and business.
                </p>

                <p>
                    These details will be used to help you start a full application for grant funding.
                </p>

                <h2 class="govuk-heading-m">
                    Multiple projects
                </h2>

                <p>
                    So we can assess multiple projects for the same business, you must enter the same business details on all of your submissions.
                </p>
                
                {{ govukButton ({
                    text: 'Continue',
                    href: 'business-details',
                    classes: 'govuk-button--inverse'
                }) }}

            </div>

    </div>

</div>

{% endblock %}