{% extends "layout.html" %}

{% block pageTitle %}
  Agent-Farmer-Details
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="address-details">Back</a>
{% endblock %}

{% block content %}
     <div class="govuk-grid-row">
         <div class="govuk-grid-column-two-thirds">
             <form class="form" action="agent-farmer-contact-details" method="post">
                <h1 class="govuk-heading-l"> Farmer's details</h1>
                    <div class="govuk-!-margin-bottom-6">
                        <label class="govuk-label" for="other-applicant-title">
                            Title(optional)
                        </label>
                        <select class="govuk-select" id="other-applicant-title" name="other-applicant-title">
                            <option id="Mr" name="Mr" value="Mr"        {% if( data["other-applicant-title"] === "Mr" ) %} selected {% endif %} >Mr</option>
                            <option id="Mrs" name="Mrs" value="Mrs"     {% if( data["other-applicant-title"] === "Mrs" ) %} selected {% endif %} >Mrs</option>
                            <option id="Ms" name="Ms" value="Ms"        {% if( data["other-applicant-title"] === "Ms" ) %} selected {% endif %} >Ms</option>
                            <option id="Miss" name="Miss"  value="Miss" {% if( data["other-applicant-title"] === "Miss" ) %} selected {% endif %} >Miss</option>
                            <option id="Dr" name="Dr" value="Dr"        {% if( data["other-applicant-title"] === "Dr" ) %} selected {% endif %} >Dr</option>
                        </select>
                     </div>

                        <div class="govuk-form-group">
                            <label class="govuk-label" for="farmer-firstname">
                                First name
                            </label>
                            <input class="govuk-input govuk-!-width-one-half" id="farmer-firstname" name="farmer-firstname" type="text" spellcheck="false" autocomplete="name" value="{{ data['farmer-firstname'] }}">
                        </div>

                         <div class="govuk-form-group">
                            <label class="govuk-label" for="farmer-lastname">
                                Last name
                            </label>
                            <input class="govuk-input govuk-!-width-one-half" id="farmer-lastname" name="farmer-lastname" type="text" spellcheck="false" autocomplete="name" value="{{ data['farmer-lastname'] }}">
                        </div>

		        <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">
			        Continue
		        </button>
             </form>
          </div>  
          <script>
          function functionValue(){
              let x = document.getElementById("other-applicant-title").value;
              console.log(x);
          } 
      </script> 
     </div>
{% endblock %}     