{% extends "layout.html" %}

{% block pageTitle %}
  Your details
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="applying">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="contact-details" method="post">

        {% if (data['applicant'] == "Agent") %}

        <h1 class="govuk-heading-l">Agent's details </h1>
          <div class="govuk-!-margin-bottom-6">
            <label class="govuk-label" for="agent-details">
              Title(optional)
            </label>
            <select class="govuk-select" id="agent-details" name="agent-details">
              <option id="Mr" name="Mr" value="Mr"        {% if( data["agent-details"] === "Mr" ) %} selected {% endif %} >Mr</option>
              <option id="Mrs" name="Mrs" value="Mrs"     {% if( data["agent-details"] === "Mrs" ) %} selected {% endif %} >Mrs</option>
              <option id="Ms" name="Ms" value="Ms"        {% if( data["agent-details"] === "Ms" ) %} selected {% endif %} >Ms</option>
              <option id="Miss" name="Miss"  value="Miss" {% if( data["agent-details"] === "Miss" ) %} selected {% endif %} >Miss</option>
              <option id="Dr" name="Dr" value="Dr"        {% if( data["agent-details"] === "Dr" ) %} selected {% endif %} >Dr</option>
            </select>
          </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="other-applicant-firstname">
            First name
          </label>
          <input class="govuk-input govuk-!-width-one-half" id="other-applicant-firstname" name="other-applicant-firstname" type="text" spellcheck="false" autocomplete="name" value="{{ data['other-applicant-firstname'] }}">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="other-applicant-lastname">
            Last name
          </label>
          <input class="govuk-input govuk-!-width-one-half" id="other-applicant-lastname" name="other-applicant-lastname" type="text" spellcheck="false" autocomplete="name" value="{{ data['other-applicant-lastname'] }}">
        </div>

        <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">
			  Continue
		    </button>
    

        {% else %}
        <h1 class="govuk-heading-l"> Farmer's details</h1>
        <div class="govuk-!-margin-bottom-6">
          <label class="govuk-label" for="farmer-details">
            Title(optional)
          </label>
           <select class="govuk-select" id="farmer-details" name="farmer-details">
              <option id="Mr" name="Mr" value="Mr"        {% if( data["farmer-details"] === "Mr" ) %} selected {% endif %} >Mr</option>
              <option id="Mrs" name="Mrs" value="Mrs"     {% if( data["farmer-details"] === "Mrs" ) %} selected {% endif %} >Mrs</option>
              <option id="Ms" name="Ms" value="Ms"        {% if( data["farmer-details"] === "Ms" ) %} selected {% endif %} >Ms</option>
              <option id="Miss" name="Miss"  value="Miss" {% if( data["farmer-details"] === "Miss" ) %} selected {% endif %} >Miss</option>
              <option id="Dr" name="Dr" value="Dr"        {% if( data["farmer-details"] === "Dr" ) %} selected {% endif %} >Dr</option>
          </select>
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="farmer-firstname">
            First name
          </label>
          <input class="govuk-input govuk-!-width-one-half" id="farmer-firstname" name="farmer-firstname" type="text" spellcheck="false" autocomplete="name" value="{{ data['farmer-firstname'] }}">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="farmer-lastname">
            Last name
          </label>
          <input class="govuk-input govuk-!-width-one-half" id="farmer-lastname" name="farmer-lastname" type="text" spellcheck="false" autocomplete="name" value="{{ data['farmer-lastname'] }}">
        </div>

		  <button class="govuk-button govuk-!-margin-top-6 govuk-!-margin-right-1" data-module="govuk-button">
			  Continue
		  </button>

      </form>
    </div>
  </div>

    {% endif %}
{% endblock %}
