
{% extends "./views/layouts/GUIDANCEWATER.html" %}

{% block guidance %}

<div id="toc" class="toc govuk-!-margin-bottom-9"></div>

<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">

<div class="call-to-action">
<h2 id="latest-news">Latest news</h2>

<p>Water resource management grants available now. You can apply from 17 May 2021 to 28 June 2021. Your project must be completed before you can claim the funding. All claims for funding must be made before 31 March 2022.</p>
</div>

<h2 id="who-can-apply">Who can apply</h2>

<p>You can apply if you have an arable or horticultural business that grows, or intends to grow, irrigated crops for the food industry. New businesses can also apply.</p>

<p>Only apply if the estimated project costs are over £87,500. Grants can cover up to 40% of the eligible costs of a project. The minimum grant you can claim is £35,000 (40% of £87,500).</p>

<h2 id="what-is-the-grant-for">What is the grant for</h2>

<p>It can pay up to 40% of the costs for:</p>

<ul>
  <li>constructing water storage reservoirs</li>
  <li>abstraction points, pumps and pipework to fill a reservoir</li>
  <li>irrigation pumps, controls, underground water distribution systems</li>
  <li>water meters</li>
  <li>best practice application equipment such as boom or trickle irrigators</li>
  <li>software and sensors to optimise water application</li>
</ul>

<p>The business must have a water meter or plan to install one as part of the project.</p>

<h2 id="how-to-apply-for-a-large-grant">How to apply for a large grant</h2>

<ol>
  <li>Think about what the business needs, develop a rough plan and estimate of the project costs.</li>
  <li>Check if you can apply</li>
  <li>Make an expression of interest and wait to hear back. If you are successful, you will be invited to make a full application</li>
  <li>Make a full application and wait to hear back. If this is successful, you’ll get a funding agreement</li>
  <li>Sign and return the funding agreement</li>
  <li>Start work on your project</li>
  <li>Pay for all the work</li>
  <li>Claim your grant money</li>
</ol>

</div>

<p><a class="gem-c-button govuk-button govuk-button--start govuk-!-margin-top-4 govuk-!-margin-bottom-9" role="button" href="start"> Check if you can apply now</a></p>

{% endblock %}
