{% extends "layout.html" %}

{% block pageTitle %}
  How would the project benefit irrigation on the farm?
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="{{ backUrl }}">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="irrigation-answer" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                How would the project benefit irrigation on the farm?
              </h1>
            </legend>
            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="irrigation" name="irrigation" type="radio" value="improve" {{ checked("irrigation", "improve") }}>
                <label class="govuk-label govuk-radios__label" for="irrigation">
                  Increase and/or improve existing irrigation
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="irrigation-2" name="irrigation" type="radio" value="introduce" {{ checked("irrigation", "introduce") }}>
                <label class="govuk-label govuk-radios__label" for="irrigation-2">
                  Introduce irrigation
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">
          Save and continue
        </button>

        <button class="govuk-button govuk-button--secondary" type="button" data-module="govuk-button">
          Save and come back later
        </button>

      </form>

    </div>
  </div>

{% endblock %}
