

{% extends "slurry/current/views/layouts/_BASEFULL.html" %}

{% block service %}

<!--
<span class="govuk-caption-xl">Prototypes</span>
-->
<title>Laying hens prototype admin</title>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

<span class="govuk-caption-xl">Laying hens grant</span>
<h1 class="govuk-heading-xl">
  Laying hens prototype admin
</h1>

      <div class="proto-admin">
        <h2 class="govuk-heading-l">User research</h2>
         
        <p class='govuk-list app-list--definition'>
            <a href='/layinghens/current/start' class="govuk-link--no-visited-state">Start page</a><br>
            Specialist start page, hosted on GOV.UK</p>

      </div>

      
   


{% endblock %}
