{% extends 'adding-value-2024/layout.html' %}

{% block pageTitle %}
    What impact will this project have?
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            {% if data['from-scoring'] == 'true' %}
                <form action="results">
            {% else %}
                <form action="manual-labour-amount">
            {% endif %}

            {% if data['hasVolumeError'] == 'true'%}
            {{ govukErrorSummary({
                titleText: "There is a problem",
                errorList: [
                    {
                        text: 'You cannot select these options together',
                        href: "#scoring-impact"
                    }
                    ]
            }) }}
            {% endif %}

            {% if data['hasRangeError'] == 'true' %}
            {{ govukErrorSummary({
                titleText: "There is a problem",
                errorList: [
                    {
                        text: 'You cannot select these options together',
                        href: "#scoring-impact"
                    }
                    ]
            }) }}
            {% endif %}

                {{ govukCheckboxes ({
                    idPrefix: 'scoring-impact',
                    name: 'scoring-impact',
                    fieldset: {
                        legend: {
                            text: 'What impact will this project have?',
                            isPageHeading: true,
                            classes: 'govuk-fieldset__legend--l'
                        }
                    },
                    hint: {
                        text: 'Select all that apply'
                    },
                    errorMessage: {
                        text: 'You cannot select these options together'
                    } if data['hasVolumeError'] == 'true' or data['hasRangeError'] == 'true',
                    items: [
                        {
                            text: 'Increasing range of added-value products',
                            value: 'Increasing range of added-value products',
                            checked: true if 'Increasing range of added-value products' | isIn(data['scoring-impact'])
                        },
                        {
                            text: 'Increasing volume of added-value products',
                            value: 'Increasing volume of added-value products',
                            checked: true if 'Increasing volume of added-value products' | isIn(data['scoring-impact'])
                        },
                        {
                            text: 'Allow selling direct to consumer',
                            value: 'Allow selling direct to consumer',
                            hint: {
                                text: 'For example, retail and internet sales'
                            },
                            checked: true if 'Allow selling direct to consumer' | isIn(data['scoring-impact'])
                        },
                        {
                            text: 'Creating added-value products for the first time',
                            value: 'Creating added-value products for the first time',
                            checked: true if 'Creating added-value products for the first time' | isIn(data['scoring-impact'])
                        }
                    ]
                }) }}

                <input type="hidden" name="hasVolumeError" value="false">
                <input type="hidden" name="hasRangeError" value="false">

                {{ govukButton ({
                    html: 'Continue'
                }) }}

            </form>

        </div>

        <div class="govuk-grid-column-one-third">

            <div class="app-step-nav-related app-step-nav-related--singular">
                <h2 class="app-step-nav-related__heading">
                <span class="app-step-nav-related__pretitle">Funding priorities</span>
                </h2>
                
                <p>
                    RPA wants to fund projects that:
                </p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>
                        improve processing and supply chains
                    </li>
                    <li>
                        grow your business
                    </li>
                </ul>

            </div>

        </div>

</div>

{% endblock %}