{% extends 'adding-value-2024/layout.html' %}

{% block pageTitle %}
    How much labour will this project replace?
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            {% if data['from-scoring'] == 'true' %}
                <form action="results">
            {% else %}
                <form method="post" action="customers">
            {% endif %}

                {{ govukRadios ({
                    idPrefix: 'scoring-manual-labour-amount',
                    name: 'scoring-manual-labour-amount',
                    fieldset: {
                        legend: {
                            text: 'How much labour will this project replace?',
                            isPageHeading: true,
                            classes: 'govuk-fieldset__legend--l'
                        }
                    },
                    hint: {
                        text: 'Based on your current staff numbers'
                    },
                    items: [
                        {
                            text: 'Up to 5%',
                            value: 'Up to 5%',
                            checked: true if data['scoring-manual-labour-amount'] == 'Up to 5%'
                        },
                        {
                            text: 'Between 5% and 10%',
                            value: 'Between 5% and 10%',
                            checked: true if data['scoring-manual-labour-amount'] == 'Between 5% and 10%'
                        },
                        {
                            text: 'More than 10%',
                            value: 'More than 10%',
                            checked: true if data['scoring-manual-labour-amount'] == 'More than 10%'
                        },
                        {
                            divider: 'or'
                        },
                        {
                            text: 'None of the above',
                            value: 'None of the above',
                            checked: true if data['scoring-manual-labour-amount'] == 'None of the above'
                        }
                    ]
                }) }}

                {{ govukButton ({
                    html: 'Continue'
                }) }}

            </form>

        </div>


        <div class="govuk-grid-column-one-third">

            <div class="app-step-nav-related app-step-nav-related--singular">
                <h2 class="app-step-nav-related__heading">
                <span class="app-step-nav-related__pretitle">Funding priorities</span>
                </h2>
                <p>
                    RPA wants to fund projects that reduce the need for manual labour due to the current shortage.
                </p>
            </div>

        </div>

</div>

{% endblock %}