{% extends 'adding-value-2024/layout.html' %}

{% block pageTitle %}
    How much manual labour will this project replace?
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            {% if data['from-scoring'] == 'true' %}
                <form action="results">
            {% else %}
                <form method="post" action="customers">
            {% endif %}

                {{ govukRadios ({
                    idPrefix: 'scoring-manual-labour-amount',
                    name: 'scoring-manual-labour-amount',
                    fieldset: {
                        legend: {
                            text: 'How much manual labour will this project replace?',
                            isPageHeading: true,
                            classes: 'govuk-fieldset__legend--l'
                        }
                    },
                    hint: {
                        text: 'One job is equal to 30 hours or more per week'
                    },
                    items: [
                        {
                            text: '1 to 2 jobs',
                            value: '1 to 2 jobs',
                            checked: true if data['scoring-manual-labour-amount'] == '1 to 2 jobs'
                        },
                        {
                            text: '3 to 4 jobs',
                            value: '3 to 4 jobs',
                            checked: true if data['scoring-manual-labour-amount'] == '3 to 4 jobs'
                        },
                        {
                            text: '5 or more jobs',
                            value: '5 or more jobs',
                            checked: true if data['scoring-manual-labour-amount'] == '5 or more jobs'
                        },
                        {
                            divider: 'or'
                        },
                        {
                            text: 'None of the above',
                            value: 'None of the above',
                            checked: true if data['scoring-manual-labour-amount'] == 'None of the above'
                        }
                    ]
                }) }}

                {{ govukButton ({
                    html: 'Continue'
                }) }}

            </form>

        </div>


        <div class="govuk-grid-column-one-third">

            <div class="app-step-nav-related app-step-nav-related--singular">
                <h2 class="app-step-nav-related__heading">
                <span class="app-step-nav-related__pretitle">Eligibility</span>
                </h2>
                <p>
                    RPA wants to fund projects that increases the use of automation due to the current manual labour shortage.
                </p>
            </div>

        </div>

</div>

{% endblock %}