{% extends 'layinghens/current/views/layouts/layout.html' %}

{% block pageTitle %}
    Potential grant funding
{% endblock %}

{% block content %}

{% set projectCost = data['cost'] | float %}

{% set grantAmount = projectCost | percent(40) %}

{% set birds = data['number-of-birds'] | float %}
{% set energy = data['energy'] | float %}
{% set solarCost = data['solar-cost'] | float %}

{% set totalProjectCost = solarCost + projectCost %}

{% set energyCap = birds * 0.005 %}

{% set solarFunding = solarCost * 0.25 %}

{% if energy > energyCap %}
    {% set solarFunding = ((solarCost / energy) * energyCap) * 0.25 %}
{% endif %}

{% set totalFunding = grantAmount | float + solarFunding | float %}
{% if totalFunding > 500000 %}
    {% set solarFunding = 500000 - grantAmount %}
    {% set totalFunding = 500000 %}
{% endif %} 

{% if grantAmount > 500000 %}
    {% set grantAmount = 500000 %}
{% endif %} 
            
<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l">Potential grant funding</h1>

            {# <pre> 
               birds {{ birds }}
               energy {{ energy }}
               solar cost {{ solarCost | inPounds }}
               energy cap {{ energyCap }}
               solar funding {{ solarFunding | inPounds }}
                total funding {{ totalFunding | inPounds }} 
                grant amount {{ grantAmount | inPounds }}
                maths {{ solarFunding | float + grantAmount | float }}
            </pre> #}

            {% if grantAmount == 500000 %}
                <p>
                    The maximum grant you can apply for is £500,000.
                </p>

                {{ govukInsetText ({
                    text: 'You cannot apply for funding for a solar PV system if you have requested the maximum funding amount for housing project costs.'
                }) }}

            {% elseif totalFunding == 500000 %}

                <p>
                    You may be able to apply for a grant of up to {{ totalFunding | inPounds }}, based on the estimated cost of {{ totalProjectCost | inPounds }}.
                </p>
                 
                <p>
                    This grant amount combines:
                </p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>
                        {{ grantAmount | inPounds }} for house costs (40% of {{ projectCost | inPounds }})
                    </li>

                    <li>
                        {{ solarFunding | inPounds }} for solar PV system costs
                    </li>
                </ul>

                <p>
                    As house costs take grant funding priority, you may be able to apply for a grant of up to {{ solarFunding | inPounds }} for a solar PV system. The maximum grant is £500,000.
                </p>
            
            {% elseif energyCap < energy %}
            
                <p>
                    You may be able to apply for a grant of up to {{ totalFunding | inPounds }}, based on the estimated cost of {{ totalProjectCost | inPounds }}.
                </p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>
                        {{ grantAmount | inPounds }} for house costs (40% of {{ projectCost | inPounds }})
                    </li>

                    <li>
                        {{ solarFunding | inPounds }} for solar PV system costs
                    </li>
                </ul>

                {% set detailsContentHTML %}
                    <p>
                        Because you have told us that this project will house {{ birds | formatNumber }} birds, you can apply for funding for a solar PV system with a rating of up to {{ energyCap  | formatNumber }}kW (5kW for every thousand birds).
                    </p>
                    <p>
                        Because you are installing a solar PV system with a higher energy rating ({{ energy | formatNumber }}kW), the difference must be self-funded.
                    </p>
                    <p>
                        Based on what you have told us, your solar PV system will cost {{ (solarCost | float / energy | float) | inPounds }} per kilowatt.
                    </p>
                    <p>
                         We have calculated the grant-fundable amount for the solar PV system to be {{ ((solarCost | float / energy | float) * energyCap | float) | inPounds }} ({{ (solarCost | float / energy | float) | inPounds }} multiplied by {{ energyCap | formatNumber }}kW).
                    </p>
                    <p>
                        You can apply for 25% of this grant-fundable amount, meaning the maximum grant funding is {{ solarFunding | inPounds }} for your solar PV project.
                    </p>
                    {{ govukTable({
                        caption: 'Solar PV funding calculation',
                        captionClasses: "govuk-table__caption--s",
                        firstCellIsHeader: false,
                        rows: [
                            [
                                {
                                    html: 'Number of birds to be housed in this project<br><span class="govuk-body-s" style="color: #505a5f">You told us this <a href="../features/number-of-birds">change the number of birds</a></span>'
                                },
                                {
                                    text: (birds | float) | formatNumber,
                                    format: 'numeric'
                                }
                            ],
                            [
                                {
                                    html: 'Solar PV system cost<br><span class="govuk-body-s" style="color: #505a5f">You told us this <a href="solar-cost">change the solar PV system cost</a></span>'
                                },
                                {
                                    text: solarCost | inPounds,
                                    format: 'numeric'
                                }
                            ],
                            [
                                {
                                    html: 'This project’s solar PV system rating<br><span class="govuk-body-s" style="color: #505a5f">You told us this <a href="energy-output">change the solar PV system rating</a></span>'
                                },
                                {
                                    text: energy | formatNumber + 'kW',
                                    format: 'numeric'
                                }
                            ],
                            [
                                {
                                    html: 'Solar PV system cost per kilowatt<br><span class="govuk-body-s" style="color: #505a5f">' + solarCost | float | inPounds + ' divided by ' + (energy | float) | formatNumber + 'kW</span>'
                                },
                                {
                                    text: (solarCost | float / energy | float) | inPounds,
                                    format: 'numeric'
                                }
                            ],
                            [
                                {
                                    html: 'Maximum grant-funded solar PV system rating<br><span class="govuk-body-s" style="color: #505a5f">5kW for every thousand birds</span>'
                                },
                                {
                                    text: energyCap | formatNumber + 'kW',
                                    format: 'numeric'
                                }
                            ],
                            [
                                {
                                    html: 'Grant-fundable solar PV system cost<br><span class="govuk-body-s" style="color: #505a5f">' + (solarCost | float / energy | float) | inPounds + ' multiplied by ' + (energyCap | float) | formatNumber + 'kW</span>'
                                },
                                {
                                    text: ((solarCost | float / energy | float) * energyCap | float) | inPounds,
                                    format: 'numeric'
                                }
                            ],
                            [
                                {
                                    html: 'Maximum grant funding for solar PV system<br><span class="govuk-body-s" style="color: #505a5f">25% of ' + ((solarCost | float / energy | float) * energyCap | float) | inPounds + '</span>'
                                },
                                {
                                    text: solarFunding | inPounds,
                                    format: 'numeric'
                                }
                            ]
                        ]
                        }) }}
                {% endset %}
                
                {{ govukDetails({
                    summaryText: 'How is the solar PV funding calculated?',
                    html: detailsContentHTML
                }) }}

            {% else %}    

                <p>
                    You may be able to apply for a grant of up to {{ totalFunding | inPounds }}, based on the estimated cost of {{ totalProjectCost | inPounds }}.
                </p>
                 
                <p>
                    This grant amount combines:
                </p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>
                        {{ grantAmount | inPounds }} for house costs (40% of {{ projectCost | inPounds }})
                    </li>

                    <li>
                        {{ solarFunding | inPounds }} for solar PV system costs (25% of {{ solarCost | inPounds }})
                    </li>
                </ul>

            {% endif %}

            {{ govukWarningText({
                text: "There's no guarantee the project will receive a grant",
                iconFallbackText: "Warning"
            }) }}

            <form action="remaining-cost">

                <input type="hidden" name="potential-funding" value="{{ totalFunding }}">
                <input type="hidden" name="total-cost" value="{{ totalProjectCost }}">

                {{ govukButton ({
                    html: 'Continue'
                }) }}

            </form>

        </div>

</div>

{% endblock %}