{% extends 'layinghens/current/views/layouts/layout.html' %}

{% block pageTitle %}
    Which of the following apply to the building?
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form method="post">

                {% set hintHtml %}

                    <p class="govuk-hint">
                        You must provide confirmation from a building expert, contractor or structural engineer that your roof can support solar PV panels for your full application. Confirmation is not funded by this grant.
                    </p>

                    <p class="govuk-hint"> 
                        There are some limited exemptions to this requirement.
                    </p>

                {% endset %}

                {{ govukCheckboxes ({
                    idPrefix: 'pv-req-features',
                    name: 'pv-req-features',
                    fieldset: {
                        legend: {
                            text: 'Which of the following apply to the building?',
                            isPageHeading: true,
                            classes: 'govuk-fieldset__legend--l'
                        }
                    },
                    hint: {
                        html: hintHtml
                    },
                    items: [
                        {
                            text: 'The building is listed',
                            value: 'The building is listed',
                            checked: 'The building is listed' | isIn(data['pv-req-features'])
                        },
                        {
                            text: 'The building is on a World Heritage Site',
                            value: 'The building is on a World Heritage Site',
                            checked: 'The building is on a World Heritage Site' | isIn(data['pv-req-features'])
                        },
                        {
                            text: 'I am not making any other changes to this building’s roof',
                            value: 'I am not making any other changes to this building’s roof',
                            checked: 'I am not making any other changes to this building’s roof' | isIn(data['pv-req-features'])
                        },
                        {
                            text: 'The roof faces only north or is heavily shaded',
                            value: 'The roof faces only north or is heavily shaded',
                            checked: 'The roof faces only north or is heavily shaded' | isIn(data['pv-req-features'])
                        },
                        {
                            html: 'The roof does not have 100m<sup>2</sup> of clear roof space',
                            value: 'The roof does not have 100m2 of clear roof space',
                            checked: 'The roof does not have 100m2 of clear roof space' | isIn(data['pv-req-features'])
                        },
                        {
                            divider: 'or'
                        },
                        {
                            text: 'None of the above',
                            value: 'None of the above',
                            checked: 'None of the above' | isIn(data['pv-req-features']),
                            attributes: {
                                'data-behaviour': 'exclusive'
                            }
                        }
                    ]
                }) }}

                

                {{ govukButton ({
                    html: 'Continue'
                }) }}

                <p>
                    <a href="elim-roof-support-for-solar-pv" class="govuk-link--no-visited-state">
                        The roof of the building will not be able to support solar PV panels
                    </a>
                </p>

            </form>

        </div>

            <div class="govuk-grid-column-one-third">

                <div class="app-step-nav-related app-step-nav-related--singular">
                    <h2 class="app-step-nav-related__heading">
                    <span class="app-step-nav-related__pretitle">Eligibility</span>
                    </h2>
                    <p>The roof must be able to support solar PV panels, allowing for potential use in the future.</p>
                </div>
            </div>

</div>

{% endblock %}