{% extends 'new/layout.html' %}

{% block pageTitle %}
    Do you want to build new controlled atmosphere storage for top fruit?
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form method="post">

                {{ govukRadios ({
                    idPrefix: 'top-fruit-storage',
                    name: 'top-fruit-storage',
                    classes: 'govuk-radios--inline',
                    fieldset: {
                        legend: {
                            text: 'Do you want to build new controlled atmosphere storage for top fruit?',
                            isPageHeading: true,
                            classes: 'govuk-fieldset__legend--l'
                        }
                    },
                    hint: {
                        text: 'Fruit that grows on trees, for example apples, pears, quinces, medlars, plums, peaches, apricots and cherries'
                    },
                    items: [
                        {
                            text: 'Yes',
                            value: 'Yes',
                            checked: true if data['top-fruit-storage'] == 'Yes',
                            attributes: {
                                'data-next': '../funding/solar-pv'
                            }
                        },
                        {
                            text: 'No',
                            value: 'No',
                            checked: true if data['top-fruit-storage'] == 'No',
                            attributes: {
                                'data-next': 'items-needed'
                            }
                        }
                    ]
                }) }}

                {{ govukButton ({
                    html: 'Continue'
                }) }}

            </form>

        </div>

</div>

{% endblock %}