{% extends "layout.html" %}

{% block pageTitle %}
  You may be able to apply for a large grant from this scheme
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="new-business">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        You may be able to apply for a large grant from this scheme
      </h1>

      <p>As a new business, to be considered eligible for a large countryside productivity grant scheme, you will need to provide additional evidence of your finances in your full application.</p>

      <form class="form" action="../slurry/applying" method="post">

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
