{% extends "layout.html" %}

{% block pageTitle %}
How will you add value to the products?
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems  .'
  }) }}

  <a class="govuk-back-link" href="{{ backUrl }}">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">



      <form id="mainForm" class="form" action="{{ nextUrl }}" method="post">

              {{ govukRadios({
                  idPrefix: 'adding-value',
                  name: 'adding-value',
                  fieldset: {
                      legend: {
                          text: 'How will you add value to the products?',
                          isPageHeading: true,
                          classes: 'govuk-fieldset__legend--l'
                      }
                  },
                  hint: {
                  text: "Select one option"
                  },

                  items: [
                {
                  value: "Processing or preparing primary product",
                  text: "Processing or preparing primary product",
                  hint: {
                  text: "For example, cut and packed meat, yogurt to cheese, brewing or distilling"
                  },
                  checked: checked("adding-value", "Processing or preparing primary product ")
                },

                {
                  value: "Grading or sorting primary product",
                  text: "Grading or sorting primary product",
                  hint: {
                  text: "For example, washing and grading vegetables, egg grading, optical grading of top fruit"
                  },
                  checked: checked("adding-value", "Grading or sorting primary product")
                },
                {
                  value: "Packing primary product",
                  text: "Packing primary product",
                  hint: {
                  text: "For example, packing top fruit, bagging vegetables, bottling wine"
                  },
                  checked: checked("adding-value", "Packing primary product")
                },
                {
                  value: "Dynamic controlled-atmosphere storage",
                  text: "Dynamic controlled-atmosphere storage",
                  checked: checked("adding-value", "Dynamic controlled-atmosphere storage")
                },
                {
                  value: "Controlled-atmosphere storage",
                  text: "Controlled-atmosphere storage",
                  checked: checked("adding-value", "Controlled-atmosphere storage")
                },
                {
                  value: "Basic drying processing and storage of grain",
                  text: "Basic drying processing and storage of grain",
                  checked: checked("adding-value", "Basic drying processing and storage of grain")
                }
                ]
              }) }}

          <p>  <br/><button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">Continue</button></p>


      </form>
    </div>
    <div class="govuk-grid-column-one-third">

      <div class="app-step-nav-related app-step-nav-related--singular">
        <h2 class="app-step-nav-related__heading">
          <span class="app-step-nav-related__pretitle">Funding priorities</span>
          </h2>
          <p class="govuk-body">RPA wants to fund projects that:</p>
          <ul class="govuk-list govuk-list--bullet">
          <li>improve processing and supply chains</li>
          <li>grow your business</li>
          </ul>


      </div>
    </div>
  </div>

{% endblock %}
