{% extends "layout.html" %}

{% block pageTitle %}
Agricultural sector
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems  .'
  }) }}

<a class="govuk-back-link" href="{{ backUrl }}">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form id="mainForm" class="form" action="{{ nextUrl }}" method="post">
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            Which  agricultural  sector is your project in?  
          </h1>
        </legend>

                <div id="agricultural-sector-hint" class="govuk-hint">Select up to 2 options</div>
                <div class="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="agricultural-sector" name="agricultural-sector" type="checkbox" value="horticulture" {{ checked("agricultural-sector", "horticulture") }}>
                    <label class="govuk-label govuk-checkboxes__label" for="agricultural-sector">
                      Horticulture
                    </label>
                  </div>
                  <div class="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="agricultural-sector-1" name="agricultural-sector" type="checkbox" value="arable" {{ checked("agricultural-sector", "arable") }}>
                      <label class="govuk-label govuk-checkboxes__label" for="agricultural-sector-1">
                      Arable
                      </label>
                    </div>
                    <div class="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="agricultural-sector-2" name="agricultural-sector" type="checkbox" value="dairy livestock" {{ checked("agricultural-sector", "dairy livestock") }}>
                        <label class="govuk-label govuk-checkboxes__label" for="agricultural-sector-2">
                          Dairy livestock
                        </label>
                      </div>
                      <div class="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="agricultural-sector-3" name="agricultural-sector" type="checkbox" value="non-dairy livestock" {{ checked("agricultural-sector", "non-dairy livestock") }}>
                          <label class="govuk-label govuk-checkboxes__label" for="agricultural-sector-3">
                            Non-dairy livestock
                          </label>
                        </div>

            </div>
            </fieldset>
          </div>
          <button class="govuk-button govuk-!-margin-right-1 govuk-!-margin-top-6" data-module="govuk-button">
            Continue
          </button>
          {% if data['COMPLETED'] == true %}
            <button onclick="document.getElementById('mainForm').action='{{ completedUrl }}'"
              class="govuk-button govuk-button--secondary govuk-!-margin-right-1 govuk-!-margin-top-6" data-module="govuk-button">Back to score
            </button>
          {% endif %}


          </form>
          </div>

          <div class="govuk-grid-column-one-third">
          <div class="app-step-nav-related app-step-nav-related--singular">
             <h2 class="app-step-nav-related__heading">
              <span class="app-step-nav-related__pretitle">Funding priorities</span>
              </h2>
              <p>RPA wants to fund sectors that:</p>
              <ul class="govuk-list govuk-list--bullet">
                  <li>have significant labour shortages</li>
                  <li>have not received many grants in the past, such as dairy</li>
                  </ul>

          </div>

  </div>

{% endblock %}
