{% extends "layout.html" %}

{% block pageTitle %}
  You cannot apply for a grant from this scheme
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems  .'
  }) }}

  <a class="govuk-back-link" href="business-type">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        You cannot apply for a grant from this scheme
      </h1>

      <p class="govuk-body">This grant is for businesses who: </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>are agricultural or horticultural growers or producers</li>
        <li>are a business processing agricultural or horticultural products that is at least 50% owned by agricultural or horticultural producers</li>
      </ul>

      <a href="https://www.gov.uk/topic/farming-food-grants-payments/rural-grants-payments"  class="govuk-!-font-size-19">
         See other grants you may be eligible for.
      </a>
      </div>

  </div>

{% endblock %}
