{% extends "layout.html" %}

{% block pageTitle %}
Who are your current customers?
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems.'
  }) }}

  <a class="govuk-back-link" href="{{ backUrl }}">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <form id="mainForm" class="form" action="{{ nextUrl }}" method="post">

              {{ govukCheckboxes({
                  idPrefix: 'current-customers',
                  name: 'current-customers',
                  fieldset: {
                      legend: {
                          text: 'Who are your current customers?',
                          isPageHeading: yes,
                          classes: 'govuk-fieldset__legend--l'
                      }
                  },
                  hint: {
                  text: "Select all that apply"
                  },

                  items: [
                {
                  value: "Processors",
                  text: "Processors",
                  checked: checked("current-customers", "Processors")
                },
                {
                  value: "Wholesalers",
                  text: "Wholesalers",
                  checked: checked("current-customers", "Wholesalers")
                },
                {
                  value: "Retailers",
                  text: "Retailers",
                  checked: checked("current-customers", "Retailers")
                },
                {
                  value: "Selling direct to consumers",
                  text: "Selling direct to consumers",
                  checked: checked("current-customers", "Selling direct to consumers")
                }
                ]
              }) }}

          <p>  <br/><button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">Continue</button></p>


      </form>
    </div>
    <div class="govuk-grid-column-one-third">

      <div class="app-step-nav-related app-step-nav-related--singular">
        <h2 class="app-step-nav-related__heading">
          <span class="app-step-nav-related__pretitle">Funding priorities</span>
          </h2>
          <p class="govuk-body">RPA wants to fund projects that:</p>
          <ul class="govuk-list govuk-list--bullet">
          <li>improve processing and supply chains</li>
          <li>grow your business</li>
          </ul>


      </div>
    </div>
  </div>

{% endblock %}
