{% extends "layout.html" %}

{% block pageTitle %}
  You may be able to apply for a grant from this scheme
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems  .'
  }) }}
  <a class="govuk-back-link" href="other-robotic-equipment">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-body govuk-!-font-size-48">
        <h1 class="govuk-heading-l">
          Your other robotic equipment is not eligible for a grant from this scheme
        </h1>

        <p class="govuk-body">RPA will only fund items that: <p>
        <ul class="govuk-list govuk-list--bullet">
            <li>have a sensing system</li>
            <li>have a decision-making capability</li>
            <li>use actuators</li>
            </ul>


            <form class="form" action="{{ nextUrl }}" method="post">
              <button class="govuk-button govuk-!-margin-top-6" data-module="govuk-button">Continue with eligible items</button>
            </form>

      </div>
    </div>
  </div>

{% endblock %}
