{% extends "layout.html" %}

{% block pageTitle %}
  Which items eligible for grant funding are included in the project?
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems.'
  }) }}

  <a class="govuk-back-link" href="{{ backUrl }}">Back</a>
{% endblock %}

{% block content %}

<form id="mainForm" class="form" action="{{ nextUrl }}" method="post">

    <div class="govuk-form-group">
      <div class="govuk-grid-column-two-thirds">
      <fieldset class="govuk-fieldset" aria-describedby="projectItems-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            What eligible items does your project need?
          </h1>
        </legend>
        <span id="projectItems-hint" class="govuk-hint">
         Select all the items your project needs
        </span>
        <div class="govuk-checkboxes">


    <!-- Section 1 -->
          <div class="govuk-checkboxes__divider">
            <h2 class="govuk-heading-m" id="Non-robotic equipment">
                Non-robotic equipment
            </h2>
          </div>

    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="robotic-equipment-2" name="robotic-equipment" type="checkbox" aria-describedby="advanced-ventilation-control-units-hint" value="Advanced ventilation control units" {{ checked("robotic-equipment", "Advanced ventilation control units") }}>
      <label class="govuk-label govuk-checkboxes__label" for="robotic-equipment-2">
        Advanced ventilation control units
      </label>
      <div id="advanced-ventilation-control-units-hint" class="govuk-hint govuk-radios__hint">
        System to control ventilation of existing horticultural and livestock buildings to reduce greenhouse gas emissions
      </div>
    </div>

    <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="robotic-equipment-8" name="robotic-equipment" type="checkbox" aria-describedby="wavelength-specific-LED-lighting-hint" value="Wavelength-specific LED lighting" {{ checked("robotic-equipment", "Wavelength-specific LED lighting") }}>
        <label class="govuk-label govuk-checkboxes__label" for="robotic-equipment-8">
          Wavelength-specific LED lighting
        </label>
      <div id="wavelength-specific-LED-lighting-hint" class="govuk-hint govuk-radios__hint">
        Wavelength-specific LED lighting to help crop growth, pest control and animal welfare
      </div>
    </div>

  <br><br>


  <!-- Section 2 -->
          <div class="govuk-checkboxes__divider">
            <h2 class="govuk-heading-m" id="roboticEquipment" aria-describedby="roboticEquipment-hint">
            Robotic equipment
            </h2>
          </div>
    <span id="roboticEquipment-hint" class="govuk-hint">
     Autonomous farming equipment capable of sensing its environment, making decisions and performing actions
    </span>

    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="robotic-equipment-1" name="robotic-equipment" aria-describedby="roboticEquipment" type="checkbox" value="Robotic or autonomous harvesting equipment" {{ checked("robotic-equipment", "Robotic or autonomous harvesting equipment") }}>
      <label class="govuk-label govuk-checkboxes__label" for="robotic-equipment-1">
        Robotic or autonomous harvesting equipment
      </label>
    </div>
    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="robotic-equipment-3" name="robotic-equipment" aria-describedby="roboticEquipment" type="checkbox" value="Robotic weeding equipment" {{ checked("robotic-equipment", "Robotic weeding equipment") }}>
      <label class="govuk-label govuk-checkboxes__label" for="robotic-equipment-3">
        Robotic weeding equipment
      </label>
    </div>
       <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="robotic-equipment-4" name="robotic-equipment"  aria-describedby="roboticEquipment" type="checkbox" value="Voluntary robotic milking equipment" {{ checked("robotic-equipment", "Voluntary robotic milking equipment") }}>
          <label class="govuk-label govuk-checkboxes__label" for="robotic-equipment-4">
            Voluntary robotic milking equipment
          </label>
        </div>
         <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="robotic-equipment-5" name="robotic-equipment"  aria-describedby="roboticEquipment" type="checkbox" value="Robotic spraying equipment" {{ checked("robotic-equipment", "Robotic spraying equipment") }}>
            <label class="govuk-label govuk-checkboxes__label" for="robotic-equipment-5">
              Robotic spraying equipment
            </label>
          </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="robotic-equipment-6" name="robotic-equipment" aria-describedby="roboticEquipment" type="checkbox" value="Robotic transplanting" {{ checked("robotic-equipment", "Robotic transplanting") }}>
              <label class="govuk-label govuk-checkboxes__label" for="robotic-equipment-6">
                Robotic transplanting
              </label>
            </div>

              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="robotic-equipment-7" name="robotic-equipment" aria-describedby="roboticEquipment" type="checkbox" value="Robotic feeding systems" {{ checked("robotic-equipment", "Robotic feeding systems") }}>
                <label class="govuk-label govuk-checkboxes__label" for="robotic-equipment-7">
                  Robotic feeding systems
                </label>
              </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="robotic-equipment-9" name="robotic-equipment" aria-describedby="roboticEquipment" type="checkbox" value="Robotic tractor" {{ checked("robotic-equipment", "Robotic tractor") }}>
                    <label class="govuk-label govuk-checkboxes__label" for="robotic-equipment-9">
                      Robotic tractor
                    </label>
                  </div>

                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="robotic-equipment-10" name="robotic-equipment" aria-describedby="roboticEquipment" type="checkbox" value="Other robotic equipment" {{ checked("robotic-equipment", "Other robotic equipment") }}>
                      <label class="govuk-label govuk-checkboxes__label" for="robotic-equipment-10">
                        Other robotic equipment
                      </label>
                    </div>
                </div>
              </fieldset>
<br><br>
<button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">Continue</button>
</div>
      </form>



{% endblock %}
