{% extends "layout.html" %}

{% block pageTitle %}
  Are your land or premises rented, leased or tenanted?
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems  .'
  }) }}

  <a class="govuk-back-link" href="{{ backUrl }}">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

<h1 class="govuk-heading-l">Is the planned project on land the business owns?</h1>

      <form id="mainForm" class="form" action="{{ nextUrl }}" method="post">

              {{ govukRadios({
                  classes: "govuk-radios",
                  idPrefix: 'tenancy',
                  name: 'tenancy',
                  fieldset: {
                      legend: {
                          text: '',
                          isPageHeading: false,
                          classes: 'govuk-fieldset__legend--l'
                      }
                  },
                  hint: {
                    text: "The site where the work will happen  "
                },

                  items: [
                {
                  value: "Yes",
                  text: "Yes",
                  checked: checked("tenancy", "Yes")
                },
                {
                  value: "No",
                  text: "No",
                  checked: checked("tenancy", "No")
                },
                {
                  value: "Contractor",
                  text: "Not applicable - I'm a mobile contractor",
                  checked: checked("tenancy", "Contractor")
                }
              ]
              }) }}

          <p>  <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">Continue</button></p>



      </form>
    </div>


      <div class="govuk-grid-column-one-third">

        <div class="app-step-nav-related app-step-nav-related--singular">
          <h2 class="app-step-nav-related__heading">
            <span class="app-step-nav-related__pretitle">Eligibility</span>
            </h2>
            <p>The land must be owned or have a tenancy in place until 2027 before starting the project.</p>
            <a href="#">
            </a>

        </div>
      </div>

{% endblock %}
