
{% extends "layout.html" %}

{% block pageTitle %}
  Grants Prototypes
{% endblock %}

{% block content %}

  <style>
    dd {margin-inline-start: 0}
  </style>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">Grants Prototype</span>
      <h1 class="govuk-heading-xl">
        Water
      </h1>

      <dl class="govuk-list">
        <dt><a href="/water/current/guidance">Version 07</a></dt>
        <dd>Beta - Public</dd>
      </dl>

      <dl class="govuk-list">
        <dt><a href="/water/v7-privateBeta/guidance-all-grants">Version 07</a></dt>
        <dd>Beta - Private</dd>
      </dl>

      <dl class="govuk-list">
        <dt><a href="/water/v6/guidance-all-grants">Version 06</a></dt>
        <dd>Alpha extension</dd>
      </dl>

      <dl class="govuk-list">
        <dt><a href="/water/v5/guidance-all-grants">Version 05</a></dt>
        <dd>Alpha extension</dd>
      </dl>

      <dl class="govuk-list">
        <dt><a href="/water/v4+/guidance-all-grants">Version 04.5</a></dt>
        <dd>Alpha extension</dd>
      </dl>

      <dl class="govuk-list">
        <dt><a href="/water/v4/guidance-all-grants">Version 04</a></dt>
        <dd>Alpha sprint XXXX - large grants expression of interest v3</dd>
      </dl>

      <dl class="govuk-list">
        <dt><a href="/water/v3/guidance-all-grants">Version 03</a></dt>
        <dd>Alpha sprint 6 - large grants expression of interest v2</dd>
      </dl>

      <dl class="govuk-list">
        <dt><a href="/water/v2/views/start">Version 02</a></dt>
        <dd>Alpha sprint 5 - large grants expression of interest</dd>
      </dl>

      <dl class="govuk-list">
        <dt><a href="/water/v1/views/guidance-2019">Version 01</a></dt>
        <dd>Alpha sprint 3 - small grants service</dd>
      </dl>

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related links
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="https://github.com/DEFRA/grants-prototype">
                Prototype code on Github
              </a>
            </li>
            <li>
              <a href="https://grants-design-history.herokuapp.com/">
                Design history
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>

  </div>

{% endblock %}
