{% extends "layout.html" %}

{% block pageTitle %}
  Score results
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype"
    },
      html: 'This is a prototype. It is not a real service.'
  }) }}

  <a class="govuk-back-link" href="{{ backUrl }}">Back</a>
{% endblock %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

<h1 class="govuk-heading-xl">Score results</h1>
<p class="govuk-!-font-size-24">Based on your answers, your project’s score is:</p>

    <div class="govuk-inset-text">
      <h2 class="govuk-heading-m">Average</h2>
      <p>This means your project has a medium chance of getting funding.</p>
    </div>


  </div>
  </div>



  <div class="govuk-grid-column-two-thirds css-index-link-block">

      <dl class="govuk-body">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-font-size-16">
        Strong
        </dt>
        <dd class="govuk-summary-list__value govuk-!-font-size-16">
          Your project seems like it’s a strong fit with the funding priorities. Based on your answers, a grant application seems likely to be successful. 
        </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-font-size-16">
          Average
          </dt>
          <dd class="govuk-summary-list__value govuk-!-font-size-16">
            Your project seems like it’s an average fit with the funding priorities.  Based on your answers, a grant application seems like it might be successful. 
          </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-font-size-16">
          Weak
            </dt>
            <dd class="govuk-summary-list__value govuk-!-font-size-16">
              Your project seems like it’s a weak fit with the funding priorities.  Based on your answers, a grant application seems unlikely to be successful.  
            </dd>
            </div>

  </dl>
</div>




<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <br>
      <div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    The likelihood of a full application being successful will also depend on the number and value of applications we receive.
  </strong>
</div>

    <p class="govuk-body">Value for money will be assessed alongside the funding priorities at full application stage and this may impact your overall project score.</p>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    <h1 class="govuk-heading-l">Your answers</h1>
    <p class="govuk-!-padding-bottom-4">You can go back to change scoring questions as many times as you like but you can only submit your details once.</p>







  <table class="govuk-table govuk-body govuk-!-font-size-16">

      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Answers</th>
          <th scope="col" class="govuk-table__header">Score</th>
          <th scope="col" class="govuk-table__header">Funding priorities</th>
          <th scope="col" class="govuk-table__header"></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Project impact
          <br/><br/><ul class="govuk-!-font-size-16 govuk-list govuk-list--bullet"><li>{{data['projects-impact'] | capitalize}} </li></ul></th>
          <td class="govuk-table__cell">Average</td>
          <td class="govuk-table__cell">
            <p class="govuk-body govuk-!-font-size-16">
              Improve productivity <br/>
              Improve the environment<br>
            Introduce innovation</p>
          </td>
          <td class="govuk-table__cell"><a href="projects-impact">Change</td>
        </tr>
        {% if data['projects-impact'] === "Introduce acidification for the first time" %}
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Current volume treated
          <br/><br/><ul class="govuk-!-font-size-16 govuk-list govuk-list--bullet"><li>{{data['slurry-currently-treated'] | capitalize}} m<sup>3</sup></li></ul></th>
          <td class="govuk-table__cell">Average</td>
          <td class="govuk-table__cell">
            <p class="govuk-body govuk-!-font-size-16">
              Improve productivity <br/>
              Improve the environment</p>


          </td>
          <td class="govuk-table__cell"><a href="slurry-currently-treated">Change</td>
        </tr>
         {% endif %}
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Future volume treated
          <br/><br/><ul class="govuk-!-font-size-16 govuk-list govuk-list--bullet"><li>{{data['slurry-to-be-treated'] | capitalize}} m<sup>3</sup></li></ul></th>
          <td class="govuk-table__cell">Weak</td>
          <td class="govuk-table__cell">
            <p class="govuk-body govuk-!-font-size-16">
              Improve productivity<br/>
              Improve the environment</p>
          </td>
          <td class="govuk-table__cell"><a href="slurry-to-be-treated">Change</td>
        </tr>
      </tbody>
    </table>












<h2 class="govuk-heading-m">Next steps</h2>


<p class="govuk-body">Next, add your business and contact details and submit them to the RPA (you should only do this once).</p>
<p>You’ll get an email with your score and answers, and a reference number.</p>

<br/><br/>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form class="form" action="{{ nextUrl }}" method="post">
          <button class="govuk-button govuk-!-margin-right-1 govuk-!-padding-left-4 govuk-!-padding-right-4" data-module="govuk-button">
            Continue
          </button>
        </form>

       </div>
    </div>













{% endblock %}
