{% extends "layout.html" %}

{% block pageTitle %}
  Check all your answers
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="{{ backUrl }}">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl">Farming Transformation Fund prosperity grant</span>
<h1 class="govuk-heading-xl">Scoring results</h1>
<p class="govuk-!-font-size-24">Based on your answers, your project’s score is:</p>

    <div class="govuk-inset-text">
      <h2 class="govuk-heading-m">Average</h2>
      <p>This means your project has a medium chance of getting funding.</p>
    </div>


<p class='govuk-body govuk-!-font-weight-bold'>Understand scoring</p>
    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button govuk-body govuk-!-font-size-19" id="accordion-default-heading-1">
              Strong
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
          <p class='govuk-body'>Your project seems like it’s a strong fit with the funding priorities. Based on your answers, a grant application seems likely to be successful.   </p>
        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button govuk-body govuk-!-font-size-19" id="accordion-default-heading-2">
              Average
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
          <p class='govuk-body'>Your project seems like it’s an average fit with the funding priorities.  Based on your answers, a grant application seems like it might be successful. </p>
        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button govuk-body govuk-!-font-size-19" id="accordion-default-heading-3">
            Weak
            </span>
          </h2>
        </div>

        <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
          <p class='govuk-body'>Your project seems like it’s a weak fit with the funding priorities.  Based on your answers, a grant application seems unlikely to be successful. </p>
        </div>
      </div>
    </div>




  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <br>
    <h1 class="govuk-heading-l">Your scoring answers</h1>
    <p class="govuk-!-padding-bottom-4">You can go back to change scoring questions as many times as you like but you can only submit your details once.</p>
    <table class="govuk-table">
      <thead class="govuk-table__head">
          <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header app-custom-class">Sections</th>
          <th scope="col" class="govuk-table__header app-custom-class">Answers</th>
          <th scope="col" class="govuk-table__header app-custom-class govuk-!-padding-left-9">Your score</th>
          <th scope="col" class="govuk-table__header app-custom-class">Change answers</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body govuk-body govuk-!-font-size-16">


      <tr class="govuk-table__row govuk-body govuk-!-font-size-16">
        <th scope="row" class="govuk-table__header">Slurry currently treated
        <br><br>
        {% if data['slurry-currently-treated'] === "Yes" %}

        <ul class="govuk-list govuk-list--bullet">
            <li>{{ data['slurry-currently-treated'] }} hectares</li>
        </ul>

        <ul class="govuk-list govuk-list--bullet">
          <li>{{ data['slurry-currently-treated'] }} hectares</li>
        </ul>
        </th>
        <td class="govuk-table__cell govuk-!-padding-left-2">
          <br><br><br><br>
          Average
        </td>
        <td class="govuk-table__cell">
          <br><br>
          <div class="govuk-!-margin-9">
            Improve productivity
          </div>
        </td>
        <td class="govuk-table__cell">
          <br><br><br><br>
          <a class="govuk-link" href="irrigated-land">
              Change<span class="govuk-visually-hidden"> current irrigated land</span>
          </a>
        </td>
        {% else %}
        <p>
          How much land will be
        <br>
          irrigated after the project?
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>{{ data['irrigated-land-target'] }} hectares</li>
        </ul>
        </th>
        <td class="govuk-table__cell govuk-!-padding-left-2">
          <br><br><br><br>
          Average
        </td>
        <td class="govuk-table__cell">
          <br><br>
          <div class="govuk-!-margin-9">
            Improve productivity
          </div>
        </td>
        <td class="govuk-table__cell">
          <br><br><br><br>
          <a class="govuk-link" href="slurry-currently-treated">
              Change<span class="govuk-visually-hidden"> current irrigated land</span>
          </a>
        </td>
        {% endif %}
      </tr>
      <tr class="govuk-table__row">
        {% if data['slurry-to-be-treated'] === "Yes" %}
        <th scope="row" class="govuk-table__header govuk-!-padding-bottom-2">Slurry to be treated
        <br><br>
        <p>
          Slurry to be treated

        </p>
        <ul class="govuk-list govuk-list--bullet">
          {% for item in data['slurry-to-be-treated'] %}
            <li>{{ item | capitalize }}</li>
          {% endfor %}
        </ul>
        <p>
          Slurry to be treated
        <br>
          water come from?
        </p>
        <ul class="govuk-list govuk-list--bullet">
              {% for item in data['irrigation-target'] %}
                <li>{{ item | capitalize }}</li>
              {% endfor %}
        </ul>
        </th>
        <td class="govuk-table__cell govuk-!-padding-left-2">
        <br><br><br>
            Average
        </td>
        <td class="govuk-table__cell">
          <div class="govuk-!-margin-9">
          <p>Improve the environment<br>
          Improve water sustainability</p>
          </div>
        </td>
        <td class="govuk-table__cell">
          <br><br><br>
          <a class="govuk-link" href="slurry-to-be-treated">
              Change<span class="govuk-visually-hidden"> projected irrigation water source</span>
          </a>
        </td>
        {% else %}
        <th scope="row" class="govuk-table__header">Irrigation source
        <br><br>
        <p>
          Where will your irrigation
        <br>
          water come from?
        </p>
        <ul class="govuk-list govuk-list--bullet">
              {% for item in data['irrigation-target'] %}
                <li>{{ item | capitalize }}</li>
              {% endfor %}
        </ul>
        </th>
        <td class="govuk-table__cell govuk-!-padding-left-2">
        <br><br><br>
            Average
        </td>
        <td class="govuk-table__cell">
          <div class="govuk-!-margin-9">
          <p>Improve the environment<br>
          Improve water sustainability</p>
          </div>
        </td>
        <td class="govuk-table__cell">
          <br><br><br>
          <a class="govuk-link" href="slurry-to-be-treated ">
              Change<span class="govuk-visually-hidden"> projected irrigation water source</span>
          </a>
        </td>
        {% endif %}
      </tr>
      <tr class="govuk-table__row">
        {% if data['current-irrigating'] === "Yes"  %}
        <th scope="row" class="govuk-table__header">Irrigation system
        <br><br>
        <p>
          What systems are currently
        <br>
          used to irrigate?
        </p>
      <ul class="govuk-list govuk-list--bullet">
          {% for item in data['irrigation-systems-current'] %}
              <li>{{ item | capitalize }}</li>
          {% endfor %}
        </ul>
        <br>
        <p>
          What systems will be
        <br>
          used to irrigate?
        </p>
        <ul class="govuk-list govuk-list--bullet">
          {% for item in data['irrigation-systems-target'] %}
              <li>{{ item | capitalize }}</li>
          {% endfor %}
        </ul>
        </th>
        <td class="govuk-table__cell govuk-!-padding-left-2">
        <br><br><br>
          Weak
        </td>
        <td class="govuk-table__cell">
        <div class="govuk-!-margin-9">
        <p>Improve the environment<br>
          Improve water sustainability</p>
          </div>
        </td>
        <td class="govuk-table__cell">
          <br><br><br><br>
          <a class="govuk-link" href="irrigation-systems">
              Change<span class="govuk-visually-hidden"> projected irrigation systems</span>
          </a>
        </td>
        </tr>
      {% else %}
        <th scope="row" class="govuk-table__header">Irrigation system
        <br><br>
        <p>
          What systems will be
        <br>
          used to irrigate?
        </p>
        <ul class="govuk-list govuk-list--bullet">
          {% for item in data['irrigation-systems-target'] %}
              <li>{{ item | capitalize }}</li>
          {% endfor %}
        </ul>
        </th>
        <td class="govuk-table__cell govuk-!-padding-left-2">
        <br><br><br>
          Weak
        </td>
        <td class="govuk-table__cell">
        <div class="govuk-!-margin-9">
        <p>Improve the environment<br>
          Improve water sustainability</p>
          </div>
        </td>
        <td class="govuk-table__cell">
          <br><br><br><br>
          <a class="govuk-link" href="irrigation-water-source-no">
              Change<span class="govuk-visually-hidden"> projected irrigation systems</span>
          </a>
        </td>
         </tr>
      {% endif %}



      </tbody>
    </table>
  </div>
</div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form class="form" action="{{ nextUrl }}" method="post">
          <button class="govuk-button govuk-!-margin-right-1 govuk-!-padding-left-4 govuk-!-padding-right-4" data-module="govuk-button">
            Continue
          </button>
        </form>

       </div>
    </div>

{% endblock %}
