{% extends "layout.html" %}

{% block pageTitle %}
  Check all your answers
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="{{ backUrl }}">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">Your project’s score</h1>
    <div class="govuk-inset-text">
      <p>Based on your answers, your project’s score is:</p>
      <h2 class="govuk-heading-m">Weak</h2>
      <p>This means your project has a medium chance of getting funding.</p>
    </div>
   <h1 class="govuk-heading-m">Scoring</h1>
    <p class="govuk-body"><span class="govuk-!-font-weight-bold">Strong:</span>
       This means your project seems likely to be successful. 
    <p class="govuk-body"><span class="govuk-!-font-weight-bold">Average:</span>
        This means your project seems like it might be successful.
    <p class="govuk-body"><span class="govuk-!-font-weight-bold ">Weak:</span>
        This means your project seems unlikely to be successful.
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <br>
    <h1 class="govuk-heading-l">Your answers</h1>
    <p>You can go through the checker as many times as you like. Once you’re happy that your answers accurately reflect your project, add your contact details.</p>
  <table class="govuk-table">
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header app-custom-class">Sections</th>
        <th scope="col" class="govuk-table__header app-custom-class">Your score</th>
        <th scope="col" class="govuk-table__header app-custom-class govuk-!-padding-left-9">Funding priorities</th>
        <th scope="col" class="govuk-table__header app-custom-class">Change answers</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header"><span>Project details</span>
        <br><br>
        <p>The project will :</p>
          <ul class="govuk-list govuk-list--bullet">
            {% for item in data['project-summary'] %}
              <li>{{ item | capitalize }}</li>
            {% endfor %}
          </ul>
        </th>
      <td class="govuk-table__cell govuk-!-padding-left-2">
       <br><br><br>
        Weak
      </td>
      <td class="govuk-table__cell">
        <div class="govuk-!-margin-9">
        <p>Improving productivity<br>
        Reducing environmental impact<br>
        Security of water supply</p>
        </div>
      </td>
      <td class="govuk-table__cell">
          <br><br>
          <a class="govuk-link" href="project-summary">
            Change<span class="govuk-visually-hidden"> project summary</span>
          </a>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Crops
        <br><br>
        <p>What main crops <br>
         will be irrigated?</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>{{data['irrigated-crops'] | capitalize}}</li>
          </ul>
      </th>
      <td class="govuk-table__cell govuk-!-padding-left-2">
       <br><br>
        Weak
      </td>
      <td class="govuk-table__cell">
        <div class="govuk-!-margin-9">
        <p>Improving productivity</p>
        </div>
      </td>
      <td class="govuk-table__cell">
        <br><br>
        <a class="govuk-link" href="irrigated-crops">
            Change<span class="govuk-visually-hidden">irrigated crops</span>
        </a>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Irrigated land
      <br><br>
      <p>
        How much land is currently
      <br>
        irrigated per year?
      </p>
      <ul class="govuk-list govuk-list--bullet">
          <li>{{ data['irrigated-land-current'] }} hectares</li>
      </ul>
      <p>
        How much land will be
      <br>
        irrigated after the project?
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>{{ data['irrigated-land-target'] }} hectares</li>
      </ul>
      </th>
      <td class="govuk-table__cell govuk-!-padding-left-2">
        <br><br><br><br>
        Weak
      </td>
      <td class="govuk-table__cell">
        <br><br>
        <div class="govuk-!-margin-9">
          Improving productivity
        </div>
      </td>
      <td class="govuk-table__cell">
        <br><br><br><br>
        <a class="govuk-link" href="irrigated-land">
            Change<span class="govuk-visually-hidden"> current irrigated land</span>
        </a>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Irrigation source
      <br><br>
      <p>
        Where does your current
      <br>
        irrigation water come from?
      </p>
      <ul class="govuk-list govuk-list--bullet">
        {% for item in data['irrigation-current'] %}
           <li>{{ item | capitalize }}</li>
        {% endfor %}
      </ul>
      <p>
        Where will your irrigation
      <br>
        water come from?
      </p>
      <ul class="govuk-list govuk-list--bullet">
            {% for item in data['irrigation-target'] %}
              <li>{{ item | capitalize }}</li>
            {% endfor %}
      </ul>
      </th>
      <td class="govuk-table__cell govuk-!-padding-left-2">
       <br><br><br>
          Strong
      </td>
      <td class="govuk-table__cell">
        <div class="govuk-!-margin-9">
        <p>Reducing environmental impact<br>
        Security of water supply</p>
        </div>
      </td>
      <td class="govuk-table__cell">
         <br><br><br>
        <a class="govuk-link" href="irrigation-water-source">
            Change<span class="govuk-visually-hidden"> projected irrigation water source</span>
        </a>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Irrigation system
      <br><br>
      <p>
        What systems are currently
      <br>
        used to irrigate?
      </p>
     <ul class="govuk-list govuk-list--bullet">
        {% for item in data['irrigation-systems-current'] %}
            <li>{{ item | capitalize }}</li>
        {% endfor %}
      </ul>
      <br>
      <p>
        What systems will be
      <br>
        used to irrigate?
      </p>
      <ul class="govuk-list govuk-list--bullet">
        {% for item in data['irrigation-systems-target'] %}
            <li>{{ item | capitalize }}</li>
        {% endfor %}
      </ul>
      </th>
      <td class="govuk-table__cell govuk-!-padding-left-2">
      <br><br><br>
        Weak
      </td>
      <td class="govuk-table__cell">
       <div class="govuk-!-margin-9">
       <p>Reducing environmental impact<br>
        Security of water supply</p>
        </div>
      </td>
      <td class="govuk-table__cell">
        <br><br><br><br>
        <a class="govuk-link" href="irrigation-systems">
            Change<span class="govuk-visually-hidden"> projected irrigation systems</span>
        </a>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Productivity
      <br><br>
      <p>
        How will the project improve
      <br>
        productivity?
      </p>
      <ul class="govuk-list govuk-list--bullet">
            {% for item in data['productivity'] %}
              <li>{{ item | capitalize }}</li>
            {% endfor %}
      </ul>
      </th>
      <td class="govuk-table__cell govuk-!-padding-left-2">
      <br><br>
      Average
      </td>
      <td class="govuk-table__cell">
      <div class="govuk-!-margin-8">
        Improving productivity
      </div>
      </td>
      <td class="govuk-table__cell">
        <br><br>
        <a class="govuk-link" href="productivity">
            Change<span class="govuk-visually-hidden"> productivity</span>
        </a>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Other farms
      <br><br>
      <p>
        Will water be supplied<br>
        to other farms?
      </p>
      <ul class="govuk-list govuk-list--bullet">
          <li>{{ data['collaboration'] }} </li>
      </ul>
      </th>
      <td class="govuk-table__cell govuk-!-padding-left-2">
      <br><br>
        Weak
      </td>
      <td class="govuk-table__cell">
      <div class="govuk-!-margin-8">
        Security of water supply
      </div>
      </td>
      <td class="govuk-table__cell">
      <br><br>
        <a class="govuk-link" href="collaboration">
            Change<span class="govuk-visually-hidden"> other farms supplied with water</span>
        </a>
      </td>
    </tr>
  </tbody>
</table>

  <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="{{ nextUrl }}" method="post">
      <button class="govuk-button govuk-!-margin-right-1 govuk-!-padding-left-4 govuk-!-padding-right-4" data-module="govuk-button">
        Next
      </button>
    </form>





  </div>
</div>

{% endblock %}
