{% extends "layout.html" %}

{% block pageTitle %}
  Which items eligible for grant funding are included in the project?
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype"
    },
      html: 'This is a prototype. It is not a real service.'
  }) }}

  <a class="govuk-back-link" href="{{ backUrl }}">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
  <h2 class="govuk-error-summary__title" id="error-summary-title">
    There is a problem
  </h2>
  <div class="govuk-error-summary__body">
    <ul class="govuk-list govuk-error-summary__list">
      <li>
        <a href="#mild-acidification-equipment">You must select mild acidification equipment</a>
      </li>

    </ul>
  </div>
</div>

<div class="govuk-form-group govuk-form-group--error">

    <div class="govuk-grid-column-two-thirds">

      <form id="mainForm" class="form" action="{{ nextUrl }}" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="associated-works-hint">



            <div class="govuk-form-group govuk-form-group--error">
                <fieldset class="govuk-fieldset" aria-describedby="associated-works-hint">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                      Which eligible items does your project need?
                    </h1>
                  </legend>

                  <p class="govuk-hint">The minimum grant you can apply for this project is £35,000 (40% of £87,500). The maximum grant is £500,000.<p/>
                  <p class="govuk-hint">Select all that apply</p>
                  <span id="mild-acidification-equipment-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span> You must select mild acidification equipment
                  </span>

                  <div class="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">

    <input class="govuk-checkboxes__input" id="associated-works-1" name="associated-works" type="checkbox" value="Mild acidification equipment" {{ checked("associated-works", "") }}>
    <label class="govuk-label govuk-checkboxes__label" for="associated-works-1">
      Mild acidification equipment
    </label>
    <span id="nationality-error" class="govuk-error-message">

    <div id="project-items-item-hint" class="govuk-hint govuk-checkboxes__hint">
    You must buy all 4 of the following items:

        <p><ul class="govuk-list govuk-list--bullet govuk-hint govuk-checkboxes__hint">
           <li>acid storage</li>
           <li>dosing equipment</li>
           <li>mixing tank</li>
           <li>pump</li>
         </ul>
        </p>
    </div>
  </div>



<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="associated-works-hint">


    <div class="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="associated-works-2" name="associated-works" type="checkbox" value="Acidification infrastructure" {{ checked("associated-works", "Acidification infrastructure") }} >
        <label class="govuk-label govuk-checkboxes__label" for="waste">
          Acidification infrastructure
        </label>
          <div id="acidification-infrastructure-item-hint" class="govuk-hint govuk-checkboxes__hint">Any work to adapt or install pipework, pumps etc to get slurry into the acidification system and then out to storage. </div>
      </div>


    </div>


  </fieldset>
</div>

</fieldset>

  </div>
<br/><br/>





        <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">Continue</button>


      </form>

    </div>
  </div>


{% endblock %}
