{% extends "layout.html" %}

{% block pageTitle %}
   Check Your Details
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
    <a class="govuk-back-link" href="{{ backUrl }}">Back</a>
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l govuk-!-margin-top-9 govuk-!-margin-bottom-9">Check your details </h1>

            {#business details #}

            <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <div class="govuk-summary-list__row--no-border">
                            <dt class="govuk-summary-list__key">
                                <p class="govuk-body govuk-!-font-size-24"><strong>Business details</strong></p>
                            </dt>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="business">
                                    Change<span class="govuk-visually-hidden">business details</span>
                                </a>
                            </dd>
                        </div>
                    </tr>
                    <hr>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <th  scope="row" class="govuk-table__header">
                            <strong>Project name</strong>
                        </th>
                        <td class="govuk-table__cell">
                            <p>{{ data['project-name'] }}</p>
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th  scope="row" class="govuk-table__header">
                            <strong>Business name</strong>
                        </th>
                        <td class="govuk-table__cell">
                            <p>{{ data['business-name'] }}</p>
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th  scope="row" class="govuk-table__header">
                            <strong>Number of employees</strong>
                        </th>
                        <td class="govuk-table__cell">
                            <p>{{ data['employees'] }}</p>
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th  scope="row" class="govuk-table__header">
                            <strong>Business turnover</strong>
                        </th>
                        <td class="govuk-table__cell">
                            <p>{{ data['turnover'] }}</p>
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th  scope="row" class="govuk-table__header">
                            <strong>Single Business Identifier (SBI)</strong>
                        </th>
                        <td class="govuk-table__cell">
                            <p>{{ data['sbi'] }}</p>
                        </td>
                    </tr>

                </tbody>
            </table>
            <br><br><br>

            {# include agent details only if applicant is Agent  #}

            {% if (data['applicant'] == "Agent") %}
            <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <div class="govuk-summary-list__row--no-border">
                            <dt class="govuk-summary-list__key">
                                <p class="govuk-body govuk-!-font-size-24"><strong>Agent's details</strong></p>
                            </dt>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="agent-details">
                                        Change<span class="govuk-visually-hidden">agent's details</span>
                                </a>
                            </dd>
                        </div>
                    </tr>
                    <hr>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <th  scope="row" class="govuk-table__header">
                            <strong>Name</strong>
                        </th>
                        <td class="govuk-table__cell">
                            <p>{{ data['agent-firstname'] }}</p>
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">
                            <strong> Contact details</strong>
                        </th>
                        <td class="govuk-table__cell">
                            <p>{{ data['agent-email'] }}</p>
                            <p>{{ data['agent-landline'] }}</p>
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th  scope="row" class="govuk-table__header">
                            <strong>Address</strong>
                        </th>
                        <td class="govuk-table__cell">
                           <p>{{ data['agent-address1'] }}</p>
                           <p>{{ data['agent-address2'] }}</p>
                           <p>{{ data['agent-postcode'] }}</p>
                        </td>
                    </tr>

                </tbody>
            </table>
            <br><br>
            {% endif %}

            <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <div class="govuk-summary-list__row--no-border">
                            <dt class="govuk-summary-list__key">
                                <p class="govuk-body govuk-!-font-size-24"><strong>Farmer's details</strong></p>
                            </dt>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="farmer-details">
                                    Change<span class="govuk-visually-hidden">farmer's details</span>
                                </a>
                            </dd>
                        </div>
                    </tr>
                    <hr>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row--no-border">
                        <th  scope="row" class="govuk-table__header">
                            <strong>Name</strong>
                        </th>
                        <td class="govuk-table__cell">
                            <p>{{data['farmer-firstname']}}</p>
                        </td>
                    </tr>
                    <tr class="govuk-table__row--no-border">
                        <th  scope="row" class="govuk-table__header">
                            <strong>Gender</strong>
                        </th>
                        <td class="govuk-table__cell">
                            <p>{{data['gender']}} </p>
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th  scope="row" class="govuk-table__header">
                            <strong> Contact details</strong>
                        </th>
                        <td class="govuk-table__cell">
                           <p> {{ data['farmer-email'] }} </p>
                           <p> {{ data['farmer-landline'] }} </p>
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th  scope="row" class="govuk-table__header">
                            <strong>Address</strong>
                        </th>
                        <td class="govuk-table__cell">
                           <p> {{ data['farmer-address1'] }} </p>
                           <p> {{ data['farmer-address2'] }} </p>
                           <p> {{ data['farmer-postcode'] }} </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
     </div>
    <div class="govuk-grid-row govuk-!-padding-top-8">
        <div class="govuk-grid-column-two-thirds">
            <form class="form" action="{{ nextUrl }}" method="post">
                <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">
                    Continue
                </button>
            </form>
        </div>
    </div>

{% endblock %}
