{% extends "layout.html" %}

{% block pageTitle %}
What is your project about?
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a prototype. It is not a real service.'
}) }}

  <a class="govuk-back-link" href="{{ backUrl }}">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

<h1 class="govuk-heading-l">What is your project about?</h1>

      <form id="mainForm" class="form" action="{{ nextUrl }}" method="post">

              {{ govukRadios({
                  idPrefix: 'farming-type',
                  name: 'farming-type',
                  fieldset: {
                      legend: {
                          text: '',
                          isPageHeading: false,
                          classes: 'govuk-fieldset__legend--l'
                      }
                  },

                  items: [
                {
                  value: "Robotics and innovation",
                  text: "Robotics and innovation",
                  checked: checked("farming-type", "Robotics and innovation")
                },
                {
                  value: "Slurry acidification",
                  text: "Slurry acidification",
                  checked: checked("farming-type", "Slurry acidification")
                }
              ]
              }) }}

          <p>  <br/><button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">Continue</button></p>


      </form>
    </div>
  </div>

{% endblock %}
