{% extends "layout.html" %}

{% block pageTitle %}
  Which items eligible for grant funding are included in the project?
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
  <a class="govuk-back-link" href="{{ backUrl }}">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form id="mainForm" class="form" action="{{ nextUrl }}" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="project-items-hint">

          














            <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="nationality-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
          Which slurry treatment will you use?
        </h1>
      </legend>
      <div class="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="project-items-1" name="project-items" type="checkbox" value="Mild acidification equipment" {{ checked("project-items", "Mild acidification equipment") }}>
          <label class="govuk-label govuk-checkboxes__label" for="project-items-1">
            Mild acidification equipment
          </label>
          <div id="project-items-item-hint" class="govuk-hint govuk-checkboxes__hint">
          Equipment for reducing the emissions of ammonia by lowering the pH value of slurry, such as:

              <ul class="govuk-list govuk-list--bullet govuk-hint govuk-checkboxes__hint">
                <li>Acid storage</li>
                <li>Dosing equipment</li>
                <li>Mixing tank</li>
                <li>Pump</li>
              </ul>

          </div>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="project-items-2" name="project-items" type="checkbox" value="Plasma" {{ checked("project-items", "Plasma") }}>
          <label class="govuk-label govuk-checkboxes__label" for="project-items-2">
            Plasma
          </label>
          <div id="project-items-item-hint" class="govuk-hint govuk-checkboxes__hint">Advanced digestate processing equipment, such as multi-stage digestate separation
            </div>
        </div>
        <div class="govuk-radios__divider">or</div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="project-items-3" name="project-items" type="checkbox" value="None of the above" {{ checked("project-items", "None of the above") }}>
          <label class="govuk-label govuk-checkboxes__label" for="nationality-3">
            None of the above
          </label>
        </div>
      </div>

    </fieldset>
  </div>
<br/><br/>

        <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">Continue</button>




      </form>

    </div>
  </div>

  <div class="govuk-grid-column-one-third">

    <div class="app-step-nav-related app-step-nav-related--singular">
      <h2 class="app-step-nav-related__heading">
        <span class="app-step-nav-related__pretitle">Eligibility</span>
        </h2>
        <p>You must use either mild acidification equipment or plasma to treat the slurry. </p>
        <a href="#">
        </a>

    </div>

    </div>


{% endblock %}
