{% extends "layout.html" %}

{% block pageTitle %}
  You cannot apply for a large grant from this scheme
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a prototype. It is not a real service.'
}) }}

  <a class="govuk-back-link" href="project-cost">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
     <h1 class="govuk-heading-l">
        You cannot apply for a grant from this scheme
     </h1>

    <div class="govuk-body">
      <p>You can only apply for a grant of up to <strong>40%</strong> of the estimated costs.</p>
    </div>

{{ govukInsetText({
    text: 'The minimum grant you can apply for is £35,000 (40% of £87,500). The maximum grant is £500,000.'
}) }}

<p><a href="https://www.gov.uk/topic/farming-food-grants-payments/rural-grants-payments"  class="govuk-!-font-size-19"> See other grants you may be eligible for.</a><p>
      <!--See <a href="">the large countryside productivity grant guidance</a> for further information.-->
    </div>
  </div>
{% endblock %}
