{% extends "layout.html" %}

{% block pageTitle %}
  You cannot apply for a grant from this scheme
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
  <a class="govuk-back-link" href="farming-type">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
          You have chosen 'Robotics, automation and innovation'
        </h1>
        <p>This grant is only available to 'Slurry acidification'</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>We will need to work on routes to go to the 'Robotics' journey.</li>

        </ul>
        <p><a href="https://www.gov.uk/topic/farming-food-grants-payments/rural-grants-payments" class="govuk-body"> See other grants you may be eligible for.</a>
        </p>
      </div>
    </div>
  </div>

{% endblock %}
