{% extends "layout.html" %}

{% block pageTitle %}
  Irrigation land size
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
  <a class="govuk-back-link" href="{{ backUrl }}">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form id="mainForm" class="form" action="{{ nextUrl }}" method="post">

               <h1 class="govuk-label-wrapper govuk-!-padding-bottom-2">
                  <label class="govuk-label govuk-label--l" for="irrigated-land-current">
                    What volume of slurry or digestate will you acidify per year?
                  </label>
                </h1>
                <div class="govuk-body govuk-!-margin-bottom-0">
                  <p id="irrigated-land-target-hint" class="govuk-hint">
                    Enter figure in cubic metres, for example 543
                  </p>
                </div>

                <div class="govuk-input__wrapper govuk-!-margin-bottom-5">
                  <input class="govuk-input govuk-input--width-5" id="slurry-to-be-treated" name="slurry-to-be-treated" type="text" spellcheck="false" aria-describedby="slurry-to-be-treated-target-hint" value="{{ data['slurry-to-be-treated'] }}">
                    <div class="govuk-input__suffix" aria-hidden="true">m<sup>3</sup></div>
                </div>

              <button class="govuk-button govuk-!-margin-right-1 govuk-!-margin-top-6" data-module="govuk-button">
              Get your score
              </button>


              </form>
              </div>


  <!--top right column 'Eligibility'-->
  <div class="govuk-grid-column-one-third">
    <div class="app-step-nav-related app-step-nav-related--singular">
      <h2 class="app-step-nav-related__heading">
        <span class="app-step-nav-related__pretitle">Eligibility</span>
        </h2>
        <p class="govuk-body">RPA wants to fund projects that:</p>
        <ul class="govuk-list govuk-list--bullet">
        <li>improve productivity</li>
        <li>improve the environment</li>
        <li>introduce innovation </li>

        </ul>


        <a href="#">
        </a>

    </div>
    </div>

  </div>

{% endblock %}
