{% extends 'layinghens/current/views/layouts/layout.html' %}

{% block pageTitle %}
    Are you the registered keeper of at least 1,000 birds?
{% endblock %}

{% set poultryType = 'hen' %}
{% if data['poultry-type'] %}
    {% set poultryType = data['poultry-type'] %}
{% endif %}

{% set poultryDescriptor = 'laying hens' %}
{% if poultryType != 'hen' %}
    {% set poultryDescriptor = 'pullets' %}
{% endif %}


{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form method="post">

                {% set nextPage = '../veranda/size' %}
                {% if data['project-type'] == 'veranda' %}
                    {% set nextPage = '../veranda/size' %}
                {% elseif poultryType == 'hen' %}
                    {% set nextPage = '../veranda/size' %}
                {% elseif poultryType == 'pullet' %}
                    {% set nextPage = '../building/items' %}
                {% endif %}

                {{ govukRadios ({
                    idPrefix: 'one-thousand-birds',
                    name: 'one-thousand-birds',
                    classes: 'govuk-radios--inline',
                    fieldset: {
                        legend: {
                            text: 'Are you the registered keeper of at least 1,000 ' + poultryDescriptor + '?',
                            isPageHeading: true,
                            classes: 'govuk-fieldset__legend--l'
                        }
                    },
                    hint: {
                        text: 'You must have at least 1000 ' + poultryDescriptor + ' on your farm in the last 6 months'
                    },
                    items: [
                        {
                            text: 'Yes',
                            value: 'Yes',
                            checked: true if data['one-thousand-birds'] == 'Yes',
                            attributes: {
                                'data-next': nextPage
                            }
                        },
                        {
                            text: 'No',
                            value: 'No',
                            checked: true if data['one-thousand-birds'] == 'No',
                            attributes: {
                                'data-next': 'elim-one-thousand-birds'
                            }
                        }
                    ]
                }) }}

                

                {{ govukButton ({
                    html: 'Continue'
                }) }}

            </form>

        </div>

        <div class="govuk-grid-column-one-third">

            <div class="app-step-nav-related app-step-nav-related--singular">
                <h2 class="app-step-nav-related__heading">
                <span class="app-step-nav-related__pretitle">Eligibility</span>
                </h2>
                <p>
                    Be the registered keeper of at least 1,000 {{ poultryDescriptor }}.
                </p>
                <p>
                    Have housed at least 1,000 {{ poultryDescriptor }} on your farm in the last 6 months.
                </p>
            </div>
        </div>

</div>

{% endblock %}