{% extends 'layinghens/current/views/layouts/layout.html' %}

{% block pageTitle %}
    What work are you doing to this building?
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form method="post">

                {% set hintHtml %}

                    <p class="govuk-hint">
                        If you are applying for grant funding for multiple buildings, you must submit a separate application for each one
                    </p>

                {% endset %}

                {% set nextPageForVeranda = 'farmer-type' %}
                {% if data['waitlist-enabled'] == 'true' %}
                    {% set nextPageForVeranda = '../veranda/waitlist' %}
                {% endif %}

                {{ govukRadios ({
                    idPrefix: 'project-type',
                    name: 'project-type',
                    fieldset: {
                        legend: {
                            text: 'What work are you doing to this building?',
                            isPageHeading: true,
                            classes: 'govuk-fieldset__legend--l'
                        }
                    },
                    hint: {
                        html: hintHtml
                    },
                    items: [
                        {
                            text: 'Adding a veranda only to the existing building',
                            value: 'veranda',
                            checked: true if data['project-type'] == 'veranda',
                            hint: {
                                text: 'The RPA will award veranda-only grant funding on a first come, first served basis'
                            },
                            attributes: {
                                'data-next': nextPageForVeranda
                            }
                        },
                        {
                            text: 'Refurbishing the existing building',
                            value: 'refurb',
                            checked: true if data['project-type'] == 'refurb',
                            hint: {
                                text: 'Adding features to an existing building, like a mechanical ventilation system, LED lighting system, aviary or multi-tier system'
                            },
                            attributes: {
                                'data-next': 'farmer-type'
                            }
                        },
                        {
                            text: 'Replacing the entire building with a new building',
                            value: 'replace',
                            checked: true if data['project-type'] == 'replace',
                            hint: {
                                text: 'This must include the required high welfare features, like a mechanical ventilation system, LED lighting system, aviary or multi-tier system'
                            },
                            attributes: {
                                'data-next': 'farmer-type'
                            }
                        },
                        {
                          divider: 'or'
                        },
                        {
                            text: 'None of the above',
                            value: 'None of the above',
                            checked: true if data['project-type'] == 'none',
                            attributes: {
                                'data-next': 'elim-project-type'
                            }
                        }
                    ]
                }) }}

                {{ govukButton ({
                    html: 'Continue'
                }) }}

            </form>

        </div>

        <div class="govuk-grid-column-one-third">

            <div class="app-step-nav-related app-step-nav-related--singular">
                <h2 class="app-step-nav-related__heading">
                <span class="app-step-nav-related__pretitle">Eligibility</span>
                </h2>
                <p>
                    This grant is only for laying hen or pullet projects.
                </p>

                <p>
                    You can apply for grant funding for either comprehensive or veranda-only projects.
                </p>
                
                <p>
                    The maximum grant funding each business can apply for is £500,000 for comprehensive projects, or £100,000 for veranda-only projects.
                </p>

            </div>

        </div>

</div>

{% endblock %}