{% extends "layout.html" %}

{% block pageTitle %}
Additional items
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems.'
  }) }}

  <a class="govuk-back-link" href="{{ backUrl }}">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <form id="mainForm" class="form" action="{{ nextUrl }}" method="post">

              {{ govukRadios({
                  classes: "govuk-radios--inline",
                  idPrefix: 'additionalitems',
                  name: 'additionalitems',
                  fieldset: {
                      legend: {
                          text: 'Will the building have these items?',
                          isPageHeading: yes,
                          classes: 'govuk-fieldset__legend--l'
                      }
                  },
                  hint: {
                    html: "The building must have:<br><br><li>access to a water supply</li>
                    <li>at least 2 IP66 sockets in the building</li>
                    <li>temperature and humidity data loggers (capable of autonomously recording temperature/humidity over a defined period and storing data to view later)</li>"

                  },
                  items: [
                {
                  value: "yes",
                  text: "Yes",
                  checked: checked("additionalitems", "yes")
                },

                {
                  value: "no",
                  text: "No",
                  checked: checked("additionalitems", "no")
                }

              ]
              }) }}

          <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">Continue</button>


      </form>
    </div>
    <div class="govuk-grid-column-one-third">

      <div class="app-step-nav-related app-step-nav-related--singular">
        <h2 class="app-step-nav-related__heading">
          <span class="app-step-nav-related__pretitle">Eligibility</span>
          </h2>
          <p class="govuk-body">The building must have:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>access to a water supply</li>
              <li>at least 2 IP66 sockets in the building</li>
              <li>temperature and humidity data loggers (capable of autonomously recording temperature/humidity over a defined period and storing data to view later)</li>
            </ul>
            </div>
   </div>

{% endblock %}
