{% extends 'layinghens/current/views/layouts/layout.html' %}

{% set poultryType = 'hen' %}
{% if data['poultry-type'] %}
    {% set poultryType = data['poultry-type'] %}
{% endif %}

{% block pageTitle %}
    Will the step-up system have these features?
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form method="post">

                {% set hintHtml %}

                    <p class="govuk-hint">
                        The step-up system must have:
                    </p>

                    <ul class="govuk-hint govuk-list govuk-list--bullet">
                        <li>
                            height-adjustable tiers that may include food and water at, or before, 10 days
                        </li>
                        <li>
                            welfare ramps
                        </li>
                    </ul>

                {% endset %}

                {{ govukRadios ({
                    idPrefix: 'multi-tier-step-up',
                    name: 'multi-tier-step-up',
                    classes: 'govuk-radios--inline',
                    fieldset: {
                        legend: {
                            text: 'Will the step-up system have these features?',
                            isPageHeading: true,
                            classes: 'govuk-fieldset__legend--l'
                        }
                    },
                    hint: {
                        html: hintHtml
                    },
                    items: [
                        {
                            text: 'Yes',
                            value: 'Yes',
                            checked: true if data['multi-tier-step-up'] == 'Yes',
                            attributes: {
                                    'data-next': 'housing-density'
                                }
                        },
                        {
                            text: 'No',
                            value: 'No',
                            checked: true if data['multi-tier-step-up'] == 'No',
                            attributes: {
                                    'data-next': 'elim-multi-tier-step-up'
                                }
                        }
                    ]
                }) }}

                {{ govukButton ({
                    html: 'Continue'
                }) }}

            </form>

        </div>

</div>

{% endblock %}