{% extends "layout.html" %}

{% block pageTitle %}
You may be able to apply for a large grant from this scheme
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="abstraction-required">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      You may be able to apply for a large grant from this scheme
    </h1>

    <p>It can take up to a year to get an abstraction licence.</p>

    <p>You will need a licence if you want to take more than 20 cubic metres (approximately 4,400 gallons) a day from a surface or underground source.</p>

    <form class="form" action="project-details" method="post">

      <button class="govuk-button" data-module="govuk-button">Continue</button>

    </form>

  </div>
</div>

{% endblock %}
