{% extends "layout.html" %}

{% block pageTitle %}
  Check all your answers
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="{{ backUrl }}">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <div class="govuk-panel govuk-panel--confirmation" style="background: #ffae33">
      <h1 class="govuk-panel__title">MEDIUM FIT</h1>
    </div>

    <p>Based on your answers, your project is a medium fit with the funding priorities.</p>
    <p>The grant is highly competitive and you are competing against other projects.</p>

    <h3 class="govuk-heading-m">What happens next</h3>

    <p>Depending on how well your project fits the funding priorities, you may decide to submit a full application.</p>

    <p>If you submit a full application, we will:</p>
    
    <ul class="govuk-list govuk-list--bullet">
    <li>assess the application against the others</li>
    <li>consider how well it fits the priorities for funding </li>
    <li>identify projects that provide the best value for taxpayers' money</li>
    </ul>

    <p>If your application is successful, you’ll be sent a funding agreement and can begin work on the project.</p>

    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">You must not start the project</span>
        You must not start the project<br><br>
        You will need to make a full application and complete a grant funding agreement before you can start the project.
      </strong>
    </div>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">Check and submit your details to get the full application form</h1>
    <p>If you’re happy with your answers, you can submit them to the RPA to be emailed a link to the full application form.</p>

    <h2 class="govuk-heading-m">Eligibility</h2>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-third">
          Farm grows crops for food
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['farming-type'] | capitalize }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="farming-type">
            Change<span class="govuk-visually-hidden"> grows crops for food</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-third">
          Legal status
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['legal-status'] | capitalize }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="legal-status">
            Change<span class="govuk-visually-hidden"> legal status of business</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-third">
          Project in England
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['country'] | capitalize }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="country">
            Change<span class="govuk-visually-hidden"> in England</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-third">
          Project on own land
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['tenancy'] | capitalize }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="tenancy">
            Change<span class="govuk-visually-hidden"> on own land</span>
          </a>
        </dd>
      </div>
      {% if data['tenancy'] == "no" %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-third">
          Tenancy extends beyond six years
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">{{ data['tenancy-length'] | capitalize }}</p>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="tenancy-length">
            Change<span class="govuk-visually-hidden"> tenancy length</span>
          </a>
        </dd>
      </div>
      {% endif %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-third">
          Project items
        </dt>
        <dd class="govuk-summary-list__value">
          <ul class="govuk-list govuk-list--bullet">
            {% for item in data['project-items'] %}
              <li>{{ item | capitalize }}</li>
            {% endfor %}
          </ul>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="project-items">
            Change<span class="govuk-visually-hidden"> project items</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-third">
          Estimated project costs
        </dt>
        <dd class="govuk-summary-list__value">
          £{{ data['project-cost'] | toFixed(2) | commafy }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="project-cost">
            Change<span class="govuk-visually-hidden"> project costs</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-third">
          Able to pay remaining costs
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['remaining-costs'] | capitalize }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="remaining-costs">
            Change<span class="govuk-visually-hidden"> remaining costs</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-third">
          Project started
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['project-start'] | capitalize }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="project-start">
            Change<span class="govuk-visually-hidden"> project started</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-third">
          Planning permission required
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['planning-required'] | capitalize }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="planning-required">
            Change<span class="govuk-visually-hidden"> planning permission required</span>
          </a>
        </dd>
      </div>
      {% if data['planning-required'] == "yes" %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-third">
          Planning permission obtained
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">{{ data['planning-permission'] | capitalize }}</p>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="planning-permission">
            Change<span class="govuk-visually-hidden"> planning permission obtained</span>
          </a>
        </dd>
      </div>
      {% endif %}
      {% if data['planning-permission'] == "no" %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-third">
          Planning permission to be granted in next six months
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">{{ data['planning-progress'] | capitalize }}</p>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="planning-progress">
            Change<span class="govuk-visually-hidden"> planning permission to be granted in next six months</span>
          </a>
        </dd>
      </div>
      {% endif %}

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-third">
          Abstraction licence required
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['abstraction-required'] | capitalize }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="abstraction-required">
            Change<span class="govuk-visually-hidden"> abstraction licence required</span>
          </a>
        </dd>
      </div>
      {% if data['abstraction-required'] == "yes" %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-third">
          Abstraction licence obtained
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">{{ data['abstraction-licence'] | capitalize }}</p>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="abstraction-licence">
            Change<span class="govuk-visually-hidden"> abstraction licence obtained</span>
          </a>
        </dd>
      </div>
      {% endif %}
      {% if data['abstraction-licence'] == "no" %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-third">
          Abstraction licence to be granted in next six months
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">{{ data['abstraction-progress'] | capitalize }}</p>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="abstraction-licence">
            Change<span class="govuk-visually-hidden"> abstraction licence to be granted in next six months</span>
          </a>
        </dd>
      </div>
      {% endif %}
      {% if (data['abstraction-required'] == "yes") and (data['abstraction-licence'] == "yes") %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-third">
          Abstraction variation required
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">{{ data['abstraction-variation'] | capitalize }}</p>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="abstraction-variation">
            Change<span class="govuk-visually-hidden"> abstraction variation required</span>
          </a>
        </dd>
      </div>
      {% endif %}
    </dl>

    {% if (data['tenancy'] == "yes") and (data['tenancy-length'] == "no") %}
    <div class="govuk-inset-text">
        You will need to extend your tenancy beyond 2026 before you make a full application.
    </div>
    {% endif %}

    {% if data['planning-required'] == "not sure" %}
    <div class="govuk-inset-text">
        You will need to check if you need planning permission and secure it before you make a full application.
    </div>
    {% endif %}

    {% if (data['planning-permission'] == "no") and (data['planning-progress'] == "not sure") %}
    <div class="govuk-inset-text">
        You will need to secure planning permission prior to submitting a full application.
    </div>
    {% endif %}

    {% if data['abstraction-required'] == "not sure" %}
    <div class="govuk-inset-text">
        You will need to check if you need an abstraction licence and secure it before you make a full application.
    </div>
    {% endif %}

    {% if (data['abstraction-licence'] == "no") and (data['abstraction-progress'] == "not sure") %}
    <div class="govuk-inset-text">
        You will need to secure an abstraction licence before you make a full application.
    </div>
    {% endif %}

    {% if (data['abstraction-licence'] == "yes") and (data['abstraction-variation'] == "yes") %}
    <div class="govuk-inset-text">
        You will need to secure a variation to your abstraction licence before you make a full application.
    </div>
    {% endif %}

    <h2 class="govuk-heading-m govuk-!-margin-top-9">Project details and benefits</h2>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-third">
          Project summary
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['project-summary'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="project-summary">
            Change<span class="govuk-visually-hidden"> project summary</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-third">
          Irrigated land (hectares)
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['irrigated-land'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="irrigated-land">
            Change<span class="govuk-visually-hidden"> irrigated land</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-third">
          Irrigated crops
        </dt>
        <dd class="govuk-summary-list__value">
          <ul class="govuk-list govuk-list--bullet">
            {% for item in data['irrigated-crops'] %}
              <li>{{ item | capitalize }}</li>
            {% endfor %}
          </ul>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="irrigated-crops">
            Change<span class="govuk-visually-hidden"> irrigated crops</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-third">
          Irrigation water source
        </dt>
        <dd class="govuk-summary-list__value">
          <ul class="govuk-list govuk-list--bullet">
            {% for item in data['irrigation'] %}
              <li>{{ item | capitalize }}</li>
            {% endfor %}
          </ul>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="irrigation-water-source">
            Change<span class="govuk-visually-hidden"> irrigation water source</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-third">
          Irrigation systems
        </dt>
        <dd class="govuk-summary-list__value">
          <ul class="govuk-list govuk-list--bullet">
            {% for item in data['irrigation-systems'] %}
              <li>{{ item | capitalize }}</li>
            {% endfor %}
          </ul>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="irrigation-systems">
            Change<span class="govuk-visually-hidden"> irrigation systems</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-third">
          Productivity
        </dt>
        <dd class="govuk-summary-list__value">
          <ul class="govuk-list govuk-list--bullet">
            {% for item in data['productivity'] %}
              <li>{{ item | capitalize }}</li>
            {% endfor %}
          </ul>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="productivity">
            Change<span class="govuk-visually-hidden"> productivity</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-third">
          Environment
        </dt>
        <dd class="govuk-summary-list__value">
          <ul class="govuk-list govuk-list--bullet">
            {% for item in data['environment-summary'] %}
              <li>{{ item | capitalize }}</li>
            {% endfor %}
          </ul>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="environment">
            Change<span class="govuk-visually-hidden"> environment</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-third">
          Other farms supplied with water
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['collaboration'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="collaboration">
            Change<span class="govuk-visually-hidden"> other farms supplied with water</span>
          </a>
        </dd>
      </div>
    </dl>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="{{ nextUrl }}" method="post">
      <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">
        Continue
      </button>
    </form>

  </div>
</div>

{% endblock %}
