{% extends "layout.html" %}

{% block pageTitle %}
  Who is applying for this grant?
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="business">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="../water/applying-answer" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Who is applying for this grant?
              </h1>
            </legend>
            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="applicant-1" name="applicant" type="radio" value="Farmer" {{ checked("applicant", "farmer") }}>
                <label class="govuk-label govuk-radios__label" for="applicant-1">
                  Farmer (the grant is for my business)
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="applicant-2" name="applicant" type="radio" value="Farm manager" {{ checked("applicant", "farm-manager") }}>
                <label class="govuk-label govuk-radios__label" for="applicant-2">
                  Farm manager (the grant is for a business I work for)
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="applicant-3" name="applicant" type="radio" value="Agent" {{ checked("applicant", "agent") }}>
                <label class="govuk-label govuk-radios__label" for="applicant-3">
                  Agent
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">
          Continue
        </button>

      </form>

    </div>
  </div>

{% endblock %}
