{% extends "layout.html" %}

{% block pageTitle %}
  Expression of interest sent
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">MEDIUM FIT</h1>
      </div>

      <p>
        Your project seems a medium fit with Defra’s funding priorities and value for taxpayers’ money
      </p>

      <h3 class="govuk-heading-m">What happens next</h3>

      <p>Depending on how well your project has scored, you may want to submit a full application.</p>

      <p>If you submit a full application, we will:</p>
      
      <ul class="govuk-list govuk-list--bullet">
      <li>assess the application against the others</li>
      <li>consider how well it fits the priorities for funding </li>
      <li>identify projects that provide the best value for taxpayers' money</li>
      </ul>

      <p>If your project receives a grant, we will send you a grant funding agreement to sign.</p>

      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">You must not start the project</span>
          You must not start the project<br><br>
          You will need to make a full application and complete a grant funding agreement before you can start the project.
        </strong>
      </div>

    <!--<h2 class="govuk-heading-m"></h2>
      <p></p>-->

      <p><a href="https://www.gov.uk/service-manual/user-centred-design/resources/patterns/feedback-pages.html">What did you think of this service?</a> (takes 30 seconds)</p>


    </div>
  </div>

{% endblock %}
