{% extends "layout.html" %}

{% block pageTitle %}
  Check all your answers
{% endblock %}

{% block beforeContent %}
{% if (data['applicant'] == "Agent")%}
  <a class="govuk-back-link" href="../water/check-details">Back</a>
{%else%}
  <a class="govuk-back-link" href="../water/check-details">Back</a>
{%endif%}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-form-group govuk-!-margin-bottom-9">
      <fieldset class="govuk-fieldset" aria-describedby="consent-to-terms-hint">
        <h1 class="govuk-heading-l">Confirm and send</h1>
        <p>I confirm that, to the best of my knowledge, the details I have provided are correct.</p>
        <p>I understand the score was based on the answers I provided.</p>
        <p>I am aware the information I submit will be checked.</p>
        <p>So that we can continue to improve our services and schemes, we may wish to contact you in the future.</p>
        <p>Please confirm if you are happy for us, or a third party working for us, to contact you.</p>
        <br>
        <div class="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="consent-to-terms" name="consent-to-terms" type="checkbox" value="consent-given" {{ checked("consent-to-terms", "consent-given") }}>
            <label class="govuk-label govuk-checkboxes__label" for="consent-to-terms">
              I confirm <span class="govuk-visually-hidden"> to the terms and conditions as outlined in the large countryside productivity grant guidance.
            </label>
          </div>
        </div>
      </fieldset>
    </div>

    <form class="form" action="{{ nextUrl }}" method="post">
      <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">
        Confirm and send
      </button>
    </form>
    <br>
    <div class="govuk-body">
      <p>The Department for Environment, Food and Rural Affairs (Defra) is the data controller for personal data you give to RPA.For information on how we handle personal data go to GOV.UK and search
      <a href="https://www.gov.uk/government/organisations/rural-payments-agency/about/personal-information-charter" target="_blank" alt="Rural Payments Agency personal information charter">Rural Payments Agency personal information charter.</a></p>
    </div>
  </div>
</div>

{% endblock %}
