{% extends "layout.html" %}

{% block pageTitle %}
  Email
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-body">
        <h1 class="govuk-heading-l">Farming Transformation Fund water grant </h1>
        <p>Dear First name Last name,</p>
        <div class="govuk-inset-text">
            Your reference number : 122345678 
        </div>
        <p>Thanks for using the Farming Transformation Fund water grant checker and submitting your details to the Rural Payments Agency (RPA).</p>
        <p>Based on the answers you have provided, your project appears eligible.</p>
        <p>RPA will be in touch when the full application period opens.</p>
        <p>They’ll tell you about the application form and any guidance you need to submit a full application.</p>

        <div class="govuk-inset-text">
          <h1 class="govuk-heading-m">You must not start the project</h1>
          <p>Starting the project or committing to any costs (such as placing orders) before you receive a funding agreement will invalidate your application.</p> 
          <p>Before you start the project, you can: </p>
          <ul>
            <li>get quotes from suppliers </li>
            <li>apply for planning permission or an abstraction licence</li>
          </ul>
        </div>
        <hr/>
        <div class="govuk-inset-text govuk-!-padding-bottom-4">
          Based on your answers, your project’s score is: 
          <p class="govuk-body govuk-!-font-size-24 govuk-!-padding-top-3 govuk-!-padding-bottom-3">Average</p>
           This means your project might be successful.
        </div>
          <h2 class="govuk-heading-m govuk-!-margin-top-2">Scoring</h2>
          <p>Strong: Your project seems like it’s a strong fit with the funding priorities. Based on your answers, a grant application seems likely to be successful.</p>
          <p>Average: Your project seems like it’s an average fit with the funding priorities. Based on your answers, a grant application seems like it might be successful. </p>
          <p>Weak: Your project seems like it’s a weak fit with the funding priorities. Based on your answers, a grant application seems unlikely to be successful.</p>
          <p class="govuk-!-padding-top-4">Value for money will be assessed alongside the funding priorities at full application stage and this may impact your overall project score.</p>
          <p>The likelihood of a full application being successful will also depend on the number and value of applications we receive.</p>
      <hr/>
      <p class="govuk-!-font-weight-bold govuk-!-font-size-36 govuk-!-padding-top-4 govuk-!-padding-bottom-2">Your answers </p>
      <p>Scheme: Farming Investment Fund</p>
      <p>Sub-scheme: Farming Transformation Fund</p>
      <p>Theme: Resource management</p>
      <p>Project type: Water management</p>
      <p>Grant application window: 1 September - 31 December 2021</p>
      <p>Growing: {{data['farming-type']}}</p>
      <p>Legal status: {{data['legal-status']}}</p>
      <p>Location: England</p>
      <p>Land ownership: {{data['project-start']}}</p>
      <p>Tenancy agreement until 2026: {{data['tenancy-length']}}</p>
      <p class=" govuk-!-font-size-24 govuk-!-padding-top-2">Project items needed:</p>
      <p>Reservoir construction and infrastructure:</p>
      <ul class="govuk-list govuk-list--bullet">
        {% for item in data['project-items'] %}
            <li>{{ item | capitalize }}</li>
        {% endfor %}
      </ul>  
      <p>Irrigation equipment:</p>
      <ul class="govuk-list govuk-list--bullet">
      {% for item in data['Irrigation equipment'] %}
            <li>{{ item | capitalize }}</li>
      {% endfor %}
      </ul>
      <p>Technology:</p>
      <ul class="govuk-list govuk-list--bullet">
      {% for item in data['Technology'] %}
            <li>{{ item | capitalize }}</li>
      {% endfor %}
      </ul>
      <div class="govuk-body">
      <p>Estimated cost of the items: {{ data['project-cost'] }}</p>
      <p>Grant rate:40%</p>
      <p>Potential grant funding: {% if data['project-items'] != NAN %}{{data['project-cost'] * 0.4}}{% endif %}</p>
      <p>Remaining cost: {% if data['project-items'] != NAN %}{{ data['project-cost'] * 0.6 | toFixed(2) | commafy}}{% endif %}</p>
      <p>Project started: {% if data['project-items'] != NAN %}{{data['project-start']}} {% endif %}</p>
      <p>Planning permission needed: {{data['planning-permission']}} </p>
      <p>Abstraction licence needed: {{data['abstraction-licence']}} </p>
      <p>Site of Special Scientific Interest: {{data['water-SSSI']}}</p>
      </div>
      <div class="govuk-body">
      <p class="govuk-!-font-weight-bold govuk-!-font-size-36 govuk-!-padding-top-4 govuk-!-padding-bottom-2">Project details</p>
      <p> Your project name: {{ data['project-name'] }} </p>
      <p> Project impact: {% for item in data['project-summary'] %} <li>{{ item | capitalize }}</li> {% endfor %}</p>
      <p>Your score to this answer is: Strong</p>
      <p>Crops:</p>
      <p>What main crops will be irrigated?</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
        {{data['irrigated-crops']}} 
        </li>
      </ul> 
      <p>Irrigated land :</p>
      <p>How much land is currently irrigated per year? <br> {{ data['irrigated-land-current'] }} hectares</p>
      <p>How much land will be irrigated after the project? <br> {{ data['irrigated-land-target'] }} hectares</p>
      <p>Your score to this answer is: Strong</p>
      <p>Water source :</p>
      <p>Where does your current irrigation water come from? <br>
        {% for item in data['irrigation-current'] %} <li>{{ item | capitalize }}</li> {% endfor %}
      </p>
      <p>Where will your irrigation water come from? <br> 
        {% for item in data['irrigation-target'] %} <li>{{ item | capitalize }}</li> {% endfor %}
      </p>
      <p>Your score to this answer is: Average</p>
      
      </div>
  </div>
</div>

{% endblock %}
