{% extends "layout.html" %}

{% block pageTitle %}
  How will the project improve the environment?
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="{{ backUrl }}">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="{{ nextUrl }}" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                How will the project improve the environment?
              </h1>
            </legend>
            
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="environment-1" name="environment" type="checkbox" value="Stop or reduce summer abstraction" {{ checked("environment", "stop-reduce-summer-abstraction") }}>
                <label class="govuk-label govuk-checkboxes__label" for="environment-1">
                  Stop or reduce summer abstraction
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="environment-2" name="environment" type="checkbox" value="More efficient use of water" {{ checked("environment", "more-efficient-water-use") }}>
                <label class="govuk-label govuk-checkboxes__label" for="environment-2">
                   More efficient use of water
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="environment-3" name="environment" type="checkbox" value="Reduce soil erosion" {{ checked("environment", "reduce-soil-erosion") }}>
                <label class="govuk-label govuk-checkboxes__label" for="environment-3">
                  Reduce soil erosion
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="environment-4" name="environment" type="checkbox" value="Reservoir design" {{ checked("environment", "reservoir-design") }}>
                <label class="govuk-label govuk-checkboxes__label" for="environment-4">
                  Design of the reservoir
                </label>

                <!--
                  <div class="govuk-details__text">

                    <div class="govuk-inset-text">
                  -->
                <div class="govuk-checkboxes" style="margin: 20px">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="environment-reservoir-options-1" name="environment-reservoir-options" type="checkbox" value="Create a wetland area" {{ checked("environment-reservoir-options", "wetland-area") }}>
                    <label class="govuk-label govuk-checkboxes__label" for="environment-reservoir-options-1">
                      Create a wetland area
                    </label>
                  </div>

                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="environment-reservoir-options-2" name="environment-reservoir-options" type="checkbox" value="Planting" {{ checked("environment-reservoir-options", "planting") }}>
                    <label class="govuk-label govuk-checkboxes__label" for="environment-reservoir-options-2">
                      Planting
                    </label>
                  </div>

                </div>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="environment-6" name="environment" type="checkbox" value="Reduce energy use" {{ checked("environment", "reduce-energy-use") }}>
                <label class="govuk-label govuk-checkboxes__label" for="environment-6">
                  Reduce energy use
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="environment-7" name="environment" type="checkbox" value="No improvement" {{ checked("environment", "no-improvement") }}>
                <label class="govuk-label govuk-checkboxes__label" for="environment-7">
                  It does not improve the environment
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">
          Continue
        </button>

      </form>

    </div>
  </div>

{% endblock %}
