{% extends "layout.html" %}

{% block pageTitle %}
  How will the project improve the environment?
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="{{ backUrl }}">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="{{ nextUrl }}" method="post">

        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="environment">
              How will the project improve the environment?
            </label>
          </h1>
          <textarea class="govuk-textarea" id="environment" name="environment" rows="8" aria-describedby="environment-hint">{{ data['environment'] }}</textarea>
        </div>

        <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">
          Save and continue
        </button>

        <button class="govuk-button govuk-button--secondary" type="button" data-module="govuk-button">
          Save and come back later
        </button>

      </form>

    </div>
  </div>

{% endblock %}
