{% extends "layout.html" %}

{% block pageTitle %}
  Does the farm grow arable or horticultural crops?
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="{{ backUrl }}">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form id="mainForm" class="form" action="{{ nextUrl }}" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                What crops are you growing?
              </h1>
            </legend>
            <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="farming-type-1" name="farming-type" type="radio" value="yes" {{ checked("farming-type", "yes") }}>
                <label class="govuk-label govuk-radios__label" for="farming-type-1">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="farming-type-2" name="farming-type" type="radio" value="no" data-aria-controls="conditional-farming-type-2-options" {{ checked("farming-type", "no") }}>
                <label class="govuk-label govuk-radios__label" for="farming-type-2">
                  No
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-farming-type-2-options">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="farming-type-other-options-1" name="farming-type-other-options" type="radio" value="growing flowers" {{ checked("farming-type-other-options", "growing flowers") }}>
                  <label class="govuk-label govuk-radios__label" for="farming-type-other-options-1">
                    Growing flowers
                  </label>
                </div>
            
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="farming-type-other-options-2" name="farming-type-other-options" type="radio" value="forestry" {{ checked("farming-type-other-options", "forestry") }}>
                  <label class="govuk-label govuk-radios__label" for="farming-type-other-options-2">
                    Forestry
                  </label>
                </div>
                
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="farming-type-other-options-3" name="farming-type-other-options" type="radio" value="something else" {{ checked("farming-type-other-options", "something else") }}>
                  <label class="govuk-label govuk-radios__label" for="farming-type-other-options-3">
                    Something else
                  </label>
                </div>
              </div>
            </div>
          </fieldset>
        </div>

        <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">Continue</button>

        {% if data['COMPLETED'] == true %}
        <button onclick="document.getElementById('mainForm').action='{{ completedUrl }}'"
          class="govuk-button govuk-!-margin-right-1" data-module="govuk-button"
        >
          Back to summary page
        </button>
        {% endif %}


      </form>

    </div>
  </div>

{% endblock %}
