{% extends "layout.html" %}

{% block pageTitle %}
  You cannot apply for a grant from this scheme
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="farming-type">Back</a>
{% endblock %}

{% block content %}

<div class="gov-body">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
          This grant is only available to:   
        </h1>
        <ul class="govuk-!-font-size-24">
          <li>arable and horticultural farming businesses that supply the food industry</li>
          <li>nurseries growing flowers</li>
          <li>forestry nurseries</li>
        </ul>
        <a href="https://www.gov.uk/topic/farming-food-grants-payments/rural-grants-payments" target="_blank" class="govuk-!-font-size-24"> See other grants you may be eligible for.</a>
      </div>
    </div>
  </div>

{% endblock %}
