{% extends "layout.html" %}

{% block pageTitle %}
  Irrigation water source
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="{{ backUrl }}">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="../water/irrigation-water-source-answer" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Where will the water used for irrigation come from?
              </h1>
            </legend>
            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="irrigation" name="irrigation" type="radio" value="peak-flow" {{ checked("irrigation", "peak-flow") }}>
                <label class="govuk-label govuk-radios__label" for="irrigation">
                  Peak-flow surface water
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="irrigation-2" name="irrigation" type="radio" value="bore-hole" {{ checked("irrigation", "bore-hole") }}>
                <label class="govuk-label govuk-radios__label" for="irrigation-2">
                  Bore hole/aquifer
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="irrigation-3" name="irrigation" type="radio" value="surface-abstraction" {{ checked("irrigation", "surface-abstraction") }}>
                <label class="govuk-label govuk-radios__label" for="irrigation-3">
                  Summer water surface abstraction
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="irrigation-4" name="irrigation" type="radio" value="rain-water" {{ checked("irrigation", "rain-water") }}>
                <label class="govuk-label govuk-radios__label" for="irrigation-4">
                  Rain water harvesting
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="irrigation-5" name="irrigation" type="radio" value="mains" {{ checked("irrigation", "mains") }}>
                <label class="govuk-label govuk-radios__label" for="irrigation-5">
                  Mains
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">
          Continue
        </button>

      </form>

    </div>
  </div>

{% endblock %}
