{% extends "layout.html" %}

{% block pageTitle %}
  Irrigated crops
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="{{ backUrl }}">Back</a>
{% endblock %}

{% block content %}
<main class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form id="mainForm" class="form" action="{{ nextUrl }}" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <span class="govuk-caption-m govuk-!-padding-bottom-1">Question 13 of 18 </span>
              <h1 class="govuk-fieldset__heading">
                What main crops will be irrigated?
              </h1>
            </legend>
            <br>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="irrigated-crops-1" name="irrigated-crops" type="radio" value="field-scale crops" {{ checked("irrigated-crops", "field-scale crops") }}>
                <label class="govuk-label govuk-radios__label" for="irrigated-crops-1">
                  Field-scale crops (for example potatoes, onions, carrots)
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="irrigated-crops-2" name="irrigated-crops" type="radio" value="protected cropping" {{ checked("irrigated-crops", "protected cropping") }}>
                <label class="govuk-label govuk-radios__label" for="irrigated-crops-2">
                  Protected cropping (for example glasshouse, poly tunnel)
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="irrigated-crops-3" name="irrigated-crops" type="radio" value="Fruit" {{ checked("irrigated-crops", "Fruit") }}>
                <label class="govuk-label govuk-radios__label" for="irrigated-crops-3">
                  Fruit (for example fruit, bush fruit)
                </label>
              </div>
            </div>
          </fieldset>
        </div>
        <br>
        <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">
          Continue
        </button>

        {% if data['COMPLETED'] == true %}
          <button onclick="document.getElementById('mainForm').action='{{ completedUrl }}'"
            class="govuk-button govuk-!-margin-right-1" data-module="govuk-button"
          >
            Back to summary page
          </button>
        {% endif %}
      </form>
    </div>
     <div class="govuk-grid-column-one-third govuk-!-padding-top-5">
      <aside class="app-related-items">
          <h3 class="govuk-heading-m"> Funding  priorities </h3>
          <div class="govuk-body">
             RPA wants to fund projects that: 
                   <ul>
                    <li>improve productivity</li>
                   </ul>
          </div>
      </aside>    
    </div>
  </div>
</main>
{% endblock %}
