{% extends "layout.html" %}

{% block pageTitle %}
  Irrigation systems
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="{{ backUrl }}">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="{{ nextUrl }}" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                What systems will be used to irrigate?
              </h1>
            </legend>
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="irrigation-systems-1" name="irrigation-systems" type="checkbox" value="trickle" {{ checked("irrigation-systems", "trickle") }}>
                <label class="govuk-label govuk-checkboxes__label" for="irrigation-systems-1">
                  Trickle
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="irrigation-systems-2 name="irrigation-systems" type="checkbox" value="boom irrigator" {{ checked("irrigation-systems", "boon-irrigator") }}>
                <label class="govuk-label govuk-checkboxes__label" for="irrigation-systems-2">
                  Boom irrigator
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="irrigation-systems-3 name="irrigation-systems" type="checkbox" value="ebb and flood" {{ checked("irrigation-systems", "ebb-flood") }}>
                <label class="govuk-label govuk-checkboxes__label" for="irrigation-systems-3">
                  Ebb and flood
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="irrigation-systems-4 name="irrigation-systems" type="checkbox" value="sprinklers" {{ checked("irrigation-systems", "sprinklers") }}>
                <label class="govuk-label govuk-checkboxes__label" for="irrigation-systems-4">
                  Sprinklers
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="irrigation-systems-5 name="irrigation-systems" type="checkbox" value="rain gun" {{ checked("irrigation-systems", "rain-gun") }}>
                <label class="govuk-label govuk-checkboxes__label" for="irrigation-systems-5">
                  Rain gun
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">
          Continue
        </button>

      </form>

    </div>
  </div>

{% endblock %}
