{% extends "layout.html" %}

{% block pageTitle %}
  Irrigation water source
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="{{ backUrl }}">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <form id="mainForm" class="form" action="{{ nextUrl }}" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <span class="govuk-caption-m govuk-!-padding-bottom-1">Question 15 of 18 </span>
              <h1 class="govuk-fieldset__heading">
                Where does your current irrigation water come from?
              </h1>
            </legend>
            <span class="govuk-caption-m">Select one or two options</span>
            <br>
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="irrigation-current-1" name="irrigation-current" type="checkbox" value="Peak flow" {{ checked("irrigation-current", "Peak flow") }}>
                <label class="govuk-label govuk-checkboxes__label" for="irrigation-current-1">
                  Peak-flow surface water
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="irrigation-current-2" name="irrigation-current" type="checkbox" value="Bore hole" {{ checked("irrigation-current", "Bore hole") }}>
                <label class="govuk-label govuk-checkboxes__label" for="irrigation-current-2">
                  Bore hole/aquifer
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="irrigation-current-3" name="irrigation-current" type="checkbox" value="Rain water" {{ checked("irrigation-current", "Rain water") }}>
                <label class="govuk-label govuk-checkboxes__label" for="irrigation-current-3">
                  Rain water harvesting
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="irrigation-current-4" name="irrigation-current" type="checkbox" value="Surface abstraction" {{ checked("irrigation-current", "Surface abstraction") }}>
                <label class="govuk-label govuk-checkboxes__label" for="irrigation-current-4">
                  Summer water surface abstraction
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="irrigation-current-5" name="irrigation-current" type="checkbox" value="mains" {{ checked("irrigation-current", "mains") }}>
                <label class="govuk-label govuk-checkboxes__label" for="irrigation-current-5">
                  Mains
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="irrigation-current-6" name="irrigation-current" type="checkbox" value="Not currently irrigating" {{ checked("irrigation-current", "Not currently irrigating") }}>
                <label class="govuk-label govuk-checkboxes__label" for="irrigation-current-6">
                  Not currently irrigating
                </label>
              </div>
            </div>
          </fieldset>
        </div>
        <br>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Where will the irrigation water come from?
              </h1>
            </legend>
            <span class="govuk-caption-m">Select one or two options</span>
            <br>
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="irrigation-target-1" name="irrigation-target" type="checkbox" value="Peak flow" {{ checked("irrigation-target", "Peak flow") }}>
                <label class="govuk-label govuk-checkboxes__label" for="irrigation-target-1">
                  Peak-flow surface water
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="irrigation-target-2" name="irrigation-target" type="checkbox" value="Bore hole" {{ checked("irrigation-target", "Bore hole") }}>
                <label class="govuk-label govuk-checkboxes__label" for="irrigation-target-2">
                  Bore hole/aquifer
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="irrigation-target-3" name="irrigation-target" type="checkbox" value="Rain water harvesting" {{ checked("irrigation-target", "Rain water harvesting") }}>
                <label class="govuk-label govuk-checkboxes__label" for="irrigation-target-3">
                  Rain water harvesting
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="irrigation-target-4" name="irrigation-target" type="checkbox" value="Surface abstraction" {{ checked("irrigation-target", "Surface abstraction") }}>
                <label class="govuk-label govuk-checkboxes__label" for="irrigation-target-4">
                  Summer water surface abstraction
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="irrigation-target-5" name="irrigation-target" type="checkbox" value="mains" {{ checked("irrigation-target", "mains") }}>
                <label class="govuk-label govuk-checkboxes__label" for="irrigation-target-5">
                  Mains
                </label>
              </div>
            </div>
           <details class="govuk-details govuk-!-margin-top-9" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        Funding  priorities 
                    </span>
                </summary>
                <div class="govuk-details__text">
                   RPA wants to fund projects that: 
                   <ul>
                    <li>improve the environment</li>
                    <li>improve water sustainability</li>
                   </ul>
                </div>
            </details> 
          </fieldset>
        </div>
        <br><br>
        <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">
          Continue
        </button>

        {% if data['COMPLETED'] == true %}
          <button onclick="document.getElementById('mainForm').action='{{ completedUrl }}'"
            class="govuk-button govuk-!-margin-right-1" data-module="govuk-button"
          >
            Back to summary page
          </button>
        {% endif %}


      </form>

    </div>
  </div>

{% endblock %}
