{% extends "layout.html" %}

{% block pageTitle %}
  Irrigation land size
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="{{ backUrl }}">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="{{ nextUrl }}" method="post">

        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="irrigated-land">
            How much land will be irrigated in total? 
            </label>
          </h1>
          <div id="irrigated-land-hint" class="govuk-hint">
            Irrigated land in hectares
          </div>
          <input class="govuk-input govuk-input--width-10" id="irrigated-land" name="irrigated-land" type="text" spellcheck="false" aria-describedby="irrigated-land-hint" pattern="[0-9]*" inputmode="numeric" value="{{ data['irrigated-land'] }}">
        </div>

        <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">
          Continue
        </button>

      </form>

    </div>
  </div>

{% endblock %}
