{% extends "layout.html" %}

{% block pageTitle %}
  What is the legal status of the {{ data['farming-type'] }} business?
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="{{ backUrl }}">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form id="mainForm" class="form" action="{{ nextUrl }}" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                What is the legal status of the farm business?
              </h1>
            </legend>
            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="legal-status-1" name="legal-status" type="radio" value="Sole trader" {{ checked("legal-status", "Sole trader") }}>
                <label class="govuk-label govuk-radios__label" for="legal-status-1">
                  Sole trader
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="legal-status-2" name="legal-status" type="radio" value="Partnership" {{ checked("legal-status", "Partnership") }}>
                <label class="govuk-label govuk-radios__label" for="legal-status-2">
                  Partnership
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="legal-status-3" name="legal-status" type="radio" value="Ltd company" {{ checked("legal-status", "Ltd company") }}>
                <label class="govuk-label govuk-radios__label" for="legal-status-3">
                  Ltd company
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="legal-status-4" name="legal-status" type="radio" value="Charity" {{ checked("legal-status", "Charity") }}>
                <label class="govuk-label govuk-radios__label" for="legal-status-4">
                  Charity
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="legal-status-5" name="legal-status" type="radio" value="Public organisation" {{ checked("legal-status", "Public organisation") }}>
                <label class="govuk-label govuk-radios__label" for="legal-status-5">
                  Public organisation
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="legal-status-6" name="legal-status" type="radio" value="Trust" {{ checked("legal-status", "Trust") }}>
                <label class="govuk-label govuk-radios__label" for="legal-status-6">
                  Trust
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="legal-status-7" name="legal-status" type="radio" value="limited liability partnership" {{ checked("legal-status", "limited liability partnership") }}>
                <label class="govuk-label govuk-radios__label" for="legal-status-7">
                  Limited liability partnership
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="legal-status-8" name="legal-status" type="radio" value="Community interest organisation" {{ checked("legal-status", "Community interest organisation") }}>
                <label class="govuk-label govuk-radios__label" for="legal-status-8">
                  Community interest organisation
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="legal-status-9" name="legal-status" type="radio" value="Local authority" {{ checked("legal-status", "Local authority") }}>
                <label class="govuk-label govuk-radios__label" for="legal-status-9">
                  Local authority
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="legal-status-10" name="legal-status" type="radio" value="None" {{ checked("legal-status", "None") }}>
                <label class="govuk-label govuk-radios__label" for="legal-status-10">
                   None of the above
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">Continue</button>

        {% if data['COMPLETED'] == true %}
          <button onclick="document.getElementById('mainForm').action='{{ completedUrl }}'"
            class="govuk-button govuk-!-margin-right-1" data-module="govuk-button"
          >
            Back to summary page
          </button>
        {% endif %}


      </form>

    </div>
  </div>

{% endblock %}
