{% extends "layout.html" %}

{% block pageTitle %}
  You cannot apply for a large grant from this scheme
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="planning-progress">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        You cannot apply for a large grant from this scheme
      </h1>

      <p>This grant is available until DD MMMM YYYY</p>

      <p>Planning permission can take a long time.</p>

      <p>You only get a grant if you already have planning permission or expect to get it before this grant closes.</p>

    </div>
  </div>

{% endblock %}
