{% extends "layout.html" %}

{% block pageTitle %}
  Does the project need planning permission?
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="{{ backUrl }}">Back</a>
{% endblock %}

{% block content %}

<main class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form id="mainForm" class="form" action="{{ nextUrl }}" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Does the project need planning permission?
              </h1>
            </legend>
            <br>
            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="planning-permission" name="planning-permission" type="radio" value="Not needed" {{ checked("planning-permission", "Not needed") }}>
                <label class="govuk-label govuk-radios__label" for="planning-permission">
                  Not needed
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="planning-permission-2" name="planning-permission" type="radio" value="Secured" {{ checked("planning-permission", "Secured") }}>
                <label class="govuk-label govuk-radios__label" for="planning-permission-2">
                  Secured
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="planning-permission-3" name="planning-permission" type="radio" value="maybe" {{ checked("planning-permission", "maybe") }}>
                <label class="govuk-label govuk-radios__label" for="planning-permission-3">
                  Expected to have by 31 December 2021
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="planning-permission-3" name="planning-permission" type="radio" value="No" {{ checked("planning-permission", "No") }}>
                <label class="govuk-label govuk-radios__label" for="planning-permission-3">
                  Will not have by 31 December 2021
                </label>
              </div>
            </div>
          </fieldset>
        </div>
        <br/><br/>
        <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">Continue</button>
        {% if data['COMPLETED'] == true %}
          <button onclick="document.getElementById('mainForm').action='{{ completedUrl }}'"
            class="govuk-button govuk-!-margin-right-1" data-module="govuk-button"
          >
            Back to summary page
          </button>
        {% endif %}
      </form>
    </div>
    <div class="govuk-grid-column-one-third govuk-!-padding-top-5">
      <aside class="app-related-items">
          <h3 class="govuk-heading-m"> Eligibility </h3>
          <p>Any planning permission must be in place by 31 December 2021 (the end of the application window).</p>
      </aside>    
    </div>
  </div>
</main>  

{% endblock %}
