{% extends "layout.html" %}

{% block pageTitle %}
  Does the project need planning permission?
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="project">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="../routes/planning-required-answer" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Does the project need planning permission?
              </h1>
            </legend>
            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="planning-required" name="planning-required" type="radio" value="yes" {{ checked("planning-required", "yes") }}>
                <label class="govuk-label govuk-radios__label" for="planning-required">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="planning-required-2" name="planning-required" type="radio" value="no" {{ checked("planning-required", "no") }}>
                <label class="govuk-label govuk-radios__label" for="planning-required-2">
                  No
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="planning-required-3" name="planning-required" type="radio" value="not sure" {{ checked("planning-required", "not sure") }}>
                <label class="govuk-label govuk-radios__label" for="planning-required-3">
                  Not sure
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
