{% extends "layout.html" %}

{% block pageTitle %}
  Who should we contact about this expression of interest?
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="applying">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="../routes/preferred-contact-answer" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Who should we contact about this expression of interest?
              </h1>
            </legend>
            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="preferred-contact" name="preferred-contact" type="radio" value="contact me and the applicant" {{ checked("preferred-contact", "contact me and the applicant") }}>
                <label class="govuk-label govuk-radios__label" for="preferred-contact">
                  Me and the applicant
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="preferred-contact-2" name="preferred-contact" type="radio" value="just the applicant" {{ checked("preferred-contact", "just the applicant") }}>
                <label class="govuk-label govuk-radios__label" for="preferred-contact-2">
                  Only the applicant
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">
          Save and continue
        </button>

        <button class="govuk-button govuk-button--secondary" type="button" data-module="govuk-button">
          Save and return
        </button>

      </form>

    </div>
  </div>

{% endblock %}
