{% extends "layout.html" %}

{% block pageTitle %}
  What are your estimate total project costs?
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="{{ backUrl }}">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form id="mainForm" class="form" action="{{ nextUrl }}" method="post">

        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="project-cost">
              What is the estimated cost of the items? 
            </label>
          </h1>
          <div id="account-number-hint" class="govuk-hint">
             Do not include VAT.
          </div>
          <span class="govuk-body govuk-!-margin-right-2">£</span> <input class="govuk-input govuk-input--width-10" id="project-cost" name="project-cost" type="text" spellcheck="false" aria-describedby="project-cost-hint" pattern="[0-9]*" inputmode="numeric" value="{{ data['project-cost'] }}">
        </div>

        <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">Continue</button>

        {% if data['COMPLETED'] == true %}
          <button onclick="document.getElementById('mainForm').action='{{ completedUrl }}'"
            class="govuk-button govuk-!-margin-right-1" data-module="govuk-button"
          >
            Back to summary page
          </button>
        {% endif %}


      </form>

    </div>
    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Items selected
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16 govuk-list--bullet">
            {% for item in data['project-items'] %}
            <li>
                {{ item | capitalize }}
            </li>
            {% endfor %}
          </ul>
        </nav>
      </aside>

    </div>
  </div>

{% endblock %}
