{% extends "layout.html" %}

{% block pageTitle %}
Have you already started work on the project?
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="{{ backUrl }}">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form id="mainForm" class="form" action="{{ nextUrl }}" method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <span class="govuk-caption-m govuk-!-padding-bottom-1">Question 4 of 18 </span>
            <h1 class="govuk-fieldset__heading">
              Have you already started work on the project?
            </h1>
          </legend>
          <br><br>
          <div class="govuk-radios govuk-radios--inline">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="project-start-2" name="project-start" type="radio" value=" No" {{ checked("project-start", " No") }}>
              <label class="govuk-label govuk-radios__label" for="project-start-2">
                No
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="project-start" name="project-start" type="radio" value="Yes" {{ checked("project-start", "Yes") }}>
              <label class="govuk-label govuk-radios__label" for="project-start">
                Yes
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <details class="govuk-details  govuk-!-margin-top-9" data-module="govuk-details" open>
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Eligibility
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>You will invalidate your application if you start the project or commit to any costs (such as placing orders) before you receive a funding agreement.</p>

          <p>Before you start the project, you can:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>get quotes from suppliers</li>
            <li>apply for planning permission or an abstraction licence (these can take a long time)</li>
          </ul>
        </div>
      </details>

      <button class="govuk-button govuk-!-margin-right-1 govuk-!-margin-top-6" data-module="govuk-button">Continue</button>

      {% if data['COMPLETED'] == true %}
        <button onclick="document.getElementById('mainForm').action='{{ completedUrl }}'"
          class="govuk-button govuk-!-margin-right-1 govuk-!-margin-top-6" data-module="govuk-button"
        >
          Back to summary page
        </button>
      {% endif %}

    </form>

  </div>
</div>

{% endblock %}
