{% extends "layout.html" %}

{% block pageTitle %}
  Your project
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="{{ backUrl }}">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="{{ nextUrl }}" method="post">
        <h1 class="govuk-heading-l">Project details</h1>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <p>The project will:</p>
            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="project-details" name="project-details" type="radio" value="introduce" {{ checked("project-details", "introduce") }}>
                <label class="govuk-label govuk-radios__label" for="project-details">
                  Introduce irrigation
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="project-details-2" name="project-details" type="radio" value="increase" {{ checked("project-details", "increase") }}>
                <label class="govuk-label govuk-radios__label" for="project-details-2">
                  Increase irrigation
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="project-details-3" name="project-details" type="radio" value="improve" {{ checked("project-details", "improve") }}>
                <label class="govuk-label govuk-radios__label" for="project-details-2">
                  Improve irrigation efficiency
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">
          Continue
        </button>

      </form>

    </div>
  </div>

{% endblock %}
