{% extends "layout.html" %}

{% block pageTitle %}
  Your project
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="check-answers-check-you-can-apply">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="irrigation" method="post">

        <h1 class="govuk-heading-l">
          Project details
        </h1>

        <div class="govuk-form-group">
          <label class="govuk-label" for="project-name">
              Name
            </label>
            <div id="project-summary-hint" class="govuk-hint">
              This is used as a reference.
            </div>
          <input class="govuk-input" id="project-name" name="project-name" type="text" value="{{ data['project-name'] }}">
        </div>

        <div class="govuk-character-count" data-module="govuk-character-count" data-maxwords="500">
          <div class="govuk-form-group">
            <label class="govuk-label" for="project-summary">
              Summary
            </label>
            <div id="project-summary-hint" class="govuk-hint">
              What the project is, what it will do and what it is aiming to achieve.
            </div>
            <textarea class="govuk-textarea" id="project-summary" name="project-summary" rows="8" aria-describedby="project-summary-hint">{{ data['project-summary'] }}</textarea>
          </div>
          <div id="word-count-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
            You can enter up to 500 words
          </div>
        </div>

        <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">
          Save and continue
        </button>

        <button class="govuk-button govuk-button--secondary" type="button" data-module="govuk-button">
          Save and return
        </button>

        </form>



    </div>
  </div>

{% endblock %}
