{% extends "layout.html" %}

{% block pageTitle %}
  Check all your answers
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-panel govuk-panel--confirmation">
       <h1 class="govuk-panel__title">
        Details submitted
       </h1>
    <div class="govuk-panel__body">
      Your reference number<br><strong>GDAA54X</strong>
    </div>
   </div>
    <br>
    <div class="govuk-body">
      <p>You will get an email with a record of your answers.</p>
      <p>If you do not get an email within 72 hours, please call the RPA helpline:</p>
      <p class="govuk-body govuk-!-font-weight-bold">Telephone: 03000 200 301</p>
      <p>Monday to Friday, 9am to 5pm (except public holidays)</p>
      <a href="#" class="govuk-link">Find out about call charges</a>
    </div>
    <br>
    <div class="govuk-body">
      <h2 class="govuk-heading-m">Problems with the service</h2>
      <p>If you have any problems with the service, contact the RPA.</p>
      <p>Telephone:<strong>03000 200 301</strong></p>
      <p>Monday to Friday, 9am to 5pm (except public holidays)</p>
      <a href="#" alt="Find out about call charges">Find out about call charges</a>
      <br><br>
      <p>Email:<a href="#" alt="email">FTF@rpa.gov.uk</a></p>
    </div>
    <br>
    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">You must not start the project</span>
        You must not start the project<br><br>
      </strong>
      <p>Starting the project or committing to any costs (such as placing orders)<br>
      before you recieve a funding agreement will invalidate your application.</p>
      <p class="govuk-body">Before you start the project, you can:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>get quotes from suppliers</li>
          <li>apply for planning permission or an abstraction licence</li>
        </ul>
      <div class="govuk-body">  
      <p><span class="govuk-body govuk-!-font-weight-bold">You will not automatically get a grant.</span>
       The grant is expected to be highly competitive and you are competing against other projects.</p>
       <br><br>
       <a href="#" class="govuk-link">What do you think of this service?</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
