{% extends "layout.html" %}

{% block pageTitle %}
{{ serviceName }}
{% endblock %}

{% block header %}
<!-- Blank header with no service name for the start page -->
{{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link">{{ serviceName }}</a>
    </li>
  </ol>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      {% if serviceName %} {{ serviceName }} {% endif %}
    </h1>

    <p>Use this service to:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>check if you can apply for a large grant for your project (takes about 10 minutes)</li>
      <li>check how well your project fits Defra’s funding priorities and provides value for taxpayers' money. (takes about 30 minutes if you have all the project details)</li>
    </ul>

    <p>You will not automatically get a grant. You are competing against other projects.</p>

    <a href="farming-type" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8" data-module="govuk-button">
      Start now
      <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
      </svg>
    </a>

    <h2 class="govuk-heading-m">Before you start</h2>

    <p>You need:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>to think about what items you may want to buy for the project</li>
      <li>an estimate of the total cost of the items that could get a grant</li>
      <li>either have or be confident you will have any planning permission and abstraction licences in place before XX October 2021</li>
    </ul>

  </div>

  <!--<div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Subsection
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>-->
</div>
{% endblock %}
