{% extends "layout.html" %}

{% block pageTitle %}
  Task list - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="{{ backUrl }}">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        {{serviceName}}
      </h1>

      <!-- <h2 class="govuk-heading-s govuk-!-margin-bottom-2">{{ application_status }}</h2> -->
      <p class="govuk-body govuk-!-margin-bottom-7">{{ completed_sections }}</p>

      <ul class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">1. </span> Check if you can apply
          </h2>
          <ul class="app-task-list__items govuk-!-margin-bottom-5">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                {% if data['water_s01_status'] == 'Completed' %}
                <a href="check-answers-check-you-can-apply" aria-describedby="s01-status">
                  Check now
                </a>
                {% else %}
                <a href="farming-type" aria-describedby="s01-status">
                  Check now
                </a>
                {% endif %}
              </span>
              <strong class="govuk-tag {{ water_s01_status_class }} app-task-list__tag" id="s01-status">{{ water_s01_status }}</strong>
            </li>
          </ul>

          {% if data['water_s01_status'] == 'Completed' %}

          <p class="govuk-body govuk-!-margin-left-6">
            You can apply. Based on the answers you have given this project could get a grant.
          </p>

          {% endif %}

        </li>

        <li class="govuk-!-margin-top-7">
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">2. </span> Express interest
          </h2>

          <p class="govuk-body govuk-!-margin-left-6">
            Take time to write your answers. They will be assessed against other projects.
          </p>

          <ul class="app-task-list__items">


            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                {% if data['water_s01_status'] == 'Completed' %}
                  {% if data['water_s02_status'] == 'Completed' %}
                <a href="check-answers-project-details-and-benefits" aria-describedby="s02-status">
                  Provide project details and benefits
                </a>
                  {% else %}
                <a href="project" aria-describedby="s02-status">
                  Provide project details and benefits
                </a>
                  {% endif %}
                {% else %}
                  Provide project details and benefits
                {% endif %}
              </span>
              <strong class="govuk-tag {{ water_s02_status_class }} app-task-list__tag" id="s02-status">{{ water_s02_status }}</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                {% if data['water_s02_status'] == 'Completed' %}
                  {% if data['water_s03_status'] == 'Completed' %}
                  <a href="check-answers-contact-details" aria-describedby="s03-status">
                    Give contact details
                  </a>
                  {% else %}
                <a href="business" aria-describedby="s03-status">
                  Give contact details
                </a>
                  {% endif %}
                {% else %}
                  Give contact details
                {% endif %}
              </span>
              <strong class="govuk-tag {{ water_s03_status_class }} app-task-list__tag" id="s03-status">{{ water_s03_status }}</strong>
            </li>

          </ul>

        </li>



        {% if data['water_completed_sections'] == '3' %}
        <form action="check-answers-all" method="post" novalidate>

          <input type="hidden" name="answers-checked" value="true">

          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>

        </form>
        {% endif %}

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">3. </span> Apply in full
          </h2>

          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                {% if final_project_details_available %}
                <a href="#" aria-describedby="final-project-details">
                  Complete the full application
                </a>
                {% else %}
                  Complete the full application
                {% endif %}
              </span>
              <strong class="govuk-tag {{ water_s04_status_class }} app-task-list__tag" id="s04-status">{{ water_s04_status }}</strong>
            </li>

          </ul>

        </li>

      </ul>

      <button class="govuk-button govuk-button--secondary" type="button" data-module="govuk-button">
        Save and return
      </button>


    </div>
  </div>

{% endblock %}
