{% extends "layout.html" %}

{% block pageTitle %}
  Task list - {{serviceName}} - GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        {{serviceName}}
      </h1>

      <h2 class="govuk-heading-s govuk-!-margin-bottom-2">{{ application_status }}</h2>
      <p class="govuk-body govuk-!-margin-bottom-7">{{ completed_sections }}</p>

      <ul class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">1. </span> Check if you can apply
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                {% if data['s01_status'] == 'Completed' %}
                <a href="check-answers-check-you-can-apply" aria-describedby="s01-status">
                  Check now
                </a>
                {% else %}
                <a href="farming-type" aria-describedby="s01-status">
                  Check now
                </a>
                {% endif %}
              </span>
              <strong class="govuk-tag {{ s01_status_class }} app-task-list__tag" id="s01-status">{{ s01_status }}</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">2. </span> Express interest
          </h2>

          <ul class="app-task-list__items">


            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                {% if data['s01_status'] == 'Completed' %}
                  {% if data['s02_status'] == 'Completed' %}
                <a href="check-answers-project-details-and-benefits" aria-describedby="s02-status">
                  Provide project details and benefits
                </a>
                  {% else %}
                <a href="project-items" aria-describedby="s02-status">
                  Provide project details and benefits
                </a>
                  {% endif %}
                {% else %}
                  Provide project details and benefits
                {% endif %}
              </span>
              <strong class="govuk-tag {{ s02_status_class }} app-task-list__tag" id="s02-status">{{ s02_status }}</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                {% if data['s02_status'] == 'Completed' %}
                  {% if data['s03_status'] == 'Completed' %}
                  <a href="check-answers-contact-details" aria-describedby="s03-status">
                    Give contact details
                  </a>
                  {% else %}
                <a href="business" aria-describedby="s03-status">
                  Give contact details
                </a>
                  {% endif %}
                {% else %}
                  Give contact details
                {% endif %}
              </span>
              <strong class="govuk-tag {{ s03_status_class }} app-task-list__tag" id="s03-status">{{ s03_status }}</strong>
            </li>

          </ul>

        </li>



        {% if data['completed_sections'] == '3' %}
        <form action="check-answers-all" method="post" novalidate>

          <input type="hidden" name="answers-checked" value="true">

          <button class="govuk-button" data-module="govuk-button">
            Check all your answers
          </button>

        </form>
        {% endif %}

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">3. </span> Apply in full
          </h2>

          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                {% if final_project_details_available %}
                <a href="#" aria-describedby="final-project-details">
                  Complete the full application
                </a>
                {% else %}
                  Complete the full application
                {% endif %}
              </span>
              <strong class="govuk-tag {{ s04_status_class }} app-task-list__tag" id="s04-status">{{ s04_status }}</strong>
            </li>

          </ul>

        </li>

      </ul>
    </div>
  </div>

{% endblock %}
