{% extends "layout.html" %}

{% block pageTitle %}
  Is the planned project on land with a tenancy agreement in place until 2026 or after?
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="tenancy">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form id="mainForm" class="form" action="../water/tenancy-length-answer" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <span class="govuk-caption-m govuk-!-padding-bottom-1">Question 5a of 18 </span>
              <h1 class="govuk-fieldset__heading">
                Do you have a tenancy agreement until 2026 or after? 
              </h1>
            </legend>
            <br><br>
            <div class="govuk-radios govuk-radios--inline">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="tenancy-length" name="tenancy-length" type="radio" value="yes" {{ checked("tenancy-length", "yes") }}>
                <label class="govuk-label govuk-radios__label" for="tenancy-length">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="tenancy-length-2" name="tenancy-length" type="radio" value="no" {{ checked("tenancy-length", "no") }}>
                <label class="govuk-label govuk-radios__label" for="tenancy-length-2">
                  No
                </label>
              </div>
            </div>
            <details class="govuk-details govuk-!-margin-top-9" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        Eligibility
                    </span>
                </summary>
                <div class="govuk-details__text">
                   The land must be owned or have a tenancy in place until 2026 <br> before starting the project.
                </div>
              </details>
          </fieldset>
        </div>
        <br>
        <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">Continue</button>

        {% if data['COMPLETED'] == true %}
          <button onclick="document.getElementById('mainForm').action='tenancy-length-answer-completed'"
            class="govuk-button govuk-!-margin-right-1" data-module="govuk-button"
          >
            Back to summary page
          </button>
        {% endif %}


      </form>

    </div>
  </div>

{% endblock %}
