{% extends "layout.html" %}

{% block pageTitle %}
  Water SSSI
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="../water/abstraction-licence">Back</a>
{% endblock %}

{% block content %}
 <form id="mainForm" class="form" action="{{ nextUrl }}" method="post">
    <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <span class="govuk-caption-m govuk-!-padding-bottom-1">Question 11 of 18 </span>
            <h1 class="govuk-fieldset__heading">
                Does the project directly impact a Site <br> of Special Scientific Interest?
            </h1>
          </legend>
          <br><br>
          <div class="govuk-radios govuk-radios--inline">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="water-SSSI" name="water-SSSI" type="radio" value="yes" {{ checked("water-SSSI", "yes") }}>
              <label class="govuk-label govuk-radios__label" for="water-SSSI">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="water-SSSI-2" name="water-SSSI" type="radio" value="no" {{ checked("water-SSSI", "no") }}>
              <label class="govuk-label govuk-radios__label" for="water-SSSI-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
        <br><br><br>
        <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">Continue</button>
    </form>

{%endblock%}
