{% extends 'layouts/main.html' %}

{% block pageTitle %}
    Page title
{% endblock %}

{% block beforeContent %}

    <div class="govuk-grid-row">

        <div class="govuk-grid-column-full">

            {{ super() }}

            {{ govukBackLink ({
                text: 'Back',
                href: 'javascript:history.back()'
            }) }}

        </div>

    </div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form method="post">

                {{ govukRadios ({
                    idPrefix: 'name',
                    name: 'name',
                    fieldset: {
                        legend: {
                            text: 'Legend text',
                            isPageHeading: true,
                            classes: 'govuk-fieldset__legend--xl'
                        }
                    },
                    hint: {
                        text: 'Hint text'
                    },
                    items: [
                        {
                            value: 'value1',
                            text: 'Text for value 1'
                        },
                        {
                            value: 'value2',
                            text: 'Text for value 2'
                        }
                    ]
                }) }}

                {{ govukButton ({
                    html: 'Continue'
                }) }}

            </form>

        </div>

</div>

{% endblock %}