{% extends "layout.html" %}

{% block pageTitle %}
  Project and business details
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems  .'
  }) }}

<a class="govuk-back-link" href="{{ backUrl }}">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" id="mainForm" action="{{ nextUrl }}" method="post">

        <h1 class="govuk-heading-l">
          Business details
        </h1>

        <div class="govuk-form-group">
          <label class="govuk-label" for="project-name">
              Project name
          </label>
          <span id="project-name-hint" class="govuk-hint">For example, Browns Hill Farm vegetable washing and sorting project</span>
          <input class="govuk-input" id="project-name" name="project-name" type="text" value="{{ data['project-name'] }}">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="business-name">
              Business name
          </label>
          <span id="business-name-hint" class="govuk-hint">If you’re registered on the Rural Payments system, enter business name as registered</span>
          <input class="govuk-input" id="business-name" name="business-name" type="text" value="{{ data['business-name'] }}">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="employees">
              Number of employees
          </label>
          <span id="employees-hint" class="govuk-hint">Full-time employees, including the owner</span>
          <input class="govuk-input govuk-input--width-4" id="employees" name="employees" type="text" spellcheck="false" aria-describedby="employees-hint" pattern="[0-9]*" inputmode="numeric" value="{{ data['employees'] }}">
        </div>
        <br>
        <div class="govuk-form-group">
          <label class="govuk-label" for="turnover">
              Business turnover (£)
          </label>
          <div class="govuk-input__wrapper">
          <div class="govuk-input__prefix" aria-hidden="true">£</div>
          <input class="govuk-input govuk-!-width-one-third" id="turnover" name="turnover" type="text" spellcheck="false" aria-describedby="turnover-hint" pattern="[0-9]*" inputmode="numeric" value="{{ data['turnover'] }}">
          </div>
        </div>
        <br>
             <div class="govuk-form-group">
                   <fieldset class="govuk-fieldset" aria-describedby="sbi-hint">
                     <legend class="govuk-fieldset__legend">
                       <h1 class="govuk-fieldset__heading">
                         Single Business Identifier (SBI)
                       </h1>
                     </legend>
                     <div id="contact-hint" class="govuk-hint">
                       If you do not have an SBI, you will need to get one for full application
                     </div>
                      <input class="govuk-input govuk-!-width-one-third" id="sbi" name="sbi" type="text" spellcheck="false" aria-describedby="sbi-hint" pattern="[0-9]*" inputmode="numeric" value="{{ data['sbi'] }}">
</fieldset>
                    </div>

                     </div>

             </div>
    <br><br>
        <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">
          Continue
        </button>

        {% if data['DETAILS'] == true %}
          <button onclick="document.getElementById('mainForm').action='{{ detailsUrl }}'"
            class="govuk-button govuk-button--secondary govuk-!-margin-right-1 govuk" data-module="govuk-button"
          >
            Back to details
          </button>
        {% endif %}
      </form>
    </div>
  </div>

{% endblock %}
