{% extends 'layinghens/current/views/layouts/layout.html' %}

{% set poultryType = 'hen' %}
{% if data['poultry-type'] %}
    {% set poultryType = data['poultry-type'] %}
{% endif %}

{% block pageTitle %}
    Will the aviary system have an integrated LED lighting system?
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form method="post">

                {{ govukRadios ({
                    idPrefix: 'aviary-lighting',
                    name: 'aviary-lighting',
                    classes: 'govuk-radios--inline',
                    fieldset: {
                        legend: {
                            text: 'Will the aviary system have an integrated LED lighting system?',
                            isPageHeading: true,
                            classes: 'govuk-fieldset__legend--l'
                        }
                    },
                    hint: {
                        text: 'This provides dimmable non-flicker lighting at each level of the aviary system, including top perches and under the system'
                    },
                    items: [
                        {
                            text: 'Yes',
                            value: 'Yes',
                            checked: true if data['aviary-lighting'] == 'Yes',
                            attributes: {
                                    'data-next': '../ventilation/features'
                                }
                        },
                        {
                            text: 'No',
                            value: 'No',
                            checked: true if data['aviary-lighting'] == 'No',
                            attributes: {
                                    'data-next': '../elimination'
                                }
                        }
                    ]
                }) }}

                {{ govukButton ({
                    html: 'Continue'
                }) }}

            </form>

        </div>

        <div class="govuk-grid-column-one-third">

            <div class="app-step-nav-related app-step-nav-related--singular">
                <h2 class="app-step-nav-related__heading">
                <span class="app-step-nav-related__pretitle">Eligibility</span>
                </h2>
                <p>
                    The lighting system must have a non-flicker light and zonal dimming to provide an automated dawn and dusk.
                </p>
            </div>

        </div>

</div>

{% endblock %}