{% extends "layout.html" %}

{% block pageTitle %}
  Project and business details
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="{{ backUrl }}">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" id="mainForm" action="{{ nextUrl }}" method="post">

        <h1 class="govuk-heading-l">
          Business details
        </h1>

        <div class="govuk-form-group">
          <label class="govuk-label" for="project-name">
              Project name
          </label>
          <span id="project-name-hint" class="govuk-hint">For example, Brown Hill Farm reservoir</span>
          <input class="govuk-input" id="project-name" name="project-name" type="text" value="{{ data['project-name'] }}">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="business-name">
              Business name
          </label>
          <span id="business-name-hint" class="govuk-hint">If you’re registered on the Rural Payments system, enter business name as registered</span>
          <input class="govuk-input" id="business-name" name="business-name" type="text" value="{{ data['business-name'] }}">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="employees">
              Number of employees
          </label>
          <span id="employees-hint" class="govuk-hint">Full-time employees, including the owner</span>
          <input class="govuk-input govuk-input--width-10" id="employees" name="employees" type="text" spellcheck="false" aria-describedby="employees-hint" pattern="[0-9]*" inputmode="numeric" value="{{ data['employees'] }}">
        </div>
        <br>
        <div class="govuk-form-group">
          <label class="govuk-label" for="turnover">
              Business turnover (£)
          </label>
          <div class="govuk-input__wrapper">
          <div class="govuk-input__prefix" aria-hidden="true">£</div>
          <input class="govuk-input govuk-input--width-5" id="turnover" name="turnover" type="text" spellcheck="false" aria-describedby="turnover-hint" pattern="[0-9]*" inputmode="numeric" value="{{ data['turnover'] }}">
          </div>
        </div>
        <br>

        <!--Conditional SBI field starts'-->
                     <div class="govuk-form-group">
                           <fieldset class="govuk-fieldset" aria-describedby="sbi-hint">
                             <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                               <h1 class="govuk-fieldset__heading">
                                 Single Business Identifier (SBI)
                               </h1>
                             </legend>
                             <div id="contact-hint" class="govuk-hint">
                               Select one option
                             </div>

                         <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                           <div class="govuk-radios__item">
                             <input class="govuk-radios__input" id="sbi-yes" name="sbi-radio" type="radio" value="Yes" data-aria-controls="conditional-sbi"{{ checked("sbi-radio", "Yes") }}>
                             <label class="govuk-label govuk-radios__label" for="sbi-yes">
                               Yes
                             </label>
                           </div>
                           <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-sbi">
                             <div class="govuk-form-group">
                               <label class="govuk-label" for="sbi">
                                 SBI number
                               </label>
                               <input class="govuk-input govuk-!-width-one-third" id="enter-sbi" name="enter-sbi" pattern="[0-9]*" inputmode="numeric" value="{{ data['enter-sbi'] }}"{{ checked("enter-sbi", "enter-sbi") }}></div>
                           </div>
                           <div class="govuk-radios__item">
                             <input class="govuk-radios__input" id="sbi-no" name="sbi-radio" type="radio" value="No" data-aria-controls="conditional-contact-2" {{ checked("sbi-radio", "No") }}>
                             <label class="govuk-label govuk-radios__label" for="sbi-no">
                               No
                             </label>
                           </div>

                       </fieldset>
                     </div>
        <!--Conditional SBI field ends'-->


        <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">
          Continue
        </button>

        {% if data['DETAILS'] == true %}
          <button onclick="document.getElementById('mainForm').action='{{ detailsUrl }}'"
            class="govuk-button govuk-button--secondary govuk-!-margin-right-1 govuk" data-module="govuk-button"
          >
            Back to details
          </button>
        {% endif %}
      </form>
    </div>
  </div>

{% endblock %}
