{% extends "layout.html" %}

{% block pageTitle %}
  How many other farms will be supplied with water?
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems.'
  }) }}
  <a class="govuk-back-link" href="{{ backUrl }}">Back</a>
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form id="mainForm" class="form" action="{{ nextUrl }}" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="collaboration-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Will water be supplied to other farms?
              </h1>
              <h3 class="govuk-caption-m">If you intend to supply water via a water sharing agreement<br> as a result of this project.</h3>
            </legend>

            <div class="govuk-radios govuk-radios--inline">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="collaboration" name="collaboration" type="radio" value="Yes" {{ checked("collaboration", "Yes") }}>
                <label class="govuk-label govuk-radios__label" for="collaboration">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="collaboration-2" name="collaboration" type="radio" value="No" {{ checked("collaboration", "No") }}>
                <label class="govuk-label govuk-radios__label" for="collaboration-2">
                  No
                </label>
              </div>
            </div>
          </fieldset>
        </div>
        
        <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">
          Get your score
        </button>



      </form>
    </div>
    <div class="govuk-grid-column-one-third">
      <aside class="app-related-items">
        <h3 class="govuk-heading-s">Funding  priorities</h3>
        <div class="govuk-body govuk-!-font-size-19">
            RPA wants to fund projects that:
                   <ul>
                    <li>improve water sustainability  </li>
                   </ul>
        </div>
      </aside>
    </div>
  </div>

{% endblock %}
