{% extends "layout.html" %}

{% block pageTitle %}
  Irrigation systems
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="{{ backUrl }}">Back</a>
{% endblock %}

{% block content %}
<mian class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form id="mainForm" class="form" action="{{ nextUrl }}" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l govuk-!-padding-top-2">
              <h1 class="govuk-fieldset__heading">
                What systems will be used to irrigate?
              </h1>
            </legend>
          </fieldset>
        </div>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <div class="govuk-body govuk-!-margin-bottom-0 govuk-!-padding-top-1">
               <span class="govuk-caption-m">Select one or two options</span>
              <br>
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="irrigation-systems-target-1" name="irrigation-systems-target" type="checkbox" value="Trickle" {{ checked("irrigation-systems-target", "Trickle") }}>
                  <label class="govuk-label govuk-checkboxes__label" for="irrigation-systems-target-1">
                    Trickle
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="irrigation-systems-target-2" name="irrigation-systems-target" type="checkbox" value="Boom irrigator" {{ checked("irrigation-systems-target", "Boom irrigator") }}>
                  <label class="govuk-label govuk-checkboxes__label" for="irrigation-systems-target-2">
                    Boom irrigator
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="irrigation-systems-target-3" name="irrigation-systems-target" type="checkbox" value="Ebb and flow" {{ checked("irrigation-systems-target", "Ebb and flow") }}>
                  <label class="govuk-label govuk-checkboxes__label" for="irrigation-systems-target-3">
                    Ebb and flow
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="irrigation-systems-target-4" name="irrigation-systems-target" type="checkbox" value="Capillary bed" {{ checked("irrigation-systems-target", "Capillary bed") }}>
                  <label class="govuk-label govuk-checkboxes__label" for="irrigation-systems-target-4">
                    Capillary bed
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="irrigation-systems-target-5" name="irrigation-systems-target" type="checkbox" value="Sprinklers" {{ checked("irrigation-systems-target", "Sprinklers") }}>
                  <label class="govuk-label govuk-checkboxes__label" for="irrigation-systems-target-5">
                    Sprinklers
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="irrigation-systems-target-6" name="irrigation-systems-target" type="checkbox" value="Mist" {{ checked("irrigation-systems-target", "Mist") }}>
                  <label class="govuk-label govuk-checkboxes__label" for="irrigation-systems-target-6">
                    Mist
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="irrigation-systems-target-7" name="irrigation-systems-target" type="checkbox" value="Rain gun" {{ checked("irrigation-systems-target", "Rain gun") }}>
                  <label class="govuk-label govuk-checkboxes__label" for="irrigation-systems-target-7">
                    Rain gun
                  </label>
                </div>
              </div>
            </div>  
          </fieldset>
        </div>
        <br>
        <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">
          Continue
        </button>

        {% if data['COMPLETED'] == true %}
          <button onclick="document.getElementById('mainForm').action='{{ completedUrl }}'"
            class="govuk-button govuk-!-margin-right-1" data-module="govuk-button"
          >
            Back to summary page
          </button>
        {% endif %}
      </form>
    </div>
    <div class="govuk-grid-column-one-third govuk-!-padding-5">
      <aside class="app-related-items">
        <h3 class="govuk-heading-m"> Funding  priorities</h3>
        <div class="govuk-body govuk-!-font-size-19">  
            RPA wants to fund projects that: 
              <ul>
                <li>improve the environment</li>
                <li>improve water sustainability</li>
               </ul>
        </div>         
      </aside>   
    </div>
</main>
{% endblock %}
