{% extends "layout.html" %}

{% block pageTitle %}
  Your project
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems.'
  }) }}
  <a class="govuk-back-link" href="{{ backUrl }}">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form id="mainForm" class="form" action="{{ nextUrl }}" method="post">
        <h1 class="govuk-heading-l">What impact will the project have? </h1>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <p><span class="govuk-caption-m">Select up to 2 options</span></p>
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input
                  class="govuk-checkboxes__input" id="project-summary-1" name="project-summary" type="checkbox" value="Change water source"
                  {{ checked("project-summary", "Change water source") }}
                  {{ checked("project-summary", "None of the above") and 'disabled' }}
                >
                <label class="govuk-label govuk-checkboxes__label" for="project-summary-1">
                  Change water source
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input
                  class="govuk-checkboxes__input" id="project-summary-2" name="project-summary" type="checkbox" value="increase irrigation"
                  {{ checked("project-summary", "increase irrigation") }}
                  {{ checked("project-summary", "None of the above") and 'disabled' }}
                >
                <label class="govuk-label govuk-checkboxes__label" for="project-summary-2">
                  Increase irrigation
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input
                  class="govuk-checkboxes__input" id="project-summary-3" name="project-summary" type="checkbox" value="improve irrigation efficiency"
                  {{ checked("project-summary", "improve irrigation efficiency") }}
                  {{ checked("project-summary", "None of the above") and 'disabled' }}
                >
                <label class="govuk-label govuk-checkboxes__label" for="project-summary-3">
                  Improve irrigation efficiency
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input
                  class="govuk-checkboxes__input" id="project-summary-4" name="project-summary" type="checkbox" value="introduce irrigation"
                  {{ checked("project-summary", "introduce irrigation") }}
                  {{ checked("project-summary", "None of the above") and 'disabled' }}
                >
                <label class="govuk-label govuk-checkboxes__label" for="project-summary-4">
                  Introduce irrigation
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input
                  class="govuk-checkboxes__input" id="none-project-summary" name="project-summary" type="checkbox"
                  value="None of the above"
                  {{ checked("project-summary", "None of the above") }}
                  onclick="
                    const isChecked = document.getElementById('none-project-summary').checked
                    const listOptions = document.querySelectorAll('input[id^=project-summary-]')

                    listOptions.forEach(item => {
                      item.disabled= isChecked
                    })
                  "

                >
                <label class="govuk-label govuk-checkboxes__label" for="project-summary-5">
                  None of the above
                </label>
              </div>
            </div>
          </fieldset>
        </div>
        <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">
          Continue
        </button>

        {% if data['COMPLETED'] == true %}
          <button onclick="document.getElementById('mainForm').action='{{ completedUrl }}'"
            class="govuk-button govuk-!-margin-right-1" data-module="govuk-button"
          >
            Back to score
          </button>
        {% endif %}
      </form>
    </div>
    <div class="govuk-grid-column-one-third">
      <aside class="app-related-items">
          <h3 class="govuk-heading-s"> Funding  priorities </h3>
          <div class="govuk-body">
             RPA wants to fund projects that:
                   <ul>
                    <li>improve productivity</li>
                    <li>improve the environment  </li>
                    <li>improve water sustainability</li>
                   </ul>
          </div>
      </aside>
    </div>
  </div>


{% endblock %}
