{% extends "layout.html" %}

{% block pageTitle %}
  Is the planned project on land with a tenancy agreement in place until 2026 or after?
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems.'
  }) }}
  <a class="govuk-back-link" href="tenancy">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form id="mainForm" class="form" action="tenancy-length-answer" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Do you have a tenancy agreement until 2027 or after?
              </h1>
            </legend>
            
            <div class="govuk-radios govuk-radios--inline">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="tenancy-length" name="tenancy-length" type="radio" value="Yes" {{ checked("tenancy-length", "Yes") }}>
                <label class="govuk-label govuk-radios__label" for="tenancy-length">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="tenancy-length-2" name="tenancy-length" type="radio" value="No" {{ checked("tenancy-length", "No") }}>
                <label class="govuk-label govuk-radios__label" for="tenancy-length-2">
                  No
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">Continue</button>


      </form>
    </div>
  <div class="govuk-grid-column-one-third">
      <aside class="app-related-items">
          <h3 class="govuk-heading-s"> Eligibility </h3>
          <p>The land must be owned or have a tenancy in place until 2027 <br> before starting the project.</p>
      </aside>
  </div>
  </div>

{% endblock %}
