{% extends "layout.html" %}

{% extends "slurry/current/views/layouts/_BASEFULL.html" %}

{% block service %}

<!--
<span class="govuk-caption-xl">Prototypes</span>
-->
<title> Slurry prototype admin</title>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

<span class="govuk-caption-xl">Productivity grant</span>
<h1 class="govuk-heading-xl">
  Slurry prototype admin
</h1>


      <div class="proto-admin">
        <h2 class="govuk-heading-l">User research</h2>

        <p class='govuk-list app-list--definition'>
        <a href='/slurry/current/guidance' class="govuk-link--no-visited-state">Guidance: Farming Transformation Fund productivity grant</a></p>
        <p class='govuk-list app-list--definition'>
        <a href='/slurry/current/start' class="govuk-link--no-visited-state">Start page</a><br>
        Specialist start page, hosted on GOV.UK</p>

        <p class='govuk-list app-list--definition'>
        <a href='/slurry/current/email' class="govuk-link--no-visited-state">Confirmation email</a><br>
          User will receive a confirmation email, with their answers. Service is routed by GOV Notify.</p>
      </div>


      <div class="proto-admin">
        <h2 class="govuk-heading-l">Design history</h2>
                <p class='govuk-list app-list--definition'>
                  <p class='govuk-heading-m'>Version 2 (current)</p>
                    <p class='govuk-list app-list--definition'>The version shown in this prototype is currently in 2nd round of usability testing.<br>
                      <span class="govuk-body govuk-!-font-size-14"># Last updated on 14 July 2021<br/>
                      # Robotics not included</span></p>


                <p class='govuk-list app-list--definition'>
                  <p class='govuk-heading-m'>Previous versions</p>
                    <p class='govuk-list app-list--definition'>
                      <a href='/slurry/v1/guidance' class="govuk-link--no-visited-state">Version 1</a><br>
                        Slurry baseline design, tested in our 1st round of usability testing between 30 Jun 2021 - 6 Jul 2021.</p>
      </div>


      <div class="proto-admin">
        <h2 class="govuk-heading-l">Journeys and wireframes</h2>
            <p class='govuk-heading-m'>Workflows, screenflows and user journeys</p>
              <p class='govuk-list app-list--definition'>
                <p><a href='https://app.mural.co/t/capgemini3322/m/ftfgrants4310/1626110810024/185f9759f0ba83b4513012d6b47958ecad7c2fe4?sender=uac8e5181797d9857544e5168' class="govuk-link--no-visited-state" target="new">High fidelity screenflow on Mural (opens in new tab)</a><br>
                    <img src="/public/images/mural-icon.png" alt="Mural icon" width="17" height="17"> Mural last updated on 14 July 2021.<br></p>

            <p class='govuk-heading-m'>Wireframes</p>
              <p class='govuk-list app-list--definition'>
                <a href='https://www.sketch.com/s/bc04f07a-1c5d-4173-8e97-941118e01749' class="govuk-link--no-visited-state" target="new">Sketch wireframes (opens in new tab)</a><br>
                  Up to date designs.</p>
      </div>
{% endblock %}
