{% extends "layout.html" %}

{% extends "slurry/current/views/layouts/_BASEFULL.html" %}

{% block service %}

<!--
<span class="govuk-caption-xl">Prototypes</span>
-->
<span class="govuk-caption-xl">Grants Prototype</span>
<h1 class="govuk-heading-xl">
  Slurry
</h1>


<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Prototype</th>
      <th class="govuk-table__header" scope="col">Description</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="/slurry/current/guidance">
          Productivity grant
        </a></td>
      <td class="govuk-table__cell">Eligibility checker (v1.0)  <br/>
        <span class="govuk-body govuk-!-font-size-14"># Last updated on 28 June 2021 @ 13:48 <Br/>
        # Robotics not included</span>
      </td>
    </tr>





  </tbody>
</table>


{% endblock %}
