{% extends "layout.html" %}

{% block pageTitle %}
  Where is the business located?
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="{{ backUrl }}">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form id="mainForm" class="form" action="{{ nextUrl }}" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Is the planned project in England?
              </h1>
            </legend>
            <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="country" name="country" type="radio" value="yes" data-aria-controls="conditional-country-postcode" {{ checked("country", "yes") }}>
                <label class="govuk-label govuk-radios__label" for="country">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-country-postcode">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="conditional-country-postcode">
                    In which postcode will the project take place?
                  </label>
                  <input class="govuk-input govuk-!-width-one-third" id="postcode" name="postcode" type="text" value="{{ data['postcode'] }}" spellcheck="false" {{ checked("postcode", "postcode") }}>
                </div>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="country-2" name="country" type="radio" value="no" {{ checked("country", "no") }}>
                <label class="govuk-label govuk-radios__label" for="country-2">
                  No
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

        {% if data['COMPLETED'] == true %}
        <button onclick="document.getElementById('mainForm').action='{{ completedUrl }}'"
          class="govuk-button govuk-!-margin-right-1" data-module="govuk-button"
        >
          Back to summary page
        </button>
        {% endif %}


      </form>

    </div>
  </div>

{% endblock %}
