{% extends 'layinghens/current/views/layouts/layout.html' %}

{% block pageTitle %}
    You cannot apply for a grant from this scheme - Aviary lighting system
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form method="post">

                <h1 class="govuk-heading-l">You cannot apply for a grant from this scheme</h1>

                <p>
                    The aviary system must have an integrated LED lighting system.
                </p>

                {{ govukInsetText ({
                    text: 'The lighting system must have non-flicker lighting and zonal dimming to provide an automated dawn and dusk.'
                }) }}

                <p>
                    <a href="https://www.gov.uk/topic/farming-food-grants-payments/rural-grants-payments">
                        See other grants you may be eligible for.
                    </a>
                </p>

            </form>

        </div>

</div>

{% endblock %}