{% extends 'layinghens/current/views/layouts/layout.html' %}

{% set poultryType = 'hen' %}
{% if data['poultry-type'] %}
    {% set poultryType = data['poultry-type'] %}
{% endif %}

{% block pageTitle %}
    Will the aviary system automatically remove manure?
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form method="post">

                {{ govukRadios ({
                    idPrefix: 'aviary-manure',
                    name: 'aviary-manure',
                    classes: 'govuk-radios--inline',
                    fieldset: {
                        legend: {
                            text: 'Will the aviary system automatically remove manure?',
                            isPageHeading: true,
                            classes: 'govuk-fieldset__legend--l'
                        }
                    },
                    items: [
                        {
                            text: 'Yes',
                            value: 'Yes',
                            checked: true if data['aviary-manure'] == 'Yes',
                            attributes: {
                                    'data-next': 'lighting'
                                }
                        },
                        {
                            text: 'No',
                            value: 'No',
                            checked: true if data['aviary-manure'] == 'No',
                            attributes: {
                                    'data-next': 'elim-manure'
                                }
                        }
                    ]
                }) }}

                {{ govukButton ({
                    html: 'Continue'
                }) }}

            </form>

        </div>

        <div class="govuk-grid-column-one-third">

            <div class="app-step-nav-related app-step-nav-related--singular">
                <h2 class="app-step-nav-related__heading">
                <span class="app-step-nav-related__pretitle">Eligibility</span>
                </h2>
                <p>
                    To ensure good air quality, the aviary system must have an integrated automatic manure-removal system.
                </p>
            </div>

        </div>

</div>

{% endblock %}