
{% extends "layout.html" %}

{% block pageTitle %}
  Grants Prototypes
{% endblock %}

{% block content %}

  <style>
    dd {margin-inline-start: 0}
  </style>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">Prototypes</span>
      <h1 class="govuk-heading-xl">
        Grants
      </h1>

      <dl class="govuk-list">
        <dt><a href="/current/views/">Version 04</a></dt>
        <dd>Alpha sprint X - large grants expression of interest v3</dd>
      </dl>

      <dl class="govuk-list">
        <dt><a href="/v3/views/">Version 03</a></dt>
        <dd>Alpha sprint 6 - large grants expression of interest v2</dd>
      </dl>

      <dl class="govuk-list">
        <dt><a href="/v2/views/">Version 02</a></dt>
        <dd>Alpha sprint 5 - large grants expression of interest</dd>
      </dl>

      <dl class="govuk-list">
        <dt><a href="/v1/views/">Version 01</a></dt>
        <dd>Alpha sprint 3 - small grants service</dd>
      </dl>

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related links
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="https://github.com/DEFRA/grants-prototype">
                Prototype code on Github
              </a>
            </li>
            <li>
              <a href="https://grants-design-history.herokuapp.com/">
                Design history
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>

  </div>

{% endblock %}
