{% extends "layout.html" %}

{% extends "./layouts/_BASEFULL.html" %}

{% block service %}

<!--
<span class="govuk-caption-xl">Prototypes</span>
-->

<h1 class="govuk-heading-l">
  Tactical grants - prototypes v1 to Private beta
</h1>
<p>
  The following were built using GOV.UK Prototype Kit v9.15.0.
</p>

<!--
<h2 class="govuk-heading-m"> Prototypes </h2>
-->

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Prototype</th>
      <th class="govuk-table__header" scope="col">Description</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="addingvalue">Adding value grant</a>
        </td>
      <td class="govuk-table__cell">Checker (v3 - last updated on 17 November 2021)</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="robotics">Productivity grant - Robotics and innovation</a>
        </td>
      <td class="govuk-table__cell">Checker (v4 - last updated on 22 November 2021)</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="slurry">Productivity grant - Slurry</a>
        </td>
      <td class="govuk-table__cell">Checker (v3 - last updated on 19 October 2021)</td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="water">
          Water resource management EoI
        </a></td>
      <td class="govuk-table__cell">Checker (v7 - private beta, last updated on 1 of June 2021)</td>
    </tr>
  </tbody>
</table>


{% endblock %}
