{% extends 'layinghens/current/views/layouts/layout.html' %}

{% set poultryType = 'hen' %}
{% if data['poultry-type'] %}
    {% set poultryType = data['poultry-type'] %}
{% endif %}

{% set poultryType = 'hen' %}
{% if data['poultry-type'] %}
    {% set poultryType = data['poultry-type'] %}
{% endif %}

{% block pageTitle %}
    Does your current building include a multi-tier aviary system?
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            {% if data['from-scoring'] == 'true' %}
                <form action="results">
            {% else %}
                <form action="ramps">
            {% endif %}

                {{ govukRadios ({
                    idPrefix: 'scoring-current-multi-tier-system',
                    name: 'scoring-current-multi-tier-system',
                    classes: 'govuk-radios--inline',
                    fieldset: {
                        legend: {
                            text: 'Does your current building include a multi-tier aviary system?',
                            isPageHeading: true,
                            classes: 'govuk-fieldset__legend--l'
                        }
                    },
                     hint: {
                        text: 'The building you are replacing or refurbishing for this project'
                    },
                    items: [
                        {
                            text: 'Yes',
                            value: 'Yes, my current building includes a multi-tier aviary system',
                            checked: true if data['scoring-ramps'] == 'Yes, my current building includes a multi-tier aviary system'
                        },
                        {
                            text: 'No',
                            value: 'No, my current building does not include a multi-tier aviary system',
                            checked: true if data['scoring-ramps'] == 'No, my current building does not include a multi-tier aviary system'
                        }
                    ]
                }) }}

                {{ govukButton ({
                    html: 'Continue'
                }) }}

            </form>

        </div>

        <div class="govuk-grid-column-one-third">

            <div class="app-step-nav-related app-step-nav-related--singular">
                <h2 class="app-step-nav-related__heading">
                <span class="app-step-nav-related__pretitle">Funding priorities</span>
                </h2>
                <p>
                    RPA want to encourage investment in high-welfare multi-tier aviary systems.
                </p>
            </div>

        </div>

</div>

{% endblock %}