{% extends 'layinghens/current/views/layouts/layout.html' %}

{% set poultryType = 'hen' %}
{% if data['poultry-type'] %}
    {% set poultryType = data['poultry-type'] %}
{% endif %}

{% block pageTitle %}
    What poultry management data will you monitor?
{% endblock %}

{% block content %}

{% if 'A heat exchanger (heating only)' | isIn(data['scoring-energy']) and 'A heat exchanger (heating and cooling)' | isIn(data['scoring-energy']) %}
    {{ 'energy?hasEnergyError=true' | redirect | safe }}
{% endif %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            {% set hintHtml %}

                <p class="govuk-hint">
                    Using digital systems
                </p>

                <p class="govuk-hint"> 
                    Select all that apply
                </p>

            {% endset %}

            {% if data['from-scoring'] == 'true' %}
                <form action="results">
            {% else %}
                <form action="environment-data">
            {% endif %}

                {{ govukCheckboxes ({
                    idPrefix: 'scoring-data',
                    name: 'scoring-data',
                    fieldset: {
                        legend: {
                            text: 'What poultry management data will you automatically collect and store?',
                            isPageHeading: true,
                            classes: 'govuk-fieldset__legend--l'
                        }
                    },
                    hint: 
                        {
                            html: hintHtml
                        },
                    items: [
                        {
                            text: 'Bird location',
                            value: 'Bird location',
                            checked: true if 'Bird location' | isIn(data['scoring-data'])
                        },
                        {
                            text: 'Bird performance',
                            value: 'Bird performance',
                            checked: true if 'Bird performance' | isIn(data['scoring-data'])
                        },
                        {
                            text: 'Body weight',
                            value: 'Body weight',
                            checked: true if 'Body weight' | isIn(data['scoring-data'])
                        },
                        {
                            text: 'Disease detection',
                            value: 'Disease detection',
                            checked: true if 'Disease detection' | isIn(data['scoring-data'])
                        },
                        {
                            text: 'Feed data or conversion ratios',
                            value: 'Feed data or conversion ratios',
                            checked: true if 'Feed data or conversion ratios' | isIn(data['scoring-data'])
                        },
                        {
                            text: 'Locomotion or movement data',
                            value: 'Locomotion or movement data',
                            checked: true if 'Locomotion or movement data' | isIn(data['scoring-data'])
                        },
                
                        {
                            text: 'Nest use',
                            value: 'Nest use',
                            checked: true if 'Nest use' | isIn(data['scoring-data'])
                    
                        } if poultryType == 'hen',
                        {
                            text: 'Sound analysis',
                            value: 'Sound analysis',
                            checked: true if 'Sound analysis' | isIn(data['scoring-data'])
                        },
                        {
                            text: 'Other',
                            value: 'Other',
                            checked: true if 'Other' | isIn(data['scoring-data'])
                        },
                        {
                            divider: 'or'
                        },
                        {
                            text: 'None of the above',
                            value: 'None of the above',
                            checked: true if 'None of the above' | isIn(data['scoring-data']),
                            attributes: {
                                'data-behaviour': 'exclusive'
                            }
                        }
                    ]
                }) }}

                {{ govukButton ({
                    html: 'Continue'
                }) }}

            </form>

        </div>

        <div class="govuk-grid-column-one-third">

            <div class="app-step-nav-related app-step-nav-related--singular">
                <h2 class="app-step-nav-related__heading">
                <span class="app-step-nav-related__pretitle">Funding priorities</span>
                </h2>
                <p>
                    RPA want to fund projects that have digital systems which automatically collect and store data for poultry management.
                </p>
            </div>

        </div>

</div>

{% endblock %}