{% extends 'layinghens/current/views/layouts/layout.html' %}

{% set poultryType = 'hen' %}
{% if data['poultry-type'] %}
    {% set poultryType = data['poultry-type'] %}
{% endif %}

{% block pageTitle %}
    What additional environmental data will you collect?
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">
            
            {% set nextPage = 'structure' %}
            {% if poultryType != 'hen' %}
                {% set nextPage = 'dark-brooders' %}
            {% endif %}

            <form action="{{ nextPage }}">

                {{ govukCheckboxes ({
                    idPrefix: 'scoring-environment-data-collection',
                    name: 'scoring-environment-data-collection',
                    fieldset: {
                        legend: {
                            text: 'What additional environmental data will you collect?',
                            isPageHeading: true,
                            classes: 'govuk-fieldset__legend--l'
                        }
                    },
                    hint: {
                        text: 'Select all that apply'
                    },
                    items: [
                        {
                            text: 'Ammonia',
                            value: 'Ammonia',
                            checked: true if 'Ammonia' | isIn(data['scoring-environment-data-collection'])
                        },
                        {
                            text: 'Carbon monoxide',
                            value: 'Carbon monoxide',
                            checked: true if 'Carbon monoxide' | isIn(data['scoring-environment-data-collection'])
                        },
                        {
                            text: 'Inhalable dust',
                            value: 'Inhalable dust',
                            checked: true if 'Inhalable dust' | isIn(data['scoring-environment-data-collection'])
                        },
                        {
                            text: 'Other',
                            value: 'Other',
                            checked: true if 'Other' | isIn(data['scoring-environment-data-collection'])
                        }
                    ]
                }) }}

                {{ govukButton ({
                    html: 'Continue'
                }) }}

            </form>

        </div>

</div>

{% endblock %}