{% extends 'layinghens/current/views/layouts/layout.html' %}

{% set poultryType = 'hen' %}
{% if data['poultry-type'] %}
    {% set poultryType = data['poultry-type'] %}
{% endif %}

{% block pageTitle %}
    Will the {{ poultryType }} housing have systems to monitor additional environmental data?
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form method="post">

                {{ govukRadios ({
                    idPrefix: 'scoring-environment-data',
                    name: 'scoring-environment-data',
                    classes: 'govuk-radios--inline',
                    fieldset: {
                        legend: {
                            text: 'Will the ' + poultryType + ' housing have systems to monitor additional environmental data?',
                            isPageHeading: true,
                            classes: 'govuk-fieldset__legend--l'
                        }
                    },
                    hint: {
                        html: 'This is in addition to the requirement for a control system that automatically measures and records daily temperature, humidity and CO<sub>2</sub> levels'
                    },
                    items: [
                        {
                            text: 'Yes',
                            value: 'Yes, environmental data will be monitored',
                            checked: true if data['scoring-environment-data'] == 'Yes, environmental data will be monitored',
                            attributes: {
                                'data-next': 'environment-data-collection'
                            }
                        },
                        {
                            text: 'No',
                            value: 'No, environmental data will not be monitored',
                            checked: true if data['scoring-environment-data'] == 'No, environemntal data will not be monitored',
                            attributes: {
                                'data-next': 'results'
                            }
                        }
                    ]
                }) }}

                {{ govukButton ({
                    html: 'Continue'
                }) }}

            </form>

        </div>

        <div class="govuk-grid-column-one-third">

            <div class="app-step-nav-related app-step-nav-related--singular">
                <h2 class="app-step-nav-related__heading">
                <span class="app-step-nav-related__pretitle">Funding priorities</span>
                </h2>
                <p>
                    RPA want to fund projects that gather additional environmental data.
                </p>
            </div>

        </div>

</div>

{% endblock %}