{% extends 'layinghens/current/views/layouts/layout.html' %}

{% set poultryType = 'hen' %}
{% if data['poultry-type'] %}
    {% set poultryType = data['poultry-type'] %}
{% endif %}

{% block pageTitle %}
    Will the maximum height of the highest tier with direct access to the floor of the {{ poultryType }} housing be 2 metres or less?
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

        {% if data['from-scoring'] == 'true' %}
                <form action="results">
            {% else %}
                <form action="tiers">
            {% endif %}

                {{ govukRadios ({
                    idPrefix: 'scoring-height',
                    name: 'scoring-height',
                    classes: 'govuk-radios--inline',
                    fieldset: {
                        legend: {
                            text: 'Will the maximum height of the highest tier with direct access to the floor of the ' + poultryType + ' housing be 2 metres or less?',
                            isPageHeading: true,
                            classes: 'govuk-fieldset__legend--l'
                        }
                    },
                    items: [
                        {
                            text: 'Yes',
                            value: 'Yes, the height is equal or less than 2 metres',
                            checked: true if data['scoring-height'] == 'Yes, the height is equal or less than 2 metres'
                        },
                        {
                            text: 'No',
                            value: 'No, the highest tier is more than 2 metres high',
                            checked: true if data['scoring-height'] == 'No'
                        }
                    ]
                }) }}

                {{ govukButton ({
                    html: 'Continue'
                }) }}

            </form>

        </div>

        <div class="govuk-grid-column-one-third">

            <div class="app-step-nav-related app-step-nav-related--singular">
                <h2 class="app-step-nav-related__heading">
                <span class="app-step-nav-related__pretitle">Funding priorities</span>
                </h2>
                <p>
                    RPA want to fund projects that prevent birds falling from heights of more than 2 metres.
                </p>
                <p>
                    This height should be measured from the solid floor (with litter) to the underside of the highest tier or manure belt.
                </p>
            </div>

        </div>

</div>

{% endblock %}