{% extends 'layinghens/current/views/layouts/layout.html' %}

{% block pageTitle %}
    Your project meets the eligibility criteria to apply for this grant
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">

                <h1 class="govuk-heading-l">
                    Your project meets the eligibility criteria to apply for this grant
                </h1>

                <p>
                   You are eligible to apply for this grant.
                </p>

                 {{ govukInsetText ({
                    text: "Your answers to the next questions will not change your project's eligibility"
                }) }}

                <h2 class="govuk-heading-m">
                    Scoring
                </h2>

                <p>
                    The next questions will score your project against the funding priorities of the grant.
                </p>

                 <p>
                    Your project will get a score at the end of these questions. You can then make changes to see how you can improve your grant funding application.
                </p>
                
                {{ govukButton ({
                    text: 'Continue',
                    href: 'current-system'
                }) }}

            </div>

    </div>

{% endblock %}