{% extends 'layinghens/current/views/layouts/layout.html' %}

{% set poultryType = 'hen' %}
{% if data['poultry-type'] %}
    {% set poultryType = data['poultry-type'] %}
{% endif %}

{% block pageTitle %}
    Will the pullets reared in this building be housed in an aviary system as adults?
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form method="post">

                {{ govukRadios ({
                    idPrefix: 'multi-tier-pullet',
                    name: 'multi-tier-pullet',
                    classes: 'govuk-radios',
                    fieldset: {
                        legend: {
                            text: 'Will the pullets reared in this building be housed in an aviary system as adults?',
                            isPageHeading: true,
                            classes: 'govuk-fieldset__legend--l'
                        }
                    },
                    items: [
                        {
                            text: 'Yes',
                            value: 'Yes, the pullets will be housed in an aviary system as adults',
                            checked: true if data['multi-tier-pullet'] == 'Yes, the pullets will be housed in an aviary system as adults',
                            attributes: {
                                'data-next': 'natural-light'
                            }
                        },
                        {
                            text: 'No',
                            value: 'No, the pullets will not be housed in an aviary system as adults',
                            checked: true if data['multi-tier-pullet'] == 'No, the pullets will not be housed in an aviary system as adults',
                             attributes: {
                                'data-next': 'natural-light'
                            }
                        },
                        {
                            divider: 'or'
                        },
                        {
                            text: 'I don’t know',
                            value: 'I don’t know',
                            checked: true if data['multi-tier-hen'] == 'I don’t know',
                             attributes: {
                                'data-next': 'natural-light'
                            }
                        }
                    ]
                }) }}

                {{ govukButton ({
                    html: 'Continue'
                }) }}

            </form>

        </div>

        <div class="govuk-grid-column-one-third">

            <div class="app-step-nav-related app-step-nav-related--singular">
                <h2 class="app-step-nav-related__heading">
                <span class="app-step-nav-related__pretitle">Funding priorities</span>
                </h2>

                <p>
                    RPA want to fund projects that encourage a consistent housing type for birds between rearing and laying.
                </p>
    
            </div>

         </div>

</div>

{% endblock %}