{% extends 'layinghens/current/views/layouts/layout.html' %}

{% set poultryType = 'hen' %}
{% if data['poultry-type'] %}
    {% set poultryType = data['poultry-type'] %}
{% endif %}

{% block pageTitle %}
    Will the multi-tier system have 3 tiers or fewer directly above each other?
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            {% if data['from-scoring'] == 'true' %}
                <form action="results">
            {% else %}
                <form action="natural-light">
            {% endif %}

                {{ govukRadios ({
                    idPrefix: 'scoring-tiers',
                    name: 'scoring-tiers',
                    classes: 'govuk-radios--inline',
                    fieldset: {
                        legend: {
                            text: 'Will the multi-tier system have 3 tiers or fewer directly above each other?',
                            isPageHeading: true,
                            classes: 'govuk-fieldset__legend--l'
                        }
                    },
                    items: [
                        {
                            text: 'Yes',
                            value: 'Yes',
                            checked: true if data['scoring-tiers'] == 'Yes'
                        },
                        {
                            text: 'No',
                            value: 'No, there will be more than 3 tiers',
                            checked: true if data['scoring-tiers'] == 'No, there will be more than 3 tiers'
                        }
                    ]
                }) }}

                {{ govukButton ({
                    html: 'Continue'
                }) }}

            </form>

        </div>

        <div class="govuk-grid-column-one-third">

            <div class="app-step-nav-related app-step-nav-related--singular">
                <h2 class="app-step-nav-related__heading">
                <span class="app-step-nav-related__pretitle">Funding priorities</span>
                </h2>
                <p>
                    RPA want to fund multi-teir systems that have 3 tiers or fewer.
                </p>
            </div>

        </div>

</div>

{% endblock %}