{% extends 'layinghens/current/views/layouts/layout.html' %}

{% set poultryType = 'hen' %}
{% if data['poultry-type'] %}
    {% set poultryType = data['poultry-type'] %}
{% endif %}

{% block pageTitle %}
    Will the multi-tier system have 3 tiers or fewer directly above each other?
{% endblock %}

{% set question = 'How many tiers will be positioned directly above each other in the aviary system?' %}
{% if poultryType != 'hen' %}
    {% set question = 'How many tiers will be positioned directly above each other in the multi-tier system?' %}
{% endif %}

{% set hintHtml = 'The floor and the perches at the top of the aviary system are not counted as tiers'%}
{% if poultryType != 'hen' %}
    {% set hintHtml = 'The floor and the perches at the top of the multi-tier system are not counted as tiers' %}
{% endif %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            {% if data['from-scoring'] == 'true' %}
                <form action="results">
            {% else %}
                <form action="multi-tier-other">
            {% endif %}

                {{ govukRadios ({
                    idPrefix: 'scoring-tiers',
                    name: 'scoring-tiers',
                    classes: 'govuk-radios--inline',
                    fieldset: {
                        legend: {
                            html: question,
                            isPageHeading: true,
                            classes: 'govuk-fieldset__legend--l'
                        }
                    },
                    hint: {
                        html: hintHtml
                    },
                    items: [
                        {
                            text: '2 or 3 tiers',
                            value: '2 or 3 tiers',
                            checked: true if data['scoring-tiers'] == '2 or 3 tiers'
                        },
                        {
                            text: '4 or more tiers',
                            value: '4 or more tiers',
                            checked: true if data['scoring-tiers'] == '4 or more tiers'
                        }
                    ]
                }) }}

                {{ govukButton ({
                    html: 'Continue'
                }) }}

            </form>

        </div>

        <div class="govuk-grid-column-one-third">

            <div class="app-step-nav-related app-step-nav-related--singular">
                <h2 class="app-step-nav-related__heading">
                <span class="app-step-nav-related__pretitle">Funding priorities</span>
                </h2>
                 {% if poultryType == 'hen' %}
                    <p>
                        RPA want to fund aviary systems that have 3 tiers or fewer directly above each other, to reduce the risk of keel bone fractures from collisions and falls. 
                    </p>
                {% else %}
                    <p>
                        RPA want to fund multi-tier systems that have 3 tiers or fewer directly above each other, to reduce the risk of keel bone fractures from collisions and falls. 
                    </p>
                {% endif %}
            </div>

        </div>

</div>

{% endblock %}