{% extends 'layinghens/current/views/layouts/layout.html' %}

{% set poultryType = 'hen' %}
{% if data['poultry-type'] %}
    {% set poultryType = data['poultry-type'] %}
{% endif %}

{% block pageTitle %}
    Will the veranda have these features?
{% endblock %}

{% block content %}

{% if data['veranda-present'] == 'No' %}
    {{ 'dark-brooders' | redirect | safe }}
{% endif %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            {% if data['from-scoring'] == 'true' %}
                <form action="results">
            {% else %}
                <form action="dark-brooders">
            {% endif %}

                {% set hintHtml %}

                    <p class="govuk-hint">
                        The veranda must:
                    </p>

                    <ul class="govuk-hint govuk-list govuk-list--bullet">
                        <li>
                            be 4 metres wide or more along the length of the bird housing area, or 30% or more of the size of the indoor bird housing area footprint
                        </li>
                        <li>
                            have a solid concrete floor and waterproof insulated roof
                        </li>
                        <li>
                            have a perimeter wall of more than one metre in height
                        </li>
                        <li>
                            have a dimmable LED lighting system with a range between 0 lux and 60 lux
                        </li>
                        <li>
                            have a mesh roller-screen system running underneath the length of the roof, that fits securely against the wall when extended to make the housing biosecure during housing orders
                        </li>
                        <li>
                            have closable pop holes in the wall of the main house (unless the veranda forms part of an indoor barn system) that are less than 30cm from the floor level, or access ramps across the entire pop hole
                        <li>
                            not have perches in front of the pop holes
                        </li>
                    </ul>

                {% endset %}

                {{ govukRadios ({
                    idPrefix: 'scoring-veranda-requirements',
                    name: 'scoring-veranda-requirements',
                    classes: 'govuk-radios--inline',
                    fieldset: {
                        legend: {
                            text: 'Will the veranda have these features?',
                            isPageHeading: true,
                            classes: 'govuk-fieldset__legend--l'
                        }
                    },
                    hint: {
                        html: hintHtml
                    },
                    items: [
                        {
                            text: 'Yes',
                            value: 'Yes, the veranda will meet the requirements',
                            checked: true if data['scoring-veranda-requirements'] == 'Yes, the veranda will meet the requirements'
                        },
                        {
                            text: 'No',
                            value: 'No, the veranda will not meet the requirements',
                            checked: true if data['scoring-veranda-requirements'] == 'No, the veranda will not meet the requirements'
                        }
                    ]
                }) }}

                {{ govukButton ({
                    html: 'Continue'
                }) }}

            </form>

        </div>

        <div class="govuk-grid-column-one-third">

            <div class="app-step-nav-related app-step-nav-related--singular">
                <h2 class="app-step-nav-related__heading">
                <span class="app-step-nav-related__pretitle">Funding priorities</span>
                </h2>
                <p>
                    RPA want to fund pullet housing that includes a veranda which meets the grant funding requirements.
                </p>
            </div>

        </div>

</div>

{% endblock %}