{% extends "layout.html" %}

{% block pageTitle %}
  Your contact details
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="{{ backUrl }}">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="../slurry/your-details-answer" method="post">

        <h1 class="govuk-heading-l">
          Your contact details
        </h1>

        <div class="govuk-form-group">
          <label class="govuk-label" for="full-name">
            Full name
          </label>
          <input class="govuk-input" id="full-name" name="full-name" type="text" spellcheck="false" autocomplete="name" value="{{ data['full-name'] }}">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="email">
            Email address
          </label>
          <div id="email-hint" class="govuk-hint">
            We will only use this to contact you about this expression of interest
          </div>
          <input class="govuk-input" id="email" name="email" type="email" spellcheck="false" aria-describedby="email-hint" autocomplete="email" value="{{ data['email'] }}">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label govuk-!-margin-bottom-3" for="contact-preferences">
            How would you prefer to be contacted?
          </label>
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="contact-preferences-conditional" name="contact-preferences" type="checkbox" value="email" data-aria-controls="conditional-contact-preferences-conditional" {{ checked("contact-preferences", "email") }}>
              <label class="govuk-label govuk-checkboxes__label" for="contact-preferences-conditional">
                Email
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="contact-preferences-conditional-2" name="contact-preferences" type="checkbox" value="phone" data-aria-controls="conditional-contact-preferences-conditional-2" {{ checked("contact-preferences", "phone") }}>
              <label class="govuk-label govuk-checkboxes__label" for="contact-preferences-conditional-2">
                  Phone
                </label>
              </div>
              <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact-preferences-conditional-2">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="telephone-number">
                    UK telephone number
                  </label>
                  <input class="govuk-input govuk-input--width-20" id="telephone-number" name="telephone-number" type="tel" autocomplete="tel" value="{{ data['telephone-number'] }}">
                </div>
              </div>
            </div>
          </div>

          <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">
            Save and continue
          </button>

          <button class="govuk-button govuk-button--secondary" type="button" data-module="govuk-button">
            Save and return
          </button>

      </form>

    </div>
  </div>

{% endblock %}
