{% set serviceName = "Check if you can apply for a Water Management Grant" %}

{% extends "layout.html" %}

<!-- add elements that we want consistently across the service -->

{% block pageTitle %}{{title}} - {{serviceName}} - GOV.UK{% endblock %} {% block header %}



{{ govukHeader({    homepageUrl: "/" + folder + "/",    serviceName: serviceName,    serviceUrl: "/",    containerClasses: "govuk-width-container"  }) }} {% endblock %}
<!-- homepage header will always link to top level of that iteration, for example 'current' -->
{% block beforeContent %}

{{ govukPhaseBanner({  tag: {    text: "alpha"  },  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'}) }}

<a class="govuk-back-link" onclick="history.back();">Back</a>
{% endblock %}
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <!-- start of service specific block -->
    {% block service %}Text goes here, override this by overriding the block{% endblock %}
    <!-- end service specific block-->

  </div>

  <!--<div class="govuk-grid-column-one-third">
    <div id="ad-helpline">
      <p class="govuk-heading-m">Get help</p>
      <p class="govuk-heading-s">Telephone</p>
      <p class="govuk-body">0800 169 0154</p>
      <p class="govuk-body">Monday to Friday, 8am to 6pm</p>
      <p class="govuk-body">Closed public holidays</p>
    </div>
  </div>-->

</div>
{% endblock %}
